Repository helidon-io/helidon, pull requests merged in 2019-10, with the labels that each got.

#1075 Clean up visibility and JavaDoc for metrics
  javadocs/pom.xml
  metrics/metrics/src/main/java/io/helidon/metrics/Clock.java
  metrics2/metrics2/src/main/java/io/helidon/metrics/Clock.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/DelegatingGauge.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/MetricProducer.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/RegistryProducer.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/VendorDefined.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/DelegatingGauge.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/MetricProducer.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/RegistryProducer.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/VendorDefined.java
Labels: MP, SE, metrics

#1074 Fix for issue #1070
  microprofile/config/config-cdi/src/main/java/io/helidon/microprofile/config/cdi/ConfigCdiExtension.java
  microprofile/config/config-cdi/src/test/java/io/helidon/microprofile/config/cdi/MpConfigInjectionTest.java
Labels: MP, config

#1080 Brings our 1.1 and 2.0 impls in line with clarification of metric reuse
  metrics/metrics/src/main/java/io/helidon/metrics/Registry.java
  metrics2/metrics2/src/main/java/io/helidon/metrics/Registry.java
  metrics2/metrics2/src/test/java/io/helidon/metrics/RegistryTest.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/MetricProducer.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/MetricProducer.java
  microprofile/metrics2/src/test/java/io/helidon/microprofile/metrics/ReusabilityMpServiceTest.java
Labels: MP, P2, SE, metrics

#1085 Throw JsonException when parser returns unexpected type
  media/jsonp/common/src/main/java/io/helidon/media/jsonp/common/JsonProcessing.java
  media/jsonp/server/src/main/java/io/helidon/media/jsonp/server/JsonSupport.java
  media/jsonp/server/src/test/java/io/helidon/media/jsonp/server/JsonContentReaderTest.java
Labels: SE, json

#1077 Restore helidon-metrics2 as default metrics library
  archetypes/se/src/main/resources/archetype-resources/pom.xml
  bom/pom.xml
  examples/employee-app/pom.xml
  examples/grpc/metrics/pom.xml
  examples/openapi/pom.xml
  examples/quickstarts/helidon-quickstart-se/pom.xml
  examples/quickstarts/helidon-standalone-quickstart-se/pom.xml
  metrics2/metrics2/pom.xml
  tests/apps/bookstore/bookstore-se/pom.xml
  tests/integration/native-image/se-1/pom.xml
Labels: MP, metrics

#1084 Jaeger integration support for native-image
  integrations/graal/native-image-extension/pom.xml
  integrations/graal/native-image-extension/src/main/java/io/helidon/integrations/graal/nativeimage/extension/HelidonReflectionFeature.java
  integrations/graal/native-image-extension/src/main/resources/META-INF/native-image/helidon/reflection-config.json
  microprofile/server/src/main/resources/META-INF/native-image/helidon/reflection-config.json
  tracing/jaeger/pom.xml
  tracing/jaeger/src/main/resources/META-INF/native-image/helidon-jaeger-reflection-config.json
  tracing/jaeger/src/main/resources/META-INF/native-image/helidon/reflection-config.json
  tracing/jaeger/src/main/resources/META-INF/native-image/native-image.properties
Labels: graal, tracing

#1091 Detect media type
  bom/pom.xml
  common/media-type/pom.xml
  common/media-type/src/main/java/io/helidon/common/media/type/BuiltInsDetector.java
  common/media-type/src/main/java/io/helidon/common/media/type/CustomDetector.java
  common/media-type/src/main/java/io/helidon/common/media/type/MediaTypes.java
  common/media-type/src/main/java/io/helidon/common/media/type/package-info.java
  common/media-type/src/main/java/io/helidon/common/media/type/spi/MediaTypeDetector.java
  common/media-type/src/main/java/io/helidon/common/media/type/spi/package-info.java
  common/media-type/src/main/java9/module-info.java
  common/media-type/src/main/resources/META-INF/native-image/native-image.properties
  common/media-type/src/main/resources/io/helidon/common/media/type/default-media-types.properties
  common/media-type/src/test/java/io/helidon/common/media/type/CustomTypeDetector.java
  common/media-type/src/test/java/io/helidon/common/media/type/DockerfileTypeDetector.java
  common/media-type/src/test/java/io/helidon/common/media/type/MediaTypesTest.java
  common/media-type/src/test/resources/META-INF/helidon/media-types.properties
  common/media-type/src/test/resources/META-INF/services/io.helidon.common.media.type.spi.MediaTypeDetector
  common/pom.xml
Labels: enhancement

#1086 Service name not needed when tracing is disabled.
  config/git/src/test/java/io/helidon/config/git/GitConfigSourceBuilderTest.java
  pom.xml
  tracing/jaeger/src/main/java/io/helidon/tracing/jaeger/JaegerTracerBuilder.java
  tracing/jaeger/src/test/java/io/helidon/tracing/jaeger/JaegerTracerBuilderTest.java
  tracing/zipkin/src/main/java/io/helidon/tracing/zipkin/ZipkinTracerBuilder.java
  tracing/zipkin/src/test/java/io/helidon/tracing/zipkin/ZipkinTracerBuilderTest.java
  tracing/zipkin/src/test/resources/application.yaml
Labels: tracing

#1093 Add support for form parameters
  common/http/src/main/java/io/helidon/common/http/FormParams.java
  common/http/src/main/java/io/helidon/common/http/FormParamsImpl.java
  common/http/src/test/java/io/helidon/common/http/FormParamsTest.java
  media/common/src/main/java/io/helidon/media/common/ContentReaders.java
  media/common/src/test/java/io/helidon/media/common/ContentReadersTest.java
  webserver/webserver/src/main/java/io/helidon/webserver/FormParamsSupport.java
  webserver/webserver/src/main/java9/module-info.java
  webserver/webserver/src/test/java/io/helidon/webserver/FormParamsSupportTest.java
Labels: SE, webserver

#1094 Implement MP Metrics 2.1.0: Add restriction that gauges are Gauge<? extends Number>
  dependencies/pom.xml
  metrics2/metrics2/src/main/java/io/helidon/metrics/HelidonGauge.java
  metrics2/metrics2/src/main/java/io/helidon/metrics/Registry.java
  metrics2/metrics2/src/test/java/io/helidon/metrics/HelidonGaugeTest.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/DelegatingGauge.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/MetricProducer.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/MetricsCdiExtension.java
  microprofile/metrics2/src/test/java/io/helidon/microprofile/metrics/BadGaugeTest.java
  microprofile/metrics2/src/test/java/io/helidon/microprofile/metrics/BadGaugedBean.java
  microprofile/metrics2/src/test/java/io/helidon/microprofile/metrics/GaugedBean.java
  microprofile/metrics2/src/test/java/io/helidon/microprofile/metrics/MetricsTest.java
  microprofile/tests/tck/tck-metrics2/pom.xml
Labels: MP, SE, enhancement, metrics

#1090 Allow customization of top level span name using message format
  docs/src/main/docs/tracing/01_tracing.adoc
  webserver/webserver/src/main/java/io/helidon/webserver/WebTracingConfig.java
Labels: enhancement, tracing, webserver

#1076 Inform Jersey of broken pipe by throwing exception
  common/reactive/src/main/java/io/helidon/common/reactive/BaseProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/OutputStreamPublisher.java
  common/reactive/src/test/java/io/helidon/common/reactive/BaseProcessorTest.java
  microprofile/server/pom.xml
  microprofile/server/src/test/java/io/helidon/microprofile/server/ServerSseTest.java
  webserver/webserver/src/main/java/io/helidon/webserver/BareResponseImpl.java
Labels: MP, jax-rs, webserver

#1108 New bundle for MP 3.1
  archetypes/mp/src/main/resources/archetype-resources/pom.xml
  bom/pom.xml
  examples/microprofile/hello-world-explicit/pom.xml
  examples/microprofile/hello-world-implicit/pom.xml
  examples/microprofile/openapi-basic/pom.xml
  examples/quickstarts/helidon-quickstart-mp/pom.xml
  examples/quickstarts/helidon-standalone-quickstart-mp/pom.xml
  microprofile/bundles/helidon-microprofile-3.1/pom.xml
  microprofile/bundles/helidon-microprofile-3.1/src/main/java9/module-info.java
  microprofile/bundles/pom.xml
  microprofile/tests/arquillian/pom.xml
  microprofile/tests/tck/tck-fault-tolerance/pom.xml
  microprofile/tests/tck/tck-metrics/pom.xml
  tests/apps/bookstore/bookstore-mp/pom.xml
  tests/functional/context-propagation/pom.xml
  tests/functional/jax-rs-subresource/pom.xml
  tests/functional/multiport/pom.xml
  tests/integration/mp-security-client/pom.xml
  tests/integration/mp-ws-services/pom.xml
Labels: MP

#1110 Fix for Issue #1106
  microprofile/server/src/main/java/io/helidon/microprofile/server/JaxRsApplication.java
  microprofile/server/src/test/java/io/helidon/microprofile/server/JaxRsApplicationTest.java
  microprofile/server/src/test/java/io/helidon/microprofile/server/ServerImplTest.java
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
  webserver/jersey/src/test/java/io/helidon/webserver/jersey/JerseySupportTest.java
Labels: MP, bug

#1117 Changes to metrics to work with MP metrics 2.2
  dependencies/pom.xml
  metrics2/metrics2/src/main/java/io/helidon/metrics/HelidonGauge.java
  metrics2/metrics2/src/main/java/io/helidon/metrics/Registry.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/DelegatingGauge.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/MetricProducer.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/MetricsCdiExtension.java
  microprofile/metrics2/src/test/java/io/helidon/microprofile/metrics/BadGaugeTest.java
Labels: MP, P1, SE, metrics

#1125 MP gRPC review changes - ResponseHelper should be a utility class
  examples/grpc/common/src/main/java/io/helidon/grpc/examples/common/GreetService.java
  examples/grpc/common/src/main/java/io/helidon/grpc/examples/common/GreetServiceJava.java
  examples/grpc/common/src/main/java/io/helidon/grpc/examples/common/StringService.java
  examples/grpc/microprofile/basic-server-implicit/src/main/java/io/helidon/microprofile/grpc/example/basic/implicit/AsyncStringService.java
  examples/grpc/microprofile/basic-server-implicit/src/main/java/io/helidon/microprofile/grpc/example/basic/implicit/StringService.java
  examples/grpc/microprofile/metrics/src/main/java/io/helidon/microprofile/grpc/example/metrics/StringService.java
  examples/grpc/security-outbound/src/main/java/io/helidon/grpc/examples/security/outbound/SecureServer.java
  grpc/client/src/test/java/services/EchoService.java
  grpc/client/src/test/java/services/StringService.java
  grpc/client/src/test/java/services/TreeMapService.java
  grpc/core/src/main/java/io/helidon/grpc/core/ResponseHelper.java
  grpc/metrics/src/test/java/services/EchoService.java
  grpc/server/src/main/java/io/helidon/grpc/server/GrpcService.java
  grpc/server/src/test/java/io/helidon/grpc/server/ContextIT.java
  grpc/server/src/test/java/io/helidon/grpc/server/GrpcServiceTest.java
  grpc/server/src/test/java/services/EchoService.java
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/ClientStreamingMethodHandlerSupplier.java
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/ServerStreamingMethodHandlerSupplier.java
  microprofile/grpc/metrics/src/test/java/services/EchoService.java
  microprofile/grpc/metrics/src/test/java/services/StringService.java
  microprofile/grpc/server/src/test/java/io/helidon/microprofile/grpc/server/AnnotatedServiceIT.java
  security/integration/grpc/src/test/java/services/EchoService.java
  security/integration/grpc/src/test/java/services/SecuredOutboundEchoService.java
  security/integration/grpc/src/test/java/services/StringService.java
Labels: grpc

#1095 OIDC and IDCS security providers now support native-image compilation.
  security/providers/idcs-mapper/src/main/java/io/helidon/security/providers/idcs/mapper/IdcsRoleMapperProvider.java
  security/providers/idcs-mapper/src/main/java/io/helidon/security/providers/idcs/mapper/IdcsRoleMapperProviderBase.java
  security/providers/oidc-common/pom.xml
  security/providers/oidc-common/src/main/resources/META-INF/native-image/native-image.properties
  webclient/jaxrs/src/main/resources/META-INF/native-image/helidon-webclient-jaxrs-reflection-config.json
  webclient/jaxrs/src/main/resources/META-INF/native-image/native-image.properties
Labels: security

#1124 Fault Tolerance doesn't work for Rest Client (#1121)
  microprofile/fault-tolerance/pom.xml
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FaultToleranceExtension.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/FaultToleranceTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/RetryTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/SyntheticBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/SyntheticBeanExtension.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/SyntheticRetryBean.java
Labels: bug, fault-tolerance, rest-client
