Repository helidon-io/helidon, pull requests merged in 2019-09, with the labels that each got.

#982 Removed experimental labels from READMEs
  integrations/cdi/eclipselink-cdi/README.adoc
  integrations/cdi/jpa-cdi/README.adoc
  integrations/cdi/jta-cdi/README.adoc
  integrations/cdi/jta-weld/README.adoc
Labels: P2, docs

#894 Adds Hibernate support in conjunction with JPA integration
  bom/pom.xml
  integrations/cdi/hibernate-cdi/pom.xml
  integrations/cdi/hibernate-cdi/src/main/java/io/helidon/integrations/cdi/hibernate/CDISEJtaPlatform.java
  integrations/cdi/hibernate-cdi/src/main/java/io/helidon/integrations/cdi/hibernate/CDISEJtaPlatformProvider.java
  integrations/cdi/hibernate-cdi/src/main/java/io/helidon/integrations/cdi/hibernate/package-info.java
  integrations/cdi/hibernate-cdi/src/main/resources/META-INF/beans.xml
  integrations/cdi/hibernate-cdi/src/main/resources/META-INF/services/org.hibernate.engine.transaction.jta.platform.spi.JtaPlatformProvider
  integrations/cdi/pom.xml
  javadocs/pom.xml
  pom.xml
Labels: MP, P3, enhancement

#995 add missing default value for mainClass property
  archetypes/mp/src/main/resources/META-INF/maven/archetype-metadata.xml
Labels: user-experience

#993 javadoc clean up
  common/configurable/src/main/java/io/helidon/common/configurable/ThreadPool.java
  common/configurable/src/main/java/io/helidon/common/configurable/ThreadPoolSupplier.java
  common/context/src/main/java/io/helidon/common/context/package-info.java
  config/config/src/main/java/io/helidon/config/Config.java
  config/config/src/main/java/io/helidon/config/ConfigSources.java
  config/config/src/main/java/io/helidon/config/package-info.java
  config/config/src/main/java/io/helidon/config/spi/ConfigSource.java
  config/config/src/main/java/io/helidon/config/spi/PollingStrategy.java
  config/config/src/main/java/io/helidon/config/spi/RetryPolicy.java
  config/config/src/main/java/io/helidon/config/spi/package-info.java
  etc/helidon-javadoc.css
  javadocs/pom.xml
  openapi/src/main/java/io/helidon/openapi/internal/OpenAPIConfigImpl.java
  pom.xml
  security/providers/oidc-common/src/main/java/io/helidon/security/providers/oidc/common/OidcConfig.java
  security/providers/oidc/src/main/java/io/helidon/security/providers/oidc/OidcSupport.java
  tracing/jaeger/src/main/java/io/helidon/tracing/jaeger/JaegerTracerBuilder.java
  tracing/tracing/src/main/java/io/helidon/tracing/TracerBuilder.java
  tracing/zipkin/src/main/java/io/helidon/tracing/zipkin/ZipkinTracerBuilder.java
  webclient/jaxrs/src/main/java/io/helidon/webclient/jaxrs/JaxRsClient.java
  webserver/access-log/src/main/java/io/helidon/webserver/accesslog/AccessLogSupport.java
  webserver/webserver/src/main/java/io/helidon/webserver/PathMatcher.java
Labels: docs

#997 Add support for using offlineLinks with javadocs. Add timestamps to ma…
  etc/copyright-exclude.txt
  etc/javadoc/README.md
  etc/javadoc/cdi/package-list
  etc/javadoc/eclipselink/package-list
  etc/javadoc/jackson-annotations/package-list
  etc/javadoc/jackson-core/package-list
  etc/javadoc/jackson-databind/package-list
  etc/javadoc/jakarta-jsonb/package-list
  etc/javadoc/jakarta-jsonp/element-list
  etc/javadoc/jakarta-persistence/element-list
  etc/javadoc/javax-inject/package-list
  etc/javadoc/javax-jaxb/package-list
  etc/javadoc/javax-jsonb/package-list
  etc/javadoc/javax-persistence/package-list
  etc/javadoc/javax-transaction/package-list
  etc/javadoc/jaxrs/package-list
  etc/javadoc/jersey/package-list
  etc/javadoc/microprofile-config/package-list
  etc/javadoc/microprofile-health/package-list
  etc/javadoc/microprofile-metrics/package-list
  etc/javadoc/narayana/package-list
  etc/javadoc/netty-transport/package-list
  etc/javadoc/netty/package-list
  etc/javadoc/opentracing/package-list
  etc/javadoc/prometheus/package-list
  etc/javadoc/reactive-streams/package-list
  etc/javadoc/typesafe-config/package-list
  etc/javadoc/weld/package-list
  etc/javadoc/zipkin/package-list
  etc/scripts/gen-javadoc-packagelist.sh
  etc/scripts/pipeline-env.sh
  pom.xml
Labels: build

#985 Graal jersey
  integrations/graal/native-image-extension/src/main/java/io/helidon/integrations/graal/nativeimage/extension/HelidonReflectionFeature.java
  integrations/graal/native-image-extension/src/main/resources/META-INF/native-image/native-image.properties
  webserver/webserver/src/main/java/io/helidon/webserver/ByteBufRequestChunk.java
Labels: P2, SE, graal, jax-rs

#918 JPA guide
  docs/src/main/docs/guides/09_jpa.adoc
Labels: MP, P1, docs

#986 Injection of SecurityContext using CDI.
  examples/microprofile/mp1_1-security/src/main/java/io/helidon/microprofile/example/security/HelloWorldResource.java
  microprofile/security/src/main/java/io/helidon/microprofile/security/SecurityCdiExtension.java
  microprofile/security/src/main/java/io/helidon/microprofile/security/SecurityMpService.java
  microprofile/security/src/main/java/io/helidon/microprofile/security/SecurityProducer.java
  microprofile/security/src/main/java9/module-info.java
  microprofile/security/src/main/resources/META-INF/services/javax.enterprise.inject.spi.Extension
  security/security/src/main/java/io/helidon/security/Security.java
Labels: security

#1005 Fixes NullPointerException in ConfigCdiExtension; repairs erroneous private constructors in JPA and JTA integrations
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JtaTransactionSupport.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/NoTransactionSupport.java
  integrations/cdi/jta-cdi/src/main/java/io/helidon/integrations/jta/cdi/NarayanaTransactionManager.java
  integrations/cdi/jta-cdi/src/main/java/io/helidon/integrations/jta/cdi/NarayanaTransactionSynchronizationRegistry.java
  microprofile/config/config-cdi/src/main/java/io/helidon/microprofile/config/cdi/ConfigCdiExtension.java
Labels: MP, P5, bug

#1002 Fix precedence for explicit sys prop and env var sources.
  config/config/src/main/java/io/helidon/config/BuilderImpl.java
  config/config/src/main/java/io/helidon/config/ConfigSources.java
  config/config/src/main/java/io/helidon/config/internal/MapConfigSource.java
  config/config/src/test/java/io/helidon/config/ConfigSourcesTest.java
  config/config/src/test/java/io/helidon/config/ConfigTest.java
  config/config/src/test/java/io/helidon/config/spi/ConfigSourceTest.java
Labels: SE, bug

#999 Support admin port in openapi
  microprofile/health/src/main/java/io/helidon/microprofile/health/HealthMpService.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/MetricsMpService.java
  microprofile/openapi/src/main/java/io/helidon/microprofile/openapi/OpenAPIMpService.java
  microprofile/server/src/main/java/io/helidon/microprofile/server/RoutingBuilders.java
  microprofile/server/src/main/java/io/helidon/microprofile/server/RoutingBuildersImpl.java
Labels: MP, P1, open-api

#890 Added guide for setting up datasources in Helidon MP.
  docs/src/main/docs/extensions/01_overview.adoc
  docs/src/main/docs/extensions/02_cdi_datasource-hikaricp.adoc
  docs/src/main/docs/extensions/02_cdi_datasource-ucp.adoc
  docs/src/main/docs/guides/01_overview.adoc
  docs/src/main/docs/guides/07_datasource.adoc
  docs/src/main/docs/guides/09_jpa.adoc
Labels: MP, P3, docs

#1008 Edits data source guide for clarity and simplicity
  docs/src/main/docs/guides/07_datasource.adoc
Labels: P5, docs

#1010 Upgrade to Jersey 2.29.1
  examples/quickstarts/helidon-quickstart-mp/pom.xml
  microprofile/tests/arquillian/src/main/java/io/helidon/microprofile/arquillian/HelidonDeployableContainer.java
  pom.xml
Labels: P1, jax-rs

#1016 Add some resiliency to various metrics tests
  etc/scripts/build.sh
  metrics/metrics/pom.xml
  metrics/metrics/src/test/java/io/helidon/metrics/HelidonHistogramTest.java
  metrics/metrics/src/test/java/io/helidon/metrics/HelidonMetricsMatcher.java
  metrics2/metrics2/pom.xml
  metrics2/metrics2/src/test/java/io/helidon/metrics/HelidonConcurrentGaugeTest.java
  metrics2/metrics2/src/test/java/io/helidon/metrics/HelidonHistogramTest.java
  metrics2/metrics2/src/test/java/io/helidon/metrics/HelidonMetricsMatcher.java
Labels: P2, metrics

#1017 Deprecates integrations/serviceconfiguration projects.
  integrations/cdi/datasource-hikaricp/pom.xml
  integrations/cdi/datasource-hikaricp/src/main/java/io/helidon/integrations/datasource/hikaricp/cdi/config/HikariCP.java
  integrations/cdi/datasource-hikaricp/src/main/resources/META-INF/services/org.eclipse.microprofile.config.spi.ConfigSource
  integrations/cdi/datasource-ucp/pom.xml
  integrations/cdi/datasource-ucp/src/main/java/io/helidon/integrations/datasource/ucp/cdi/config/UCP.java
  integrations/cdi/jpa-weld/src/main/java/io/helidon/integrations/cdi/jpa/weld/WeldJpaInjectionServices.java
  integrations/serviceconfiguration/README.adoc
  integrations/serviceconfiguration/serviceconfiguration-api/src/main/java/io/helidon/service/configuration/api/ServiceConfiguration.java
  integrations/serviceconfiguration/serviceconfiguration-api/src/main/java/io/helidon/service/configuration/api/ServiceConfigurationProvider.java
  integrations/serviceconfiguration/serviceconfiguration-api/src/main/java/io/helidon/service/configuration/api/System.java
  integrations/serviceconfiguration/serviceconfiguration-api/src/main/java/io/helidon/service/configuration/api/package-info.java
  integrations/serviceconfiguration/serviceconfiguration-api/src/main/java/io/helidon/service/configuration/localhost/LocalhostSystem.java
  integrations/serviceconfiguration/serviceconfiguration-config-source/README.adoc
  integrations/serviceconfiguration/serviceconfiguration-config-source/src/main/java/io/helidon/service/configuration/microprofile/config/ServiceConfigurationConfigSource.java
  integrations/serviceconfiguration/serviceconfiguration-config-source/src/main/java/io/helidon/service/configuration/microprofile/config/package-info.java
  integrations/serviceconfiguration/serviceconfiguration-hikaricp-accs/README.adoc
  integrations/serviceconfiguration/serviceconfiguration-hikaricp-accs/src/main/java/io/helidon/service/configuration/hikaricp/accs/HikariCPServiceConfigurationACCSProvider.java
  integrations/serviceconfiguration/serviceconfiguration-hikaricp-accs/src/main/java/io/helidon/service/configuration/hikaricp/accs/package-info.java
  integrations/serviceconfiguration/serviceconfiguration-hikaricp-accs/src/test/java/io/helidon/service/configuration/hikaricp/accs/TestPropertiesScenarios.java
  integrations/serviceconfiguration/serviceconfiguration-hikaricp-localhost/README.adoc
  integrations/serviceconfiguration/serviceconfiguration-hikaricp-localhost/src/main/java/io/helidon/service/configuration/hikaricp/localhost/HikariCPServiceConfigurationLocalhost.java
  integrations/serviceconfiguration/serviceconfiguration-hikaricp-localhost/src/main/java/io/helidon/service/configuration/hikaricp/localhost/HikariCPServiceConfigurationLocalhostProvider.java
  integrations/serviceconfiguration/serviceconfiguration-hikaricp-localhost/src/main/java/io/helidon/service/configuration/hikaricp/localhost/package-info.java
  integrations/serviceconfiguration/serviceconfiguration-hikaricp-localhost/src/test/java/io/helidon/service/configuration/hikaricp/localhost/TestPropertiesScenarios.java
  integrations/serviceconfiguration/serviceconfiguration-hikaricp/README.adoc
  integrations/serviceconfiguration/serviceconfiguration-hikaricp/src/main/java/io/helidon/service/configuration/hikaricp/HikariCPServiceConfiguration.java
  integrations/serviceconfiguration/serviceconfiguration-hikaricp/src/main/java/io/helidon/service/configuration/hikaricp/HikariCPServiceConfigurationProvider.java
  integrations/serviceconfiguration/serviceconfiguration-hikaricp/src/test/java/io/helidon/service/configuration/hikaricp/TestPropertiesScenarios.java
  integrations/serviceconfiguration/serviceconfiguration-system-kubernetes/README.adoc
  integrations/serviceconfiguration/serviceconfiguration-system-kubernetes/src/main/java/io/helidon/service/configuration/kubernetes/KubernetesSystem.java
  integrations/serviceconfiguration/serviceconfiguration-system-kubernetes/src/main/java/io/helidon/service/configuration/kubernetes/package-info.java
  integrations/serviceconfiguration/serviceconfiguration-system-kubernetes/src/test/java/io/helidon/service/configuration/kubernetes/TestKubernetesSystem.java
  integrations/serviceconfiguration/serviceconfiguration-system-oracle-accs/README.adoc
  integrations/serviceconfiguration/serviceconfiguration-system-oracle-accs/src/main/java/io/helidon/service/configuration/accs/ACCSSystem.java
  integrations/serviceconfiguration/serviceconfiguration-system-oracle-accs/src/main/java/io/helidon/service/configuration/accs/package-info.java
  integrations/serviceconfiguration/serviceconfiguration-ucp-accs/src/main/java/io/helidon/service/configuration/ucp/accs/UCPServiceConfigurationACCSProvider.java
  integrations/serviceconfiguration/serviceconfiguration-ucp-accs/src/main/java/io/helidon/service/configuration/ucp/accs/package-info.java
  integrations/serviceconfiguration/serviceconfiguration-ucp-accs/src/test/java/io/helidon/service/configuration/ucp/accs/TestPropertiesScenarios.java
  integrations/serviceconfiguration/serviceconfiguration-ucp-localhost/src/main/java/io/helidon/service/configuration/ucp/localhost/UCPServiceConfigurationLocalhost.java
  integrations/serviceconfiguration/serviceconfiguration-ucp-localhost/src/main/java/io/helidon/service/configuration/ucp/localhost/UCPServiceConfigurationLocalhostProvider.java
  integrations/serviceconfiguration/serviceconfiguration-ucp-localhost/src/main/java/io/helidon/service/configuration/ucp/localhost/package-info.java
  integrations/serviceconfiguration/serviceconfiguration-ucp-localhost/src/test/java/io/helidon/service/configuration/ucp/localhost/TestPropertiesScenarios.java
  integrations/serviceconfiguration/serviceconfiguration-ucp/src/main/java/io/helidon/service/configuration/ucp/UCPServiceConfiguration.java
  integrations/serviceconfiguration/serviceconfiguration-ucp/src/main/java/io/helidon/service/configuration/ucp/UCPServiceConfigurationProvider.java
  integrations/serviceconfiguration/serviceconfiguration-ucp/src/main/java/io/helidon/service/configuration/ucp/package-info.java
Labels: P1, task

#1040 Removes Oracle Maven Repository information
  3rdparty/pom.xml
  etc/scripts/checkstyle.sh
  etc/scripts/copyright.sh
  etc/scripts/release.sh
  examples/employee-app/Dockerfile
  examples/employee-app/README.md
  examples/employee-app/pom.xml
  examples/employee-app/settings.xml
  examples/integrations/cdi/datasource-hikaricp/pom.xml
  examples/pom.xml
  integrations/cdi/datasource-ucp/pom.xml
  integrations/serviceconfiguration/serviceconfiguration-hikaricp-accs/README.md
  integrations/serviceconfiguration/serviceconfiguration-hikaricp-accs/pom.xml
  integrations/serviceconfiguration/serviceconfiguration-ucp-accs/pom.xml
  javadocs/pom.xml
  pom.xml
Labels: P3, build

#1048 Fully enforce reusability in MP Metrics 1.1. support
  metrics/metrics/src/main/java/io/helidon/metrics/InternalMetadataBuilderImpl.java
  metrics/metrics/src/main/java/io/helidon/metrics/MetricsSupport.java
  metrics/metrics/src/main/java/io/helidon/metrics/Registry.java
  metrics2/metrics2/src/main/java/io/helidon/metrics/Registry.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FaultToleranceMetrics.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/MetricsTest.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/MetricProducer.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/MetricsCdiExtension.java
  microprofile/metrics/src/test/java/io/helidon/microprofile/metrics/MetricsMpServiceTest.java
Labels: MP, P1, SE, bug, metrics

#1053 Corrects DDL in JPA guide
  docs/src/main/docs/guides/24_jpa.adoc
Labels: docs

#1052 Allow config to disable all base metrics easily
  metrics/metrics/src/main/java/io/helidon/metrics/BaseRegistry.java
  metrics/metrics/src/main/java/io/helidon/metrics/MetricsSupport.java
  metrics/metrics/src/test/java/io/helidon/metrics/MetricsSupportTest.java
  metrics2/metrics2/src/main/java/io/helidon/metrics/BaseRegistry.java
  metrics2/metrics2/src/main/java/io/helidon/metrics/MetricsSupport.java
  metrics2/metrics2/src/test/java/io/helidon/metrics/MetricsSupportTest.java
Labels: MP, P2, SE, enhancement, metrics

#1056 Fixes incorrect datasource property name
  examples/integrations/cdi/jpa/src/main/resources/META-INF/microprofile-config.properties
Labels: P1, bug

#1058 Fixes a reference to a non-existent ResourceBundle
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/NoTransactionSupport.java
Labels: P1, bug

#1061 Definalizes JtaTransactionSupport.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JtaTransactionSupport.java
Labels: MP, task

#1071 Rationalize some metrics 1.1 and 2.0 support code; add sync to both impls
  metrics/metrics/src/main/java/io/helidon/metrics/Registry.java
  metrics2/metrics2/src/main/java/io/helidon/metrics/HelidonMetadata.java
  metrics2/metrics2/src/main/java/io/helidon/metrics/Registry.java
  metrics2/metrics2/src/test/java/io/helidon/metrics/RegistryTest.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/MetricProducer.java
Labels: MP, P2, SE, metrics

#1072 Fixes NPE in RequestRouting#canonicalize()
  webserver/webserver/src/main/java/io/helidon/webserver/RequestRouting.java
Labels: P1, bug, webserver
