Repository helidon-io/helidon, pull requests merged in 2019-12, with the labels that each got.

#1178 Map metric type in metadata
  metrics2/metrics2/src/main/java/io/helidon/metrics/Registry.java
Labels: metrics

#1179 Map type in metadata.
  metrics2/metrics2/src/main/java/io/helidon/metrics/Registry.java
Labels: metrics

#1186 Support for FT version 2.0.2
  dependencies/pom.xml
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/CommandRetrier.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/ExceptionUtil.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FaultToleranceCommand.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/MethodIntrospector.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/AsynchronousBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/AsynchronousTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/MetricsBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/MetricsTest.java
  microprofile/tests/tck/tck-fault-tolerance/src/test/resources/tck-application.yaml
Labels: fault-tolerance

#1197 Updating to FT 2.0.2 and Failsafe 2.2.3
  dependencies/pom.xml
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/CommandCompletableFuture.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/CommandFallback.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/CommandRetrier.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/CommandScheduler.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FailsafeChainedFuture.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/FaultToleranceTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/RetryBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/RetryTest.java
  microprofile/tests/tck/tck-fault-tolerance/pom.xml
Labels: fault-tolerance

#1195 Outbound with OIDC provider no longer causes an UnsupportedOperationE…
  security/providers/oidc/src/main/java/io/helidon/security/providers/oidc/OidcProvider.java
  security/providers/oidc/src/test/java/io/helidon/security/providers/oidc/OidcSupportTest.java
Labels: bug

#1204 Updates to FT 2.0.2 and Failsafe 2.2.3
  CHANGELOG.md
  dependencies/pom.xml
  metrics2/metrics2/src/main/java/io/helidon/metrics/Registry.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/CommandCompletableFuture.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/CommandFallback.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/CommandRetrier.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/CommandScheduler.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/ExceptionUtil.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FailsafeChainedFuture.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FaultToleranceCommand.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/MethodIntrospector.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/AsynchronousBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/AsynchronousTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/FaultToleranceTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/MetricsBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/MetricsTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/RetryBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/RetryTest.java
  microprofile/tests/tck/tck-fault-tolerance/src/test/resources/tck-application.yaml
Labels: fault-tolerance

#1200 Compile package-info.java always, so rebuild does not trigger recompile.
  pom.xml
Labels: build

#1226 Outbound with OIDC provider no longer causes an UnsupportedOperationE…
  security/providers/oidc/src/main/java/io/helidon/security/providers/oidc/OidcProvider.java
  security/providers/oidc/src/test/java/io/helidon/security/providers/oidc/OidcSupportTest.java
Labels: security

#1230 Upgrade tracing libraries
  CHANGELOG.md
  dependencies/pom.xml
  grpc/client/src/main/java/module-info.java
  grpc/server/src/main/java/io/helidon/grpc/server/GrpcTracing.java
  grpc/server/src/main/java/module-info.java
  microprofile/tracing/src/main/java/io/helidon/microprofile/tracing/MpTracingInterceptor.java
  microprofile/tracing/src/main/java/module-info.java
  microprofile/tracing/src/test/java/io/helidon/microprofile/tracing/TestTracerProvider.java
  security/security/src/main/java/module-info.java
  tracing/jaeger/src/main/java/module-info.java
  tracing/jersey-client/src/main/java/io/helidon/tracing/jersey/client/ClientTracingFilter.java
  tracing/jersey-client/src/main/java/module-info.java
  tracing/jersey/src/main/java/io/helidon/tracing/jersey/AbstractTracingFilter.java
  tracing/jersey/src/main/java/module-info.java
  tracing/tracing/src/main/java/module-info.java
  tracing/zipkin/src/main/java/io/helidon/tracing/zipkin/ZipkinScopeManager.java
  tracing/zipkin/src/main/java/io/helidon/tracing/zipkin/ZipkinSpan.java
  tracing/zipkin/src/main/java/io/helidon/tracing/zipkin/ZipkinSpanBuilder.java
  tracing/zipkin/src/main/java/io/helidon/tracing/zipkin/ZipkinTracer.java
  tracing/zipkin/src/main/java/module-info.java
  webserver/jersey/src/main/java/module-info.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebTracingConfig.java
  webserver/webserver/src/main/java/module-info.java
Labels: api-change

#1241 Change interceptor so it uses MetricID, not just name, during look-up
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/InterceptorBase.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/InterceptorConcurrentGauge.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/InterceptorCounted.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/InterceptorMetered.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/InterceptorTimed.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/MetricUtil.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/MetricsCdiExtension.java
  microprofile/metrics2/src/test/java/io/helidon/microprofile/metrics/ResourceWithReusedMetricForInvocation.java
  microprofile/metrics2/src/test/java/io/helidon/microprofile/metrics/ReusabilityInterceptorTest.java
  microprofile/metrics2/src/test/java/io/helidon/microprofile/metrics/ReusabilityMpServiceTest.java
Labels: MP, P1, bug, metrics

#1233 Better recovery for invalid URLs and content types
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
  webserver/jersey/src/test/java/io/helidon/webserver/jersey/JerseySupportTest.java
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/RequestRouting.java
  webserver/webserver/src/test/java/io/helidon/webserver/PlainTest.java
Labels: webserver

#1243 Relaxed requirements on container-managed persistence units which can now be resource-local
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/EntityManagerFactories.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JpaTransactionScopedEntityManager.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/PersistenceUnitInfoBean.java
  integrations/cdi/jpa-cdi/src/main/resources/io/helidon/integrations/cdi/jpa/Messages.properties
  integrations/cdi/jpa-cdi/src/test/java/io/helidon/integrations/cdi/jpa/TestAnnotationRewriting.java
  integrations/cdi/jpa-cdi/src/test/java/io/helidon/integrations/cdi/jpa/TestMessages.java
  integrations/cdi/jpa-cdi/src/test/resources/META-INF/persistence.xml
Labels: P3, jpa/jta

#1246 Fix for issue 1218 in master
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
  webserver/jersey/src/test/java/io/helidon/webserver/jersey/JerseySupportTest.java
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/RequestRouting.java
  webserver/webserver/src/test/java/io/helidon/webserver/PlainTest.java
Labels: webserver

#1245 Relaxed requirements on container-managed persistence units which can now be resource-local (#1243)
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/EntityManagerFactories.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JpaTransactionScopedEntityManager.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/PersistenceUnitInfoBean.java
  integrations/cdi/jpa-cdi/src/main/resources/io/helidon/integrations/cdi/jpa/Messages.properties
  integrations/cdi/jpa-cdi/src/test/java/io/helidon/integrations/cdi/jpa/TestAnnotationRewriting.java
  integrations/cdi/jpa-cdi/src/test/java/io/helidon/integrations/cdi/jpa/TestMessages.java
  integrations/cdi/jpa-cdi/src/test/resources/META-INF/persistence.xml
Labels: jpa/jta

#1254 Change exit.on.started value.
  microprofile/server/src/main/java/io/helidon/microprofile/server/ServerImpl.java
  webserver/webserver/src/main/java/io/helidon/webserver/NettyWebServer.java
Labels: bug

#1255 Replace unicode char for exit.on.started property to '!'.
  microprofile/server/src/main/java/io/helidon/microprofile/server/ServerImpl.java
  webserver/webserver/src/main/java/io/helidon/webserver/NettyWebServer.java
Labels: bug
