Repository helidon-io/helidon, pull requests merged in 2020-12, with the labels that each got.

#2549 Global context and its use in Security
  common/context/src/main/java/io/helidon/common/context/Context.java
  common/context/src/main/java/io/helidon/common/context/Contexts.java
  common/context/src/test/java/io/helidon/common/context/ContextsTest.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/MetricsCdiExtension.java
  microprofile/security/src/main/java/io/helidon/microprofile/security/SecurityCdiExtension.java
  microprofile/tests/tck/tck-opentracing/pom.xml
  microprofile/tracing/src/main/java/io/helidon/microprofile/tracing/TracingCdiExtension.java
  security/integration/jersey-client/src/main/java/io/helidon/security/integration/jersey/client/ClientSecurityFilter.java
  webclient/security/src/main/java/io/helidon/webclient/security/WebClientSecurity.java
Labels: 2.x, security

#2568 Docs: Increase visibility of Getting started in Overview
  docs/about/01_overview.adoc
  docs/about/02_introduction.adoc
  docs/about/03_prerequisites.adoc
Labels: docs

#2570 Updating JTA and JPA guides
  docs/mp/guides/08_jta.adoc
  docs/mp/guides/09_jpa.adoc
Labels: 2.x, MP, P4, docs, jpa/jta

#2569 1.4: Add dependency-check-maven plugin
  config/tests/pom.xml
  etc/copyright-exclude.txt
  etc/dependency-check-suppression.xml
  etc/scripts/owasp-dependency-check.sh
  examples/pom.xml
  microprofile/tests/pom.xml
  pom.xml
  tests/pom.xml
  tracing/tests/pom.xml
Labels: 1.x

#2582 Docs: require graalvm 20.2.0
  docs/common/guides/graalnative.adoc
Labels: docs

#2579 Using config reference instead of ${ALIAS=
  config/encryption/src/main/java/io/helidon/config/encryption/EncryptionFilter.java
  config/encryption/src/main/java/io/helidon/config/encryption/MpEncryptionFilter.java
  docs/mp/security/03_configuration-secrets.adoc
  examples/microprofile/idcs/src/main/resources/application.yaml
  examples/security/google-login/src/main/resources/application.yaml
  examples/security/idcs-login/src/main/resources/application.yaml
Labels: 2.x, config, docs

#2555 Native image compatible Kafka connector #2346
  common/common/src/main/java/io/helidon/common/FeatureCatalog.java
  examples/messaging/docker/kafka/Dockerfile.kafka
  messaging/kafka/pom.xml
  messaging/kafka/src/main/java/io/helidon/messaging/connectors/kafka/AppInfoParserSubstitution.java
  messaging/kafka/src/main/java/io/helidon/messaging/connectors/kafka/CompressionTypeSubstitution.java
  messaging/kafka/src/main/java/io/helidon/messaging/connectors/kafka/Crc32CSubstitution.java
  messaging/kafka/src/main/java/io/helidon/messaging/connectors/kafka/JmxReporterSubstitution.java
  messaging/kafka/src/main/java/module-info.java
  messaging/kafka/src/main/resources/META-INF/helidon/native-image/reflection-config.json
  messaging/kafka/src/main/resources/META-INF/native-image/io.helidon.messaging.connectors.kafka/jni-config.json
  messaging/kafka/src/main/resources/META-INF/native-image/io.helidon.messaging.connectors.kafka/native-image.properties
Labels: messaging, native-image

#2577 Honoring disabled security through configuration for OIDC support
  security/providers/oidc/src/main/java/io/helidon/security/providers/oidc/OidcSupport.java
Labels: security

#2575 Updates Hibernate to 5.4.25.Final
  dependencies/pom.xml
Labels: 2.x, MP, P3, dependencies, jpa/jta, security

#2590 Fixed configuration regression MP executor
  microprofile/server/src/main/java/io/helidon/microprofile/server/ServerCdiExtension.java
Labels: 2.x, bug

#2591 Support for HTTP pipelining
  webserver/webserver/pom.xml
  webserver/webserver/src/main/java/io/helidon/webserver/BareResponseImpl.java
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
  webserver/webserver/src/test/java/io/helidon/webserver/HttpPipelineTest.java
Labels: webserver

#2595 Exclude jakarta.ejb-api
  dependencies/pom.xml
Labels: 2.x, dependencies

#2618 Add empty javadoc jar for release
  logging/log4j/pom.xml
Labels: 2.x, build

#2619 Removed deprecated warning.
  common/common/src/main/java/io/helidon/common/HelidonConsoleHandler.java
Labels: 2.x

#2617 Make JmsMessage builder methods accessible
  messaging/connectors/jms/src/main/java/io/helidon/messaging/connectors/jms/JmsMessage.java
Labels: messaging

#2605 2592 Chunk leak
  common/reactive/src/main/java/io/helidon/common/reactive/BufferedEmittingPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/EmittingPublisher.java
  webserver/webserver/src/main/java/io/helidon/webserver/ByteBufRequestChunk.java
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/HttpRequestScopedPublisher.java
  webserver/webserver/src/test/java/io/helidon/webserver/DataChunkReleaseTest.java
Labels: 2.x, P1, bug, webserver

#2623 AQ acknowledgement propagation fix
  messaging/connectors/aq/src/main/java/io/helidon/messaging/connectors/aq/AqMessageImpl.java
  messaging/connectors/aq/src/test/java/io/helidon/messaging/connectors/aq/AckTest.java
Labels: bug, messaging

#2624 Removed HTTP/2 pipeline test
  webserver/webserver/pom.xml
  webserver/webserver/src/test/java/io/helidon/webserver/HttpPipelineTest.java
Labels: testing, webserver

#2620 Upgrade guava version to 30.0-jre
  dependencies/pom.xml
Labels: dependencies
