Repository helidon-io/helidon, pull requests merged in 2020-11, with the labels that each got.

#2491 Support for a max payload limit on client requests
  docs/se/webserver/02_configuration.adoc
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/HttpInitializer.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerBasicConfig.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerConfiguration.java
  webserver/webserver/src/main/java/io/helidon/webserver/SocketConfiguration.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServer.java
  webserver/webserver/src/test/java/io/helidon/webserver/MaxPayloadSizeTest.java
Labels: webserver

#2495 Request scope propagation for non-async calls in FT
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/MethodInvoker.java
  tests/functional/context-propagation/src/main/java/io/helidon/tests/functional/context/hello/HelloBean.java
  tests/functional/pom.xml
  tests/functional/request-scope/pom.xml
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/IllegalTenantException.java
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/MultiTenantService.java
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/RequestTestQualifier.java
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/SomeService.java
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/TenantContext.java
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/TestQualifier.java
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/package-info.java
  tests/functional/request-scope/src/main/resources/META-INF/beans.xml
  tests/functional/request-scope/src/main/resources/META-INF/microprofile-config.properties
  tests/functional/request-scope/src/test/java/io/helidon/tests/functional/requestscope/TenantTest.java
  tests/functional/request-scope/src/test/resources/logging.properties
Labels: fault-tolerance

#2503 Adds a unit test proving that multiple persistence units can be injected
  integrations/cdi/datasource-hikaricp/src/main/java/io/helidon/integrations/datasource/hikaricp/cdi/HikariCPBackedDataSourceExtension.java
  integrations/cdi/jpa-cdi/src/test/java/io/helidon/integrations/cdi/jpa/TestMultiplePersistenceUnits.java
  integrations/cdi/jpa-cdi/src/test/resources/META-INF/persistence.xml
Labels: 2.x, MP, P4, jpa/jta

#2506 remove weld-probe-core
  dependencies/pom.xml
  etc/dependency-check-suppression.xml
  microprofile/weld/weld-se-core/pom.xml
Labels: MP

#2510 Upgrage GraalVM
  dependencies/pom.xml
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/MetricsCdiExtension.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/RegistryProducer.java
Labels: dependencies

#2513 Double query escaping in WebClient fixed
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilderImpl.java
Labels: webclient

#2490 Methods contentLength and transferEncoding added
  webclient/webclient/src/main/java/io/helidon/webclient/NettyClientHandler.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientResponseHeaders.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientResponseHeadersImpl.java
Labels: webclient

#2505 Add a shutdown hook to executor service in JerseySupport
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
  webserver/jersey/src/test/java/io/helidon/webserver/jersey/JerseySupportShutdownTest.java
Labels: jax-rs, webserver

#2511 Support for overriding configuration of security providers
  docs/se/security/01_introduction.adoc
  security/security/src/main/java/io/helidon/security/Security.java
  tests/integration/security/gh2455/pom.xml
  tests/integration/security/gh2455/src/main/resources/application.yaml
  tests/integration/security/gh2455/src/test/java/io/helidon/tests/integration/security/gh2455/TestProviderOverrides.java
  tests/integration/security/pom.xml
Labels: config, security

#2453 Messaging discrepancies
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/AbstractMessagingMethod.java
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/IncomingMethod.java
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/InternalProcessor.java
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/MessageUtils.java
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/OutgoingMethod.java
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/ProxyProcessor.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/connector/ConnectedOnlyProcessorBean.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/connector/ConnectorTest.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/connector/IterableConnector.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/connector/LeakingPayloadBean.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/inner/ChannelTest.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/inner/InvalidIncomingMethodBean.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/inner/ack/processor/ProcessorMsg2ComplStageNoneAckBean.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/inner/subscriber/SubscriberPublToSubsBean.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/inner/subscriber/SubscriberPublToSubsBuilderBean.java
Labels: bug, messaging

#2535 Update jlink guide with *.jmod requirement.
  docs/common/guides/jlink_image.adoc
Labels: docs

#2523 Json stream writers
  common/http/src/main/java/io/helidon/common/http/MediaType.java
  media/jackson/src/main/java/io/helidon/media/jackson/JacksonBodyStreamWriter.java
  media/jackson/src/main/java/io/helidon/media/jackson/JacksonBodyWriter.java
  media/jackson/src/main/java/io/helidon/media/jackson/JacksonEsBodyStreamWriter.java
  media/jackson/src/main/java/io/helidon/media/jackson/JacksonNdBodyStreamWriter.java
  media/jackson/src/main/java/io/helidon/media/jackson/JacksonSupport.java
  media/jsonb/src/main/java/io/helidon/media/jsonb/JsonbBodyStreamWriter.java
  media/jsonb/src/main/java/io/helidon/media/jsonb/JsonbBodyWriter.java
  media/jsonb/src/main/java/io/helidon/media/jsonb/JsonbEsBodyStreamWriter.java
  media/jsonb/src/main/java/io/helidon/media/jsonb/JsonbNdBodyStreamWriter.java
  media/jsonb/src/main/java/io/helidon/media/jsonb/JsonbSupport.java
  media/jsonp/src/main/java/io/helidon/media/jsonp/JsonpEsBodyStreamWriter.java
  media/jsonp/src/main/java/io/helidon/media/jsonp/JsonpNdBodyStreamWriter.java
  media/jsonp/src/main/java/io/helidon/media/jsonp/JsonpSupport.java
Labels: media-support

#2534 Revised logic for handling request scopes and contexts in Jersey/HK2
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/MethodInvoker.java
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/MultiTenantService2.java
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/SomeService2.java
  tests/functional/request-scope/src/test/java/io/helidon/tests/functional/requestscope/TenantTest.java
Labels: fault-tolerance, jax-rs

#2536 Using the default keystore type instead of JKS
  grpc/server/src/main/java/io/helidon/grpc/server/SSLContextBuilder.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServerTls.java
Labels: security, webserver

#2538 Fixed docs and impl - outbound security
  docs/se/grpc/08_security.adoc
  docs/se/security/03_containers-integration.adoc
  security/providers/google-login/src/main/java/io/helidon/security/providers/google/login/GoogleTokenProvider.java
  security/providers/oidc/src/main/java/io/helidon/security/providers/oidc/OidcProvider.java
Labels: P1

#2541 Make example Kafka working on MAC
  examples/messaging/docker/kafka/Dockerfile.kafka
  examples/messaging/docker/kafka/init_topics.sh
  examples/messaging/kafkaRun.sh
Labels: messaging

#2527 Some minor doc improvements
  docs/mp/config/01_introduction.adoc
Labels: contribution, docs

#2528 Fix instructions for enabling JSON-P for Health-Checks.
  docs/se/health/01_health.adoc
Labels: SE, contribution, docs, health

#2545 SE intro: fixed typo
  docs/se/introduction/01_introduction.adoc
Labels: 2.x, docs

#2546 Do not create and cache handlers for fallbacks
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/MethodInvoker.java
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/MyResource.java
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/SomeService3.java
  tests/functional/request-scope/src/test/java/io/helidon/tests/functional/requestscope/TenantTest.java
Labels: fault-tolerance

#2556 Add messaging health dependency to bom
  bom/pom.xml
  docs/mp/reactivemessaging/01_introduction.adoc
Labels: bug, docs, health, messaging
