Repository helidon-io/helidon, pull requests merged in 2020-10, with the labels that each got.

#2404 Name support for all those operations that implement FtHandler
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Bulkhead.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/BulkheadImpl.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/CircuitBreaker.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/CircuitBreakerImpl.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Fallback.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/FaultTolerance.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/FtHandler.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Retry.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/RetryImpl.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Timeout.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/TimeoutImpl.java
Labels: enhancement, fault-tolerance

#2410 Fixing broken link for SubtrateVM limitations on GraalVN Native Docs
  docs/common/guides/graalnative.adoc
Labels: contribution

#2413 Multi discrepancies
  common/reactive/src/main/java/io/helidon/common/reactive/DeferredScalarSubscription.java
Labels: reactive

#2414 Update THIRD_PARTY_LICENSES for Jersey 2.32
  THIRD_PARTY_LICENSES.txt
  etc/THIRD_PARTY_LICENSES.xml
Labels: 2.x

#2422 Update attributions for Prometheus Simple Client 0.9.0
  THIRD_PARTY_LICENSES.txt
  etc/THIRD_PARTY_LICENSES.xml
Labels: 2.x

#2423 1.x: Update THIRD_PARTY_LICENSES.txt for prometheus simple client 0.9.0
  THIRD_PARTY_LICENSES.txt
Labels: 1.x

#2406 Jersey update to version 2.32
  dependencies/pom.xml
  microprofile/server/src/test/java/io/helidon/microprofile/server/ServerSseTest.java
Labels: dependencies

#2428 Documentation review fixes.
  docs/mp/security/03_configuration-secrets.adoc
  docs/shared/security/helidon-endpoints.adoc
  examples/security/basic-auth-with-static-content/README.md
Labels: docs

#2429 Allow user-provided CDI extensions to veto JAX-RS classes
  microprofile/server/src/main/java/io/helidon/microprofile/server/JaxRsCdiExtension.java
  tests/apps/bookstore/bookstore-mp/pom.xml
  tests/apps/bookstore/bookstore-mp/src/main/java/io/helidon/tests/apps/bookstore/mp/VetoCdiExtension.java
  tests/apps/bookstore/bookstore-mp/src/main/java/io/helidon/tests/apps/bookstore/mp/VetoedResource.java
  tests/apps/bookstore/bookstore-mp/src/main/resources/META-INF/services/javax.enterprise.inject.spi.Extension
  tests/apps/bookstore/bookstore-mp/src/test/java/io/helidon/tests/apps/bookstore/mp/BookResourceTest.java
  tests/apps/bookstore/bookstore-mp/src/test/java/io/helidon/tests/apps/bookstore/mp/VetoedResourceTest.java
Labels: cdi, jax-rs

#2432 Third party attributions for MicroProfile Rest Client 1.4.1
  THIRD_PARTY_LICENSES.txt
  etc/THIRD_PARTY_LICENSES.xml
Labels: 2.x

#2383 DBClient integration tests for MySQL, MadiaDB, PostgreSQL and MS SQL
  dbclient/dbclient/src/main/java/io/helidon/dbclient/DbClient.java
  dbclient/health/src/main/java/io/helidon/dbclient/health/DbClientHealthCheck.java
  dbclient/jdbc/src/main/java/io/helidon/dbclient/jdbc/JdbcDbClient.java
  dependencies/pom.xml
  tests/integration/dbclient/common/src/main/java/io/helidon/tests/integration/dbclient/common/AbstractIT.java
  tests/integration/dbclient/common/src/main/java/io/helidon/tests/integration/dbclient/common/ConfigIT.java
  tests/integration/dbclient/common/src/main/java/io/helidon/tests/integration/dbclient/common/tests/health/HealthCheckIT.java
  tests/integration/dbclient/common/src/main/java/io/helidon/tests/integration/dbclient/common/tests/health/ServerHealthCheckIT.java
  tests/integration/dbclient/jdbc/pom.xml
  tests/integration/dbclient/jdbc/src/test/java/io/helidon/tests/integration/dbclient/jdbc/init/CheckIT.java
  tests/integration/dbclient/jdbc/src/test/java/io/helidon/tests/integration/dbclient/jdbc/init/CheckMsSqlIT.java
  tests/integration/dbclient/jdbc/src/test/resources/mariadb.yaml
  tests/integration/dbclient/jdbc/src/test/resources/mssql.yaml
  tests/integration/dbclient/jdbc/src/test/resources/mysql.yaml
  tests/integration/dbclient/jdbc/src/test/resources/pgsql.yaml
Labels: DB client, dependencies, testing

#2440 Fix test that caused NPE in other tests.
  config/config-mp/src/test/java/io/helidon/config/mp/MpConfigTest.java
Labels: bug, testing

#2437 Fix NPE on error in tx #2286
  dbclient/jdbc/pom.xml
  dbclient/jdbc/src/main/java/io/helidon/dbclient/jdbc/JdbcDbClient.java
  dbclient/jdbc/src/test/java/io/helidon/dbclient/jdbc/JdbcClient.java
Labels: DB client

#2439 Attempt to start a stopped server will fail with IllegalStateException
  webserver/webserver/src/main/java/io/helidon/webserver/NettyWebServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServer.java
  webserver/webserver/src/test/java/io/helidon/webserver/Gh377.java
Labels: webserver

#2450 Junit4 upgrade
  dependencies/pom.xml
Labels: dependencies

#2441 Public API to get absolute URI of the request.
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
  webserver/webserver/src/main/java/io/helidon/webserver/RequestRouting.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerRequest.java
  webserver/webserver/src/test/java/io/helidon/webserver/NettyWebServerTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/PlainTest.java
Labels: 2.x, enhancement, webserver

#2447 Log Kafka sending error which caused channel cancel
  messaging/kafka/src/main/java/io/helidon/messaging/connectors/kafka/KafkaSubscriber.java
Labels: messaging

#2454 Upgrade version of JUnit4.
  dependencies/pom.xml
  microprofile/tests/arquillian/pom.xml
Labels: dependencies

#2446 helidon-cli-maven-plugin as extension
  applications/pom.xml
Labels: cli

#2469 Fix uses of jlink-image directories to use new "-jri" suffix.
  archetypes/quickstart-mp/src/main/resources/README.md.mustache
  archetypes/quickstart-se/src/main/resources/README.md.mustache
  docs/common/guides/jlink_image.adoc
  examples/quickstarts/helidon-quickstart-mp/Dockerfile.jlink
  examples/quickstarts/helidon-quickstart-mp/README.md
  examples/quickstarts/helidon-quickstart-se/Dockerfile.jlink
  examples/quickstarts/helidon-quickstart-se/README.md
  examples/quickstarts/helidon-standalone-quickstart-mp/Dockerfile.jlink
  examples/quickstarts/helidon-standalone-quickstart-mp/README.md
  examples/quickstarts/helidon-standalone-quickstart-se/Dockerfile.jlink
  examples/quickstarts/helidon-standalone-quickstart-se/README.md
Labels: 2.x, bug, docs, examples

#2471 Replace echo-maven-plugin with helidon-maven-plugin log goal.
  archetypes/catalog/pom.xml
Labels: 2.x

#2476 Override parent pom properties to include artifact in release
  microprofile/tests/junit5/pom.xml
  microprofile/tests/junit5/src/main/java/io/helidon/microprofile/tests/junit5/HelidonJunitExtension.java
  microprofile/tests/junit5/src/main/java/module-info.java
Labels: build

#2466 Make sure span.finish() is not called twice
  tests/integration/mp-gh-2461/pom.xml
  tests/integration/mp-gh-2461/src/test/java/io/helidon/tests/integration/gh2461/Gh2461Test.java
  tests/integration/pom.xml
  tracing/jersey/src/main/java/io/helidon/tracing/jersey/AbstractTracingFilter.java
Labels: bug, tracing

#2482 Upgrade apache-httpclient, google-api-client and snakeyaml
  THIRD_PARTY_LICENSES.txt
  dependencies/pom.xml
  etc/HELIDON_THIRD_PARTY_LICENSES.xml
  etc/dependency-check-suppression.xml
Labels: dependencies

#2488 Update doc's microprofile version to 3.3
  docs/sitegen.yaml
Labels: docs

#2417 Initial stab at incorporating some Loom features into Helidon in a way that will work under JDK 11 or 16-loom-ea
  microprofile/server/src/main/java/io/helidon/microprofile/server/ServerCdiExtension.java
  pom.xml
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/AsyncExecutorProvider.java
Labels: MP, P4, enhancement
