Repository helidon-io/helidon, pull requests merged in 2020-05, with the labels that each got.

#1709 Improve handling of missing config nodes used to init CORS objects
  webserver/cors/src/main/java/io/helidon/webserver/cors/Aggregator.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/CorsSupport.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/CorsSupportBase.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/CorsSupportHelper.java
  webserver/cors/src/test/java/io/helidon/webserver/cors/MissingConfigTest.java
Labels: 2.0-M3, 2.x, cors

#1723 Updated Oracle JDBC driver Maven coordinates.
  dependencies/pom.xml
  examples/employee-app/pom.xml
  examples/integrations/cdi/datasource-hikaricp/pom.xml
  integrations/cdi/datasource-ucp/pom.xml
  integrations/serviceconfiguration/serviceconfiguration-hikaricp-accs/pom.xml
  integrations/serviceconfiguration/serviceconfiguration-ucp-accs/pom.xml
Labels: 2.x, P3, build

#1724 1.4: Update Dockerfiles to use mvn 3.6 and JDK 11 to build.
  examples/employee-app/Dockerfile
  examples/employee-app/src/main/java/io/helidon/service/employee/Main.java
  examples/grpc/basics/src/main/java/io/helidon/grpc/examples/basics/Server.java
  examples/grpc/opentracing/Dockerfile
  examples/health/basics/README.md
  examples/health/basics/pom.xml
  examples/health/basics/src/main/java/io/helidon/examples/health/basics/Main.java
  examples/integrations/cdi/datasource-hikaricp/Dockerfile
  examples/integrations/cdi/jedis/Dockerfile
  examples/integrations/cdi/oci-objectstorage/Dockerfile
  examples/openapi/README.md
  examples/openapi/pom.xml
  examples/openapi/src/main/java/io/helidon/examples/openapi/Main.java
  examples/quickstarts/helidon-quickstart-mp/Dockerfile
  examples/quickstarts/helidon-quickstart-se/Dockerfile
  examples/quickstarts/helidon-quickstart-se/pom.xml
  examples/quickstarts/helidon-standalone-quickstart-mp/Dockerfile
  examples/quickstarts/helidon-standalone-quickstart-se/Dockerfile
  examples/quickstarts/helidon-standalone-quickstart-se/pom.xml
  examples/todo-app/backend/Dockerfile
  examples/todo-app/frontend/Dockerfile
  examples/translator-app/backend/Dockerfile
  examples/translator-app/frontend/Dockerfile
  examples/webserver/opentracing/Dockerfile
Labels: 1.x, examples

#1722 Enable reflection init of NioSocketChannel with native image
  webclient/webclient/src/main/resources/META-INF/native-image/io.helidon.webclient/helidon-webclient/reflect-config.json
Labels: native-image

#1717 [Reactive] Add more time to MultiTimeoutFallbackTckTest
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTimeoutFallbackTckTest.java
Labels: reactive

#1714 Fix CorsSupport default behavior
  microprofile/cors/src/main/java/io/helidon/microprofile/cors/CorsSupportMp.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/Aggregator.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/CorsSupport.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/CorsSupportBase.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/CorsSupportHelper.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/CrossOriginConfig.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/MappedCrossOriginConfig.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/package-info.java
  webserver/cors/src/test/java/io/helidon/webserver/cors/MissingConfigTest.java
  webserver/cors/src/test/java/io/helidon/webserver/cors/TestDefaultCorsSupport.java
  webserver/cors/src/test/java/io/helidon/webserver/cors/TestOrdering.java
Labels: 2.0-M3, bug

#1727 CORS example for SE
  examples/cors/README.md
  examples/cors/pom.xml
  examples/cors/src/main/java/io/helidon/examples/cors/GreetService.java
  examples/cors/src/main/java/io/helidon/examples/cors/GreetingMessage.java
  examples/cors/src/main/java/io/helidon/examples/cors/Main.java
  examples/cors/src/main/java/io/helidon/examples/cors/package-info.java
  examples/cors/src/main/resources/META-INF/openapi.yml
  examples/cors/src/main/resources/application.yaml
  examples/cors/src/main/resources/logging.properties
  examples/cors/src/test/java/io/helidon/examples/cors/MainTest.java
  examples/pom.xml
Labels: 2.x, SE, cors, examples

#1728 Scope audience and scopes now correctly appended.
  security/providers/oidc/src/main/java/io/helidon/security/providers/oidc/OidcProvider.java
Labels: security

#1746 Fixed JPA example
  examples/integrations/cdi/jpa/src/main/java/io/helidon/examples/integrations/cdi/jpa/HelloWorldResource.java
Labels: 2.x, MP, P1, bug, jpa/jta

#1732 OutputStreamPublisher now handles close on its own.
  common/reactive/src/main/java/io/helidon/common/reactive/OutputStreamPublisher.java
  common/reactive/src/test/java/io/helidon/common/reactive/OutputStreamPublisherTest.java
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/ResponseWriter.java
Labels: 2.0-M3, P1, jax-rs

#1646 WebClient used in SE examples and tests
  examples/cors/src/test/java/io/helidon/examples/cors/MainTest.java
  examples/employee-app/pom.xml
  examples/employee-app/src/test/java/io/helidon/service/employee/MainTest.java
  examples/grpc/security-outbound/pom.xml
  examples/grpc/security-outbound/src/main/java/io/helidon/grpc/examples/security/outbound/SecureServer.java
  examples/openapi/pom.xml
  examples/openapi/src/main/java/io/helidon/examples/openapi/GreetService.java
  examples/openapi/src/test/java/io/helidon/examples/openapi/MainTest.java
  examples/quickstarts/helidon-quickstart-se/src/test/java/io/helidon/examples/quickstart/se/MainTest.java
  examples/quickstarts/helidon-standalone-quickstart-se/pom.xml
  examples/quickstarts/helidon-standalone-quickstart-se/src/test/java/io/helidon/examples/quickstart/se/MainTest.java
  examples/security/google-login/pom.xml
  examples/security/google-login/src/test/java/io/helidon/security/examples/google/GoogleMainTest.java
  examples/security/outbound-override/pom.xml
  examples/security/outbound-override/src/main/java/io/helidon/security/examples/outbound/OutboundOverrideExample.java
  examples/security/outbound-override/src/main/java/io/helidon/security/examples/outbound/OutboundOverrideJwtExample.java
  examples/security/outbound-override/src/main/java/io/helidon/security/examples/outbound/OutboundOverrideUtil.java
  examples/security/webserver-signatures/pom.xml
  examples/security/webserver-signatures/src/main/java/io/helidon/security/examples/signatures/SignatureExampleUtil.java
  examples/security/webserver-signatures/src/test/java/io/helidon/security/examples/signatures/SignatureExampleTest.java
  examples/webserver/websocket/pom.xml
  examples/webserver/websocket/src/main/java/io/helidon/webserver/examples/websocket/MessageQueueService.java
  examples/webserver/websocket/src/test/java/io/helidon/webserver/examples/websocket/MessageBoardTest.java
  grpc/metrics/pom.xml
  grpc/metrics/src/test/java/io/helidon/grpc/metrics/MetricsIT.java
  media/common/src/main/java/io/helidon/media/common/DefaultMediaSupport.java
  security/integration/webserver/pom.xml
  security/integration/webserver/src/test/java/io/helidon/security/integration/webserver/WebSecurityBuilderGateDefaultsTest.java
  security/integration/webserver/src/test/java/io/helidon/security/integration/webserver/WebSecurityTests.java
  tests/functional/bookstore/pom.xml
  tests/functional/bookstore/src/test/java/io/helidon/tests/bookstore/MainTest.java
  tests/integration/webclient/src/test/java/io/helidon/tests/integration/webclient/RequestTest.java
  webclient/webclient/src/main/java/io/helidon/webclient/NettyClient.java
  webclient/webclient/src/main/java/io/helidon/webclient/NettyClientHandler.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClient.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilder.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilderImpl.java
  webserver/cors/src/test/java/io/helidon/webserver/cors/AbstractCorsTest.java
  webserver/cors/src/test/java/io/helidon/webserver/cors/TestDefaultCorsSupport.java
  webserver/cors/src/test/java/io/helidon/webserver/cors/TestHandlerRegistration.java
  webserver/webserver/pom.xml
  webserver/webserver/src/test/java/io/helidon/webserver/FormParamsSupportTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/MultiPortTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/Pkcs12StoreSslTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/ResponseOrderingTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/SslTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/Status204Test.java
Labels: rest-client

#1747 Cors MP example
  examples/microprofile/cors/README.md
  examples/microprofile/cors/pom.xml
  examples/microprofile/cors/src/main/java/io/helidon/microprofile/examples/cors/GreetResource.java
  examples/microprofile/cors/src/main/java/io/helidon/microprofile/examples/cors/GreetingProvider.java
  examples/microprofile/cors/src/main/java/io/helidon/microprofile/examples/cors/package-info.java
  examples/microprofile/cors/src/main/resources/META-INF/beans.xml
  examples/microprofile/cors/src/main/resources/META-INF/microprofile-config.properties
  examples/microprofile/cors/src/main/resources/logging.properties
  examples/microprofile/cors/src/test/java/io/helidon/microprofile/examples/cors/TestCORS.java
  examples/microprofile/cors/src/test/resources/logging.properties
Labels: 2.0-M3, 2.x, cors, examples

#1754 Docs: Update javadoc links in documentation to work with new javadoc layout
  docs/se/config/01_introduction.adoc
  docs/se/config/02_config-sources.adoc
  docs/se/config/03_hierarchical-features.adoc
  docs/se/config/04_property-mapping.adoc
  docs/se/config/05_mutability-support.adoc
  docs/se/config/06_advanced-configuration.adoc
  docs/se/config/07_extensions.adoc
  docs/se/config/08_supported-formats.adoc
  docs/se/grpc/02_configuration.adoc
  docs/se/grpc/04_service_implementation.adoc
  docs/se/grpc/22_client_configuration.adoc
  docs/se/grpc/23_client_implementation.adoc
  docs/se/webserver/02_configuration.adoc
  docs/sitegen.yaml
Labels: 2.0-M3, 2.x, docs

#1757 Prepare CHANGELOG for 2.0.0-M3 release
  CHANGELOG.md
Labels: 2.x

#1731 CORS SE doc
  docs/se/cors/01_introduction.adoc
  docs/se/cors/02_configuration.adoc
  docs/sitegen.yaml
Labels: 2.0-M3, 2.x, cors, docs

#1758 Added a profile in jpa-cdi to perform static JPA tasks when maven.test.skip is not set to true and to skip them otherwise
  integrations/cdi/jpa-cdi/pom.xml
Labels: 2.x, MP, build, jpa/jta

#1759 Add new CORS mp example to the list; fix a test bug
  examples/microprofile/cors/src/main/java/io/helidon/microprofile/examples/cors/GreetResource.java
  examples/microprofile/cors/src/main/java/io/helidon/microprofile/examples/cors/GreetingProvider.java
  examples/microprofile/cors/src/main/resources/META-INF/microprofile-config.properties
  examples/microprofile/cors/src/main/resources/logging.properties
  examples/microprofile/cors/src/test/java/io/helidon/microprofile/examples/cors/TestCORS.java
  examples/microprofile/cors/src/test/resources/logging.properties
  examples/microprofile/pom.xml
Labels: 2.0-M3

#1764 M3 post release updates: CHANGELOG, smoketest fix, archetype release fix
  CHANGELOG.md
  etc/scripts/github-release.sh
  etc/scripts/smoketest.sh
  examples/quickstarts/archetypes/deploy-archetypes.sh
Labels: 2.x

#1771 Fix formatting issues with included guides
  docs/common/guides/graalnative.adoc
  docs/common/guides/gradle_build.adoc
  docs/common/guides/jlink_image.adoc
  docs/common/guides/maven_build.adoc
  docs/mp/guides/25_maven_build.adoc
  docs/mp/guides/26_gradle_build.adoc
  docs/mp/guides/36_graalnative.adoc
  docs/mp/guides/37_jlink_image.adoc
  docs/se/guides/25_maven_build.adoc
  docs/se/guides/26_gradle_build.adoc
  docs/se/guides/36_graalnative.adoc
  docs/se/guides/37_jlink_image.adoc
  docs/sitegen.yaml
Labels: 2.x, docs

#1664 Multi await feature for intentional blocking
  common/reactive/src/main/java/io/helidon/common/reactive/Awaitable.java
  common/reactive/src/main/java/io/helidon/common/reactive/CompletionAwaitable.java
  common/reactive/src/main/java/io/helidon/common/reactive/CompletionSingle.java
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiCollectPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiCollectorPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFirstPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiReduce.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiReduceFull.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleDefaultIfEmpty.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleDefer.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleEmpty.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleError.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleFlatMapSingle.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleFromCompletionStage.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleFromPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleJust.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleMapperPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleNever.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleObserveOn.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleOnErrorResume.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleOnErrorResumeWith.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleRetry.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleSwitchIfEmpty.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleTakeUntilPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleTappedPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleTimeout.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleTimer.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleToFuture.java
  common/reactive/src/test/java/io/helidon/common/reactive/AwaitTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/TestConsumer.java
  media/common/src/main/java/io/helidon/media/common/MessageBodyReaderContext.java
Labels: enhancement, reactive

#1763 Decrease the number of events of KafkaCdiExtensionTest
  tests/integration/kafka/src/test/java/io/helidon/messaging/connectors/kafka/KafkaCdiExtensionTest.java
Labels: messaging

#1806 Multi onComplete* operators
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiOnCompleteResumeWith.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/Subscribable.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiOnCompleteResumeWithTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiOnCompleteResumeWithTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleTest.java
Labels: reactive

#1809 Health check fixed
  health/health-checks/src/main/java/io/helidon/health/checks/DeadlockHealthCheck.java
  health/health-checks/src/main/java/io/helidon/health/checks/HealthChecks.java
  health/health/src/main/java/io/helidon/health/HealthSupport.java
  microprofile/health/src/main/java/io/helidon/microprofile/health/HealthCdiExtension.java
  microprofile/health/src/main/java/module-info.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/BeanClass.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/LivenessHealthcheck.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/Mp1Main.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/ReadinessHealthcheck.java
  tests/integration/native-image/mp-1/src/main/java/module-info.java
  webserver/webserver/src/main/java/io/helidon/webserver/TlsConfig.java
Labels: bug

#1811 2.0: Fix #1711 StaticContentHandler fails with encoded URLs
  webserver/webserver/src/main/java/io/helidon/webserver/ClassPathContentHandler.java
  webserver/webserver/src/test/java/io/helidon/webserver/StaticContentHandlerTest.java
Labels: 2.x

#1817 1.4: Fix #1711 StaticContentHandler fails with encoded URLs (#1811)
  webserver/webserver/src/main/java/io/helidon/webserver/ClassPathContentHandler.java
  webserver/webserver/src/test/java/io/helidon/webserver/StaticContentHandlerTest.java
Labels: 1.x

#1818 Fixed archetype test based on API changes
  archetypes/se/basic/src/main/resources/src/test/java/__pkg__/MainTest.java.mustache
Labels: 2.x

#1813 Removes mp-test-libs bundle
  examples/grpc/microprofile/basic-client/pom.xml
  examples/grpc/microprofile/basic-server-implicit/pom.xml
  examples/grpc/microprofile/metrics/pom.xml
  examples/microprofile/hello-world-explicit/pom.xml
  examples/microprofile/hello-world-implicit/pom.xml
  examples/microprofile/hello-world-implicit/src/test/java/io/helidon/microprofile/example/helloworld/implicit/ImplicitHelloWorldTest.java
  examples/microprofile/mp1_1-static-content/pom.xml
  examples/microprofile/websocket/pom.xml
  metrics/metrics/pom.xml
  microprofile/bundles/internal-test-libs/pom.xml
  microprofile/bundles/pom.xml
  microprofile/cdi/pom.xml
  microprofile/config/pom.xml
  microprofile/cors/pom.xml
  microprofile/grpc/client/pom.xml
  microprofile/grpc/core/pom.xml
  microprofile/grpc/metrics/pom.xml
  microprofile/grpc/server/pom.xml
  microprofile/health/pom.xml
  microprofile/jwt-auth/pom.xml
  microprofile/metrics/pom.xml
  microprofile/oidc/pom.xml
  microprofile/security/pom.xml
  microprofile/server/pom.xml
  microprofile/tracing/pom.xml
  microprofile/websocket/pom.xml
  pom.xml
  tests/integration/mp-grpc/pom.xml
Labels: dependencies

#1815 [Reactive] Reimplement Concat with varargs
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiConcatArray.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiConcatArrayTck1Test.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiConcatArrayTck2Test.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiConcatArrayTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTest.java
Labels: reactive

#1831 Updated UCP version to always be in sync with Oracle's OJDBC8 version since the two artifacts are mutually dependent
  dependencies/pom.xml
Labels: 2.x, P3, build, dependencies, task

#1729 Docs helidon se intro 1626
  docs/about/02_introduction.adoc
  docs/images/MP_components.png
  docs/images/SE_components.png
  docs/images/helidon_arch.png
  docs/se/grpc/01_introduction.adoc
  docs/se/introduction/01_introduction.adoc
Labels: P1, docs

#1839 Renamed basic archetype to bare
  archetypes/mp/bare/pom.xml
  archetypes/mp/bare/src/main/resources/META-INF/helidon-archetype-resources.txt
  archetypes/mp/bare/src/main/resources/META-INF/helidon-archetype.xml
  archetypes/mp/bare/src/main/resources/pom.xml.mustache
  archetypes/mp/bare/src/main/resources/src/main/java/__pkg__/GreetResource.java.mustache
  archetypes/mp/bare/src/main/resources/src/main/java/__pkg__/package-info.java.mustache
  archetypes/mp/bare/src/main/resources/src/main/resources/META-INF/beans.xml
  archetypes/mp/bare/src/main/resources/src/main/resources/META-INF/microprofile-config.properties
  archetypes/mp/bare/src/main/resources/src/main/resources/logging.properties
  archetypes/mp/bare/src/main/resources/src/main/resources/native-image/reflect-config.json
  archetypes/mp/bare/src/main/resources/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/mp/pom.xml
  archetypes/se/bare/pom.xml
  archetypes/se/bare/src/main/resources/META-INF/helidon-archetype-resources.txt
  archetypes/se/bare/src/main/resources/META-INF/helidon-archetype.xml
  archetypes/se/bare/src/main/resources/pom.xml.mustache
  archetypes/se/bare/src/main/resources/src/main/java/__pkg__/GreetService.java.mustache
  archetypes/se/bare/src/main/resources/src/main/java/__pkg__/Main.java.mustache
  archetypes/se/bare/src/main/resources/src/main/java/__pkg__/package-info.java.mustache
  archetypes/se/bare/src/main/resources/src/main/resources/application.yaml
  archetypes/se/bare/src/main/resources/src/main/resources/logging.properties
  archetypes/se/bare/src/main/resources/src/main/resources/native-image/reflect-config.json
  archetypes/se/bare/src/main/resources/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/se/pom.xml
Labels: 2.x

#1843 Wait for thread completion only if interrupted flag set
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FaultToleranceCommand.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/TimeoutNoRetryBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/TimeoutTest.java
Labels: fault-tolerance

#1845 Wait for thread completion only if interrupted flag set
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FaultToleranceCommand.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/TimeoutNoRetryBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/TimeoutTest.java
Labels: 1.x, fault-tolerance

#1844 Socket configuration changes.
  webserver/webserver/pom.xml
  webserver/webserver/src/main/java/io/helidon/webserver/NettyWebServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerBasicConfig.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerConfiguration.java
  webserver/webserver/src/main/java/io/helidon/webserver/SocketConfiguration.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServer.java
  webserver/webserver/src/test/java/io/helidon/webserver/MultiPortTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/NettyWebServerTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/SocketConfigurationTest.java
  webserver/webserver/src/test/resources/multiport/application.yaml
Labels: 2.x, webserver

#1830 BufferedEmittingPublisher as replacement for OriginThreadPublisher
  common/reactive/pom.xml
  common/reactive/src/main/java/io/helidon/common/reactive/BiConsumerChain.java
  common/reactive/src/main/java/io/helidon/common/reactive/BufferedEmittingPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/ConsumerChain.java
  common/reactive/src/main/java/io/helidon/common/reactive/EmittingPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiTappedPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/OriginThreadPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/RunnableChain.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleTappedPublisher.java
  common/reactive/src/test/java/io/helidon/common/reactive/EmitterTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/EmittingPublisherTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/OriginThreadPublisherTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/WrappedOriginThreadPublisher.java
  common/reactive/src/test/java/io/helidon/common/reactive/WrappedOriginThreadPublisherTckTest.java
  media/common/src/test/java/io/helidon/media/common/DataChunkInputStreamTest.java
  messaging/connectors/kafka/src/main/java/io/helidon/messaging/connectors/kafka/EmittingPublisher.java
  messaging/connectors/kafka/src/main/java/io/helidon/messaging/connectors/kafka/KafkaPublisher.java
  tests/integration/kafka/src/test/java/io/helidon/messaging/connectors/kafka/EmittingPublisherTest.java
  webclient/webclient/src/main/java/io/helidon/webclient/NettyClientHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/HttpRequestScopedPublisher.java
Labels: api-change, reactive

#1850 gRPC client API improvements (1.x)
  grpc/client/src/main/java/io/helidon/grpc/client/GrpcChannelsProvider.java
  microprofile/grpc/client/src/main/java/io/helidon/microprofile/grpc/client/GrpcChannel.java
  microprofile/grpc/client/src/main/java/io/helidon/microprofile/grpc/client/GrpcClientProxyBuilder.java
  microprofile/grpc/client/src/main/java/io/helidon/microprofile/grpc/client/GrpcProxyProducer.java
Labels: 1.x, grpc

#1847 Redesign in Kafka tests
  messaging/connectors/kafka/src/main/java/io/helidon/messaging/connectors/kafka/KafkaConnector.java
  messaging/connectors/kafka/src/main/java/io/helidon/messaging/connectors/kafka/KafkaPublisher.java
  tests/integration/kafka/src/test/java/io/helidon/messaging/connectors/kafka/AbstractSampleBean.java
  tests/integration/kafka/src/test/java/io/helidon/messaging/connectors/kafka/KafkaCdiExtensionTest.java
  tests/integration/kafka/src/test/resources/logging.properties
Labels: messaging

#1853 Log warning if a known configuration file exists and we have no parser
  config/config/src/main/java/io/helidon/config/MetaConfigFinder.java
Labels: 2.x, config

#1852 Updated SSL Configuration for WebServer
  common/key-util/src/main/java/io/helidon/common/pki/KeyConfig.java
  examples/webserver/pom.xml
  examples/webserver/tls/pom.xml
  examples/webserver/tls/src/main/java/io/helidon/webserver/examples/tls/Main.java
  examples/webserver/tls/src/main/java/io/helidon/webserver/examples/tls/package-info.java
  examples/webserver/tls/src/main/resources/application.yaml
  examples/webserver/tls/src/main/resources/certificate.p12
  examples/webserver/tls/src/main/resources/logging.properties
  examples/webserver/tls/src/test/java/io/helidon/webserver/examples/tls/MainTest.java
  examples/webserver/tls/src/test/resources/test-application.yaml
  webserver/webserver/src/main/java/io/helidon/webserver/TlsConfig.java
Labels: 2.x, webserver

#1859 Remove OriginThreadPublisher
  common/reactive/src/main/java/io/helidon/common/reactive/OriginThreadPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/UnboundedSemaphore.java
  common/reactive/src/test/java/io/helidon/common/reactive/BufferedEmittingPublisherTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/UnboundedSemaphoreTest.java
Labels: reactive

#1787 Multipart
  bom/pom.xml
  common/http/src/main/java/io/helidon/common/http/Utils.java
  common/reactive/src/main/java/io/helidon/common/reactive/SubscriptionHelper.java
  examples/media/multipart/pom.xml
  examples/media/multipart/src/main/java/io/helidon/examples/media/multipart/FileService.java
  examples/media/multipart/src/main/java/io/helidon/examples/media/multipart/Main.java
  examples/media/multipart/src/main/java/io/helidon/examples/media/multipart/package-info.java
  examples/media/multipart/src/main/resources/WEB/index.html
  examples/media/pom.xml
  examples/pom.xml
  media/common/src/main/java/io/helidon/media/common/MessageBodyOperators.java
  media/common/src/main/java/io/helidon/media/common/MessageBodyReadableContent.java
  media/common/src/main/java/io/helidon/media/common/MessageBodyWriteableContent.java
  media/common/src/main/java/io/helidon/media/common/MessageBodyWriterContext.java
  media/multipart/pom.xml
  media/multipart/src/main/java/io/helidon/media/multipart/BodyPart.java
  media/multipart/src/main/java/io/helidon/media/multipart/BodyPartBodyStreamReader.java
  media/multipart/src/main/java/io/helidon/media/multipart/BodyPartBodyStreamWriter.java
  media/multipart/src/main/java/io/helidon/media/multipart/BodyPartChunk.java
  media/multipart/src/main/java/io/helidon/media/multipart/BodyPartHeaders.java
  media/multipart/src/main/java/io/helidon/media/multipart/ContentDisposition.java
  media/multipart/src/main/java/io/helidon/media/multipart/MimeParser.java
  media/multipart/src/main/java/io/helidon/media/multipart/MultiPart.java
  media/multipart/src/main/java/io/helidon/media/multipart/MultiPartBodyReader.java
  media/multipart/src/main/java/io/helidon/media/multipart/MultiPartBodyWriter.java
  media/multipart/src/main/java/io/helidon/media/multipart/MultiPartDecoder.java
  media/multipart/src/main/java/io/helidon/media/multipart/MultiPartEncoder.java
  media/multipart/src/main/java/io/helidon/media/multipart/MultiPartSupport.java
  media/multipart/src/main/java/io/helidon/media/multipart/ReadableBodyPart.java
  media/multipart/src/main/java/io/helidon/media/multipart/ReadableBodyPartHeaders.java
  media/multipart/src/main/java/io/helidon/media/multipart/ReadableMultiPart.java
  media/multipart/src/main/java/io/helidon/media/multipart/VirtualBuffer.java
  media/multipart/src/main/java/io/helidon/media/multipart/WriteableBodyPart.java
  media/multipart/src/main/java/io/helidon/media/multipart/WriteableBodyPartContent.java
  media/multipart/src/main/java/io/helidon/media/multipart/WriteableBodyPartHeaders.java
  media/multipart/src/main/java/io/helidon/media/multipart/WriteableMultiPart.java
  media/multipart/src/main/java/io/helidon/media/multipart/package-info.java
  media/multipart/src/main/java/module-info.java
  media/multipart/src/test/java/io/helidon/media/multipart/BodyPartHeadersTest.java
  media/multipart/src/test/java/io/helidon/media/multipart/BodyPartTest.java
  media/multipart/src/test/java/io/helidon/media/multipart/ContentDispositionTest.java
  media/multipart/src/test/java/io/helidon/media/multipart/MimeParserTest.java
  media/multipart/src/test/java/io/helidon/media/multipart/MultiPartDecoderSubsBlackBoxTckTest.java
  media/multipart/src/test/java/io/helidon/media/multipart/MultiPartDecoderSubsWhiteBoxTckTest.java
  media/multipart/src/test/java/io/helidon/media/multipart/MultiPartDecoderTckTest.java
  media/multipart/src/test/java/io/helidon/media/multipart/MultiPartDecoderTest.java
  media/multipart/src/test/java/io/helidon/media/multipart/MultiPartEncoderSubsBlackBoxTckTest.java
  media/multipart/src/test/java/io/helidon/media/multipart/MultiPartEncoderSubsWhiteBoxTckTest.java
  media/multipart/src/test/java/io/helidon/media/multipart/MultiPartEncoderTckTest.java
  media/multipart/src/test/java/io/helidon/media/multipart/MultiPartEncoderTest.java
  media/multipart/src/test/java/io/helidon/media/multipart/VirtualBufferTest.java
  media/pom.xml
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilderImpl.java
  webserver/webserver/src/main/java/io/helidon/webserver/Response.java
  webserver/webserver/src/test/java/io/helidon/webserver/ResponseTest.java
Labels: SE

#1864 Trigger Single stream only in terminal ops
  common/reactive/src/main/java/io/helidon/common/reactive/CompletionAwaitable.java
  common/reactive/src/main/java/io/helidon/common/reactive/CompletionSingle.java
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleFromCompletionStage.java
  common/reactive/src/test/java/io/helidon/common/reactive/AwaitTest.java
Labels: reactive

#1880 JAX-RS @Provider autodiscovery
  microprofile/cdi/src/main/java/io/helidon/microprofile/cdi/HelidonContainerImpl.java
  microprofile/server/src/main/java/io/helidon/microprofile/server/JaxRsCdiExtension.java
  security/integration/jersey-client/src/main/java/io/helidon/security/integration/jersey/client/ClientSecurityFilter.java
  security/integration/jersey/src/main/java/io/helidon/security/integration/jersey/ClientSecurityFeature.java
  security/integration/jersey/src/main/java/io/helidon/security/integration/jersey/ClientSecurityFilter.java
  security/integration/jersey/src/main/java/io/helidon/security/integration/jersey/SecureClient.java
  security/integration/jersey/src/test/java/io/helidon/security/integration/jersey/TestResource1.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/AutoFilter.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/JaxRsApplicationNoClasses.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/Mp1Main.java
Labels: 2.x

#1879 Remove MP Metrics 1.0-to-2.0 bridge component and related classes
  CHANGELOG.md
  bom/pom.xml
  common/metrics/pom.xml
  common/metrics/src/main/java/io/helidon/common/metrics/InternalBridge.java
  common/metrics/src/main/java/io/helidon/common/metrics/InternalTagImpl.java
  common/metrics/src/main/java/io/helidon/common/metrics/Loader.java
  common/metrics/src/main/java/io/helidon/common/metrics/package-info.java
  common/metrics/src/main/java/module-info.java
  common/pom.xml
  grpc/metrics/pom.xml
  grpc/metrics/src/main/java/io/helidon/grpc/metrics/GrpcMetrics.java
  grpc/metrics/src/main/java/module-info.java
  grpc/metrics/src/test/java/io/helidon/grpc/metrics/GrpcMetricsInterceptorIT.java
  metrics/metrics/pom.xml
  metrics/metrics/src/main/java/io/helidon/metrics/BaseRegistry.java
  metrics/metrics/src/main/java/io/helidon/metrics/HelidonMetadata.java
  metrics/metrics/src/main/java/io/helidon/metrics/HelidonTimer.java
  metrics/metrics/src/main/java/io/helidon/metrics/InternalBridgeImpl.java
  metrics/metrics/src/main/java/io/helidon/metrics/InternalMetadataBuilderImpl.java
  metrics/metrics/src/main/java/io/helidon/metrics/InternalMetadataImpl.java
  metrics/metrics/src/main/java/io/helidon/metrics/InternalMetricIDImpl.java
  metrics/metrics/src/main/java/io/helidon/metrics/MetricsSupport.java
  metrics/metrics/src/main/java/io/helidon/metrics/Registry.java
  metrics/metrics/src/main/java/io/helidon/metrics/RegistryFactory.java
  metrics/metrics/src/main/java/module-info.java
  metrics/metrics/src/main/resources/META-INF/services/io.helidon.common.metrics.InternalBridge
  metrics/metrics/src/test/java/io/helidon/metrics/HelidonConcurrentGaugeTest.java
  metrics/metrics/src/test/java/io/helidon/metrics/HelidonCounterTest.java
  metrics/metrics/src/test/java/io/helidon/metrics/HelidonGaugeTest.java
  metrics/metrics/src/test/java/io/helidon/metrics/HelidonHistogramTest.java
  metrics/metrics/src/test/java/io/helidon/metrics/HelidonMeterTest.java
  metrics/metrics/src/test/java/io/helidon/metrics/HelidonTimerTest.java
  metrics/metrics/src/test/java/io/helidon/metrics/InternalBridgeTest.java
  metrics/metrics/src/test/java/io/helidon/metrics/MetricImplTest.java
  metrics/metrics/src/test/java/io/helidon/metrics/RegistryTest.java
  microprofile/fault-tolerance/pom.xml
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FaultToleranceMetrics.java
  microprofile/fault-tolerance/src/main/java/module-info.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/MetricsTest.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/MetricProducer.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/MetricsCdiExtension.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/RegistryProducer.java
  microprofile/metrics/src/main/java/module-info.java
  microprofile/metrics/src/test/java/io/helidon/microprofile/metrics/MetricsMpServiceTest.java
Labels: 2.x, MP, SE, api-change, metrics

#1882 WebServer API to use Single and Multi
  common/http/src/main/java/io/helidon/common/http/Content.java
  common/reactive/pom.xml
  common/reactive/src/main/java/io/helidon/common/reactive/CompletionAwaitable.java
  common/reactive/src/main/java/io/helidon/common/reactive/CompletionSingle.java
  common/reactive/src/test/java/io/helidon/common/reactive/AwaitTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/ConcatPublisherTckTest.java
  common/reactive/src/test/tck-suite.xml
  media/common/src/main/java/io/helidon/media/common/MessageBodyReadableContent.java
  media/common/src/main/java/io/helidon/media/common/MessageBodyReaderContext.java
  media/multipart/src/main/java/io/helidon/media/multipart/ReadableBodyPart.java
  webserver/test-support/src/main/java/io/helidon/webserver/testsupport/TestClient.java
  webserver/test-support/src/main/java/io/helidon/webserver/testsupport/TestWebServer.java
  webserver/test-support/src/test/java/io/helidon/webserver/testsupport/TestClientTest.java
  webserver/webserver/src/main/java/io/helidon/webserver/BareResponse.java
  webserver/webserver/src/main/java/io/helidon/webserver/BareResponseImpl.java
  webserver/webserver/src/main/java/io/helidon/webserver/Handler.java
  webserver/webserver/src/main/java/io/helidon/webserver/HashResponseHeaders.java
  webserver/webserver/src/main/java/io/helidon/webserver/NettyWebServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/Response.java
  webserver/webserver/src/main/java/io/helidon/webserver/ResponseHeaders.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerResponse.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServer.java
  webserver/webserver/src/test/java/io/helidon/webserver/HashResponseHeadersTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/ResponseTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/RoutingTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/Status204Test.java
Labels: 2.x

#1884 Remove deprecations 1
  common/http/src/main/java/io/helidon/common/http/ContextualRegistry.java
  common/http/src/main/java/io/helidon/common/http/ListContextualRegistry.java
  common/http/src/test/java/io/helidon/common/http/ListContextTest.java
  common/http/src/test/java/io/helidon/common/http/ListContextualRegistryTest.java
  dbclient/health/src/main/java/io/helidon/dbclient/health/DbClientHealthCheck.java
  examples/webserver/tutorial/src/main/java/io/helidon/webserver/examples/tutorial/user/UserFilter.java
  grpc/server/src/test/java/io/helidon/grpc/server/ContextIT.java
  health/health-checks/src/main/java/io/helidon/health/checks/DiskSpaceHealthCheck.java
  health/health/pom.xml
  health/health/src/main/java/io/helidon/health/HealthSupport.java
  health/health/src/main/java/module-info.java
  health/health/src/test/java/io/helidon/health/HealthSupportTest.java
  microprofile/health/src/main/java/io/helidon/microprofile/health/HealthCdiExtension.java
  microprofile/health/src/main/java/io/helidon/microprofile/health/HealthCheckProvider.java
  microprofile/health/src/test/java/io/helidon/microprofile/health/HealthMpServiceIT.java
  webserver/access-log/src/main/java/io/helidon/webserver/accesslog/SizeLogEntry.java
  webserver/access-log/src/test/java/io/helidon/webserver/accesslog/AccessLogSupportTest.java
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/WebServerBinder.java
  webserver/test-support/src/main/java/io/helidon/webserver/testsupport/TestWebServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/NettyWebServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/Request.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerBasicConfig.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerConfiguration.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerRequest.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServer.java
  webserver/webserver/src/test/java/io/helidon/webserver/RoutingTest.java
Labels: 2.x

#1885 Remove deprecations 2
  security/integration/common/src/main/java/io/helidon/security/integration/common/CommonTracing.java
  security/integration/grpc/src/main/java/io/helidon/security/integration/grpc/GrpcClientSecurity.java
  security/integration/grpc/src/main/java/io/helidon/security/integration/grpc/GrpcSecurityHandler.java
  security/integration/jersey-client/src/main/java/io/helidon/security/integration/jersey/client/ClientSecurityFilter.java
  security/integration/jersey/src/main/java/io/helidon/security/integration/jersey/SecurityFilterCommon.java
  security/integration/webserver/src/main/java/io/helidon/security/integration/webserver/SecurityHandler.java
  security/security/src/main/java/io/helidon/security/SecurityRequest.java
  security/security/src/main/java/io/helidon/security/SecurityRequestBuilder.java
Labels: 2.x

#1886 Trigger Single to CS conversion on first CS method call
  common/reactive/src/main/java/io/helidon/common/reactive/CompletionAwaitable.java
  common/reactive/src/main/java/io/helidon/common/reactive/CompletionSingle.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleFromCompletionStage.java
  common/reactive/src/test/java/io/helidon/common/reactive/AwaitTest.java
Labels: bug, reactive

#1770 Multi from InputStream
  common/reactive/src/main/java/io/helidon/common/reactive/IoMulti.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFromBlockingInputStream.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFromInputStream.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFromInputStreamTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFromNotTrustedInputStreamTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFromTrustedInputStreamTckTest.java
  security/integration/jersey/src/main/java/io/helidon/security/integration/jersey/InputStreamPublisher.java
  security/integration/jersey/src/test/java/io/helidon/security/integration/jersey/InputStreamPublisherTest.java
  webserver/webserver/src/main/java/io/helidon/webserver/ClassPathContentHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/InputStreamPublisher.java
Labels: api-change, reactive

#1887 Upgrading Jersey to version 2.31
  dependencies/pom.xml
Labels: 2.x, dependencies

#1701 Docs helidon intro 1625
  docs/about/02_introduction.adoc
Labels: docs

#1851 gRPC client API improvements (2.0)
  CHANGELOG.md
  docs/mp/grpc/01_mp_server_side_services.adoc
  docs/mp/grpc/02_mp_clients.adoc
  examples/grpc/microprofile/basic-client/src/main/java/io/helidon/microprofile/grpc/example/client/AsyncClient.java
  examples/grpc/microprofile/basic-client/src/main/java/io/helidon/microprofile/grpc/example/client/AsyncStringService.java
  examples/grpc/microprofile/basic-client/src/main/java/io/helidon/microprofile/grpc/example/client/Client.java
  examples/grpc/microprofile/basic-client/src/main/java/io/helidon/microprofile/grpc/example/client/StringService.java
  examples/grpc/microprofile/basic-server-implicit/README.md
  examples/grpc/microprofile/basic-server-implicit/src/main/java/io/helidon/microprofile/grpc/example/basic/implicit/AsyncStringService.java
  examples/grpc/microprofile/basic-server-implicit/src/main/java/io/helidon/microprofile/grpc/example/basic/implicit/StringService.java
  examples/grpc/microprofile/metrics/src/main/java/io/helidon/microprofile/grpc/example/metrics/StringService.java
  grpc/client/src/main/java/io/helidon/grpc/client/GrpcChannelsProvider.java
  microprofile/grpc/client/src/main/java/io/helidon/microprofile/grpc/client/GrpcChannel.java
  microprofile/grpc/client/src/main/java/io/helidon/microprofile/grpc/client/GrpcClientBuilder.java
  microprofile/grpc/client/src/main/java/io/helidon/microprofile/grpc/client/GrpcClientCdiExtension.java
  microprofile/grpc/client/src/main/java/io/helidon/microprofile/grpc/client/GrpcClientProxyBuilder.java
  microprofile/grpc/client/src/main/java/io/helidon/microprofile/grpc/client/GrpcProxy.java
  microprofile/grpc/client/src/main/java/io/helidon/microprofile/grpc/client/GrpcProxyBuilder.java
  microprofile/grpc/client/src/main/java/io/helidon/microprofile/grpc/client/GrpcProxyProducer.java
  microprofile/grpc/client/src/test/java/io/helidon/microprofile/grpc/client/GrpcClientBuilderTest.java
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/AbstractMethodHandlerSupplier.java
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/AbstractServiceBuilder.java
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/AnnotatedMethod.java
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/Bidirectional.java
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/ClientStreaming.java
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/Grpc.java
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/GrpcCdiExtension.java
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/GrpcInterceptors.java
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/GrpcMethod.java
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/ServerStreaming.java
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/Unary.java
  microprofile/grpc/core/src/test/java/io/helidon/microprofile/grpc/core/AnnotatedMethodListTest.java
  microprofile/grpc/core/src/test/java/io/helidon/microprofile/grpc/core/AnnotatedMethodTest.java
  microprofile/grpc/core/src/test/java/io/helidon/microprofile/grpc/core/ModelHelperTest.java
  microprofile/grpc/core/src/test/java/io/helidon/microprofile/grpc/core/ServerStreamingMethodHandlerSupplierTest.java
  microprofile/grpc/core/src/test/java/io/helidon/microprofile/grpc/core/UnaryMethodHandlerSupplierTest.java
  microprofile/grpc/metrics/src/main/java/io/helidon/microprofile/grpc/metrics/GrpcMetricsCdiExtension.java
  microprofile/grpc/metrics/src/main/java/io/helidon/microprofile/grpc/metrics/MetricsConfigurer.java
  microprofile/grpc/server/src/main/java/io/helidon/microprofile/grpc/server/AnnotatedServiceConfigurer.java
  microprofile/grpc/server/src/main/java/io/helidon/microprofile/grpc/server/GrpcServerCdiExtension.java
  microprofile/grpc/server/src/main/java/io/helidon/microprofile/grpc/server/GrpcServiceBuilder.java
  microprofile/grpc/server/src/test/java/io/helidon/microprofile/grpc/server/GrpcServiceBuilderTest.java
  tests/integration/mp-grpc/src/test/java/io/helidon/microprofile/grpc/metrics/MetricsConfigurerTest.java
  tests/integration/mp-grpc/src/test/java/io/helidon/microprofile/grpc/metrics/MetricsTest.java
  tests/integration/mp-grpc/src/test/java/io/helidon/microprofile/grpc/server/AnnotatedServiceTest.java
  tests/integration/mp-grpc/src/test/java/io/helidon/microprofile/grpc/server/GrpcServerCdiExtensionTest.java
  tests/integration/mp-grpc/src/test/java/io/helidon/microprofile/grpc/server/InterceptorsTest.java
  tests/integration/mp-grpc/src/test/java/services/EchoService.java
  tests/integration/mp-grpc/src/test/java/services/StringService.java
Labels: 2.x, api-change, grpc

#1902 Fix copyright
  examples/grpc/microprofile/basic-client/src/main/java/io/helidon/microprofile/grpc/example/client/AsyncClient.java
  examples/grpc/microprofile/basic-client/src/main/java/io/helidon/microprofile/grpc/example/client/AsyncStringService.java
  examples/grpc/microprofile/basic-client/src/main/java/io/helidon/microprofile/grpc/example/client/Client.java
  examples/grpc/microprofile/basic-client/src/main/java/io/helidon/microprofile/grpc/example/client/StringService.java
  examples/grpc/microprofile/basic-server-implicit/src/main/java/io/helidon/microprofile/grpc/example/basic/implicit/AsyncStringService.java
  examples/grpc/microprofile/basic-server-implicit/src/main/java/io/helidon/microprofile/grpc/example/basic/implicit/StringService.java
  examples/grpc/microprofile/metrics/src/main/java/io/helidon/microprofile/grpc/example/metrics/StringService.java
Labels: build

#1890 Kafka specific message
  messaging/kafka/src/main/java/io/helidon/messaging/connectors/kafka/KafkaConsumerMessage.java
  messaging/kafka/src/main/java/io/helidon/messaging/connectors/kafka/KafkaMessage.java
  messaging/kafka/src/main/java/io/helidon/messaging/connectors/kafka/KafkaProducerMessage.java
  messaging/kafka/src/main/java/io/helidon/messaging/connectors/kafka/KafkaPublisher.java
  messaging/kafka/src/main/java/io/helidon/messaging/connectors/kafka/KafkaSubscriber.java
  microprofile/messaging/src/main/java/io/helidon/microprofile/messaging/MessageUtils.java
  tests/integration/kafka/src/test/java/io/helidon/messaging/connectors/kafka/AbstractSampleBean.java
  tests/integration/kafka/src/test/java/io/helidon/messaging/connectors/kafka/KafkaSeTest.java
Labels: api-change, messaging
