Repository helidon-io/helidon, pull requests merged in 2020-04, with the labels that each got.

#1603 [Reactive] Reorganize methods, remove Single.mapMany
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiMapperPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleMapperPublisher.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/jmh/ShakespearePlaysScrabbleWithHelidonReactiveOpt.java
  media/common/src/main/java/io/helidon/media/common/ByteChannelBodyWriter.java
  media/common/src/main/java/io/helidon/media/common/CharSequenceBodyWriter.java
  media/common/src/main/java/io/helidon/media/common/ContentReaders.java
  media/common/src/main/java/io/helidon/media/common/FileBodyWriter.java
  media/common/src/main/java/io/helidon/media/common/MessageBodyWriterContext.java
  media/common/src/main/java/io/helidon/media/common/PathBodyWriter.java
  media/common/src/main/java/io/helidon/media/common/ThrowableBodyWriter.java
  media/jackson/common/src/main/java/io/helidon/media/jackson/common/JacksonBodyReader.java
  media/jackson/common/src/main/java/io/helidon/media/jackson/common/JacksonBodyWriter.java
  media/jsonb/common/src/main/java/io/helidon/media/jsonb/common/JsonbBodyReader.java
  media/jsonb/common/src/main/java/io/helidon/media/jsonb/common/JsonbBodyWriter.java
  media/jsonp/common/src/main/java/io/helidon/media/jsonp/common/JsonpBodyReader.java
  media/jsonp/common/src/main/java/io/helidon/media/jsonp/common/JsonpBodyWriter.java
Labels: reactive

#1608 [MPRS] Route cancellation to a background thread for the TCK's sake
  microprofile/reactive-streams/src/main/java/io/helidon/microprofile/reactive/HelidonReactiveStreamsEngine.java
  microprofile/reactive-streams/src/main/java/io/helidon/microprofile/reactive/MultiCancelOnExecutor.java
Labels: reactive

#1604 Improve metrics interceptor performance; avoid MetricID creations - 1.x
  metrics2/metrics2/src/main/java/io/helidon/metrics/MetricsSupport.java
  metrics2/metrics2/src/main/java/io/helidon/metrics/Registry.java
  microprofile/metrics2/pom.xml
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/InterceptorBase.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/InterceptorConcurrentGauge.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/InterceptorCounted.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/InterceptorMetered.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/InterceptorTimed.java
  microprofile/metrics2/src/test/java/io/helidon/microprofile/metrics/MetricsTest.java
Labels: 1.x

#1610 Support for OpenTracing contrib's TracerResolver.
  bom/pom.xml
  dependencies/pom.xml
  microprofile/tracing/pom.xml
  microprofile/tracing/src/main/java9/module-info.java
  tracing/pom.xml
  tracing/tracer-resolver/pom.xml
  tracing/tracer-resolver/src/main/java/io/helidon/tracing/tracerresolver/TracerResolverBuilder.java
  tracing/tracer-resolver/src/main/java/io/helidon/tracing/tracerresolver/TracerResolverProvider.java
  tracing/tracer-resolver/src/main/java/io/helidon/tracing/tracerresolver/package-info.java
  tracing/tracer-resolver/src/main/java9/module-info.java
  tracing/tracer-resolver/src/main/resources/META-INF/services/io.helidon.tracing.spi.TracerProvider
Labels: 1.x, dependencies

#1616 Channel properties must override connector config
  microprofile/messaging/src/main/java/io/helidon/microprofile/messaging/ConfigurableConnector.java
  microprofile/messaging/src/test/java/io/helidon/microprofile/messaging/ConnectorConfigTest.java
Labels: messaging

#1622 Add support for native-image tests to smoketest script
  etc/scripts/smoketest.sh
Labels: 2.x

#1624 Changed the default context root for Websocket endpoints
  examples/microprofile/websocket/src/main/java/io/helidon/microprofile/example/websocket/MessageBoardEndpoint.java
  examples/microprofile/websocket/src/main/java/io/helidon/microprofile/example/websocket/MessageQueueResource.java
  examples/microprofile/websocket/src/test/java/io/helidon/microprofile/example/websocket/MessageBoardTest.java
  microprofile/websocket/pom.xml
  microprofile/websocket/src/main/java/io/helidon/microprofile/tyrus/WebSocketCdiExtension.java
  microprofile/websocket/src/test/java/io/helidon/microprofile/tyrus/WebSocketBaseTest.java
  microprofile/websocket/src/test/java/io/helidon/microprofile/tyrus/WebSocketEndpointAppTest.java
  microprofile/websocket/src/test/java/io/helidon/microprofile/tyrus/WebSocketEndpointTest.java
  microprofile/websocket/src/test/java/io/helidon/microprofile/tyrus/WebSocketRestEndpointTest.java
  microprofile/websocket/src/test/resources/META-INF/beans.xml
Labels: enhancement

#1631 Updated WebSocket docs based on latest changes
  docs/mp/websocket/01_overview.adoc
  docs/se/websocket/01_overview.adoc
Labels: docs, webserver

#1641 Fixed static content handling bug 1.x
  common/http/src/main/java/io/helidon/common/http/DataChunk.java
  webserver/webserver/src/main/java/io/helidon/webserver/ClassPathContentHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/FileSystemContentHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/StaticContentHandler.java
Labels: 1.x, bug

#1642 Fixed static content handling bug.
  common/http/src/main/java/io/helidon/common/http/DataChunk.java
  webserver/webserver/src/main/java/io/helidon/webserver/ClassPathContentHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/FileSystemContentHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/StaticContentHandler.java
Labels: 2.x, bug

#1479 Mp messaging example
  examples/microprofile/messaging-sse/README.md
  examples/microprofile/messaging-sse/pom.xml
  examples/microprofile/messaging-sse/src/main/java/io/helidon/microprofile/example/messaging/sse/Main.java
  examples/microprofile/messaging-sse/src/main/java/io/helidon/microprofile/example/messaging/sse/MessagingExampleResource.java
  examples/microprofile/messaging-sse/src/main/java/io/helidon/microprofile/example/messaging/sse/MessagingSseExampleApplication.java
  examples/microprofile/messaging-sse/src/main/java/io/helidon/microprofile/example/messaging/sse/MsgProcessingBean.java
  examples/microprofile/messaging-sse/src/main/resources/META-INF/beans.xml
  examples/microprofile/messaging-sse/src/main/resources/WEB/favicon.ico
  examples/microprofile/messaging-sse/src/main/resources/WEB/img/arrow-1.png
  examples/microprofile/messaging-sse/src/main/resources/WEB/img/arrow-2.png
  examples/microprofile/messaging-sse/src/main/resources/WEB/img/cloud.png
  examples/microprofile/messaging-sse/src/main/resources/WEB/img/frank.png
  examples/microprofile/messaging-sse/src/main/resources/WEB/index.html
  examples/microprofile/messaging-sse/src/main/resources/WEB/main.css
  examples/microprofile/messaging-sse/src/main/resources/application.yaml
  examples/microprofile/messaging-sse/src/main/resources/logging.properties
  microprofile/reactive-streams/pom.xml
Labels: messaging, reactive

#1638 Fix for #1618 - Unable to initialize gRPC service when using helidon-…
  grpc/metrics/src/main/java/io/helidon/grpc/metrics/GrpcMetrics.java
  microprofile/grpc/metrics/src/main/java/io/helidon/microprofile/grpc/metrics/MetricsConfigurer.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/MetricUtil.java
  microprofile/metrics2/src/main/java/io/helidon/microprofile/metrics/MetricsCdiExtension.java
Labels: grpc, metrics

#1647 Using wrapped executor for Jersey async.
  dependencies/pom.xml
  tests/integration/mp-gh-1538/pom.xml
  tests/integration/mp-gh-1538/src/main/java/io/helidon/tests/integration/gh1538/JaxRsApplication.java
  tests/integration/mp-gh-1538/src/main/java/io/helidon/tests/integration/gh1538/JaxRsResource.java
  tests/integration/mp-gh-1538/src/main/resources/META-INF/microprofile-config.properties
  tests/integration/mp-gh-1538/src/test/java/io/helidon/tests/integration/gh1538/JaxRsResourceTest.java
  tests/integration/pom.xml
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/AsyncExecutorProvider.java
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
Labels: 2.x, dependencies, jax-rs

#1645 Executor service for Jersey managed async executor is now configurabl…
  dependencies/pom.xml
  microprofile/server/src/main/java/io/helidon/microprofile/server/ServerImpl.java
  tests/integration/mp-gh-1538/pom.xml
  tests/integration/mp-gh-1538/src/main/java/io/helidon/tests/integration/gh1538/JaxRsApplication.java
  tests/integration/mp-gh-1538/src/main/java/io/helidon/tests/integration/gh1538/JaxRsResource.java
  tests/integration/mp-gh-1538/src/main/resources/META-INF/microprofile-config.properties
  tests/integration/mp-gh-1538/src/test/java/io/helidon/tests/integration/gh1538/JaxRsResourceTest.java
  tests/integration/pom.xml
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/AsyncExecutorProvider.java
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
Labels: 1.x, dependencies, jax-rs

#1661 Upgrade yasson to 1.0.6
  dependencies/pom.xml
Labels: 1.x

#1675 Fix ordering of static content and Jersey on server startup
  microprofile/server/src/main/java/io/helidon/microprofile/server/ServerCdiExtension.java
Labels: 2.x, MP, bug

#1674 [Reactive] Fix Multi.timeout onSubscribe/schedule race violating the spec
  common/reactive/src/main/java/io/helidon/common/reactive/MultiTimeout.java
Labels: reactive

#1639 Docs: Add custom runtime image guide, maven guide, gradle guide, refactored native image guide.
  docs/about/04_managing-dependencies.adoc
  docs/common/guides/graalnative.adoc
  docs/common/guides/gradle_build.adoc
  docs/common/guides/jlink_image.adoc
  docs/common/guides/maven_build.adoc
  docs/guides/30_dockerfile.adoc
  docs/mp/guides/01_overview.adoc
  docs/mp/guides/02_quickstart.adoc
  docs/mp/guides/25_maven_build.adoc
  docs/mp/guides/26_gradle_build.adoc
  docs/mp/guides/36_graalnative.adoc
  docs/mp/guides/37_jlink_image.adoc
  docs/mp/introduction/01_introduction.adoc
  docs/se/guides/01_overview.adoc
  docs/se/guides/02_quickstart.adoc
  docs/se/guides/25_maven_build.adoc
  docs/se/guides/26_gradle_build.adoc
  docs/se/guides/36_graalnative.adoc
  docs/se/guides/37_jlink_image.adoc
  docs/se/introduction/01_introduction.adoc
  etc/scripts/BUILDDOCS.md
  webserver/webserver/src/main/java/io/helidon/webserver/StaticContentSupport.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServer.java
Labels: 2.x, docs

#1483 Helidon Reactive documentation
  docs/mp/reactivemessaging/01_introduction.adoc
  docs/mp/reactivemessaging/02_message.adoc
  docs/mp/reactivemessaging/03_connector.adoc
  docs/mp/reactivestreams/01_overview.adoc
  docs/mp/reactivestreams/02_engine.adoc
  docs/mp/reactivestreams/03_rsoperators.adoc
  docs/se/reactivestreams/01_overview.adoc
  docs/se/reactivestreams/02_engine.adoc
  docs/se/reactivestreams/03_rsoperators.adoc
  docs/shared/reactivestreams/02_engine.adoc
  docs/shared/reactivestreams/03_rsoperators.adoc
Labels: P1, docs, messaging, reactive

#1669 [Reactive] Fix Multi.flatMap losing items on the fastpath when conditions are not met
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFlatMapPublisher.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFlatMapPublisherTest.java
Labels: reactive

#1683 CORS processing should only be enabled on successful responses
  microprofile/cors/src/main/java/io/helidon/microprofile/cors/CorsSupportMp.java
  microprofile/cors/src/main/java/io/helidon/microprofile/cors/CrossOriginFilter.java
  microprofile/cors/src/test/java/io/helidon/microprofile/cors/CrossOriginTest.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/CorsSupportBase.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/CorsSupportHelper.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/ResponseAdapterSe.java
  webserver/cors/src/test/java/io/helidon/webserver/cors/AbstractCorsTest.java
Labels: bug, cors

#1510 Kafka support
  bom/pom.xml
  dependencies/pom.xml
  messaging/connectors/kafka/pom.xml
  messaging/connectors/kafka/src/main/java/io/helidon/messaging/connectors/kafka/EmittingPublisher.java
  messaging/connectors/kafka/src/main/java/io/helidon/messaging/connectors/kafka/KafkaConfig.java
  messaging/connectors/kafka/src/main/java/io/helidon/messaging/connectors/kafka/KafkaConnector.java
  messaging/connectors/kafka/src/main/java/io/helidon/messaging/connectors/kafka/KafkaMessage.java
  messaging/connectors/kafka/src/main/java/io/helidon/messaging/connectors/kafka/KafkaPublisher.java
  messaging/connectors/kafka/src/main/java/io/helidon/messaging/connectors/kafka/KafkaSubscriber.java
  messaging/connectors/kafka/src/main/java/io/helidon/messaging/connectors/kafka/PartitionsAssignedLatch.java
  messaging/connectors/kafka/src/main/java/io/helidon/messaging/connectors/kafka/package-info.java
  messaging/connectors/kafka/src/main/java/module-info.java
  messaging/connectors/pom.xml
  messaging/pom.xml
  microprofile/messaging/src/main/java/io/helidon/microprofile/messaging/IncomingConnector.java
  microprofile/messaging/src/main/java/io/helidon/microprofile/messaging/OutgoingConnector.java
  pom.xml
  tests/integration/kafka/pom.xml
  tests/integration/kafka/src/test/java/io/helidon/messaging/connectors/kafka/AbstractSampleBean.java
  tests/integration/kafka/src/test/java/io/helidon/messaging/connectors/kafka/EmittingPublisherTest.java
  tests/integration/kafka/src/test/java/io/helidon/messaging/connectors/kafka/KafkaCdiExtensionTest.java
  tests/integration/kafka/src/test/java/io/helidon/messaging/connectors/kafka/KafkaPublisherTckTest.java
  tests/integration/kafka/src/test/java/io/helidon/messaging/connectors/kafka/KafkaSubscriberTckTest.java
  tests/integration/kafka/src/test/resources/logging.properties
  tests/integration/pom.xml
Labels: dependencies, messaging, reactive

#1667 Support for mutable config sources to remove regression (even though …
  config/config/src/main/java/io/helidon/config/ConfigSourceMpRuntimeImpl.java
  microprofile/config/src/test/java/io/helidon/microprofile/config/MpConfigInjectionTest.java
  microprofile/config/src/test/java/io/helidon/microprofile/config/MutableMpTest.java
  microprofile/config/src/test/resources/META-INF/beans.xml
  microprofile/config/src/test/resources/META-INF/microprofile-config.properties
Labels: 2.0-M3, 2.x, config

#1687 [Reactive] Verify flatMap doesn't reorder items from the same source
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFlatMapPublisherTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/TestSubscriber.java
Labels: reactive

#1692 Improved testing for DataChunkInputStream
  media/common/src/test/java/io/helidon/media/common/DataChunkInputStreamTest.java
Labels: enhancement, reactive

#1695 New implementation of PublisherInputStream that improves performance and fixes race conditions
  docs-internal/datachunkinputstream.md
  media/common/src/main/java/io/helidon/media/common/ContentReaders.java
  media/common/src/main/java/io/helidon/media/common/DataChunkInputStream.java
  media/common/src/main/java/io/helidon/media/common/PublisherInputStream.java
  media/common/src/test/java/io/helidon/media/common/DataChunkInputStreamTest.java
  media/common/src/test/java/io/helidon/media/common/PublisherInputStreamTest.java
Labels: 1.x, bug, webserver

#1680 Examples: use application pom, clean up READMEs
  examples/dbclient/jdbc/README.md
  examples/dbclient/mongodb/README.md
  examples/dbclient/mongodb/pom.xml
  examples/openapi/README.md
  examples/openapi/pom.xml
  examples/openapi/src/main/resources/META-INF/openapi.yml
  examples/webclient/standalone/README.md
  examples/webclient/standalone/pom.xml
Labels: 2.x

#1700 Make clear which methods expect mapped vs. lower-level CORS config nodes
  microprofile/cors/src/main/java/io/helidon/microprofile/cors/CrossOriginFilter.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/Aggregator.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/CorsSupport.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/CorsSupportBase.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/CorsSupportHelper.java
  webserver/cors/src/test/java/io/helidon/webserver/cors/TestUtil.java
Labels: 2.0-M3

#1703 Fix so we pick up 19.3.1 version of graalvm docker image. Pick up new…
  etc/dockerfiles/Dockerfile.jdk8-graalvm-maven
Labels: 1.x

#1706 2.0 update example Dockerfiles
  examples/employee-app/Dockerfile
  examples/grpc/opentracing/Dockerfile
  examples/integrations/cdi/datasource-hikaricp/Dockerfile
  examples/integrations/cdi/jedis/Dockerfile
  examples/integrations/cdi/oci-objectstorage/Dockerfile
  examples/quickstarts/helidon-quickstart-mp/Dockerfile
  examples/quickstarts/helidon-quickstart-se/Dockerfile
  examples/quickstarts/helidon-standalone-quickstart-mp/Dockerfile
  examples/quickstarts/helidon-standalone-quickstart-mp/pom.xml
  examples/quickstarts/helidon-standalone-quickstart-mp/src/main/java/io/helidon/examples/quickstart/mp/Main.java
  examples/quickstarts/helidon-standalone-quickstart-mp/src/main/resources/logging.properties
  examples/quickstarts/helidon-standalone-quickstart-mp/src/test/java/io/helidon/examples/quickstart/mp/MainTest.java
  examples/quickstarts/helidon-standalone-quickstart-se/Dockerfile
  examples/quickstarts/helidon-standalone-quickstart-se/pom.xml
  examples/todo-app/backend/Dockerfile
  examples/todo-app/frontend/Dockerfile
  examples/translator-app/backend/Dockerfile
  examples/translator-app/frontend/Dockerfile
  examples/webserver/opentracing/Dockerfile
Labels: 2.x

#1691 Updated Config SPI documentation.
  docs/se/config/07_extensions.adoc
Labels: 2.x, docs
