Repository helidon-io/helidon, pull requests merged in 2020-09, with the labels that each got.

#2269 Introduces an ExecutorServices implementation to Helidon's repackaged Weld implementation to ensure context classloaders are never null
  microprofile/cdi/src/main/java/io/helidon/microprofile/cdi/ExecutorServices.java
  microprofile/cdi/src/main/java/module-info.java
  microprofile/cdi/src/main/resources/META-INF/services/org.jboss.weld.bootstrap.api.Service
Labels: P3

#2303 Support for non-String parameters in JAX-RS for native image
  integrations/graal/native-image-extension/src/main/java/io/helidon/integrations/graal/nativeimage/extension/HelidonReflectionFeature.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/JaxRsResource.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/Mp1Main.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/RestClientIface.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/TestBean.java
Labels: 2.x, MP, bug, jax-rs, native-image

#2308 Update MediaType, lazy non known type, read-only parameters map
  common/http/src/main/java/io/helidon/common/http/MediaType.java
Labels: 2.x, SE

#2309 Webclient uses relative uri in request instead of full uri
  tests/integration/webclient/src/test/java/io/helidon/tests/integration/webclient/TracingPropagationTest.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilderImpl.java
Labels: 2.x, webclient

#2283 Fix issue with gRPC clients and services where method signatures have types with nested generics
  microprofile/grpc/client/src/test/java/io/helidon/microprofile/grpc/client/GrpcProxyBuilderTest.java
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/ModelHelper.java
  microprofile/grpc/server/src/test/java/io/helidon/microprofile/grpc/server/GrpcServiceBuilderTest.java
Labels: 2.x

#2097 Tyrus server support for native-image in SE
  common/common/src/main/java/io/helidon/common/FeatureCatalog.java
  dependencies/pom.xml
  docs/se/aot/01_introduction.adoc
  integrations/graal/native-image-extension/src/main/java/io/helidon/integrations/graal/nativeimage/extension/HelidonReflectionFeature.java
  tests/integration/native-image/se-1/README.md
  tests/integration/native-image/se-1/pom.xml
  tests/integration/native-image/se-1/src/main/java/io/helidon/tests/integration/nativeimage/se1/Se1Main.java
  tests/integration/native-image/se-1/src/main/java/io/helidon/tests/integration/nativeimage/se1/WebSocketEndpoint.java
  webserver/tyrus/src/main/resources/META-INF/helidon/native-image/reflection-config.json
Labels: 2.x, SE, dependencies, native-image, websocket

#2319 Update changelog 2.0.2
  CHANGELOG.md
Labels: 2.x

#2321 Changes of the request via WebClientService are now propagated
  tests/integration/webclient/src/main/java/io/helidon/tests/integration/webclient/GreetService.java
  tests/integration/webclient/src/test/java/io/helidon/tests/integration/webclient/TracingPropagationTest.java
  tests/integration/webclient/src/test/java/io/helidon/tests/integration/webclient/WebclientServiceValuePropagationTest.java
  webclient/tracing/src/main/java/io/helidon/webclient/tracing/WebClientTracing.java
  webclient/webclient/src/main/java/io/helidon/webclient/Proxy.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilderImpl.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientServiceRequest.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientServiceRequestImpl.java
Labels: 2.x, webclient

#2328 Docs: rename migration guide to upgrade guide. Add top level upgrade doc
  docs/about/10_upgrade.adoc
  docs/mp/guides/15_migration.adoc
  docs/se/guides/15_migration.adoc
Labels: 2.x, docs

#2322 Use Config.getPropertyNames() instead of retrieving getPropertyNames() from ConfigSources
  integrations/cdi/datasource/src/main/java/io/helidon/integrations/datasource/cdi/AbstractDataSourceExtension.java
Labels: MP

#2335 Support for methods in outbound targets.
  security/providers/common/src/main/java/io/helidon/security/providers/common/OutboundConfig.java
  security/providers/common/src/main/java/io/helidon/security/providers/common/OutboundTarget.java
  security/providers/common/src/test/java/io/helidon/security/providers/common/OutboundTargetTest.java
Labels: 2.x, security

#2329 Update MP Database archetype README to use "type" not "idType"
  archetypes/database-mp/src/main/resources/README.md.mustache
Labels: 2.x

#2330 Update Jackson version in third party license file
  THIRD_PARTY_LICENSES.txt
Labels: 2.x

#2307 Update surefire and failsafe to 3.0.0-M5
  applications/pom.xml
  archetypes/database-se/src/main/resources/pom.xml.mustache
  config/git/pom.xml
  examples/dbclient/jdbc/pom.xml
  examples/dbclient/mongodb/pom.xml
  examples/dbclient/pokemons/pom.xml
  microprofile/fault-tolerance/pom.xml
  microprofile/openapi/pom.xml
  pom.xml
  tests/apps/bookstore/bookstore-mp/pom.xml
  tests/apps/bookstore/bookstore-se/pom.xml
  tests/functional/bookstore/pom.xml
  tests/integration/mp-grpc/pom.xml
  tests/integration/native-image/mp-1/pom.xml
  tests/integration/native-image/se-1/pom.xml
  tests/pom.xml
Labels: 2.x, build

#2350 AbstractDataSourceExtension now uses Config.getPropertyNames()
  integrations/cdi/datasource/src/main/java/io/helidon/integrations/datasource/cdi/AbstractDataSourceExtension.java
Labels: 1.x, jpa/jta

#2349 Single.never not singleton
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleNever.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleTest.java
Labels: bug, reactive

#1849 Updated maven surefire plugin to helidon-standalone-quickstart-mp
  examples/quickstarts/helidon-standalone-quickstart-mp/pom.xml
Labels: build

#2359 Limit module visibility by making several classes package private
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/AsynchronousAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/BulkheadAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/CircuitBreakerAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/CommandBinding.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/CommandInterceptor.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FallbackAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/LiteralCommandBinding.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/MethodAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/MethodInvoker.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/RetryAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/TimeoutAntn.java
Labels: fault-tolerance

#1934 WebSocket Extensions
  dependencies/pom.xml
  microprofile/websocket/src/main/java/io/helidon/microprofile/tyrus/WebSocketApplication.java
  microprofile/websocket/src/main/java/io/helidon/microprofile/tyrus/WebSocketCdiExtension.java
  microprofile/websocket/src/test/java/io/helidon/microprofile/tyrus/EchoClient.java
  microprofile/websocket/src/test/java/io/helidon/microprofile/tyrus/WebSocketEndpointAppTest.java
  microprofile/websocket/src/test/java/io/helidon/microprofile/tyrus/WebSocketExtensionEndpointTest.java
  webserver/tyrus/src/main/java/io/helidon/webserver/tyrus/TyrusSupport.java
Labels: 2.x, dependencies

#2367 Update javadoc of EvictableCache
  security/providers/common/src/main/java/io/helidon/security/providers/common/EvictableCache.java
Labels: bug, docs

#2374 Use latest version for helidon plugin to include native image fix.
  applications/pom.xml
  examples/quickstarts/helidon-standalone-quickstart-mp/pom.xml
  examples/quickstarts/helidon-standalone-quickstart-se/pom.xml
Labels: 2.x, bug, native-image

#2368 Added support for remote host and port to jersey and security 2.x
  security/integration/jersey/src/main/java/io/helidon/security/integration/jersey/SecurityFilterCommon.java
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
Labels: 2.x, security

#2370 Updates to FT tests to take advantage of @HelidonTest
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FaultToleranceMetrics.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/AsynchronousBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/AsynchronousCallerBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/AsynchronousTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/BaseFallbackBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/BulkheadBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/BulkheadTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/CircuitBreakerBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/CircuitBreakerTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/ConfigClassTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/ConfigGlobalTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/ConfigMethodTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/FallbackBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/FallbackTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/FaultToleranceTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/MethodAntnTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/MetricsBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/MetricsTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/RetryBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/RetryTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/SyntheticRetryBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/ThreadPoolConfigTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/TimedTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/TimeoutBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/TimeoutNoRetryBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/TimeoutTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/UnitTestException.java
Labels: enhancement, fault-tolerance

#2369 Added support for remote host and port to jersey and security 1.x
  security/integration/jersey/src/main/java/io/helidon/security/integration/jersey/SecurityFilterCommon.java
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
Labels: 1.x, security

#2351 fix MP/SE framework distinction
  docs/common/guides/graalnative.adoc
Labels: 2.x, docs

#2366 Upgrade Jaeger to align with opentracing version.
  dependencies/pom.xml
Labels: bug, dependencies, tracing

#2378 OIDC fixes
  examples/microprofile/oidc/src/main/resources/application.yaml
  examples/microprofile/oidc/src/main/resources/logging.properties
  security/integration/jersey-client/src/main/java/io/helidon/security/integration/jersey/client/ClientSecurityAutoDiscoverable.java
  security/integration/jersey/src/main/java/io/helidon/security/integration/jersey/SecurityPreMatchingFilter.java
  security/providers/common/src/main/java/io/helidon/security/providers/common/OutboundConfig.java
  security/providers/oidc-common/src/main/java/io/helidon/security/providers/oidc/common/IdcsSupport.java
  security/providers/oidc-common/src/main/java/io/helidon/security/providers/oidc/common/OidcConfig.java
  tests/integration/mp-gh-1538/src/main/java/io/helidon/tests/integration/gh1538/JaxRsResource.java
  tests/integration/mp-gh-1538/src/test/java/io/helidon/tests/integration/gh1538/JaxRsResourceTest.java
  webclient/security/pom.xml
  webclient/security/src/main/java/io/helidon/webclient/security/WebClientSecurity.java
  webclient/security/src/main/java/module-info.java
Labels: 2.x, security

#2387 Updated test to verify @CircuitBreaker does not interfere with request scope
  tests/functional/context-propagation/src/main/java/io/helidon/tests/functional/context/hello/HelloResource.java
Labels: fault-tolerance

#2384 1.x: Upgrade Jackson to 2.11.1
  dependencies/pom.xml
Labels: 1.x, dependencies

#2388 Update gRPC Version
  dependencies/pom.xml
  grpc/io.grpc/src/main/java/module-info.java
Labels: dependencies, grpc

#2379 Enable support for HTTP compression in the webserver
  tests/functional/mp-compression/pom.xml
  tests/functional/mp-compression/src/main/java/io/helidon/tests/functional/mpcompression/MpResource.java
  tests/functional/mp-compression/src/main/java/io/helidon/tests/functional/mpcompression/package-info.java
  tests/functional/mp-compression/src/main/resources/META-INF/beans.xml
  tests/functional/mp-compression/src/main/resources/META-INF/microprofile-config.properties
  tests/functional/mp-compression/src/test/java/io/helidon/tests/functional/mpcompression/MpCompressionTest.java
  tests/functional/mp-compression/src/test/resources/logging.properties
  tests/functional/pom.xml
  webserver/jersey/src/test/java/io/helidon/webserver/jersey/JerseySupportTest.java
  webserver/webserver/src/main/java/io/helidon/webserver/HttpInitializer.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerBasicConfig.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerConfiguration.java
  webserver/webserver/src/main/java/io/helidon/webserver/SocketConfiguration.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServer.java
  webserver/webserver/src/test/java/io/helidon/webserver/CompressionTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/TransferEncodingTest.java
Labels: enhancement, webserver

#2390 New WebServer document describing how to enable HTTP compression
  docs/se/webserver/13_http-compression.adoc
Labels: docs, webclient

#2393 Fix 2391 Bug in generated Dockerfile.native from quickstart-mp
  archetypes/quickstart-mp/src/main/resources/Dockerfile.native.mustache
Labels: 2.x

#2394 Add license text to THIRD_PARTY_LICENSES.xml
  etc/THIRD_PARTY_LICENSES.xml
Labels: 2.x

#2396 Downgraded tracer resolver to use correct opentracing version.
  dependencies/pom.xml
  tracing/tracer-resolver/src/main/java9/module-info.java
Labels: 1.x, dependencies

#2399 Fault Tolerance SE Documentation
  docs/se/faulttolerance/01_faulttolerance.adoc
  docs/sitegen.yaml
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Bulkhead.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/CircuitBreaker.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Fallback.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Timeout.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/package-info.java
Labels: docs, fault-tolerance

#2361 ClassPathContentHandler can survive tmp folder cleanup
  microprofile/server/src/main/java/io/helidon/microprofile/server/ServerCdiExtension.java
  webserver/webserver/src/main/java/io/helidon/webserver/ClassPathContentHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/StaticContentSupport.java
  webserver/webserver/src/test/java/io/helidon/webserver/StaticContentHandlerTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/UnstableTempTest.java
Labels: bug, webserver
