Repository helidon-io/helidon, pull requests merged in 2020-07, with the labels that each got.

#2116 Properly use path() when creating invocations
  archetypes/bare-mp/src/main/resources/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/database-mp/src/main/resources/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/quickstart-mp/src/main/resources/src/test/java/__pkg__/MainTest.java.mustache
Labels: archetypes

#2117 Added <relativePath/> to avoid warnings
  archetypes/bare-mp/src/main/resources/pom.xml.mustache
  archetypes/bare-se/src/main/resources/pom.xml.mustache
  archetypes/database-mp/src/main/resources/pom.xml.mustache
  archetypes/database-se/src/main/resources/pom.xml.mustache
  archetypes/quickstart-mp/src/main/resources/pom.xml.mustache
  archetypes/quickstart-se/src/main/resources/pom.xml.mustache
Labels: archetypes

#2118 Minor doc fixes #2093 #2086 #2085
  docs/community/01_community.adoc
  docs/mp/guides/01_overview.adoc
  docs/mp/introduction/01_introduction.adoc
  docs/se/guides/01_overview.adoc
  docs/se/introduction/01_introduction.adoc
Labels: 2.x

#2119 Docs: fix minor issues #2081 #427
  docs/se/config/04_property-mapping.adoc
  docs/se/webserver/06_static-content-support.adoc
Labels: 2.x, docs

#2078 Native image update
  integrations/graal/native-image-extension/pom.xml
  integrations/graal/native-image-extension/src/main/java/io/helidon/integrations/graal/nativeimage/extension/HelidonReflectionFeature.java
  integrations/graal/native-image-extension/src/main/resources/META-INF/native-image/io.helidon/helidon/native-image.properties
  pom.xml
  tests/integration/native-image/mp-1/README.md
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/Mp1Main.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/TestDto.java
  tests/integration/native-image/mp-1/src/main/resources/META-INF/native-image/tests/mp-1/resource-config.json
  webserver/jersey/src/main/resources/META-INF/helidon/native-image/reflection-config.json
Labels: 2.x, dependencies, native-image

#2135 Change Dockerfiles to use maven.test.skip (not skipTests)
  archetypes/quickstart-mp/src/main/resources/Dockerfile.jlink.mustache
  archetypes/quickstart-mp/src/main/resources/Dockerfile.mustache
  archetypes/quickstart-mp/src/main/resources/Dockerfile.native.mustache
  archetypes/quickstart-se/src/main/resources/Dockerfile.jlink.mustache
  archetypes/quickstart-se/src/main/resources/Dockerfile.mustache
  archetypes/quickstart-se/src/main/resources/Dockerfile.native.mustache
  examples/employee-app/Dockerfile
  examples/grpc/opentracing/Dockerfile
  examples/integrations/cdi/datasource-hikaricp/Dockerfile
  examples/integrations/cdi/jedis/Dockerfile
  examples/integrations/cdi/oci-objectstorage/Dockerfile
  examples/quickstarts/helidon-quickstart-mp/Dockerfile
  examples/quickstarts/helidon-quickstart-mp/Dockerfile.jlink
  examples/quickstarts/helidon-quickstart-mp/Dockerfile.native
  examples/quickstarts/helidon-quickstart-se/Dockerfile
  examples/quickstarts/helidon-quickstart-se/Dockerfile.jlink
  examples/quickstarts/helidon-quickstart-se/Dockerfile.native
  examples/quickstarts/helidon-standalone-quickstart-mp/Dockerfile
  examples/quickstarts/helidon-standalone-quickstart-mp/Dockerfile.jlink
  examples/quickstarts/helidon-standalone-quickstart-mp/Dockerfile.native
  examples/quickstarts/helidon-standalone-quickstart-se/Dockerfile
  examples/quickstarts/helidon-standalone-quickstart-se/Dockerfile.jlink
  examples/quickstarts/helidon-standalone-quickstart-se/Dockerfile.native
  examples/todo-app/backend/Dockerfile
  examples/todo-app/frontend/Dockerfile
  examples/translator-app/backend/Dockerfile
  examples/webserver/opentracing/Dockerfile
Labels: 2.x

#2141 Add app.yaml to quickstart archetypes. Update k8s support in docs.
  archetypes/quickstart-mp/src/main/resources/META-INF/helidon-archetype.xml.mustache
  archetypes/quickstart-mp/src/main/resources/README.md.mustache
  archetypes/quickstart-mp/src/main/resources/app.yaml
  archetypes/quickstart-mp/src/main/resources/app.yaml.mustache
  archetypes/quickstart-se/src/main/resources/META-INF/helidon-archetype.xml.mustache
  archetypes/quickstart-se/src/main/resources/README.md.mustache
  archetypes/quickstart-se/src/main/resources/app.yaml
  archetypes/quickstart-se/src/main/resources/app.yaml.mustache
  docs/about/03_prerequisites.adoc
  docs/mp/guides/02_quickstart.adoc
  docs/se/guides/02_quickstart.adoc
Labels: 2.x

#2049 Boolean values of secure & httpOnly are ignored.
  common/http/src/main/java/io/helidon/common/http/SetCookie.java
Labels: 1.x, bug

#2138 Upgrading to the latest version of the Eclipselink Maven plugin and aligning Eclipselink version to correspond with it.
  applications/mp/pom.xml
  dependencies/pom.xml
  examples/integrations/cdi/pokemons/pom.xml
  examples/quickstarts/helidon-standalone-quickstart-mp/pom.xml
  integrations/cdi/jpa-cdi/pom.xml
  pom.xml
Labels: build, jpa/jta

#2146 Add -Declipselink.weave.skip to quickstart Dockerfiles
  archetypes/quickstart-mp/src/main/resources/Dockerfile.jlink.mustache
  archetypes/quickstart-mp/src/main/resources/Dockerfile.mustache
  archetypes/quickstart-mp/src/main/resources/Dockerfile.native.mustache
  archetypes/quickstart-se/src/main/resources/Dockerfile.jlink.mustache
  archetypes/quickstart-se/src/main/resources/Dockerfile.mustache
  archetypes/quickstart-se/src/main/resources/Dockerfile.native.mustache
  examples/quickstarts/helidon-quickstart-mp/Dockerfile
  examples/quickstarts/helidon-quickstart-mp/Dockerfile.jlink
  examples/quickstarts/helidon-quickstart-mp/Dockerfile.native
  examples/quickstarts/helidon-quickstart-se/Dockerfile
  examples/quickstarts/helidon-quickstart-se/Dockerfile.jlink
  examples/quickstarts/helidon-quickstart-se/Dockerfile.native
  examples/quickstarts/helidon-standalone-quickstart-mp/Dockerfile
  examples/quickstarts/helidon-standalone-quickstart-mp/Dockerfile.jlink
  examples/quickstarts/helidon-standalone-quickstart-mp/Dockerfile.native
  examples/quickstarts/helidon-standalone-quickstart-se/Dockerfile
  examples/quickstarts/helidon-standalone-quickstart-se/Dockerfile.jlink
  examples/quickstarts/helidon-standalone-quickstart-se/Dockerfile.native
Labels: 2.x

#2148 Move CLI documentation to a single page under About
  docs/about/05_cli.adoc
  docs/mp/cli/01_cli.adoc
  docs/mp/guides/02_quickstart.adoc
  docs/se/cli/01_cli.adoc
  docs/se/guides/02_quickstart.adoc
  docs/sitegen.yaml
Labels: 2.x, docs

#2152 Docs: update MP tutorial to be correct for Helidon 2.0
  docs/mp/guides/10_mp-tutorial.adoc
Labels: 2.x

#2150 WebClient redirection to path fix
  tests/integration/webclient/src/main/java/io/helidon/tests/integration/webclient/GreetService.java
  tests/integration/webclient/src/test/java/io/helidon/tests/integration/webclient/RequestTest.java
  webclient/webclient/src/main/java/io/helidon/webclient/RedirectInterceptor.java
Labels: webclient

#2156 Security can now be disabled.
  microprofile/oidc/src/main/java/io/helidon/microprofile/oidc/OidcMpService.java
  microprofile/security/src/main/java/io/helidon/microprofile/security/SecurityMpService.java
  security/integration/webserver/src/main/java/io/helidon/security/integration/webserver/WebSecurity.java
  security/security/src/main/java/io/helidon/security/Security.java
Labels: 1.x, security

#2154 Security injection in application scope.
  microprofile/security/src/main/java/io/helidon/microprofile/security/SecurityCdiExtension.java
  microprofile/security/src/main/java/io/helidon/microprofile/security/SecurityProducer.java
  microprofile/security/src/test/java/io/helidon/microprofile/security/InjectionTest.java
  microprofile/security/src/test/java/io/helidon/microprofile/security/TestBean.java
  microprofile/security/src/test/resources/META-INF/beans.xml
Labels: 2.x, cdi, security

#2157 Security can now be disabled.
  microprofile/oidc/src/main/java/io/helidon/microprofile/oidc/OidcCdiExtension.java
  microprofile/security/src/main/java/io/helidon/microprofile/security/SecurityCdiExtension.java
  security/integration/webserver/src/main/java/io/helidon/security/integration/webserver/WebSecurity.java
  security/security/src/main/java/io/helidon/security/Security.java
Labels: 2.x, security

#2162 Upgrade Jackson to 2.11.1
  dependencies/pom.xml
Labels: 2.x, dependencies

#2139 Webclient keep-alive
  tests/integration/webclient/src/test/java/io/helidon/tests/integration/webclient/TestParent.java
  webclient/webclient/src/main/java/io/helidon/webclient/NettyClient.java
  webclient/webclient/src/main/java/io/helidon/webclient/NettyClientHandler.java
  webclient/webclient/src/main/java/io/helidon/webclient/NettyClientInitializer.java
  webclient/webclient/src/main/java/io/helidon/webclient/Proxy.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClient.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientConfiguration.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilder.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilderImpl.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientResponse.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientTls.java
Labels: webclient

#2163 Update microprofile examples to use microprofile-config.properties
  examples/microprofile/hello-world-explicit/README.md
  examples/microprofile/hello-world-explicit/src/main/java/io/helidon/microprofile/example/helloworld/explicit/Main.java
  examples/microprofile/hello-world-explicit/src/main/resources/META-INF/microprofile-config.properties
  examples/microprofile/hello-world-implicit/README.md
  examples/microprofile/hello-world-implicit/src/main/java/io/helidon/microprofile/example/helloworld/implicit/AnotherResource.java
  examples/microprofile/hello-world-implicit/src/main/resources/META-INF/microprofile-config.properties
Labels: examples

#2166 Mutual TLS support backport
  webserver/webserver/src/main/java/io/helidon/webserver/ClientAuthentication.java
  webserver/webserver/src/main/java/io/helidon/webserver/NettyWebServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerBasicConfig.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerConfiguration.java
  webserver/webserver/src/main/java/io/helidon/webserver/SocketConfiguration.java
Labels: 1.x, webserver

#2177 Upgrade Weld to 3.1.4
  dependencies/pom.xml
Labels: 2.x, cdi, dependencies

#2198 Corrected dependency information in the JPA guide for MP.
  docs/mp/guides/09_jpa.adoc
Labels: docs

#2204 Upgrade to Netty 4.1.51
  dependencies/pom.xml
Labels: 2.x, dependencies

#2217 Migration Guides: add section for Getters returning Optional. Fix code blocks.
  docs/mp/guides/15_migration.adoc
  docs/se/guides/15_migration.adoc
Labels: 2.x, docs

#2193 Multipart decoder rework
  docs-internal/multipartdecoder.md
  media/multipart/src/main/java/io/helidon/media/multipart/MimeParser.java
  media/multipart/src/main/java/io/helidon/media/multipart/MultiPartDecoder.java
  media/multipart/src/test/java/io/helidon/media/multipart/MimeParserTest.java
  media/multipart/src/test/java/io/helidon/media/multipart/MultiPartDecoderSubsWhiteBoxTckTest.java
  media/multipart/src/test/java/io/helidon/media/multipart/MultiPartDecoderTckTest.java
  media/multipart/src/test/java/io/helidon/media/multipart/MultiPartDecoderTest.java
Labels: SE

#2214 Quickstart gradle fixes
  examples/quickstarts/helidon-quickstart-mp/build.gradle
  examples/quickstarts/helidon-quickstart-se/build.gradle
Labels: 2.x, examples

#2212 Upgrade Hibernate to 5.4.18.Final
  applications/mp/pom.xml
  dependencies/pom.xml
  integrations/cdi/jpa-cdi/src/test/resources/META-INF/persistence.xml
Labels: 2.x, dependencies

#2226 1.4: Update build.gradle files to correct dep mgmt and enable tests
  examples/quickstarts/helidon-quickstart-mp/build.gradle
  examples/quickstarts/helidon-quickstart-se/build.gradle
Labels: 1.x, build
