Repository helidon-io/helidon, pull requests merged in 2020-03, with the labels that each got.

#1442 Reimplement many operators + TCK tests
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiDistinctPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFilterPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFlatMapPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiLimitPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiSkipPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiTakeWhilePublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiTappedPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleFlatMapSingle.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiDistinctPublisherModuloTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiDistinctPublisherTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFilterPublisherTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFilterPublisherTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFlatMapPublisherManyToOneTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFlatMapPublisherOneToManyTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFlatMapPublisherTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiLimitPublisherMoreTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiLimitPublisherTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiLimitPublisherZeroTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiOnCompleteTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiOnErrorTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiOnTerminateTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiPeekTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiPeekTwiceTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiSkipPublisherNoSkipTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiSkipPublisherTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiSkipPublisherTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTakeWhilePublisherTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTakeWhilePublisherTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTappedPublisherTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleFlatMapSingleTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleFlatMapSingleTest.java
Labels: reactive

#1452 Reimplement ConcatPublisher + TCK tests
  common/reactive/src/main/java/io/helidon/common/reactive/ConcatPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/SubscriptionHelper.java
  common/reactive/src/test/java/io/helidon/common/reactive/ConcatPublisher2TckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/ConcatPublisherTckTest.java
  microprofile/reactive-streams/src/main/java/io/helidon/microprofile/reactive/GraphBuilder.java
Labels: reactive

#1456 Reimplement Single.map + TCK test
  common/reactive/src/main/java/io/helidon/common/reactive/MultiMapperPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleMapperPublisher.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleMapperPublisherTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleTest.java
Labels: reactive

#1463 Expand TestSubscriber's API, fix a bug in MultiFirstProcessor
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFirstProcessor.java
  common/reactive/src/test/java/io/helidon/common/reactive/BaseProcessorTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/TestSubscriber.java
Labels: reactive

#1471 Added small test to verify database changes in existing JPA test
  integrations/cdi/jpa-cdi/src/test/java/io/helidon/integrations/cdi/jpa/chirp/TestJpaTransactionScopedSynchronizedEntityManager.java
Labels: P3, jpa/jta

#1459 Rewrite collect, add juc.Collector overload + TCK tests
  common/reactive/src/main/java/io/helidon/common/reactive/DeferredScalarSubscription.java
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiCollectPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiCollectorPublisher.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiCollectTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiCollectTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiCollectorTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiCollectorTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTest.java
Labels: reactive

#1472 Fix expected exception
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTest.java
Labels: reactive

#1461 Reimplement Multi.just(T[]), add Multi.singleton(T) + TCK
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFromArrayPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiJustPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/SubscriptionHelper.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFlatMapPublisherTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFromArrayTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFromArrayTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiJustTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTakeWhilePublisherTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTappedPublisherTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SubscribableTest.java
  media/common/src/test/java/io/helidon/media/common/ContentReadersTest.java
  media/jsonp/server/src/test/java/io/helidon/media/jsonp/server/JsonContentReaderTest.java
  webserver/test-support/src/main/java/io/helidon/webserver/testsupport/MediaPublisher.java
  webserver/webserver/src/test/java/io/helidon/webserver/RequestContentTest.java
Labels: reactive

#1464 Reimplement Multi.dropWhile + TCK test
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiDropWhilePublisher.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiDropWhileTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiDropWhileTest.java
Labels: reactive

#1462 Add JMH Benchmark baseline to reactive
  common/reactive/pom.xml
  common/reactive/src/test/java/io/helidon/common/reactive/jmh/BaselineJMH.java
  common/reactive/src/test/java/io/helidon/common/reactive/jmh/BaselineSoloJMH.java
  common/reactive/src/test/java/io/helidon/common/reactive/jmh/SyncBoundedJmhSubscriber.java
  common/reactive/src/test/java/io/helidon/common/reactive/jmh/SyncUnboundedJmhSubscriber.java
  pom.xml
Labels: reactive

#1465 Reimplement Single.flatMap(->Publisher) + TCK test
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleFlatMapMulti.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleFlatMapMultiTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleFlatMapMultiTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleTest.java
Labels: reactive

#1466 Reimplement Multi.first + TCK test
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFirstPublisher.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFirstPublisherTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFirstPublisherTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTest.java
Labels: reactive

#1467 Reimplement Multi.flatMapIterable + TCK test
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFlatMapIterable.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFlatMapIterableManyToManyTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFlatMapIterableManyToOneTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFlatMapIterableOneToManyTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFlatMapIterableTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/TestSubscriber.java
Labels: reactive

#1475 Add Multi.range and Multi.rangeLong + TCK tests
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiRangeLongPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiRangePublisher.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiRangeLongTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiRangeLongTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiRangeTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiRangeTest.java
Labels: reactive

#1473 Resolves JTA/JPA transaction synchronization issues
  integrations/cdi/jpa-cdi/pom.xml
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/ConditionallyCloseableConnection.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JtaDataSource.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JtaDataSourceProvider.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/XADataSourceWrappingDataSource.java
  integrations/cdi/jpa-cdi/src/test/java/io/helidon/integrations/cdi/jpa/chirp/TestCascadePersist.java
  integrations/cdi/jpa-cdi/src/test/java/io/helidon/integrations/cdi/jpa/chirp/TestJpaTransactionScopedSynchronizedEntityManager.java
  integrations/cdi/jpa-cdi/src/test/java/io/helidon/integrations/cdi/jpa/chirp/TestRollbackScenarios.java
  integrations/cdi/jpa-cdi/src/test/java/io/helidon/integrations/cdi/jpa/chirp/TestWithTransactionalInterceptors.java
  integrations/cdi/jpa-cdi/src/test/resources/META-INF/hibernate.properties
  integrations/cdi/jpa-cdi/src/test/resources/META-INF/persistence.xml
  pom.xml
Labels: jpa/jta

#1476 Backport PR 1473 fixes
  integrations/cdi/jpa-cdi/pom.xml
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/ConditionallyCloseableConnection.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JtaDataSource.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JtaDataSourceProvider.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/XADataSourceWrappingDataSource.java
  integrations/cdi/jpa-cdi/src/test/java/io/helidon/integrations/cdi/jpa/chirp/TestCascadePersist.java
  integrations/cdi/jpa-cdi/src/test/java/io/helidon/integrations/cdi/jpa/chirp/TestJpaTransactionScopedSynchronizedEntityManager.java
  integrations/cdi/jpa-cdi/src/test/java/io/helidon/integrations/cdi/jpa/chirp/TestRollbackScenarios.java
  integrations/cdi/jpa-cdi/src/test/java/io/helidon/integrations/cdi/jpa/chirp/TestWithTransactionalInterceptors.java
  integrations/cdi/jpa-cdi/src/test/resources/META-INF/hibernate.properties
  integrations/cdi/jpa-cdi/src/test/resources/META-INF/persistence.xml
  pom.xml
Labels: 1.x, jpa/jta

#1458 Remove dependency on Jackson via SmallRye -2.x
  examples/openapi/src/main/resources/META-INF/openapi.yml
  microprofile/tests/tck/tck-rest-client/pom.xml
  openapi/pom.xml
  openapi/src/main/java/io/helidon/openapi/CustomConstructor.java
  openapi/src/main/java/io/helidon/openapi/ExpandedTypeDescription.java
  openapi/src/main/java/io/helidon/openapi/ImplTypeDescription.java
  openapi/src/main/java/io/helidon/openapi/OpenAPIParser.java
  openapi/src/main/java/io/helidon/openapi/OpenAPISupport.java
  openapi/src/main/java/io/helidon/openapi/Serializer.java
  openapi/src/main/java/io/helidon/openapi/internal/OpenAPIConfigImpl.java
  openapi/src/main/java/module-info.java
  openapi/src/test/java/io/helidon/openapi/ParseTest.java
  openapi/src/test/java/io/helidon/openapi/SerializerTest.java
  openapi/src/test/java/io/helidon/openapi/TestUtil.java
  openapi/src/test/resources/openapi-greeting.yml
  openapi/src/test/resources/petstore.json
  openapi/src/test/resources/petstore.yaml
  pom.xml
Labels: 2.x, open-api

#1457 Remove dependency on Jackson via SmallRye - 1.x
  examples/openapi/src/main/resources/META-INF/openapi.yml
  microprofile/tests/tck/tck-rest-client/pom.xml
  openapi/pom.xml
  openapi/src/main/java/io/helidon/openapi/CustomConstructor.java
  openapi/src/main/java/io/helidon/openapi/ExpandedTypeDescription.java
  openapi/src/main/java/io/helidon/openapi/ImplTypeDescription.java
  openapi/src/main/java/io/helidon/openapi/OpenAPIParser.java
  openapi/src/main/java/io/helidon/openapi/OpenAPISupport.java
  openapi/src/main/java/io/helidon/openapi/Serializer.java
  openapi/src/main/java/io/helidon/openapi/internal/OpenAPIConfigImpl.java
  openapi/src/main/java9/module-info.java
  openapi/src/test/java/io/helidon/openapi/ParserTest.java
  openapi/src/test/java/io/helidon/openapi/SerializerTest.java
  openapi/src/test/java/io/helidon/openapi/TestUtil.java
  openapi/src/test/resources/openapi-greeting.yml
  openapi/src/test/resources/petstore.json
  openapi/src/test/resources/petstore.yaml
  pom.xml
Labels: 1.x, open-api

#1477 Move onXXX from Subscribable to Single + TCK
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleTappedPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/Subscribable.java
  common/reactive/src/test/java/io/helidon/common/reactive/SinglePeekTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SinglePeekTwiceTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleTappedPublisherTest.java
Labels: reactive

#1481 Reimplement Single.from + TCK tests
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleExactlyOneProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleFromPublisher.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleFromPublisherOneTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleFromPublisherZeroTckTest.java
Labels: reactive

#1482 Add Helidon-Reactive Scrabble benchmark
  common/reactive/src/test/java/io/helidon/common/reactive/jmh/ShakespearePlaysScrabble.java
  common/reactive/src/test/java/io/helidon/common/reactive/jmh/ShakespearePlaysScrabbleWithHelidonReactiveOpt.java
  common/reactive/src/test/resources/ospd.txt
  common/reactive/src/test/resources/words.shakespeare.txt
Labels: reactive

#1486 Safeguard against JAX-RS app modifications after start.
  microprofile/server/src/main/java/io/helidon/microprofile/server/JaxRsCdiExtension.java
  microprofile/server/src/test/java/io/helidon/microprofile/server/JaxRsCdiExtensionTest.java
Labels: 2.x, MP

#1488 Fix merging of value nodes in config 2.0
  config/config/src/main/java/io/helidon/config/ConfigSourcesRuntime.java
  config/config/src/main/java/io/helidon/config/ObjectNodeImpl.java
  config/config/src/main/java/io/helidon/config/ValueNodeImpl.java
  config/config/src/test/java/io/helidon/config/Gh1182Override.java
  config/tests/pom.xml
  config/tests/test-mp-reference/pom.xml
  config/tests/test-mp-reference/src/main/resources/META-INF/microprofile-config.properties
  config/tests/test-mp-reference/src/test/java/io/helidon/config/tests/mpref/MpConfigReferenceTest.java
Labels: 2.x, config

#1492 Fail fast when policy validation fails because of setup/syntax 1.x.
  security/abac/policy-el/src/main/java/io/helidon/security/abac/policy/el/JavaxElPolicyExecutor.java
  security/abac/policy/src/main/java/io/helidon/security/abac/policy/PolicyValidator.java
  tests/integration/pom.xml
  tests/integration/security/gh1487/pom.xml
  tests/integration/security/gh1487/src/main/java/io/helidon/tests/integration/security/gh1487/ProtectedResource.java
  tests/integration/security/gh1487/src/main/resources/META-INF/beans.xml
  tests/integration/security/gh1487/src/main/resources/application.yaml
  tests/integration/security/gh1487/src/test/java/io/helidon/tests/integration/security/gh1487/PolicyStatementTest.java
  tests/integration/security/pom.xml
Labels: 1.x, security

#1490 Fix merging of value nodes in config 1.x
  config/config/src/main/java/io/helidon/config/internal/ObjectNodeImpl.java
  config/config/src/main/java/io/helidon/config/internal/ValueNodeImpl.java
  config/config/src/test/java/io/helidon/config/Gh1182Override.java
Labels: 1.x, config

#1496 1.4: Update version in pom files that were missed in merge
  tests/integration/security/gh1487/pom.xml
  tests/integration/security/pom.xml
Labels: 1.x

#1494 Config cache is not using SoftReference anymore.
  config/config/src/main/java/io/helidon/config/ConfigFactory.java
Labels: 2.x, bug, config

#1495 Config cache is not using SoftReference anymore.
  config/config/src/main/java/io/helidon/config/ConfigFactory.java
Labels: 1.x, bug, config

#1484 Stopped executor service will not cause an error in polling strategy.
  config/config/src/main/java/io/helidon/config/ScheduledPollingStrategy.java
Labels: 2.x, config

#1497 Ensures that JtaDataSource instances that are acquired when a transaction is already active have their Synchronizations registered appropriately
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JtaDataSourceProvider.java
Labels: P1, jpa/jta

#1508 Ensures that JtaDataSource instances that are acquired when a transaction is already active have their Synchronizations registered appropriately
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JtaDataSourceProvider.java
Labels: P1, jpa/jta

#1489 Reimplement onErrorResume[With] + TCK tests
  common/reactive/src/main/java/io/helidon/common/reactive/DeferredScalarSubscription.java
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiError.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiOnErrorResumeWith.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleOnErrorResume.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleOnErrorResumeWith.java
  common/reactive/src/main/java/io/helidon/common/reactive/Subscribable.java
  common/reactive/src/main/java/io/helidon/common/reactive/SubscriptionHelper.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiOnErrorResumeFailureTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiOnErrorResumeSuccessTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiOnErrorResumeTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiOnErrorResumeWithFailureTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiOnErrorResumeWithSuccessTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiOnErrorResumeWithTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleOnErrorResumeFailureTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleOnErrorResumeSuccessTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleOnErrorResumeTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleOnErrorResumeWithFailureTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleOnErrorResumeWithSuccessTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleOnErrorResumeWithTest.java
Labels: reactive

#1502 [Reactive] Implement takeUntil + TCK tests
  common/reactive/src/main/java/io/helidon/common/reactive/HalfSerializer.java
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiTakeUntilPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleTakeUntilPublisher.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTakeUntilPublisherTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTakeUntilPublisherTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleTakeUntilPublisherTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleTakeUntilPublisherTest.java
Labels: reactive

#1503 [Reactive] Implement defer() + TCK tests
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiDefer.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleDefer.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiDeferTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiDeferTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleDeferTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleDeferTest.java
Labels: reactive

#1504 [Reactive] Implement reduce() + TCK tests
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiReduce.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiReduceFull.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiReduceFullTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiReduceFullTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiReduceTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiReduceTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/jmh/ShakespearePlaysScrabbleWithHelidonReactiveOpt.java
Labels: reactive

#1491 Fail fast when policy validation fails because of setup/syntax.
  security/abac/policy-el/src/main/java/io/helidon/security/abac/policy/el/JavaxElPolicyExecutor.java
  security/abac/policy/src/main/java/io/helidon/security/abac/policy/PolicyValidator.java
  tests/integration/pom.xml
  tests/integration/security/gh1487/pom.xml
  tests/integration/security/gh1487/src/main/java/io/helidon/tests/integration/security/gh1487/ProtectedResource.java
  tests/integration/security/gh1487/src/main/resources/META-INF/beans.xml
  tests/integration/security/gh1487/src/main/resources/application.yaml
  tests/integration/security/gh1487/src/test/java/io/helidon/tests/integration/security/gh1487/PolicyStatementTest.java
  tests/integration/security/pom.xml
Labels: 2.x, security

#1516 [Reactive] Implement timer() + TCK tests
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiTimer.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleTimer.java
  common/reactive/src/main/java/io/helidon/common/reactive/TerminatedFuture.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTimerTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleTimerTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/TerminatedFutureTest.java
Labels: reactive

#1517 [Reactive] Implement Single.flatMapIterable + TCK tests
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleFlatMapIterable.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleFlatMapIterableTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleFlatMapIterableTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/jmh/ShakespearePlaysScrabbleWithHelidonReactiveOpt.java
Labels: reactive

#1520 [Reactive] Implement defaultIfEmpty() + TCK tests
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiDefaultIfEmpty.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleDefaultIfEmpty.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiDefaultIfEmptyFallbackTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiDefaultIfEmptyNormalTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiDefaultIfEmptyTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleDefaultIfEmptyFallbackTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleDefaultIfEmptyNormalTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleDefaultIfEmptyTest.java
Labels: reactive

#1343 BaseProcessor back-pressure fix backport from #1282
  common/reactive/src/main/java/io/helidon/common/reactive/BaseProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/RequestedCounter.java
  common/reactive/src/test/java/io/helidon/common/reactive/BaseProcessorTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/TestSubscriber.java
Labels: 1.x, reactive

#1526 [Reactive] Implement Multi.interval() + TCK tests
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiInterval.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiIntervalTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiIntervalTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/TestSubscriber.java
Labels: reactive

#1527 [Reactive] Implement switchIfEmpty + TCK tests
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiSwitchIfEmpty.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleSwitchIfEmpty.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiSwitchIfEmptyFallbackTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiSwitchIfEmptyNormalTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiSwitchIfEmptyTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleSwitchIfEmptyFallbackTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleSwitchIfEmptyNormalTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleSwitchIfEmptyTest.java
Labels: reactive

#1493 Support multiple apps in OpenAPI document
  microprofile/openapi/pom.xml
  microprofile/openapi/src/main/java/io/helidon/microprofile/openapi/MPOpenAPIBuilder.java
  microprofile/openapi/src/main/java/io/helidon/microprofile/openapi/OpenApiCdiExtension.java
  microprofile/openapi/src/test/java/io/helidon/microprofile/openapi/BasicServerTest.java
  microprofile/openapi/src/test/java/io/helidon/microprofile/openapi/TestApp3.java
  microprofile/openapi/src/test/java/io/helidon/microprofile/openapi/TestServerWithConfig.java
  microprofile/openapi/src/test/java/io/helidon/microprofile/openapi/TestUtil.java
  microprofile/server/src/main/java/io/helidon/microprofile/server/JaxRsApplication.java
  microprofile/server/src/main/java/io/helidon/microprofile/server/JaxRsCdiExtension.java
  openapi/src/main/java/io/helidon/openapi/OpenAPISupport.java
  openapi/src/main/java/io/helidon/openapi/SEOpenAPISupportBuilder.java
Labels: 2.x, MP, bug, open-api

#1533 Update release script to release site (docs, javadocs)
  etc/scripts/release.sh
Labels: 2.x

#1530 Resource from config refactoring.
  CHANGELOG.md
  common/configurable/src/main/java/io/helidon/common/configurable/Resource.java
  common/configurable/src/main/java/io/helidon/common/configurable/ResourceUtil.java
  common/configurable/src/main/java/io/helidon/common/configurable/ThreadPool.java
  common/configurable/src/test/java/io/helidon/common/configurable/ResourceTest.java
  common/configurable/src/test/java/io/helidon/common/configurable/ThreadPoolTest.java
  common/configurable/src/test/resources/application.yaml
  common/key-util/src/main/java/io/helidon/common/pki/KeyConfig.java
  common/key-util/src/test/java/io/helidon/common/pki/KeyConfigTest.java
  common/key-util/src/test/resources/application.conf
  common/key-util/src/test/resources/application.yaml
  docs/security/02_providers.adoc
  examples/security/outbound-override/src/main/resources/client-service-jwt.yaml
  examples/security/outbound-override/src/main/resources/serving-service-jwt.yaml
  grpc/core/src/main/java/io/helidon/grpc/core/GrpcTlsDescriptor.java
  grpc/core/src/test/resources/config-ssl.yaml
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JpaExtension.java
  microprofile/jwt-auth/src/main/java/io/helidon/microprofile/jwt/auth/JwtAuthProvider.java
  microprofile/jwt-auth/src/test/resources/application.yaml
  security/providers/jwt/docs/full.yaml
  security/providers/jwt/src/main/java/io/helidon/security/providers/jwt/JwtProvider.java
  security/providers/jwt/src/test/resources/application.yaml
  security/providers/oidc-common/src/main/java/io/helidon/security/providers/oidc/common/OidcConfig.java
  tests/integration/native-image/mp-1/mp-config.yaml
Labels: 2.x, api-change

#1536 javadoc tweaks to avoid deployment problems
  config/test-infrastructure/pom.xml
  microprofile/weld/weld-core-impl/pom.xml
  microprofile/weld/weld-se-core/pom.xml
  pom.xml
  webserver/test-support/pom.xml
Labels: 2.x

#1556 Removes assertions that do not hold when alternatives and specialization are in play
  integrations/cdi/common-cdi/reference-counted-context/src/main/java/io/helidon/integrations/cdi/referencecountedcontext/ReferenceCountedExtension.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JpaTransactionScopedEntityManager.java
Labels: P4, bug, jpa/jta

#1557 Removes assertions that do not hold when alternatives and specialization are in play
  integrations/cdi/common-cdi/reference-counted-context/src/main/java/io/helidon/integrations/cdi/referencecountedcontext/ReferenceCountedExtension.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JpaTransactionScopedEntityManager.java
Labels: P4, bug, jpa/jta

#1532 [Reactive] Implement timeout() + TCK tests
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiTimeout.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleTimeout.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTimeoutFallbackTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTimeoutNormalTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiTimeoutTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleTimeoutFallbackTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleTimeoutNormalTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleTimeoutTest.java
Labels: reactive

#1541 [Reactive] Implement retry() + TCK tests
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiError.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiRetry.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleError.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleRetry.java
  common/reactive/src/main/java/io/helidon/common/reactive/SubscriptionArbiter.java
  common/reactive/src/main/java/io/helidon/common/reactive/SubscriptionHelper.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiRetryTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiRetryTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleRetryTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleRetryTest.java
Labels: reactive

#1543 [Reactive] Apply bugfixes from #1511
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFlatMapIterable.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFlatMapPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiOnErrorResumeWith.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleOnErrorResume.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleOnErrorResumeWith.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiOnErrorResumeTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiOnErrorResumeWithTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleOnErrorResumeTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleOnErrorResumeWithTest.java
Labels: reactive

#1546 [Reactive] Implement observeOn + TCK tests
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiObserveOn.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleObserveOn.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiObserveOnTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiObserveOnTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleObserveOnTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleObserveOnTest.java
Labels: reactive

#1553 OpenAPI support for native-image
  health/health-checks/src/main/resources/META-INF/helidon/native-image/weld-proxies.json
  health/health/src/main/resources/META-INF/helidon/native-image/weld-proxies.json
  microprofile/bundles/helidon-microprofile/pom.xml
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/CommandScheduler.java
  microprofile/openapi/src/main/java/io/helidon/microprofile/openapi/OpenApiCdiExtension.java
  microprofile/server/src/main/java/io/helidon/microprofile/server/JaxRsCdiExtension.java
  microprofile/server/src/main/java/io/helidon/microprofile/server/ServerCdiExtension.java
  microprofile/tests/tck/tck-fault-tolerance/src/test/tck-suite.xml
  openapi/src/main/resources/META-INF/helidon/native-image/reflection-config.json
  tests/integration/native-image/mp-1/pom.xml
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/JaxRsProtectedResource.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/JaxRsResource.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/Mp1Main.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/TestBean.java
  tests/integration/native-image/mp-1/src/main/resources/META-INF/native-image/tests/mp-1/native-image.properties
  tests/integration/native-image/mp-2/pom.xml
  tests/integration/native-image/mp-2/src/main/resources/meta-config.yaml
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/AsyncExecutorProvider.java
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
Labels: dependencies, graal, open-api

#1555 Include dynamically-registered apps in just-in-time jandex index 2.x
  microprofile/openapi/src/main/java/io/helidon/microprofile/openapi/MPOpenAPIBuilder.java
  microprofile/openapi/src/main/java/io/helidon/microprofile/openapi/OpenApiCdiExtension.java
Labels: 2.x, open-api

#1563 [Reactive] Reduce the overhead of flatMapIterable + minor fixes
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFlatMapIterable.java
  common/reactive/src/test/java/io/helidon/common/reactive/jmh/FlatMapIterableJMH.java
Labels: reactive

#1560 Update CHANGELOG after 2.0.0-M2 release
  CHANGELOG.md
Labels: 2.x

#1550 Tweak smoketest.sh script and fix typos in MP quickstart readme
  etc/scripts/smoketest.sh
  examples/quickstarts/helidon-quickstart-mp/README.md
Labels: 2.x

#1569 Upgrade docker image to graalvm-ce-java11-linux-amd64-20.0.0
  etc/dockerfiles/Dockerfile.jdk11-graalvm
  etc/dockerfiles/Dockerfile.jdk11-graalvm-maven
  etc/dockerfiles/build.sh
Labels: 2.x

#1568 [Reactive] Workaround for an RS 1.0.3 TCK bug
  microprofile/reactive-streams/src/main/java/io/helidon/microprofile/reactive/HelidonReactiveStreamsEngine.java
  microprofile/reactive-streams/src/test/java/io/helidon/microprofile/reactive/HelidonReactiveStreamsEngineTckTest.java
  microprofile/tests/tck/tck-reactive-operators/src/test/java/io/helidon/microprofile/reactive/HelidonReactiveStreamsTckTest.java
Labels: reactive

#1575 Removed unnecessary synchronization in metrics registry
  metrics/metrics/src/main/java/io/helidon/metrics/Registry.java
Labels: bug

#1577 Don't remove lib/liblcms.so on graalvm docker image minimization
  etc/dockerfiles/Dockerfile.jdk11-graalvm
Labels: 2.x

#1572 Reactive cleanup
  CHANGELOG.md
  common/reactive/src/main/java/io/helidon/common/reactive/BaseProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/Flows.java
  common/reactive/src/main/java/io/helidon/common/reactive/ListCollector.java
  common/reactive/src/main/java/io/helidon/common/reactive/MappingProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiCollectingProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiCoupledProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiDistinctProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiDropWhileProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFilterProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFirstProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFlatMapProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiLimitProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiMapProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiOnErrorResumeProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiPeekProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiSkipProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiTakeWhileProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiTappedProcessor.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleMappingProcessor.java
  common/reactive/src/test/java/io/helidon/common/reactive/BaseProcessorTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/CoupledProcessorTest.java
  dbclient/mongodb/src/main/java/io/helidon/dbclient/mongodb/MongoDbRows.java
  microprofile/tests/tck/tck-reactive-operators/src/test/java/io/helidon/microprofile/reactive/HelidonReactiveStreamsTckTest.java
  microprofile/tests/tck/tck-reactive-operators/src/test/java/org/eclipse/microprofile/reactive/streams/operators/tck/spi/CustomCoupledStageVerification.java
Labels: reactive

#1579 [Reactive] FIXMEs and signature corrections
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiCollectPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiDistinctPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFlatMapPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFromIterable.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFromStream.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiLimitPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiMapperPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiReduce.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiReduceFull.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiTakeUntilPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiTappedPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleMapperPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleTappedPublisher.java
Labels: reactive

#1581 Removed unnecessary synchronization in metrics registry
  metrics2/metrics2/src/main/java/io/helidon/metrics/Registry.java
Labels: 1.x, bug

#1580 Removed use of Java 9 API.
  config/config/src/test/java/io/helidon/config/Gh1182Override.java
Labels: 1.x, bug

#1582 Add smoketest.sh for helidon-1.x branch. Also verify JDK version is 1.8
  etc/scripts/smoketest.sh
Labels: 1.x

#1586 Under Construction pages, icons
  docs/mp/health/01_introduction.adoc
  docs/mp/jpa/01_introduction.adoc
  docs/mp/jwtauth/01_introduction.adoc
  docs/mp/metrics/01_introduction.adoc
  docs/mp/reactivemessaging/01_introduction.adoc
  docs/mp/reactivestreams/01_introduction.adoc
  docs/se/dbclient/01_introduction.adoc
  docs/se/reactivemessaging/01_introduction.adoc
  docs/se/reactivestreams/01_introduction.adoc
  docs/se/webclient/01_introduction.adoc
  docs/sitegen.yaml
Labels: docs

#1584 DB Example now correctly non-blocking
  dbclient/jdbc/src/main/java/io/helidon/dbclient/jdbc/JdbcDbClientProviderBuilder.java
  dbclient/jdbc/src/main/java/io/helidon/dbclient/jdbc/JdbcStatementQuery.java
  dbclient/mongodb/src/main/java/io/helidon/dbclient/mongodb/MongoDbColumn.java
  examples/employee-app/README.md
  examples/employee-app/pom.xml
  examples/employee-app/src/main/java/io/helidon/service/employee/EmployeeRepository.java
  examples/employee-app/src/main/java/io/helidon/service/employee/EmployeeRepositoryImpl.java
  examples/employee-app/src/main/java/io/helidon/service/employee/EmployeeRepositoryImplDB.java
  examples/employee-app/src/main/java/io/helidon/service/employee/EmployeeService.java
  examples/employee-app/src/main/java/io/helidon/service/employee/Main.java
  examples/employee-app/src/main/resources/application.yaml
  tests/integration/native-image/mp-1/pom.xml
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/Mp1Main.java
  tests/integration/native-image/mp-1/src/main/resources/META-INF/microprofile-config.properties
  webserver/webserver/src/main/java/io/helidon/webserver/HashResponseHeaders.java
  webserver/webserver/src/main/java/io/helidon/webserver/Response.java
Labels: 2.x, DB client, reactive, samples

#1598 Unit test fix to work with daylight savings.
  dbclient/common/src/test/java/io/helidon/dbclient/common/mapper/MapperTest.java
Labels: 2.x, DB client, bug

#1574 Support for TracerResolver.
  bom/pom.xml
  dependencies/pom.xml
  microprofile/tracing/pom.xml
  microprofile/tracing/src/main/java/module-info.java
  tracing/pom.xml
  tracing/tracer-resolver/pom.xml
  tracing/tracer-resolver/src/main/java/io/helidon/tracing/tracerresolver/TracerResolverBuilder.java
  tracing/tracer-resolver/src/main/java/io/helidon/tracing/tracerresolver/TracerResolverProvider.java
  tracing/tracer-resolver/src/main/java/io/helidon/tracing/tracerresolver/package-info.java
  tracing/tracer-resolver/src/main/java/module-info.java
  tracing/tracer-resolver/src/main/resources/META-INF/services/io.helidon.tracing.spi.TracerProvider
Labels: dependencies, tracing

#1592 [Reactive] Fluent conversion via compose() & to()
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiComposeTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiToTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleComposeTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleToTest.java
Labels: reactive

#1602 Improve metrics interceptor performance; avoid MetricID creations - 2.x
  metrics/metrics/src/main/java/io/helidon/metrics/MetricsSupport.java
  metrics/metrics/src/main/java/io/helidon/metrics/Registry.java
  microprofile/metrics/pom.xml
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/InterceptorBase.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/InterceptorConcurrentGauge.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/InterceptorCounted.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/InterceptorMetered.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/InterceptorTimed.java
  microprofile/metrics/src/test/java/io/helidon/microprofile/metrics/MetricsTest.java
Labels: 2.x
