Repository helidon-io/helidon, pull requests merged in 2020-06, with the labels that each got.

#1910 Native image fixes for new Jersey version.
  dependencies/pom.xml
  examples/security/attribute-based-access-control/src/main/java/module-info.java
  examples/security/webserver-digest-auth/pom.xml
  jersey/client/pom.xml
  jersey/client/src/main/java/module-info.java
  jersey/server/pom.xml
  jersey/server/src/main/java/module-info.java
  microprofile/access-log/pom.xml
  tests/apps/bookstore/bookstore-mp/pom.xml
  tracing/tests/it-tracing-client-zipkin/pom.xml
  webserver/access-log/pom.xml
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
  webserver/jersey/src/main/resources/META-INF/native-image/io.helidon.webserver/helidon-webserver-jersey/proxy-config.json
  webserver/jersey/src/main/resources/META-INF/native-image/io.helidon.webserver/helidon-webserver-jersey/resource-config.json
Labels: 2.x

#1760 Fixes StackOverflowError unearthed by new MicroProfile Config implementation
  integrations/cdi/oci-objectstorage-cdi/src/main/java/io/helidon/integrations/cdi/oci/objectstorage/OciConfigConfigSource.java
Labels: 2.x, MP, P1, bug, cdi, config

#1919 Fix test failing on windows
  common/reactive/src/test/java/io/helidon/common/reactive/OutputStreamMultiTest.java
Labels: build

#1920 Updated migration guides.
  docs/mp/guides/15_migration.adoc
  docs/se/guides/15_migration.adoc
Labels: docs

#1895 Add CORS MP and SE doc
  docs/mp/cors/01_introduction.adoc
  docs/mp/cors/02_configuration-with-cors-mp.adoc
  docs/mp/cors/02_using-cors.adoc
  docs/mp/cors/03_configuration-with-cors-mp.adoc
  docs/mp/cors/04_support-in-builtin-services.adoc
  docs/mp/cors/hide_why-options.adoc
  docs/se/cors/01_introduction.adoc
  docs/se/cors/02_configuration.adoc
  docs/se/cors/02_using-the-api.adoc
  docs/se/cors/03_using-configuration.adoc
  docs/se/cors/04_support-in-builtin-services.adoc
  docs/shared/cors/common_shared.adoc
  docs/sitegen.yaml
Labels: 2.x, cors, docs

#1923 EmittingPublisher cleanup
  common/reactive/src/main/java/io/helidon/common/reactive/EmittingPublisher.java
  common/reactive/src/test/java/io/helidon/common/reactive/BufferedEmittingPublisherTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/EmittingPublisherTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFromOutputStreamTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFromOutputStreamTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/TidyTestExecutor.java
Labels: build, reactive

#1659 WebClient Intro doc updated with changes
  docs/se/webclient/01_introduction.adoc
Labels: docs, webclient

#1652 DB Client doc for issue 1629
  docs/se/dbclient/01_introduction.adoc
  docs/se/reactivestreams/02_engine.adoc
Labels: docs

#1937 Checkstyle fix
  jersey/connector/pom.xml
  jersey/connector/src/main/java/io/helidon/jersey/connector/HelidonConnector.java
  jersey/connector/src/main/java/io/helidon/jersey/connector/HelidonConnectorProvider.java
  jersey/connector/src/main/java/io/helidon/jersey/connector/HelidonEntity.java
  jersey/connector/src/main/java/io/helidon/jersey/connector/HelidonProperties.java
  jersey/connector/src/main/java/io/helidon/jersey/connector/HelidonStructures.java
  jersey/connector/src/main/java/io/helidon/jersey/connector/package-info.java
Labels: build

#1947 Fix intermittent test failure in GrpcServiceTest.
  grpc/server/src/test/java/io/helidon/grpc/server/GrpcServiceTest.java
Labels: build, grpc

#1967 Module and Java 12+ friendly way of defining classes for Weld Proxies.
  microprofile/cdi/src/main/java/io/helidon/microprofile/cdi/HelidonContainerImpl.java
  microprofile/cdi/src/main/java/io/helidon/microprofile/cdi/HelidonProxyServices.java
  microprofile/weld/weld-core-impl/src/main/java/org/jboss/weld/bean/proxy/ProxyFactory.java
  tests/apps/bookstore/bookstore-mp/src/main/java/module-info.java
  tests/integration/native-image/mp-1/src/main/java/module-info.java
Labels: MP

#1978 Fail deployment for Gauges in RequestScoped beans
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/MetricsCdiExtension.java
  microprofile/metrics/src/test/java/io/helidon/microprofile/metrics/BadGaugeTest.java
Labels: bug, metrics

#1970 Update SE docs for changed APIs
  docs/se/dbclient/01_introduction.adoc
  docs/se/webclient/01_introduction.adoc
  docs/se/webserver/01_introduction.adoc
  docs/se/webserver/02_configuration.adoc
  docs/se/webserver/03_routing.adoc
Labels: docs

#1750 Allows proxying of ServerRequest
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/WebServerBinder.java
Labels: 1.x

#1989 AOT (native image) documentation for Helidon.
  docs/mp/aot/01_introduction.adoc
  docs/se/aot/01_introduction.adoc
  docs/sitegen.yaml
Labels: 2.x, docs, native-image

#1943 MultiFromOutputStream blocking close refactor
  common/reactive/src/main/java/io/helidon/common/reactive/MultiFromOutputStream.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFromOutputStreamTckTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFromOutputStreamTest.java
Labels: reactive

#1958 New pipeline infra 1.x
  .gitlab-ci.yml
  Jenkinsfile
  etc/scripts/build.sh
  etc/scripts/checkstyle.sh
  etc/scripts/copyright.sh
  etc/scripts/gen-javadoc-packagelist.sh
  etc/scripts/github-release.sh
  etc/scripts/pipeline-env.sh
  etc/scripts/release.sh
  etc/scripts/smoketest.sh
  examples/quickstarts/archetypes/deploy-archetypes.sh
  examples/todo-app/frontend/pom.xml
  microprofile/tests/tck/tck-opentracing/pom.xml
  wercker.yml
Labels: build

#1995 Remove wercker.yaml
  wercker.yml
Labels: build

#1994 Remove wercker.yml 1.x
  wercker.yml
Labels: build

#1996 Fix broken link in prerequisite page to quickstart example
  docs/about/03_prerequisites.adoc
Labels: docs

#1971 Correctly disable Jersey WADL support and built-in providers.
  webclient/jaxrs/src/main/java/io/helidon/webclient/jaxrs/JerseyClientAutoDiscoverable.java
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
Labels: 2.x, jax-rs

#1940 Lazy list for even lazier acceptedTypes parsing
  common/common/src/main/java/io/helidon/common/LazyList.java
  common/common/src/main/java/io/helidon/common/LazyListImpl.java
  common/common/src/test/java/io/helidon/common/LazyListTest.java
  media/common/src/main/java/io/helidon/media/common/MessageBodyWriterContext.java
  webserver/webserver/src/main/java/io/helidon/webserver/HashRequestHeaders.java
  webserver/webserver/src/main/java/io/helidon/webserver/RequestRouting.java
  webserver/webserver/src/main/java/io/helidon/webserver/Response.java
  webserver/webserver/src/test/java/io/helidon/webserver/ResponseTest.java
Labels: 2.x, enhancement

#1918 Moving 2 tests from KafkaMP to KafkaSE
  tests/integration/kafka/src/test/java/io/helidon/messaging/connectors/kafka/AbstractKafkaTest.java
  tests/integration/kafka/src/test/java/io/helidon/messaging/connectors/kafka/AbstractSampleBean.java
  tests/integration/kafka/src/test/java/io/helidon/messaging/connectors/kafka/KafkaMpTest.java
  tests/integration/kafka/src/test/java/io/helidon/messaging/connectors/kafka/KafkaSeTest.java
Labels: messaging

#1953 updated mp jpa intro - added link to mp jpa guide and API
  docs/mp/jpa/01_introduction.adoc
Labels: docs

#2009 1.4: Include NOTICE file in all jar files
  NOTICE.txt
  pom.xml
Labels: 1.x

#1928 BufferedEmittingPublisher draining race condition fix
  common/reactive/src/main/java/io/helidon/common/reactive/BufferedEmittingPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/EmittingPublisher.java
Labels: 2.x, reactive

#2011 master: correctly validate mandatory JWT claims.
  security/jwt/src/main/java/io/helidon/security/jwt/Jwt.java
Labels: security

#2012 1.x: correctly validate mandatory JWT claims.
  security/jwt/src/main/java/io/helidon/security/jwt/Jwt.java
Labels: security

#1988 MP native image no longer misses bean types for proxies.
  integrations/graal/mp-native-image-extension/src/main/java/io/helidon/integrations/graal/mp/nativeimage/extension/WeldFeature.java
  integrations/graal/mp-native-image-extension/src/main/java/io/helidon/integrations/graal/mp/nativeimage/extension/WeldSubstitutions.java
  microprofile/cdi/src/main/java/io/helidon/microprofile/cdi/HelidonProxyServices.java
Labels: P1

#2020 New doc section for FT documenting internal config properties
  docs/mp/faulttolerance/01_overview.adoc
  docs/sitegen.yaml
Labels: docs

#1922 Static content handlers now use explicit writers.
  webserver/webserver/src/main/java/io/helidon/webserver/ClassPathContentHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/FileSystemContentHandler.java
Labels: 2.x, media-support, webserver

#2005 Decrypt AES method made visible - 1.x backport
  config/encryption/src/main/java/io/helidon/config/encryption/EncryptionUtil.java
Labels: 1.x

#2006 SSL in WebClient and WebServer changed to TLS
  CHANGELOG.md
  docs/se/webclient/01_introduction.adoc
  examples/webserver/mutual-tls/src/main/java/io/helidon/webserver/examples/mtls/ClientBuilderMain.java
  examples/webserver/mutual-tls/src/main/java/io/helidon/webserver/examples/mtls/ServerBuilderMain.java
  examples/webserver/mutual-tls/src/test/resources/application-test.yaml
  examples/webserver/tls/src/main/java/io/helidon/webserver/examples/tls/Main.java
  examples/webserver/tls/src/main/resources/application.yaml
  examples/webserver/tls/src/test/java/io/helidon/webserver/examples/tls/MainTest.java
  jersey/connector/src/main/java/io/helidon/jersey/connector/HelidonConnector.java
  jersey/connector/src/main/java/io/helidon/jersey/connector/HelidonStructures.java
  tests/apps/bookstore/bookstore-se/src/main/java/io/helidon/tests/apps/bookstore/se/Main.java
  tests/integration/webclient/src/test/resources/application-test.yaml
  webclient/webclient/src/main/java/io/helidon/webclient/NettyClient.java
  webclient/webclient/src/main/java/io/helidon/webclient/NettyClientInitializer.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClient.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientConfiguration.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientTls.java
  webclient/webclient/src/test/java/io/helidon/webclient/WebClientTlsTest.java
  webclient/webclient/src/test/resources/tls-config.yaml
  webserver/webserver/src/main/java/io/helidon/webserver/SSLContextBuilder.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerBasicConfig.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerConfiguration.java
  webserver/webserver/src/main/java/io/helidon/webserver/SocketConfiguration.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServerTls.java
  webserver/webserver/src/test/java/io/helidon/webserver/MultiPortTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/Pkcs12StoreSslTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/SslTest.java
  webserver/webserver/src/test/resources/config-with-ssl.conf
Labels: api-change, webclient, webserver

#2025 1.4: Update 3rd party attributions. Renamed 3RD-PARTY to THIRD_PARTY_…
  3RD-PARTY.txt
  NOTICE.txt
  README.md
  THIRD_PARTY_LICENSES.txt
Labels: 1.x

#2016 Messaging with Kafka examples
  .gitignore
  dependencies/pom.xml
  examples/messaging/README.md
  examples/messaging/docker/Dockerfile.kafka
  examples/messaging/docker/init_topics.sh
  examples/messaging/docker/start_kafka.sh
  examples/messaging/kafka-websocket-mp/README.md
  examples/messaging/kafka-websocket-mp/pom.xml
  examples/messaging/kafka-websocket-mp/src/main/java/io/helidon/messaging/mp/example/MsgProcessingBean.java
  examples/messaging/kafka-websocket-mp/src/main/java/io/helidon/messaging/mp/example/SendingResource.java
  examples/messaging/kafka-websocket-mp/src/main/java/io/helidon/messaging/mp/example/WebSocketEndpoint.java
  examples/messaging/kafka-websocket-mp/src/main/java/io/helidon/messaging/mp/example/package-info.java
  examples/messaging/kafka-websocket-mp/src/main/resources/META-INF/beans.xml
  examples/messaging/kafka-websocket-mp/src/main/resources/META-INF/microprofile-config.properties
  examples/messaging/kafka-websocket-mp/src/main/resources/WEB/favicon.ico
  examples/messaging/kafka-websocket-mp/src/main/resources/WEB/img/arrow-1.png
  examples/messaging/kafka-websocket-mp/src/main/resources/WEB/img/arrow-2.png
  examples/messaging/kafka-websocket-mp/src/main/resources/WEB/img/cloud.png
  examples/messaging/kafka-websocket-mp/src/main/resources/WEB/img/frank.png
  examples/messaging/kafka-websocket-mp/src/main/resources/WEB/index.html
  examples/messaging/kafka-websocket-mp/src/main/resources/WEB/main.css
  examples/messaging/kafka-websocket-mp/src/main/resources/logging.properties
  examples/messaging/kafka-websocket-se/README.md
  examples/messaging/kafka-websocket-se/pom.xml
  examples/messaging/kafka-websocket-se/src/main/java/io/helidon/messaging/se/example/Main.java
  examples/messaging/kafka-websocket-se/src/main/java/io/helidon/messaging/se/example/SendingService.java
  examples/messaging/kafka-websocket-se/src/main/java/io/helidon/messaging/se/example/WebSocketEndpoint.java
  examples/messaging/kafka-websocket-se/src/main/java/io/helidon/messaging/se/example/package-info.java
  examples/messaging/kafka-websocket-se/src/main/resources/WEB/favicon.ico
  examples/messaging/kafka-websocket-se/src/main/resources/WEB/img/arrow-1.png
  examples/messaging/kafka-websocket-se/src/main/resources/WEB/img/arrow-2.png
  examples/messaging/kafka-websocket-se/src/main/resources/WEB/img/cloud.png
  examples/messaging/kafka-websocket-se/src/main/resources/WEB/img/frank.png
  examples/messaging/kafka-websocket-se/src/main/resources/WEB/index.html
  examples/messaging/kafka-websocket-se/src/main/resources/WEB/main.css
  examples/messaging/kafka-websocket-se/src/main/resources/application.yaml
  examples/messaging/kafka-websocket-se/src/main/resources/logging.properties
  examples/messaging/kafkaConsume.sh
  examples/messaging/kafkaProduce.sh
  examples/messaging/kafkaRun.sh
  examples/messaging/pom.xml
  examples/pom.xml
  messaging/kafka/src/main/resources/META-INF/beans.xml
  tests/integration/kafka/pom.xml
  tests/integration/kafka/src/test/java/io/helidon/messaging/connectors/kafka/KafkaMpTest.java
Labels: 2.x, examples, messaging

#2034 Add trademark notices for Pokemon
  archetypes/database-mp/src/main/resources/src/main/java/__pkg__/Pokemon.java.mustache
  archetypes/database-mp/src/main/resources/src/main/java/__pkg__/PokemonResource.java.mustache
  archetypes/database-mp/src/main/resources/src/main/java/__pkg__/PokemonType.java.mustache
  archetypes/database-mp/src/main/resources/src/main/java/__pkg__/PokemonTypeResource.java.mustache
  archetypes/database-se/src/main/resources/src/main/java/__pkg__/InitializeDb.java.mustache
  archetypes/database-se/src/main/resources/src/main/java/__pkg__/Main.java.mustache
  archetypes/database-se/src/main/resources/src/main/java/__pkg__/Pokemon.java.mustache
  archetypes/database-se/src/main/resources/src/main/java/__pkg__/PokemonMapperProvider.java.mustache
  archetypes/database-se/src/main/resources/src/main/java/__pkg__/PokemonService.java.mustache
  archetypes/database-se/src/main/resources/src/main/java/__pkg__/PokemonType.java.mustache
  archetypes/database-se/src/main/resources/src/main/java/__pkg__/PokemonTypeMapperProvider.java.mustache
  examples/dbclient/README.md
  examples/dbclient/jdbc/README.md
  examples/dbclient/mongodb/README.md
  examples/dbclient/pokemons/README.md
  examples/integrations/cdi/pokemons/README.md
Labels: 2.x

#2036 Fixed tag in catalog
  archetypes/catalog/catalog.xml.mustache
Labels: examples

#1952 updated MP health intro with link to Guide
  docs/mp/health/01_introduction.adoc
Labels: 2.x, docs

#2041 add empty javadoc and empty sources to integrations/db/hk2
  integrations/db/h2/pom.xml
Labels: build

#2032 SE Messaging connector bad prefix within MP config
  messaging/messaging/src/main/java/io/helidon/messaging/ConnectorConfigHelper.java
  messaging/messaging/src/main/java/io/helidon/messaging/Messaging.java
  messaging/messaging/src/main/java/io/helidon/messaging/MessagingImpl.java
  messaging/messaging/src/test/java/io/helidon/messaging/MessagingTest.java
Labels: 2.x, SE, messaging

#2044 Oracle DB with JPA
  common/common/src/main/java/io/helidon/common/FeatureCatalog.java
  integrations/db/ojdbc/pom.xml
  integrations/db/ojdbc/src/main/resources/META-INF/native-image/io.helidon.integrations.db/ojdbc/native-image.properties
  integrations/db/ojdbc/src/main/resources/META-INF/native-image/io.helidon.integrations.db/ojdbc/reflect-config.json
  tests/integration/native-image/mp-2/README.md
  tests/integration/native-image/mp-2/src/main/java/io/helidon/tests/integration/nativeimage/mp2/JaxRsResource.java
  tests/integration/native-image/mp-2/src/main/java/io/helidon/tests/integration/nativeimage/mp2/Mp2Main.java
Labels: jpa/jta, native-image

#2045 Documentation update for AOT.
  docs/mp/aot/01_introduction.adoc
  docs/se/aot/01_introduction.adoc
Labels: docs, native-image

#2050 Native image updates
  integrations/db/ojdbc/src/main/resources/META-INF/helidon/native-image/reflection-config.json
  integrations/db/ojdbc/src/main/resources/META-INF/native-image/io.helidon.integrations.db/ojdbc/reflect-config.json
  tests/integration/native-image/mp-2/src/main/resources/META-INF/native-image/tests/mp-2/native-image.properties
  webserver/jersey/src/main/resources/META-INF/native-image/io.helidon.webserver/helidon-webserver-jersey/proxy-config.json
  webserver/webserver/src/main/resources/META-INF/native-image/io.helidon.webserver/helidon-webserver/native-image.properties
Labels: native-image

#2010 Fluent API for explicit media reader and writer usages.
  health/health/src/main/java/io/helidon/health/HealthSupport.java
  media/common/src/main/java/io/helidon/media/common/MessageBodyReader.java
  media/common/src/main/java/io/helidon/media/common/MessageBodyStreamReader.java
  media/common/src/main/java/io/helidon/media/common/MessageBodyStreamWriter.java
  media/common/src/main/java/io/helidon/media/common/MessageBodyWriter.java
  metrics/metrics/src/main/java/io/helidon/metrics/MetricsSupport.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilder.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilderImpl.java
  webserver/webserver/src/main/java/io/helidon/webserver/FileSystemContentHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/Response.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerResponse.java
Labels: SE

#2057 Archetype updates
  archetypes/bare-mp/src/main/resources/META-INF/helidon-archetype.xml.mustache
  archetypes/bare-mp/src/main/resources/README.md.mustache
  archetypes/bare-mp/src/main/resources/src/main/resources/META-INF/native-image/reflect-config.json
  archetypes/bare-se/src/main/resources/META-INF/helidon-archetype.xml.mustache
  archetypes/bare-se/src/main/resources/README.md.mustache
  archetypes/bare-se/src/main/resources/src/main/resources/META-INF/native-image/reflect-config.json
  archetypes/database-mp/src/main/resources/META-INF/helidon-archetype.xml.mustache
  archetypes/database-mp/src/main/resources/README.md.mustache
  archetypes/database-mp/src/main/resources/pom.xml.mustache
  archetypes/database-mp/src/main/resources/src/main/resources/META-INF/native-image/reflect-config.json.mustache
  archetypes/database-se/src/main/resources/META-INF/helidon-archetype.xml.mustache
  archetypes/database-se/src/main/resources/README.md.mustache
  archetypes/database-se/src/main/resources/src/main/java/__pkg__/InitializeDb.java.mustache
  archetypes/database-se/src/main/resources/src/main/java/__pkg__/PokemonType.java.mustache
  archetypes/database-se/src/main/resources/src/main/resources/META-INF/native-image/reflect-config.json.mustache
  archetypes/database-se/src/main/resources/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/quickstart-mp/src/main/resources/.dockerignore
  archetypes/quickstart-mp/src/main/resources/Dockerfile.jlink.mustache
  archetypes/quickstart-mp/src/main/resources/Dockerfile.mustache
  archetypes/quickstart-mp/src/main/resources/Dockerfile.native.mustache
  archetypes/quickstart-mp/src/main/resources/META-INF/helidon-archetype.xml.mustache
  archetypes/quickstart-mp/src/main/resources/README.md.mustache
  archetypes/quickstart-mp/src/main/resources/app.yaml
  archetypes/quickstart-mp/src/main/resources/src/main/resources/META-INF/native-image/reflect-config.json
  archetypes/quickstart-se/src/main/resources/.dockerignore
  archetypes/quickstart-se/src/main/resources/Dockerfile.jlink.mustache
  archetypes/quickstart-se/src/main/resources/Dockerfile.mustache
  archetypes/quickstart-se/src/main/resources/Dockerfile.native.mustache
  archetypes/quickstart-se/src/main/resources/META-INF/helidon-archetype.xml.mustache
  archetypes/quickstart-se/src/main/resources/README.md.mustache
  archetypes/quickstart-se/src/main/resources/app.yaml
  archetypes/quickstart-se/src/main/resources/src/main/resources/META-INF/native-image/reflect-config.json
Labels: examples

#2056 Secure and httpOnly used correctly in SetCookie
  common/http/src/main/java/io/helidon/common/http/SetCookie.java
Labels: bug

#2060 SE Config can be created from MP Config
  config/config-mp/pom.xml
  config/config-mp/src/main/java/io/helidon/config/mp/MpConfig.java
  config/config-mp/src/main/java/io/helidon/config/mp/MpConfigProviderResolver.java
  config/config-mp/src/main/java/io/helidon/config/mp/SeConfig.java
  config/config-mp/src/test/java/io/helidon/config/mp/MpConfigReferenceTest.java
  config/config-mp/src/test/java/io/helidon/config/mp/MpConfigTest.java
  config/config/src/main/java/io/helidon/config/BuilderImpl.java
  messaging/messaging/src/main/java/io/helidon/messaging/ConnectorConfigHelper.java
  messaging/messaging/src/test/java/io/helidon/messaging/TestConfigurableConnector.java
  microprofile/messaging/src/test/java/io/helidon/microprofile/messaging/AdHocConfigBuilderTest.java
Labels: P1, config

#2027 Cancelling race condition fix
  common/reactive/src/main/java/io/helidon/common/reactive/EmittingPublisher.java
Labels: 2.x, reactive

#2022 fixed broken links in the intro
  docs/about/02_introduction.adoc
Labels: docs

#2064 WebClient doc update
  docs/se/webclient/01_introduction.adoc
  examples/webserver/mutual-tls/src/main/resources/application.yaml
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientConfiguration.java
Labels: docs

#2029 SE Messaging doc
  docs/mp/reactivemessaging/01_introduction.adoc
  docs/mp/reactivemessaging/02_message.adoc
  docs/mp/reactivemessaging/03_connector.adoc
  docs/mp/reactivemessaging/04_kafka.adoc
  docs/se/reactivemessaging/01_introduction.adoc
  docs/se/reactivemessaging/03_connector.adoc
  docs/se/reactivemessaging/04_kafka.adoc
  docs/shared/reactivestreams/02_engine.adoc
Labels: 2.x, SE, docs

#2065 DB Archetypes: README updates for native support
  archetypes/database-mp/src/main/resources/README.md.mustache
  archetypes/database-mp/src/main/resources/pom.xml.mustache
  archetypes/database-mp/src/main/resources/src/main/resources/META-INF/microprofile-config.properties
  archetypes/database-se/src/main/resources/README.md.mustache
  archetypes/database-se/src/main/resources/pom.xml.mustache
  archetypes/database-se/src/main/resources/src/main/resources/application.yaml
Labels: examples

#2071 Fixed broken links; added new
  docs/about/02_introduction.adoc
  docs/mp/introduction/01_introduction.adoc
  docs/se/introduction/01_introduction.adoc
Labels: docs

#2069 intro for JWT auth - link to mp spec
  docs/mp/jwtauth/01_introduction.adoc
Labels: docs

#2073 Update MP db archetype to compile with native image.
  archetypes/database-mp/src/main/resources/pom.xml.mustache
  archetypes/database-mp/src/main/resources/src/main/resources/hibernate.properties
Labels: native-image

#2070 Upgrade svm, annotation for reflection
  common/common/src/main/java/io/helidon/common/Reflected.java
  dependencies/pom.xml
  examples/dbclient/pokemons/src/main/java/io/helidon/examples/dbclient/pokemons/Pokemon.java
  examples/dbclient/pokemons/src/main/java/io/helidon/examples/dbclient/pokemons/PokemonMain.java
  examples/dbclient/pokemons/src/main/resources/META-INF/native-image/io.helidon.examples.dbclient/helidon-examples-dbclient-pokemon/reflect-config.json
  integrations/db/h2/pom.xml
  integrations/db/ojdbc/src/main/resources/META-INF/helidon/native-image/reflection-config.json
  integrations/graal/mp-native-image-extension/pom.xml
  integrations/graal/native-image-extension/pom.xml
  integrations/graal/native-image-extension/src/main/java/io/helidon/integrations/graal/nativeimage/extension/HelidonReflectionFeature.java
Labels: native-image

#2067 Collapsible docs menus / integrate build-tools 2.0.0
  applications/pom.xml
  docs/sitegen.yaml
  pom.xml
Labels: build, docs

#2091 Support for SE mappers in MP.
  config/config-mp/src/main/java/io/helidon/config/mp/MpConfig.java
  config/config-mp/src/main/java/io/helidon/config/mp/MpConfigProviderResolver.java
  config/config-mp/src/main/java/io/helidon/config/mp/MpHelidonConfigSource.java
  config/config-mp/src/main/java/io/helidon/config/mp/SeConfig.java
  config/config-mp/src/main/java/io/helidon/config/mp/SeConfigValue.java
  config/config/src/main/java/io/helidon/config/AbstractConfigImpl.java
  config/config/src/main/java/io/helidon/config/Config.java
  config/config/src/main/java/io/helidon/config/ConfigMapperManager.java
  microprofile/config/src/test/java/io/helidon/microprofile/config/ObjectMappingTest.java
  security/integration/webserver/src/main/java/io/helidon/security/integration/webserver/SecurityHandler.java
  security/providers/header/src/main/java/io/helidon/security/providers/header/HeaderAtnProvider.java
  security/providers/http-sign/src/main/java/io/helidon/security/providers/httpsign/HttpSignProvider.java
  security/providers/http-sign/src/main/java/io/helidon/security/providers/httpsign/OutboundTargetDefinition.java
  security/providers/jwt/src/main/java/io/helidon/security/providers/jwt/JwtProvider.java
  security/providers/oidc/src/main/java/io/helidon/security/providers/oidc/OidcProvider.java
Labels: 2.x, MP, P1, bug, config

#2101 Docs: add basic documentation for CLI
  docs/common/cli/cli.adoc
  docs/images/cli/Helidon_cli.gif
  docs/mp/cli/01_cli.adoc
  docs/se/cli/01_cli.adoc
  docs/sitegen.yaml
Labels: 2.x

#2103 Update docs, READMEs, Dockerfiles to graalvm 20.1.0
  archetypes/database-mp/src/main/resources/README.md.mustache
  archetypes/database-se/src/main/resources/README.md.mustache
  archetypes/quickstart-mp/src/main/resources/Dockerfile.native.mustache
  archetypes/quickstart-mp/src/main/resources/README.md.mustache
  archetypes/quickstart-se/src/main/resources/Dockerfile.native.mustache
  archetypes/quickstart-se/src/main/resources/README.md.mustache
  etc/dockerfiles/Dockerfile.jdk11-graalvm
  etc/dockerfiles/Dockerfile.jdk11-graalvm-maven
  etc/dockerfiles/build.sh
  examples/quickstarts/helidon-quickstart-mp/Dockerfile.native
  examples/quickstarts/helidon-quickstart-mp/README.md
  examples/quickstarts/helidon-quickstart-se/Dockerfile.native
  examples/quickstarts/helidon-quickstart-se/README.md
  examples/quickstarts/helidon-standalone-quickstart-mp/Dockerfile.native
  examples/quickstarts/helidon-standalone-quickstart-mp/README.md
  examples/quickstarts/helidon-standalone-quickstart-se/Dockerfile.native
  examples/quickstarts/helidon-standalone-quickstart-se/README.md
Labels: 2.x

#2109 Update smoketest
  etc/scripts/smoketest.sh
Labels: 2.x
