Repository helidon-io/helidon, pull requests merged in 2021-10, with the labels that each got.

#3440 Remove uses of SecurityManager and AccessController dependencies
  config/config/src/main/java/io/helidon/config/ConfigThreadFactory.java
  integrations/graal/mp-native-image-extension/src/main/java/io/helidon/integrations/graal/mp/nativeimage/extension/RestClientSubstitution.java
  jersey/connector/src/main/java/io/helidon/jersey/connector/HelidonConnector.java
  microprofile/cdi/src/main/java/io/helidon/microprofile/cdi/HelidonProxyServices.java
Labels: enhancement

#3442 Also relativize request URI if host is in no-host list
  webclient/webclient/src/main/java/io/helidon/webclient/Proxy.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilderImpl.java
  webclient/webclient/src/test/java/io/helidon/webclient/ProxyTest.java
  webclient/webclient/src/test/resources/application.yaml
Labels: webclient

#3226 Doc fix to address adding long running code in hooks
  docs/se/metrics/01_metrics.adoc
Labels: docs

#3470 Multi ifEmpty
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiIfEmptyPublisher.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleIfEmptyPublisher.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiIfEmptyTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleIfEmptyTest.java
  docs/shared/reactivestreams/02_engine.adoc
  docs/shared/reactivestreams/03_rsoperators.adoc
  examples/integrations/oci/atp-reactive/src/main/java/io/helidon/examples/integrations/oci/atp/reactive/AtpService.java
  tests/tck/tck-reactive-streams/src/test/java/io/helidon/common/reactive/MultiIfEmptyTckTest.java
  tests/tck/tck-reactive-streams/src/test/java/io/helidon/common/reactive/SingleIfEmptyTckTest.java
Labels: reactive

#3602 Do not deploy LRA Coordinator server
  lra/coordinator/server/pom.xml
Labels: build
