Repository helidon-io/helidon, pull requests merged in 2021-03, with the labels that each got.

#2819 Fixed Javadoc links in document
  docs/mp/faulttolerance/01_overview.adoc
Labels: docs

#2775 Keep alive default value changed to true
  tests/integration/webclient/src/test/java/io/helidon/tests/integration/webclient/TestParent.java
  webclient/webclient/src/main/java/io/helidon/webclient/NettyClient.java
  webclient/webclient/src/main/java/io/helidon/webclient/NettyClientHandler.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilderImpl.java
Labels: webclient

#2820 1.4: Revert "Force upgrade of thirft transitive dependency. Upgrade OWASP …
  dependencies/pom.xml
  pom.xml
Labels: 1.x

#2805 Implementation of ResponseWriter using pooled Netty buffers
  common/http/src/main/java/io/helidon/common/http/ByteBufferDataChunk.java
  common/http/src/main/java/io/helidon/common/http/DataChunk.java
  webserver/jersey/pom.xml
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/ResponseWriter.java
  webserver/jersey/src/main/java/module-info.java
  webserver/webserver/src/main/java/io/helidon/webserver/BareResponseImpl.java
  webserver/webserver/src/main/java/io/helidon/webserver/ByteBufDataChunk.java
Labels: enhancement, webserver

#2843 MultiByteChannel test RC fix
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFromByteChannelTest.java
Labels: bug

#2768 Download Kafka binaries from archive if not present on mirror
  examples/messaging/docker/kafka/Dockerfile.kafka
  examples/messaging/docker/kafka/init_topics.sh
  examples/messaging/docker/kafka/start_kafka.sh
Labels: messaging

#2859 New implementation of WorkQueue that allows concurrent enqueuing of tasks
  common/configurable/src/main/java/io/helidon/common/configurable/ThreadPool.java
Labels: enhancement

#2862 Upgrade Hibernate and jaxb-runtime used by maven-jaxb2-plugin. For JD…
  applications/mp/pom.xml
  dependencies/pom.xml
  pom.xml
Labels: dependencies

#2861 Slf4j MDC context propagation with null MDC map fixed
  logging/slf4j/src/main/java/io/helidon/logging/slf4j/Slf4jMdcPropagator.java
  logging/slf4j/src/test/java/Slf4jMdcTest.java
Labels: 2.x

#2871 Hash equals
  security/providers/http-auth/src/main/java/io/helidon/security/providers/httpauth/DigestToken.java
Labels: 2.x

#2875 Using an interface instead of an enum implementing it.
  webclient/webclient/src/main/java/io/helidon/webclient/NettyClient.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClient.java
Labels: webclient

#2872 Add encryption, digest and secret support to security
  config/encryption/pom.xml
  config/encryption/src/main/java/io/helidon/config/encryption/EncryptionUtil.java
  config/encryption/src/main/java/module-info.java
  security/providers/config-vault/pom.xml
  security/providers/config-vault/src/main/java/io/helidon/security/providers/config/vault/ConfigVaultProvider.java
  security/providers/config-vault/src/main/java/io/helidon/security/providers/config/vault/ConfigVaultProviderService.java
  security/providers/config-vault/src/main/java/io/helidon/security/providers/config/vault/package-info.java
  security/providers/config-vault/src/main/java/module-info.java
  security/providers/config-vault/src/main/resources/META-INF/services/io.helidon.security.spi.SecurityProviderService
  security/providers/config-vault/src/test/java/io/helidon/security/providers/config/vault/ConfigVaultProviderTest.java
  security/providers/config-vault/src/test/resources/application.yaml
  security/providers/pom.xml
  security/security/src/main/java/io/helidon/security/Security.java
  security/security/src/main/java/io/helidon/security/spi/DigestProvider.java
  security/security/src/main/java/io/helidon/security/spi/EncryptionProvider.java
  security/security/src/main/java/io/helidon/security/spi/SecretsProvider.java
Labels: enhancement, security

#2858 Fix example db script after oracle/docker-images master branch rename
  examples/messaging/docker/oracle-aq-18-xe/buildAndRun.sh
Labels: examples, messaging

#2864 Multi to ByteChannel
  common/reactive/src/main/java/io/helidon/common/reactive/ByteChannelSubscriber.java
  common/reactive/src/main/java/io/helidon/common/reactive/IoMulti.java
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/test/java/io/helidon/common/reactive/ByteChannelSubscriberTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/IgnoreElementsTest.java
  examples/media/multipart/src/main/java/io/helidon/examples/media/multipart/FileService.java
  examples/media/multipart/src/main/java/io/helidon/examples/media/multipart/FileStorage.java
  examples/media/multipart/src/test/java/io/helidon/examples/media/multipart/FileServiceTest.java
  media/multipart/src/main/java/io/helidon/media/multipart/ReadableBodyPart.java
Labels: reactive

#2301 Scheduled tasks
  bom/pom.xml
  common/common/src/main/java/io/helidon/common/FeatureCatalog.java
  dependencies/pom.xml
  docs/mp/aot/01_introduction.adoc
  docs/mp/scheduling/01_introduction.adoc
  docs/se/aot/01_introduction.adoc
  docs/se/scheduling/01_introduction.adoc
  docs/shared/scheduling/01_cron.adoc
  docs/sitegen.yaml
  microprofile/pom.xml
  microprofile/scheduling/pom.xml
  microprofile/scheduling/src/main/java/io/helidon/microprofile/scheduling/FixedRate.java
  microprofile/scheduling/src/main/java/io/helidon/microprofile/scheduling/Scheduled.java
  microprofile/scheduling/src/main/java/io/helidon/microprofile/scheduling/SchedulingCdiExtension.java
  microprofile/scheduling/src/main/java/io/helidon/microprofile/scheduling/package-info.java
  microprofile/scheduling/src/main/java/module-info.java
  microprofile/scheduling/src/main/resources/META-INF/services/javax.enterprise.inject.spi.Extension
  microprofile/scheduling/src/test/java/io/helidon/microprofile/scheduling/InvalidStateTest.java
  microprofile/scheduling/src/test/java/io/helidon/microprofile/scheduling/ScheduledBean.java
  microprofile/scheduling/src/test/java/io/helidon/microprofile/scheduling/SchedulingTest.java
  microprofile/scheduling/src/test/resources/logging.properties
  microprofile/scheduling/src/test/resources/test.properties
  pom.xml
  scheduling/pom.xml
  scheduling/src/main/java/io/helidon/scheduling/CronInvocation.java
  scheduling/src/main/java/io/helidon/scheduling/CronTask.java
  scheduling/src/main/java/io/helidon/scheduling/FixedRateInvocation.java
  scheduling/src/main/java/io/helidon/scheduling/FixedRateTask.java
  scheduling/src/main/java/io/helidon/scheduling/Invocation.java
  scheduling/src/main/java/io/helidon/scheduling/ScheduledConsumer.java
  scheduling/src/main/java/io/helidon/scheduling/Scheduling.java
  scheduling/src/main/java/io/helidon/scheduling/SchedulingException.java
  scheduling/src/main/java/io/helidon/scheduling/Task.java
  scheduling/src/main/java/io/helidon/scheduling/package-info.java
  scheduling/src/main/java/module-info.java
  scheduling/src/main/resources/META-INF/native-image/io.helidon.scheduling/helidon-scheduling/resource-config.json
  scheduling/src/test/java/io/helidon/scheduling/CronSchedulingTest.java
  scheduling/src/test/java/io/helidon/scheduling/FixedRateSchedulingTest.java
  scheduling/src/test/java/io/helidon/scheduling/IntervalMeter.java
  scheduling/src/test/resources/junit-platform.properties
  scheduling/src/test/resources/logging.properties
Labels: dependencies, enhancement

#2896 Fix scheduler copyright
  microprofile/messaging/health/src/test/java/io/helidon/microprofile/messaging/health/MessagingHealthTest.java
  microprofile/scheduling/src/main/resources/META-INF/services/javax.enterprise.inject.spi.Extension
Labels: bug, build

#2854 Typo: fixed securityContext.userName()
  docs/mp/security/01_security.adoc
Labels: docs

#2836 WebServer Threadpool example
  examples/webserver/pom.xml
  examples/webserver/threadpool/README.md
  examples/webserver/threadpool/pom.xml
  examples/webserver/threadpool/src/main/java/io/helidon/examples/webserver/threadpool/GreetService.java
  examples/webserver/threadpool/src/main/java/io/helidon/examples/webserver/threadpool/Main.java
  examples/webserver/threadpool/src/main/java/io/helidon/examples/webserver/threadpool/package-info.java
  examples/webserver/threadpool/src/main/resources/application.yaml
  examples/webserver/threadpool/src/main/resources/logging.properties
  examples/webserver/threadpool/src/test/java/io/helidon/examples/webserver/threadpool/MainTest.java
  examples/webserver/threadpool/src/test/resources/application-test.yaml
Labels: 2.x, examples

#2878 Add plugin to spotbugs-maven-plugin
  common/configurable/etc/spotbugs/exclude.xml
  common/configurable/pom.xml
  config/config-mp/etc/spotbugs/exclude.xml
  config/config-mp/pom.xml
  config/config/etc/spotbugs/exclude.xml
  config/encryption/etc/spotbugs/exclude.xml
  config/encryption/pom.xml
  config/yaml/etc/spotbugs/exclude.xml
  config/yaml/pom.xml
  dbclient/jdbc/etc/spotbugs/exclude.xml
  fault-tolerance/etc/spotbugs/exclude.xml
  fault-tolerance/pom.xml
  grpc/core/etc/spotbugs/exclude.xml
  grpc/core/pom.xml
  grpc/server/etc/spotbugs/exclude.xml
  grpc/server/pom.xml
  health/health-checks/etc/spotbugs/exclude.xml
  health/health-checks/pom.xml
  integrations/cdi/jpa-cdi/etc/spotbugs/exclude.xml
  integrations/cdi/oci-objectstorage-cdi/etc/spotbugs/exclude.xml
  integrations/cdi/oci-objectstorage-cdi/pom.xml
  logging/jul/etc/spotbugs/exclude.xml
  logging/jul/pom.xml
  media/common/etc/spotbugs/exclude.xml
  media/common/pom.xml
  metrics/metrics/etc/spotbugs/exclude.xml
  microprofile/graphql/server/etc/spotbugs/exclude.xml
  microprofile/graphql/server/pom.xml
  microprofile/jwt-auth/etc/spotbugs/exclude.xml
  openapi/etc/spotbugs/exclude.xml
  openapi/pom.xml
  pom.xml
  security/abac/policy-el/etc/spotbugs/exclude.xml
  security/abac/policy-el/pom.xml
  security/providers/http-auth/etc/spotbugs/exclude.xml
  security/providers/http-auth/pom.xml
  webclient/webclient/etc/spotbugs/exclude.xml
  webclient/webclient/pom.xml
  webserver/static-content/etc/spotbugs/exclude.xml
  webserver/static-content/pom.xml
  webserver/test-support/etc/spotbugs/exclude.xml
  webserver/test-support/pom.xml
  webserver/webserver/etc/spotbugs/exclude.xml
Labels: build
