Repository helidon-io/helidon, pull requests merged in 2021-07, with the labels that each got.

#3144 Allowed cipher suite can now be specified for WebServer and WebClient
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientConfiguration.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientTls.java
  webclient/webclient/src/test/java/io/helidon/webclient/WebClientTlsTest.java
  webserver/webserver/src/main/java/io/helidon/webserver/NettyWebServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerBasicConfig.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerConfiguration.java
  webserver/webserver/src/main/java/io/helidon/webserver/SocketConfiguration.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServerTls.java
  webserver/webserver/src/test/java/io/helidon/webserver/CipherSuiteTest.java
  webserver/webserver/src/test/resources/cipherSuiteConfig.yaml
Labels: webclient, webserver

#3173 Cipher suite back-port to 1.x
  webserver/webserver/src/main/java/io/helidon/webserver/NettyWebServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerBasicConfig.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerConfiguration.java
  webserver/webserver/src/main/java/io/helidon/webserver/SocketConfiguration.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServerTls.java
  webserver/webserver/src/test/java/io/helidon/webserver/SslCipherSuiteTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/WebServerTlsTest.java
  webserver/webserver/src/test/resources/config-cipher-suite.conf
Labels: 1.x

#3047 Fix Bug #3032 with SLF4J dependancy
  microprofile/cdi/pom.xml
Labels: dependencies

#3153 Reactive streams compliant BareResponseImpl
  webserver/webserver/pom.xml
  webserver/webserver/src/main/java/io/helidon/webserver/BareResponseImpl.java
  webserver/webserver/src/test/java/io/helidon/webserver/BareResponseSubscriberTckTest.java
Labels: reactive, webserver

#3113 SE Config Profiles
  config/config/etc/checkstyle-suppressions.xml
  config/config/etc/spotbugs/exclude.xml
  config/config/src/main/java/io/helidon/config/InlinedConfigSource.java
  config/config/src/main/java/io/helidon/config/MetaConfigFinder.java
  config/config/src/main/java/io/helidon/config/MetaProviders.java
  config/config/src/main/java/module-info.java
  config/config/src/test/java/io/helidon/config/ConfigSourceMetaConfigTest.java
  docs/se/config/01_introduction.adoc
  docs/se/config/02_config-sources.adoc
  docs/se/config/03_hierarchical-features.adoc
  docs/se/config/04_property-mapping.adoc
  docs/se/config/05_mutability-support.adoc
  docs/se/config/06_advanced-configuration.adoc
  docs/se/config/07_extensions.adoc
  docs/se/config/08_supported-formats.adoc
  docs/se/config/09_config-profiles.adoc
  docs/se/guides/03_config.adoc
  examples/config/pom.xml
  examples/config/profiles/README.md
  examples/config/profiles/config-profile-prod.yaml
  examples/config/profiles/config/config-prod.yaml
  examples/config/profiles/pom.xml
  examples/config/profiles/src/main/java/io/helidon/examples/config/profiles/Main.java
  examples/config/profiles/src/main/java/io/helidon/examples/config/profiles/package-info.java
  examples/config/profiles/src/main/resources/application-local.yaml
  examples/config/profiles/src/main/resources/application-stage.yaml
  examples/config/profiles/src/main/resources/application.yaml
  examples/config/profiles/src/main/resources/config-profile-dev.yaml
  examples/config/profiles/src/main/resources/config-profile-stage.yaml
Labels: enhancement

#3181 Documentation for OCI Object Storage health checks
  docs/mp/oci/02_object-storage.adoc
  docs/se/oci/02_object-storage.adoc
Labels: docs

#3186 Updated OCI to 1.37.2
  dependencies/pom.xml
Labels: 2.x, dependencies

#3190 Jaeger metrics test
  metrics/jaeger/src/test/resources/META-INF/microprofile-config.properties
  tracing/jaeger/src/main/java/io/helidon/tracing/jaeger/JaegerTracerBuilder.java
Labels: bug, testing

#3193 Upgrade GraalVM to version 21.1.0
  archetypes/quickstart-mp/src/main/resources/Dockerfile.native.mustache
  archetypes/quickstart-se/src/main/resources/Dockerfile.native.mustache
  dependencies/pom.xml
  docs/common/guides/graalnative.adoc
  etc/dependency-check-suppression.xml
  etc/dockerfiles/Dockerfile.jdk11-graalvm
  etc/dockerfiles/Dockerfile.jdk11-graalvm-maven
  etc/dockerfiles/README.md
  etc/dockerfiles/build.sh
  etc/scripts/includes/pipeline-env.sh
  examples/quickstarts/helidon-quickstart-mp/Dockerfile.native
  examples/quickstarts/helidon-quickstart-se/Dockerfile.native
  examples/quickstarts/helidon-standalone-quickstart-mp/Dockerfile.native
  examples/quickstarts/helidon-standalone-quickstart-se/Dockerfile.native
  microprofile/cdi/src/main/resources/META-INF/helidon/native-image/reflection-config.json
  webserver/jersey/src/main/resources/META-INF/helidon/native-image/reflection-config.json
  webserver/webserver/src/main/resources/META-INF/helidon/native-image/reflection-config.json
Labels: dependencies

#3214 Explicitly destroy bean instance obtained from CDI object
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/RequestScopeHelper.java
Labels: cdi, fault-tolerance

#3207 Modified Jaeger logic to not close scopes before switching threads
  tracing/jaeger/src/main/java/io/helidon/tracing/jaeger/JaegerDataPropagationProvider.java
  tracing/jaeger/src/main/java/io/helidon/tracing/jaeger/JaegerScopeManager.java
  tracing/jaeger/src/main/java/io/helidon/tracing/jaeger/JaegerTracerBuilder.java
  tracing/jaeger/src/test/java/io/helidon/tracing/jaeger/JaegerDataPropagationProviderTest.java
  tracing/jaeger/src/test/java/io/helidon/tracing/jaeger/JaegerScopeManagerTest.java
Labels: tracing

#3232 BEP refactor ver2
  common/reactive/src/main/java/io/helidon/common/reactive/BiConsumerChain.java
  common/reactive/src/main/java/io/helidon/common/reactive/BufferedEmittingPublisher.java
  common/reactive/src/test/java/io/helidon/common/reactive/BufferedEmittingPublisherTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/EmitterTest.java
  webclient/webclient/src/main/java/io/helidon/webclient/NettyClientHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/HttpRequestScopedPublisher.java
Labels: reactive
