Repository helidon-io/helidon, pull requests merged in 2021-04, with the labels that each got.

#2902 Fix imports to use Hamcrest and Junit5 instead of Junit4
  config/config/src/test/java/io/helidon/config/ConfigSupplierTest.java
  config/config/src/test/java/io/helidon/config/ConfigTest.java
  config/config/src/test/java/io/helidon/config/FileOverrideSourceTest.java
  config/config/src/test/java/io/helidon/config/Gh1182Override.java
  config/config/src/test/java/io/helidon/config/MultiConfigSourceProvider.java
  config/config/src/test/java/io/helidon/config/PollingStrategiesTest.java
  config/config/src/test/java/io/helidon/config/TreeStructureTests.java
Labels: bug, testing

#2898 Ensure that the context is set throughout the request lifecycle
  webserver/test-support/src/main/java/io/helidon/webserver/testsupport/TestClient.java
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/Request.java
  webserver/webserver/src/main/java/io/helidon/webserver/RequestContext.java
  webserver/webserver/src/main/java/io/helidon/webserver/RequestRouting.java
  webserver/webserver/src/test/java/io/helidon/webserver/ContextLifeCycleTest.java
Labels: webserver

#2906 Weld feature disconnected from runtime.
  integrations/graal/mp-native-image-extension/src/main/java/io/helidon/integrations/graal/mp/nativeimage/extension/ProxyBean.java
  integrations/graal/mp-native-image-extension/src/main/java/io/helidon/integrations/graal/mp/nativeimage/extension/WeldFeature.java
Labels: native-image

#2904 Bump cron-utils to 9.1.3
  dependencies/pom.xml
Labels: dependencies

#2909 Exclude unused expression lang impl from Scheduling
  dependencies/pom.xml
Labels: dependencies

#2915 Upgrade Netty to 4.1.63.Final
  dependencies/pom.xml
Labels: dependencies

#2911 Fix NPE with async Jersey resource
  microprofile/server/src/test/java/io/helidon/microprofile/server/AsyncResourceTest.java
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
Labels: bug, jax-rs

#2900 Reloadable WebServer TLS during runtime
  tests/integration/webclient/src/test/java/io/helidon/tests/integration/webclient/MutualTlsTest.java
  tests/integration/webclient/src/test/resources/application-test.yaml
  tests/integration/webclient/src/test/resources/second-valid/client.p12
  tests/integration/webclient/src/test/resources/second-valid/server.p12
  webserver/test-support/src/main/java/io/helidon/webserver/testsupport/TestWebServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/HttpInitializer.java
  webserver/webserver/src/main/java/io/helidon/webserver/NettyWebServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServer.java
Labels: security

#2918 Neo4j driver version upgrade
  dependencies/pom.xml
Labels: dependencies

#2931 Examples await
  examples/cors/src/main/java/io/helidon/examples/cors/Main.java
  examples/cors/src/test/java/io/helidon/examples/cors/MainTest.java
  examples/employee-app/src/main/java/io/helidon/service/employee/Main.java
  examples/employee-app/src/test/java/io/helidon/service/employee/MainTest.java
  examples/integrations/neo4j/neo4j-se/src/main/java/io/helidon/examples/integrations/neo4j/se/Main.java
  examples/integrations/neo4j/neo4j-se/src/test/java/io/helidon/examples/quickstart/se/MainTest.java
  examples/openapi/src/main/java/io/helidon/examples/openapi/Main.java
  examples/openapi/src/test/java/io/helidon/examples/openapi/MainTest.java
  examples/webserver/mutual-tls/src/main/java/io/helidon/webserver/examples/mtls/ServerBuilderMain.java
  examples/webserver/mutual-tls/src/main/java/io/helidon/webserver/examples/mtls/ServerConfigMain.java
  examples/webserver/mutual-tls/src/test/java/io/helidon/webserver/examples/mtls/MutualTlsExampleTest.java
Labels: examples

#2924 Content-length set to 0 for PUT and POST if no entity has been sent
  tests/integration/webclient/src/main/java/io/helidon/tests/integration/webclient/GreetService.java
  tests/integration/webclient/src/test/java/io/helidon/tests/integration/webclient/HeaderTest.java
  webclient/webclient/src/main/java/io/helidon/webclient/RequestContentSubscriber.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilder.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilderImpl.java
Labels: webclient

#2933 Handle startups with request scopes available from CDI
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/RequestScopeHelper.java
  tests/functional/request-scope/pom.xml
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/StartupServices.java
  tests/functional/request-scope/src/test/java/io/helidon/tests/functional/requestscope/TenantTest.java
Labels: cdi, fault-tolerance

#2916 Fix injection of metrics registry in native image
  integrations/graal/native-image-extension/src/main/java/io/helidon/integrations/graal/nativeimage/extension/HelidonReflectionFeature.java
  microprofile/metrics/src/main/resources/META-INF/native-image/io.helidon/helidon-common/reflect-config.json
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/JaxRsResource.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/Mp1Main.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/TestBean.java
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/ResponseWriter.java
  webserver/webserver/src/main/resources/META-INF/native-image/io.helidon.webserver/helidon-webserver/native-image.properties
Labels: metrics, native-image

#2936 Remove @SuppressWarnings("checkstyle:designforextension").
  archetypes/quickstart-mp/src/main/resources/src/main/java/__pkg__/GreetResource.java.mustache
  examples/microprofile/openapi-basic/src/main/java/io/helidon/microprofile/examples/openapi/basic/GreetResource.java
  examples/microprofile/tls/src/main/java/io/helidon/microprofile/example/tls/GreetResource.java
  examples/quickstarts/helidon-quickstart-mp/src/main/java/io/helidon/examples/quickstart/mp/GreetResource.java
  examples/quickstarts/helidon-standalone-quickstart-mp/src/main/java/io/helidon/examples/quickstart/mp/GreetResource.java
  tests/integration/native-image/mp-3/src/main/java/io/helidon/tests/integration/nativeimage/mp3/GreetResource.java
Labels: examples

#2935 Checkstyle now checks class javadocs.
  common/http/src/main/java/io/helidon/common/http/MediaType.java
  common/key-util/src/main/java/io/helidon/common/pki/PemReader.java
  common/reactive/src/main/java/io/helidon/common/reactive/IoMulti.java
  config/config-mp/src/main/java/io/helidon/config/mp/MpConfigImpl.java
  etc/checkstyle.xml
  examples/integrations/neo4j/neo4j-mp/src/main/java/io/helidon/examples/integrations/neo4j/mp/Neo4jResource.java
  examples/messaging/jms-websocket-se/src/main/java/io/helidon/examples/messaging/se/SendingService.java
  examples/messaging/jms-websocket-se/src/main/java/io/helidon/examples/messaging/se/WebSocketEndpoint.java
  examples/messaging/kafka-websocket-se/src/main/java/io/helidon/examples/messaging/se/Main.java
  examples/messaging/kafka-websocket-se/src/main/java/io/helidon/examples/messaging/se/SendingService.java
  examples/messaging/kafka-websocket-se/src/main/java/io/helidon/examples/messaging/se/WebSocketEndpoint.java
  examples/microprofile/multipart/src/main/java/io/helidon/examples/microprofile/multipart/FileService.java
  examples/webserver/basics/src/main/java/io/helidon/webserver/examples/basics/NameReader.java
  messaging/connectors/jms/src/main/java/io/helidon/messaging/connectors/jms/JmsBytesMessage.java
  messaging/connectors/jms/src/main/java/io/helidon/messaging/connectors/jms/JmsTextMessage.java
  messaging/kafka/src/main/java/io/helidon/messaging/connectors/kafka/KafkaProducerMessage.java
  messaging/messaging/src/main/java/io/helidon/messaging/Messaging.java
  metrics/trace-exemplar/src/main/java/io/helidon/metrics/exemplartrace/TraceExemplarService.java
  microprofile/jwt-auth/src/main/java/io/helidon/microprofile/jwt/auth/JwtAuthProvider.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClient.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/CorsSupport.java
  webserver/webserver/src/main/java/io/helidon/webserver/SocketConfiguration.java
Labels: bug, build

#2917 ClassCastException during Graal native image and ReST Client
  integrations/graal/native-image-extension/src/main/java/io/helidon/integrations/graal/nativeimage/extension/HelidonReflectionFeature.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/JaxRsResource.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/Mp1Main.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/RestClientIface.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/TestBean.java
Labels: contribution

#2938 Fix delay computation in Retry policies
  fault-tolerance/src/main/java/io/helidon/faulttolerance/RetryImpl.java
  fault-tolerance/src/test/java/io/helidon/faulttolerance/RetryTest.java
Labels: fault-tolerance

#2958 Docs: Add prereqs to CLI page
  HELIDON-CLI.md
  README.md
  docs/about/05_cli.adoc
Labels: docs

#2974 Docs: Document helidon-health-checks maven dependency in MP Health docs
  docs/mp/health/01_introduction.adoc
Labels: docs

#2960 Docs: Add Helidon on Windows document
  docs/about/03_prerequisites.adoc
  docs/about/04_windows.adoc
  docs/about/05_cli.adoc
Labels: docs
