Repository helidon-io/helidon, pull requests merged in 2021-12, with the labels that each got.

#3677 Bump up cron utils
  dependencies/pom.xml
  scheduling/src/main/java/module-info.java
Labels: dependencies

#3681 WebClient: Netty order of writes #3674
  webclient/webclient/pom.xml
  webclient/webclient/src/main/java/io/helidon/webclient/NettyChannel.java
  webclient/webclient/src/main/java/io/helidon/webclient/RequestContentSubscriber.java
  webclient/webclient/src/test/java/io/helidon/webclient/OrderOfWritesTest.java
Labels: webclient

#3682 Improved support for cancellation of FT handlers (helidon-2.x)
  fault-tolerance/src/main/java/io/helidon/faulttolerance/DelayedTask.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/FaultTolerance.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/TimeoutImpl.java
  fault-tolerance/src/test/java/io/helidon/faulttolerance/RetryTest.java
  fault-tolerance/src/test/java/io/helidon/faulttolerance/TimeoutTest.java
Labels: fault-tolerance

#3700 Allow compression to be enabled together with HTTP/2
  tests/apps/bookstore/bookstore-se/src/main/java/io/helidon/tests/apps/bookstore/se/Main.java
  tests/apps/bookstore/bookstore-se/src/test/java/io/helidon/tests/apps/bookstore/se/Http2SslTest.java
  tests/apps/bookstore/bookstore-se/src/test/java/io/helidon/tests/apps/bookstore/se/MainTest.java
  tests/apps/bookstore/bookstore-se/src/test/java/io/helidon/tests/apps/bookstore/se/SslTest.java
  tests/apps/bookstore/bookstore-se/src/test/java/io/helidon/tests/apps/bookstore/se/TestServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/HttpInitializer.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerConfiguration.java
Labels: webserver

#3680 Improved support for cancellation of FT handlers
  fault-tolerance/src/main/java/io/helidon/faulttolerance/DelayedTask.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/FaultTolerance.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/TimeoutImpl.java
  fault-tolerance/src/test/java/io/helidon/faulttolerance/RetryTest.java
  fault-tolerance/src/test/java/io/helidon/faulttolerance/TimeoutTest.java
Labels: fault-tolerance

#3705 Allow compression to be enabled together with HTTP/2 (helidon-2.x)
  tests/apps/bookstore/bookstore-se/src/main/java/io/helidon/tests/apps/bookstore/se/Main.java
  tests/apps/bookstore/bookstore-se/src/test/java/io/helidon/tests/apps/bookstore/se/Http2SslTest.java
  tests/apps/bookstore/bookstore-se/src/test/java/io/helidon/tests/apps/bookstore/se/MainTest.java
  tests/apps/bookstore/bookstore-se/src/test/java/io/helidon/tests/apps/bookstore/se/SslTest.java
  tests/apps/bookstore/bookstore-se/src/test/java/io/helidon/tests/apps/bookstore/se/TestServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/HttpInitializer.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerConfiguration.java
Labels: webserver

#3706 Upgrade asciidoctorj-diagram to 1.5.18
  pom.xml
Labels: build, dependencies

#3708 Upgrade maven-javadoc-plugin to 3.3.1
  pom.xml
Labels: docs, build

#3685 Remove SecurityManager and AccessController dependencies in Grpc
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/AbstractServiceBuilder.java
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/AnnotatedMethod.java
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/AnnotatedMethodList.java
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/ModelHelper.java
Labels: security, grpc

#3710 WebClient: Netty order of writes 2x backport #3674
  webclient/webclient/pom.xml
  webclient/webclient/src/main/java/io/helidon/webclient/NettyChannel.java
  webclient/webclient/src/main/java/io/helidon/webclient/RequestContentSubscriber.java
  webclient/webclient/src/test/java/io/helidon/webclient/OrderOfWritesTest.java
Labels: reactive, webclient

#3715 javadoc: Add additional microprofile crossreferences
  etc/javadoc/microprofile-fault-tolerance-api/package-list
  etc/javadoc/microprofile-graphql/package-list
  etc/javadoc/microprofile-jwt/package-list
  etc/javadoc/microprofile-lra-api/package-list
  etc/javadoc/microprofile-openapi-api/package-list
  etc/javadoc/microprofile-reactive-messaging-api/package-list
  etc/javadoc/microprofile-reactive-streams-operators-api/package-list
  etc/javadoc/microprofile-rest-client/package-list
  etc/javadoc/microprofile-tracing/package-list
  microprofile/cdi/src/main/java/io/helidon/microprofile/cdi/package-info.java
  microprofile/cdi/src/main/java/module-info.java
  microprofile/config/src/main/java/io/helidon/microprofile/config/package-info.java
  microprofile/config/src/main/java/module-info.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/package-info.java
  microprofile/fault-tolerance/src/main/java/module-info.java
  microprofile/graphql/server/src/main/java/io/helidon/microprofile/graphql/server/package-info.java
  microprofile/health/src/main/java/io/helidon/microprofile/health/package-info.java
  microprofile/health/src/main/java/module-info.java
  microprofile/jwt-auth/src/main/java/io/helidon/microprofile/jwt/auth/package-info.java
  microprofile/jwt-auth/src/main/java/module-info.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/package-info.java
  microprofile/lra/jax-rs/src/main/java/module-info.java
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/package-info.java
  microprofile/messaging/core/src/main/java/module-info.java
  microprofile/messaging/health/src/main/java/io/helidon/microprofile/messaging/health/package-info.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/package-info.java
  microprofile/metrics/src/main/java/module-info.java
  microprofile/openapi/src/main/java/io/helidon/microprofile/openapi/package-info.java
  microprofile/openapi/src/main/java/module-info.java
  microprofile/reactive-streams/src/main/java/io/helidon/microprofile/reactive/package-info.java
  microprofile/reactive-streams/src/main/java/module-info.java
  microprofile/rest-client/src/main/java/io/helidon/microprofile/restclient/package-info.java
  microprofile/rest-client/src/main/java/module-info.java
  microprofile/tracing/src/main/java/io/helidon/microprofile/tracing/package-info.java
  microprofile/tracing/src/main/java/module-info.java
  pom.xml
Labels: docs

#3703 Missing wget in the coordinator's docker base image
  lra/coordinator/server/Dockerfile
Labels: lra

#3718 Netty mixed writing aligned with master
  webserver/webserver/src/main/java/io/helidon/webserver/BareResponseImpl.java
  webserver/webserver/src/main/java/io/helidon/webserver/NettyChannel.java
Labels: webserver

#3679 3640 Netty mixed writing (#3671)
  webserver/webserver/src/main/java/io/helidon/webserver/BareResponseImpl.java
  webserver/webserver/src/main/java/io/helidon/webserver/NettyChannel.java
  webserver/webserver/src/test/java/io/helidon/webserver/OrderOfWritesTest.java
Labels: webserver

#3720 Upgrades Netty to 4.1.71.Final
  dependencies/pom.xml
  etc/scripts/test-packaging-jlink.sh
  pom.xml
  webserver/transport/netty/epoll/src/main/java/module-info.java
  webserver/webserver/src/main/resources/META-INF/native-image/io.helidon.webserver/helidon-webserver/native-image.properties
Labels: webserver, grpc, dependencies, 3.x

#3723 Upgrades log4j to 2.15.0
  dependencies/pom.xml
Labels: security, P1, dependencies

#3724 Upgraded log4j to 2.15.0 (2.x backport)
  dependencies/pom.xml
Labels: security, 2.x, dependencies, backport

#3666 Support for mutable file based MP config sources.
  config/config-mp/src/main/java/io/helidon/config/mp/MpConfigSources.java
  config/config/src/main/java/io/helidon/config/MutabilitySupport.java
  config/yaml-mp/src/main/java/io/helidon/config/yaml/mp/YamlMpConfigSource.java
  docs/mp/config/01_introduction.adoc
Labels: 2.x

#3732 Move scheduling of metrics periodic updater so it is run in MP as well as in SE (2.x)
  metrics/metrics/src/main/java/io/helidon/metrics/MetricsSupport.java
Labels: 2.x

#3736 Upgrades log4j to 2.16.0
  dependencies/pom.xml
Labels: security, dependencies, 3.x

#3738 Upgrades Netty to 4.1.72.Final
  dependencies/pom.xml
Labels: dependencies, 3.x

#3737 Upgrades log4j to 2.16.0
  dependencies/pom.xml
Labels: security, 2.x, dependencies

#3739 Upgrades Netty to 4.1.72.Final
  dependencies/pom.xml
  pom.xml
  webserver/transport/netty/epoll/src/main/java/module-info.java
  webserver/webserver/src/main/resources/META-INF/native-image/io.helidon.webserver/helidon-webserver/native-image.properties
Labels: 2.x, dependencies

#3742 JWK keys lazy load
  microprofile/jwt-auth/src/main/java/io/helidon/microprofile/jwt/auth/JwtAuthProvider.java
  microprofile/tests/tck/tck-jwt-auth/tck-base-suite.xml
Labels: security, 2.x

#3743 Update a few MicroProfile specs to final versions
  dependencies/pom.xml
Labels: MP, dependencies, 3.x

#3746 2.x: Manage version of netty-transport-native-unix-common and Suppress false positives
  dependencies/pom.xml
  etc/dependency-check-suppression.xml
Labels: 2.x

#3749 Fix proxy configuration.
  security/providers/oidc-common/src/main/java/io/helidon/security/providers/oidc/common/OidcConfig.java
  security/providers/oidc-common/src/main/java/io/helidon/security/providers/oidc/common/OidcUtil.java
Labels: 2.x

#3745 Manage version of netty-transport-native-unix-common and Suppress false positives
  dependencies/pom.xml
  etc/dependency-check-suppression.xml
Labels: 3.x

#3688 LRA doc fix artefact and group ids
  docs/mp/lra/01_introduction.adoc
Labels: docs

#3689 LRA doc fix artefact and group ids 2x
  docs/mp/lra/01_introduction.adoc
Labels: docs

#3741 Defer writes with backpressure #3684
  webserver/tyrus/src/main/java/io/helidon/webserver/tyrus/TyrusSupport.java
  webserver/webserver/src/main/java/io/helidon/webserver/BareResponseImpl.java
  webserver/webserver/src/test/java/io/helidon/webserver/ReqEntityAnalyzedTest.java
Labels: webserver, reactive

#3725 Close active span if an exception is thrown in client request processing
  tracing/jersey-client/pom.xml
  tracing/jersey-client/src/main/java/io/helidon/tracing/jersey/client/ClientTracingAutoDiscoverable.java
  tracing/jersey-client/src/main/java/io/helidon/tracing/jersey/client/ClientTracingFilter.java
  tracing/jersey-client/src/main/java/io/helidon/tracing/jersey/client/ClientTracingInterceptor.java
  tracing/jersey-client/src/test/java/io/helidon/tracing/jersey/client/ClientTracingInterceptorTest.java
Labels: tracing

#3770 Update 2.x branch with 2.4.1 release changes
  CHANGELOG.md
  dependencies/pom.xml
  webserver/webserver/src/main/resources/META-INF/native-image/io.helidon.webserver/helidon-webserver/native-image.properties
Labels: 2.x

#3771 Upgrade log4j to 2.17.0
  dependencies/pom.xml
Labels: 3.x

#3772 Update native-image.properties for webserver and Netty
  webserver/webserver/src/main/resources/META-INF/native-image/io.helidon.webserver/helidon-webserver/native-image.properties
Labels: native-image, 3.x
