Repository helidon-io/helidon, pull requests merged in 2021-08, with the labels that each got.

#3224 Doc Fix for Issue 3175- OCI Vault image error
  docs/mp/oci/03_vault.adoc
  docs/se/oci/03_vault.adoc
Labels: docs

#3168 Added prereqs to each guide se/mp
  docs/common/guides/graalnative.adoc
  docs/common/guides/jlink_image.adoc
  docs/common/guides/metrics.adoc
  docs/mp/guides/01_overview.adoc
  docs/mp/guides/02_quickstart.adoc
  docs/mp/guides/03_config.adoc
  docs/mp/guides/04_health.adoc
  docs/mp/guides/05_metrics.adoc
  docs/mp/guides/05_security-oidc.adoc
  docs/mp/guides/06_tracing.adoc
  docs/mp/guides/07_datasource.adoc
  docs/mp/guides/08_jta.adoc
  docs/mp/guides/09_jpa.adoc
  docs/mp/guides/10_mp-tutorial.adoc
  docs/mp/guides/15_migration.adoc
  docs/mp/guides/25_maven_build.adoc
  docs/mp/guides/26_gradle_build.adoc
  docs/mp/guides/36_graalnative.adoc
  docs/mp/guides/37_jlink_image.adoc
  docs/mp/guides/38_se_services.adoc
  docs/se/guides/01_overview.adoc
  docs/se/guides/02_quickstart.adoc
  docs/se/guides/03_config.adoc
  docs/se/guides/04_health.adoc
  docs/se/guides/05_metrics.adoc
  docs/se/guides/05_security_oidc.adoc
  docs/se/guides/06_tracing.adoc
  docs/se/guides/15_migration.adoc
  docs/se/guides/25_maven_build.adoc
  docs/se/guides/26_gradle_build.adoc
  docs/se/guides/36_graalnative.adoc
  docs/se/guides/37_jlink_image.adoc
  docs/shared/common_prereqs/common_prereqs.adoc
Labels: docs

#3253 Upgrade typesafe-config to 1.4.1
  dependencies/pom.xml
Labels: config, dependencies

#3252 Upgrade brave-opentracing to 1.0.0
  dependencies/pom.xml
  tracing/tests/it-tracing-client-zipkin/src/test/java/io/helidon/tracing/tests/it1/OpentraceableClientFilterTest.java
Labels: tracing, dependencies

#3259 Use try-with-resources with Response's in examples and quickstarts
  archetypes/bare-mp/src/main/resources/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/database-mp/src/main/resources/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/quickstart-mp/src/main/resources/src/test/java/__pkg__/MainTest.java.mustache
  examples/integrations/cdi/pokemons/src/test/java/io/helidon/examples/integrations/cdi/pokemon/MainTest.java
  examples/integrations/micronaut/data/src/test/java/io/helidon/examples/integrations/micronaut/data/MicronautExampleTest.java
  examples/microprofile/multipart/src/test/java/io/helidon/examples/microprofile/multipart/FileServiceTest.java
  examples/microprofile/multiport/src/test/java/io/helidon/examples/microprofile/multiport/MainTest.java
  examples/microprofile/openapi-basic/src/test/java/io/helidon/microprofile/examples/openapi/basic/MainTest.java
  examples/microprofile/static-content/src/test/java/io/helidon/microprofile/example/staticc/StaticContentTest.java
  examples/microprofile/tls/src/test/java/io/helidon/microprofile/example/tls/TlsTest.java
  examples/microprofile/websocket/src/test/java/io/helidon/microprofile/example/websocket/MessageBoardTest.java
  examples/quickstarts/helidon-quickstart-mp/src/test/java/io/helidon/examples/quickstart/mp/MainTest.java
  examples/quickstarts/helidon-standalone-quickstart-mp/src/test/java/io/helidon/examples/quickstart/mp/MainTest.java
  examples/security/jersey/src/test/java/io/helidon/security/examples/jersey/JerseyMainTest.java
  examples/security/webserver-digest-auth/src/test/java/io/helidon/security/examples/webserver/digest/DigestExampleTest.java
  examples/todo-app/frontend/package-lock.json
  examples/todo-app/frontend/src/main/java/io/helidon/demo/todos/frontend/BackendServiceClient.java
  examples/translator-app/frontend/src/main/java/io/helidon/examples/translator/frontend/TranslatorFrontendService.java
  examples/translator-app/frontend/src/test/java/io/helidon/examples/translator/TranslatorTest.java
  examples/webserver/jersey/src/test/java/io/helidon/webserver/examples/jersey/HelloWorldTest.java
Labels: examples

#3262 Updated tests to use @HelidonTest
  archetypes/bare-mp/src/main/resources/pom.xml.mustache
  archetypes/bare-mp/src/main/resources/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/database-mp/src/main/resources/pom.xml.mustache
  archetypes/database-mp/src/main/resources/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/quickstart-mp/src/main/resources/pom.xml.mustache
  archetypes/quickstart-mp/src/main/resources/src/test/java/__pkg__/MainTest.java.mustache
Labels: examples

#3256 Upgraded H2 to 1.4.200
  dependencies/pom.xml
  examples/integrations/micronaut/data/src/main/resources/META-INF/microprofile-config.properties
  integrations/micronaut/data/src/test/resources/in-mem-h2.properties
Labels: 2.x, dependencies

#3267 Specifies the explicit version of the JDK in the Helidon build pipelines
  etc/scripts/includes/pipeline-env.sh
Labels: build, 2.x

#3257 Upgrades HikariCP to version 5.0.0.
  dependencies/pom.xml
Labels: 2.x, dependencies

#3270 Upgraded Jandex to 2.3.1.Final and jandex-maven-plugin to 1.1.0
  dependencies/pom.xml
  microprofile/graphql/server/src/main/java/module-info.java
  microprofile/openapi/src/main/java/module-info.java
  openapi/src/main/java/module-info.java
  pom.xml
Labels: 2.x, dependencies

#3201 JEP-290, SerialConfig support
  common/common/src/main/java/io/helidon/common/SerializationConfig.java
  common/common/src/main/resources/META-INF/native-image/io.helidon/helidon-common/resource-config.json
  common/common/src/test/java/io/helidon/common/SerializationConfigTest.java
  examples/grpc/microprofile/basic-client/src/main/resources/application.yaml
  integrations/db/h2/pom.xml
  integrations/db/ojdbc/pom.xml
  integrations/db/ojdbc/src/main/resources/META-INF/helidon/serial-config.properties
  microprofile/cdi/src/main/java/io/helidon/microprofile/cdi/HelidonContainerImpl.java
  tests/integration/jep290/check_f_f_ok/pom.xml
  tests/integration/jep290/check_f_f_ok/src/main/java/io/helidon/tests/integration/jep290/checkffok/Configured.java
  tests/integration/jep290/check_f_f_ok/src/main/java/io/helidon/tests/integration/jep290/checkffok/NotConfigured.java
  tests/integration/jep290/check_f_f_ok/src/test/java/io/helidon/tests/integration/jep290/checkffok/DeserializationTest.java
  tests/integration/jep290/check_f_f_w/pom.xml
  tests/integration/jep290/check_f_f_w/src/main/java/io/helidon/tests/integration/jep290/checkffw/Configured.java
  tests/integration/jep290/check_f_f_w/src/main/java/io/helidon/tests/integration/jep290/checkffw/NotConfigured.java
  tests/integration/jep290/check_f_f_w/src/test/java/io/helidon/tests/integration/jep290/checkffw/DeserializationTest.java
  tests/integration/jep290/check_f_p_ok/pom.xml
  tests/integration/jep290/check_f_p_ok/src/main/java/io/helidon/tests/integration/jep290/checkfpok/Configured.java
  tests/integration/jep290/check_f_p_ok/src/main/java/io/helidon/tests/integration/jep290/checkfpok/NotConfigured.java
  tests/integration/jep290/check_f_p_ok/src/test/java/io/helidon/tests/integration/jep290/checkfpok/DeserializationTest.java
  tests/integration/jep290/check_f_p_w/pom.xml
  tests/integration/jep290/check_f_p_w/src/main/java/io/helidon/tests/integration/jep290/checkfpw/Configured.java
  tests/integration/jep290/check_f_p_w/src/main/java/io/helidon/tests/integration/jep290/checkfpw/NotConfigured.java
  tests/integration/jep290/check_f_p_w/src/test/java/io/helidon/tests/integration/jep290/checkfpw/DeserializationTest.java
  tests/integration/jep290/pom.xml
  tests/integration/jep290/set_c_f_c/pom.xml
  tests/integration/jep290/set_c_f_c/src/main/java/io/helidon/tests/integration/jep290/setcfc/ConfiguredInFile.java
  tests/integration/jep290/set_c_f_c/src/main/java/io/helidon/tests/integration/jep290/setcfc/ConfiguredInPattern.java
  tests/integration/jep290/set_c_f_c/src/main/java/io/helidon/tests/integration/jep290/setcfc/NotConfigured.java
  tests/integration/jep290/set_c_f_c/src/main/resources/META-INF/helidon/serial-config.properties
  tests/integration/jep290/set_c_f_c/src/test/java/io/helidon/tests/integration/jep290/setcfc/DeserializationTest.java
  tests/integration/jep290/set_c_f_d/pom.xml
  tests/integration/jep290/set_c_f_d/src/main/java/io/helidon/tests/integration/jep290/setcfd/ConfiguredInFile.java
  tests/integration/jep290/set_c_f_d/src/main/java/io/helidon/tests/integration/jep290/setcfd/NotConfigured.java
  tests/integration/jep290/set_c_f_d/src/main/resources/META-INF/helidon/serial-config.properties
  tests/integration/jep290/set_c_f_d/src/test/java/io/helidon/tests/integration/jep290/setcfd/DeserializationTest.java
  tests/integration/jep290/set_c_t_d/pom.xml
  tests/integration/jep290/set_c_t_d/src/main/java/io/helidon/tests/integration/jep290/setctd/ConfiguredInFile.java
  tests/integration/jep290/set_c_t_d/src/main/java/io/helidon/tests/integration/jep290/setctd/NotConfigured.java
  tests/integration/jep290/set_c_t_d/src/main/resources/META-INF/helidon/serial-config.properties
  tests/integration/jep290/set_c_t_d/src/test/java/io/helidon/tests/integration/jep290/setctd/DeserializationTest.java
  tests/integration/jep290/set_f/pom.xml
  tests/integration/jep290/set_f/src/main/java/io/helidon/tests/integration/jep290/setf/ConfiguredInFile.java
  tests/integration/jep290/set_f/src/main/java/io/helidon/tests/integration/jep290/setf/NotConfigured.java
  tests/integration/jep290/set_f/src/main/resources/META-INF/helidon/serial-config.properties
  tests/integration/jep290/set_f/src/test/java/io/helidon/tests/integration/jep290/setf/DeserializationTest.java
  tests/integration/jep290/set_o/pom.xml
  tests/integration/jep290/set_o/src/main/java/io/helidon/tests/integration/jep290/seto/ConfiguredInFile.java
  tests/integration/jep290/set_o/src/main/java/io/helidon/tests/integration/jep290/seto/NotConfigured.java
  tests/integration/jep290/set_o/src/main/resources/META-INF/helidon/serial-config.properties
  tests/integration/jep290/set_o/src/test/java/io/helidon/tests/integration/jep290/seto/DeserializationTest.java
  tests/integration/native-image/mp-2/src/main/java/io/helidon/tests/integration/nativeimage/mp2/Mp2Main.java
  tests/integration/pom.xml
  webserver/webserver/src/main/java/io/helidon/webserver/NettyWebServer.java
Labels: security

#3268 Direct dependency for reactive streams api
  dbclient/mongodb/pom.xml
  dependencies/pom.xml
  microprofile/reactive-streams/pom.xml
Labels: dependencies, reactive

#3271 SE Messaging log unhandled errors
  messaging/messaging/src/main/java/io/helidon/messaging/Messaging.java
  messaging/messaging/src/test/java/io/helidon/messaging/ConsumerErrorHandlingTest.java
Labels: bug, messaging

#3308 Fix scheduling test RC
  microprofile/scheduling/src/test/java/io/helidon/microprofile/scheduling/ScheduledBean.java
Labels: testing

#3294 Use MP OpenAPI 1.2 and adapt to SmallRye OpenAPI 2.0.26 which supports it
  dependencies/pom.xml
  microprofile/openapi/pom.xml
  microprofile/openapi/src/main/java/io/helidon/microprofile/openapi/MPOpenAPIBuilder.java
  microprofile/openapi/src/main/java/module-info.java
  microprofile/openapi/src/test/java/io/helidon/microprofile/openapi/BasicServerTest.java
  microprofile/openapi/src/test/java/io/helidon/microprofile/openapi/TestUtil.java
  openapi/pom.xml
  openapi/src/main/java/io/helidon/openapi/CustomConstructor.java
  openapi/src/main/java/io/helidon/openapi/ExpandedTypeDescription.java
  openapi/src/main/java/io/helidon/openapi/ImplTypeDescription.java
  openapi/src/main/java/io/helidon/openapi/OpenAPISupport.java
  openapi/src/main/java/io/helidon/openapi/Serializer.java
  openapi/src/main/java/io/helidon/openapi/internal/OpenAPIConfigImpl.java
  openapi/src/main/java/module-info.java
  openapi/src/test/java/io/helidon/openapi/ParserTest.java
  openapi/src/test/java/io/helidon/openapi/SerializerTest.java
Labels: dependencies

#3312 Added logging to test to debug failures in our pipeline
  webserver/webserver/src/test/java/io/helidon/webserver/HttpPipelineTest.java
Labels: testing

#3005 Guide for Testing with JUnit5
  docs/mp/guides/38_testing_junit5.adoc
Labels: docs

#3317 Removes duplicate JTA API jars where appropriate
  dependencies/pom.xml
Labels: jpa/jta, 2.x, dependencies

#3315 Make sure our built-in MP health checks are marked as built in
  integrations/neo4j/health/pom.xml
  integrations/neo4j/health/src/main/java/io/helidon/integrations/neo4j/health/Neo4jHealthCheck.java
  integrations/neo4j/health/src/main/java/module-info.java
  microprofile/messaging/health/src/main/java/io/helidon/microprofile/messaging/health/MessagingLivenessCheck.java
  microprofile/messaging/health/src/main/java/io/helidon/microprofile/messaging/health/MessagingReadinessCheck.java
  microprofile/messaging/health/src/main/java/module-info.java
Labels: health, wip

#3302 Upgrades Jedis to 3.6.3
  dependencies/pom.xml
  integrations/cdi/jedis-cdi/src/main/java/io/helidon/integrations/jedis/cdi/JedisExtension.java
  integrations/cdi/jedis-cdi/src/main/java/module-info.java
Labels: P3, cdi, 2.x, dependencies, integration

#3333 Javadoc update: external links and package-list/element-list updates
  etc/javadoc/jackson-core/package-list
  etc/javadoc/jackson-databind/package-list
  etc/javadoc/jakarta-jsonb/element-list
  etc/javadoc/javax-transaction/package-list
  etc/javadoc/jaxrs/element-list
  etc/javadoc/jersey/package-list
  etc/javadoc/narayana/package-list
  etc/javadoc/prometheus/element-list
  etc/javadoc/zipkin/element-list
  pom.xml
Labels: docs

#3336 JavaDoc lint warning cleanup
  common/common/src/main/java/io/helidon/common/SerializationConfig.java
  common/configurable/src/main/java/io/helidon/common/configurable/ThreadPoolSupplier.java
  common/mapper/src/main/java/io/helidon/common/mapper/MapperManager.java
  common/reactive/src/main/java/io/helidon/common/reactive/IoMulti.java
  integrations/vault/vault/src/main/java/io/helidon/integrations/vault/spi/InjectionProvider.java
  messaging/connectors/jms/src/main/java/io/helidon/messaging/connectors/jms/JmsMessage.java
  messaging/kafka/src/main/java/io/helidon/messaging/connectors/kafka/KafkaPublisher.java
  messaging/kafka/src/main/java/io/helidon/messaging/connectors/kafka/KafkaSubscriber.java
  microprofile/scheduling/src/main/java/io/helidon/microprofile/scheduling/Scheduled.java
  security/providers/common/src/main/java/io/helidon/security/providers/common/spi/AnnotationAnalyzer.java
  security/providers/idcs-mapper/src/main/java/io/helidon/security/providers/idcs/mapper/IdcsMtRoleMapperProvider.java
  security/providers/idcs-mapper/src/main/java/io/helidon/security/providers/idcs/mapper/IdcsMtRoleMapperRxProvider.java
Labels: docs

#3335 Await with duration
  common/reactive/src/main/java/io/helidon/common/reactive/Awaitable.java
Labels: reactive

#3329 Single.onCompleteResumeWithSingle
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleOnCompleteResumeWith.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleOnCompleteResumeWithTest.java
  tests/tck/tck-reactive-streams/src/test/java/io/helidon/common/reactive/SingleOnCompleteResumeWithSingleCompletedTckTest.java
  tests/tck/tck-reactive-streams/src/test/java/io/helidon/common/reactive/SingleOnCompleteResumeWithSingleTckTest.java
Labels: reactive

#3337 3287 SE Messaging doesn't create default config
  docs/se/reactivemessaging/03_connector.adoc
  docs/se/reactivemessaging/04_kafka.adoc
  docs/se/reactivemessaging/05_jms.adoc
  messaging/messaging/src/main/java/io/helidon/messaging/Messaging.java
Labels: api-change, messaging

#3342 Native-image regression fix
  metrics/metrics/src/main/resources/META-INF/native-image/io.helidon.metrics/native-image.properties
Labels: metrics, native-image

#3343 Sse injection native-image compatible
  webserver/jersey/src/main/resources/META-INF/helidon/native-image/reflection-config.json
Labels: jax-rs, native-image
