Repository helidon-io/helidon, pull requests merged in 2021-11, with the labels that each got.

#3592 Multi defaultIfEmpty
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/MultiDeferredDefaultIfEmpty.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleDeferredDefaultIfEmpty.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleDeferredJust.java
  common/reactive/src/main/java/io/helidon/common/reactive/SingleDeferredSubscription.java
  common/reactive/src/main/java/io/helidon/common/reactive/Subscribable.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiDefaultIfEmptyTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleDefaultIfEmptyTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleTest.java
  tests/tck/tck-reactive-streams/src/test/java/io/helidon/common/reactive/MultiDefaultIfEmptySupplierFallbackTckTest.java
  tests/tck/tck-reactive-streams/src/test/java/io/helidon/common/reactive/MultiDefaultIfEmptySupplierNormalTckTest.java
  tests/tck/tck-reactive-streams/src/test/java/io/helidon/common/reactive/SingleDefaultIfEmptySupplierFallbackTckTest.java
  tests/tck/tck-reactive-streams/src/test/java/io/helidon/common/reactive/SingleDefaultIfEmptySupplierNormalTckTest.java
  tests/tck/tck-reactive-streams/src/test/java/io/helidon/common/reactive/SingleJustSupplierTckTest.java
Labels: reactive

#3612 Support Gradle application plugin in quickstart examples
  examples/quickstarts/helidon-quickstart-mp/build.gradle
  examples/quickstarts/helidon-quickstart-se/build.gradle
Labels: examples

#3614 New flag to force the use of relative URIs in WebClient
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientConfiguration.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilderImpl.java
  webclient/webclient/src/test/java/io/helidon/webclient/ProxyTest.java
  webclient/webclient/src/test/resources/application.yaml
Labels: webclient

#3642 Checkstyle upgrade
  config/config/src/main/java/io/helidon/config/Config.java
  config/config/src/main/java/io/helidon/config/spi/ChangeWatcher.java
  config/config/src/main/java/io/helidon/config/spi/ConfigContent.java
  config/config/src/main/java/io/helidon/config/spi/PollableSource.java
  config/object-mapping/src/main/java/io/helidon/config/objectmapping/Value.java
  dbclient/jdbc/src/main/java/io/helidon/dbclient/jdbc/ConnectionPool.java
  etc/checkstyle.xml
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Retry.java
  grpc/server/src/main/java/io/helidon/grpc/server/GrpcServerConfiguration.java
  grpc/server/src/main/java/module-info.java
  integrations/oci/telemetry/src/main/java/io/helidon/integrations/oci/telemetry/OciMetricsRx.java
  integrations/oci/vault/src/main/java/io/helidon/integrations/oci/vault/OciVaultRx.java
  integrations/vault/vault/src/main/java/io/helidon/integrations/vault/Vault.java
  messaging/connectors/jms/src/main/java/io/helidon/messaging/connectors/jms/JmsMessage.java
  metrics/api/src/main/java/io/helidon/metrics/api/KeyPerformanceIndicatorMetricsSettings.java
  pom.xml
  security/security/src/main/java/io/helidon/security/spi/AuditProvider.java
Labels: build, dependencies

#3657 Fixed invalid parent version.
  examples/integrations/oci/atp-cdi/pom.xml
  examples/integrations/oci/atp-reactive/pom.xml
  examples/microprofile/lra/pom.xml
  tests/integration/security/gh2772/pom.xml
Labels: build

#3664 Implementation of Fault tolerance 4.0
  fault-tolerance/src/main/java/io/helidon/faulttolerance/RetryImpl.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/RetryTimeoutException.java
  jersey/client/src/main/resources/META-INF/native-image/io.helidon.jersey/helidon-jersey-client/native-image.properties
  microprofile/fault-tolerance/etc/spotbugs/exclude.xml
  microprofile/fault-tolerance/pom.xml
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FallbackHelper.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FaultToleranceExtension.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FaultToleranceMetrics.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/JavaMethodFinder.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/MethodIntrospector.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/MethodInvoker.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/RetryAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/ThrowableMapper.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/FaultToleranceTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/MetricsBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/MetricsTest.java
  microprofile/tests/arquillian/src/main/java/io/helidon/microprofile/arquillian/HelidonDeployableContainer.java
  microprofile/tests/tck/tck-fault-tolerance/pom.xml
  microprofile/tests/tck/tck-fault-tolerance/src/test/tck-suite.xml
Labels: fault-tolerance, 3.x

#3670 Update MP specs to latest versions
  dependencies/pom.xml
  tests/apps/bookstore/bookstore-se/src/test/java/io/helidon/tests/apps/bookstore/se/MainTest.java
Labels: 3.x
