Repository helidon-io/helidon, pull requests merged in 2021-06, with the labels that each got.

#3062 1.4: Upgrade Jakarta dependencies to match what is in 2.x
  dependencies/pom.xml
Labels: 1.x

#3050 Reactive routing via cdi provider
  docs/mp/guides/38_se_services.adoc
  docs/mp/jaxrs/02_server-configuration.adoc
  docs/mp/jaxrs/10_reactive-routing.adoc
  microprofile/server/src/main/java/io/helidon/microprofile/server/RoutingConfiguration.java
  microprofile/server/src/main/java/io/helidon/microprofile/server/RoutingName.java
  microprofile/server/src/main/java/io/helidon/microprofile/server/RoutingPath.java
  microprofile/server/src/main/java/io/helidon/microprofile/server/ServerCdiExtension.java
  microprofile/server/src/test/java/io/helidon/microprofile/server/JerseyPropertiesTest.java
  microprofile/server/src/test/java/io/helidon/microprofile/server/ProducedRouteTest.java
  microprofile/server/src/test/resources/META-INF/beans.xml
Labels: MP, webserver

#3068 Fix Intermittent MultiFlatMapPublisherTest#multi
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFlatMapPublisherTest.java
Labels: reactive

#3079 1.4: Upgrade netty
  dependencies/pom.xml
Labels: dependencies

#3083 Update Config Guide to describe how to change pom for custom main class
  docs/mp/guides/03_config.adoc
Labels: docs

#3077 Upgrade javadoc-plugin. Silence error for org.jboss.logging.annotations.Message$Format
  pom.xml
Labels: build

#3065 Upgrade GraphQL to support mp-graphql spec 1.1.0
  dependencies/pom.xml
  examples/microprofile/graphql/README.md
  examples/microprofile/graphql/src/main/java/io/helidon/examples/graphql/basics/TaskApi.java
  microprofile/graphql/server/src/test/java/io/helidon/microprofile/graphql/server/test/queries/QueriesAndMutationsWithNulls.java
  tests/integration/mp-graphql/src/test/java/io/helidon/microprofile/graphql/server/NullIT.java
Labels: dependencies, graphql

#2989 Helidon crypto module
  CHANGELOG.md
  common/common/src/main/java/io/helidon/common/Base64Value.java
  common/crypto/etc/spotbugs/exclude.xml
  common/crypto/pom.xml
  common/crypto/src/main/java/io/helidon/common/crypto/AsymmetricCipher.java
  common/crypto/src/main/java/io/helidon/common/crypto/CommonCipher.java
  common/crypto/src/main/java/io/helidon/common/crypto/CryptoCommonConstants.java
  common/crypto/src/main/java/io/helidon/common/crypto/CryptoException.java
  common/crypto/src/main/java/io/helidon/common/crypto/Digest.java
  common/crypto/src/main/java/io/helidon/common/crypto/HashDigest.java
  common/crypto/src/main/java/io/helidon/common/crypto/HmacDigest.java
  common/crypto/src/main/java/io/helidon/common/crypto/PasswordKeyDerivation.java
  common/crypto/src/main/java/io/helidon/common/crypto/Signature.java
  common/crypto/src/main/java/io/helidon/common/crypto/SymmetricCipher.java
  common/crypto/src/main/java/io/helidon/common/crypto/package-info.java
  common/crypto/src/main/java/module-info.java
  common/crypto/src/test/java/io/helidon/common/crypto/AsymmetricCipherTest.java
  common/crypto/src/test/java/io/helidon/common/crypto/HashDigestTest.java
  common/crypto/src/test/java/io/helidon/common/crypto/HmacDigestTest.java
  common/crypto/src/test/java/io/helidon/common/crypto/SignatureTest.java
  common/crypto/src/test/java/io/helidon/common/crypto/SymmetricCipherTest.java
  common/pom.xml
  examples/integrations/oci/vault-cdi/src/main/java/io/helidon/examples/integrations/oci/vault/cdi/VaultResource.java
  examples/integrations/oci/vault-reactive/src/main/java/io/helidon/examples/integrations/oci/vault/reactive/VaultService.java
  examples/integrations/vault/hcp-cdi/src/main/java/io/helidon/examples/integrations/vault/hcp/cdi/TransitResource.java
  examples/integrations/vault/hcp-reactive/src/main/java/io/helidon/examples/integrations/vault/hcp/reactive/TransitService.java
  integrations/common/rest/src/main/java/io/helidon/integrations/common/rest/ApiJsonBuilder.java
  integrations/common/rest/src/main/java/io/helidon/integrations/common/rest/JsonRequest.java
  integrations/oci/vault/src/main/java/io/helidon/integrations/oci/vault/Decrypt.java
  integrations/oci/vault/src/main/java/io/helidon/integrations/oci/vault/Encrypt.java
  integrations/oci/vault/src/main/java/io/helidon/integrations/oci/vault/OciVaultSecurityProvider.java
  integrations/oci/vault/src/main/java/io/helidon/integrations/oci/vault/Sign.java
  integrations/oci/vault/src/main/java/io/helidon/integrations/oci/vault/Verify.java
  integrations/vault/secrets/transit/src/main/java/io/helidon/integrations/vault/secrets/transit/Decrypt.java
  integrations/vault/secrets/transit/src/main/java/io/helidon/integrations/vault/secrets/transit/DecryptBatch.java
  integrations/vault/secrets/transit/src/main/java/io/helidon/integrations/vault/secrets/transit/Encrypt.java
  integrations/vault/secrets/transit/src/main/java/io/helidon/integrations/vault/secrets/transit/EncryptBatch.java
  integrations/vault/secrets/transit/src/main/java/io/helidon/integrations/vault/secrets/transit/Hmac.java
  integrations/vault/secrets/transit/src/main/java/io/helidon/integrations/vault/secrets/transit/Sign.java
  integrations/vault/secrets/transit/src/main/java/io/helidon/integrations/vault/secrets/transit/TransitSecurityProvider.java
  integrations/vault/secrets/transit/src/main/java/io/helidon/integrations/vault/secrets/transit/Verify.java
  tests/integration/vault/se/src/main/java/io/helidon/examples/integrations/vault/hcp/reactive/TransitService.java
Labels: security

#3091 MicroProfile GraphQL: Minor update to README and add missing @NonNull on TaskApi
  examples/microprofile/graphql/README.md
  examples/microprofile/graphql/src/main/java/io/helidon/examples/graphql/basics/TaskApi.java
Labels: graphql

#2285 BEP refactor
  common/reactive/src/main/java/io/helidon/common/reactive/BiConsumerChain.java
  common/reactive/src/main/java/io/helidon/common/reactive/BufferedEmittingPublisher.java
  common/reactive/src/test/java/io/helidon/common/reactive/BufferedEmittingPublisherTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/EmitterTest.java
  webclient/webclient/src/main/java/io/helidon/webclient/NettyClientHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/HttpRequestScopedPublisher.java
Labels: reactive

#3102 Ignore path parameters while matching routes in 1.x
  tests/integration/security/path-params/pom.xml
  tests/integration/security/path-params/src/main/java/io/helidon/tests/integration/security/pathparams/AdminResource.java
  tests/integration/security/path-params/src/main/java/io/helidon/tests/integration/security/pathparams/GreetResource.java
  tests/integration/security/path-params/src/main/resources/META-INF/beans.xml
  tests/integration/security/path-params/src/main/resources/application.yaml
  tests/integration/security/path-params/src/main/resources/logging.properties
  tests/integration/security/path-params/src/test/java/io/helidon/tests/integration/security/pathparams/AdminTest.java
  tests/integration/security/pom.xml
  webserver/webserver/src/main/java/io/helidon/webserver/HandlerRoute.java
  webserver/webserver/src/main/java/io/helidon/webserver/PathHelper.java
  webserver/webserver/src/test/java/io/helidon/webserver/BaseServerTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/PathHelperTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/UriParamsServerTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/XssServerTest.java
Labels: webserver

#3119 1.4: update CHANGELOG and attributions
  CHANGELOG.md
  THIRD_PARTY_LICENSES.txt
  etc/licensing/NOTICE.txt
Labels: 1.x

#3120 CHANGELOG and attribution updates for 2.3.1
  CHANGELOG.md
  THIRD_PARTY_LICENSES.txt
  etc/HELIDON_THIRD_PARTY_LICENSES.xml
Labels: 2.x

#3130 Revert BEP refactor
  common/reactive/src/main/java/io/helidon/common/reactive/BiConsumerChain.java
  common/reactive/src/main/java/io/helidon/common/reactive/BufferedEmittingPublisher.java
  common/reactive/src/test/java/io/helidon/common/reactive/BufferedEmittingPublisherTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/EmitterTest.java
  webclient/webclient/src/main/java/io/helidon/webclient/NettyClientHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/HttpRequestScopedPublisher.java
Labels: reactive

#3108 Introduce backpressure to webserver
  webserver/webserver/src/main/java/io/helidon/webserver/BareResponseImpl.java
  webserver/webserver/src/test/java/io/helidon/webserver/BackpressureTest.java
Labels: webserver

#3134 Improved handling of Jaeger spans/scopes across threads
  common/context/src/main/java/io/helidon/common/context/ContextAwareExecutorImpl.java
  common/context/src/main/java/io/helidon/common/context/spi/DataPropagationProvider.java
  common/context/src/test/java/io/helidon/common/context/DataPropagationProviderTest.java
  logging/jul/src/main/java/io/helidon/logging/jul/JulMdcPropagator.java
  logging/log4j/src/main/java/io/helidon/logging/log4j/Log4jMdcPropagator.java
  logging/slf4j/src/main/java/io/helidon/logging/slf4j/Slf4jMdcPropagator.java
  tracing/jaeger/pom.xml
  tracing/jaeger/src/main/java/io/helidon/tracing/jaeger/JaegerDataPropagationProvider.java
  tracing/jaeger/src/main/java/module-info.java
  tracing/jaeger/src/test/java/io/helidon/tracing/jaeger/JaegerDataPropagationProviderTest.java
  tracing/jersey/src/main/java/io/helidon/tracing/jersey/AbstractTracingFilter.java
Labels: tracing

#3135 Set content-length to 0 if empty response
  webserver/webserver/src/main/java/io/helidon/webserver/BareResponseImpl.java
  webserver/webserver/src/test/java/io/helidon/webserver/TransferEncodingTest.java
Labels: 2.x, webserver

#3145 New note about the generation of passphrase protected PKCS#1 keys
  docs/mp/oci/01_oci.adoc
  docs/se/oci/01_oci.adoc
Labels: docs

#3163 Reloadable server certificates backport to 1.x
  webserver/test-support/src/main/java/io/helidon/webserver/testsupport/TestWebServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/HttpInitializer.java
  webserver/webserver/src/main/java/io/helidon/webserver/NettyWebServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServerTls.java
  webserver/webserver/src/test/java/io/helidon/webserver/WebServerTlsTest.java
  webserver/webserver/src/test/resources/config-with-ssl2.conf
  webserver/webserver/src/test/resources/ssl-certificate-reloading/client-first.p12
  webserver/webserver/src/test/resources/ssl-certificate-reloading/client-second.p12
  webserver/webserver/src/test/resources/ssl-certificate-reloading/server-first.p12
  webserver/webserver/src/test/resources/ssl-certificate-reloading/server-second.p12
Labels: 1.x, security, webserver
