Repository helidon-io/helidon, pull requests merged in 2021-05, with the labels that each got.

#3018 Ensure container-managed EntityManagerFactory contextual references are eagerly inflated
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/ContainerManaged.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JpaExtension.java
Labels: 2.x, MP, P3, jpa/jta

#3023 Allow underscores in JDBC param names
  dbclient/jdbc/src/main/java/io/helidon/dbclient/jdbc/JdbcStatement.java
  dbclient/jdbc/src/test/java/io/helidon/dbclient/jdbc/JdbcStatementParserTest.java
Labels: DB client

#3025 Add support for YAML configuration in Helidon Junit 5 testing
  microprofile/tests/junit5-tests/src/test/java/io/helidon/microprofile/tests/junit5/TestConfigSources.java
  microprofile/tests/junit5-tests/src/test/resources/testConfigSources.yaml
  microprofile/tests/junit5/pom.xml
  microprofile/tests/junit5/src/main/java/io/helidon/microprofile/tests/junit5/HelidonJunitExtension.java
  microprofile/tests/junit5/src/main/java/module-info.java
Labels: testing

#3028 Host IPv6 matching is now cached
  webclient/webclient/src/main/java/io/helidon/webclient/Proxy.java
Labels: webclient

#3042 Updates Eclipselink to 2.7.8
  dependencies/pom.xml
  pom.xml
Labels: 2.x, P3, dependencies, jpa/jta

#3044 Messaging connector type check
  messaging/messaging/src/main/java/io/helidon/messaging/Messaging.java
  messaging/messaging/src/main/java/io/helidon/messaging/MessagingImpl.java
  messaging/messaging/src/test/java/io/helidon/messaging/MessagingTest.java
  messaging/messaging/src/test/java/io/helidon/messaging/TestConnector.java
Labels: SE, bug, messaging

#3045 Use reluctant instead of greedy to match username and password
  security/providers/http-auth/src/main/java/io/helidon/security/providers/httpauth/HttpBasicAuthProvider.java
  security/providers/http-auth/src/test/java/io/helidon/security/providers/httpauth/CredentialPatternTest.java
Labels: security, webserver

#3037 Adds convenience method to clear/invalidate a cookie
  common/http/src/main/java/io/helidon/common/http/SetCookie.java
  webserver/webserver/src/main/java/io/helidon/webserver/HashResponseHeaders.java
  webserver/webserver/src/main/java/io/helidon/webserver/ResponseHeaders.java
  webserver/webserver/src/test/java/io/helidon/webserver/HashResponseHeadersTest.java
Labels: webserver

#3043 Upgrade etcd4j to 2.18.0
  dependencies/pom.xml
Labels: dependencies

#3048 Encode paths returned as part of 404 responses
  webserver/webserver/src/main/java/io/helidon/webserver/HtmlEncoder.java
  webserver/webserver/src/main/java/io/helidon/webserver/RequestRouting.java
  webserver/webserver/src/test/java/io/helidon/webserver/HtmlEncoderTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/XssServerTest.java
Labels: webserver

#3051 A few more cases of HTML encoding in error messages
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
  webserver/webserver/src/test/java/io/helidon/webserver/XssServerTest.java
Labels: webserver

#3055 Encode paths returned as part of 400 and 404 responses
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/HtmlEncoder.java
  webserver/webserver/src/main/java/io/helidon/webserver/RequestRouting.java
  webserver/webserver/src/test/java/io/helidon/webserver/XssServerTest.java
Labels: webserver
