Repository helidon-io/helidon, pull requests merged in 2021-02, with the labels that each got.

#2719 Update k8s descriptors to avoid using deprecated APIs
  examples/employee-app/app.yaml
  examples/integrations/cdi/jedis/README.md
  examples/integrations/cdi/jedis/app.yaml
  examples/integrations/cdi/jedis/redis.yaml
  examples/integrations/cdi/oci-objectstorage/README.md
  examples/integrations/cdi/oci-objectstorage/app.yaml
  examples/k8s/ingress.yaml
  examples/k8s/zipkin.yaml
  examples/quickstarts/helidon-quickstart-mp/app.yaml
  examples/quickstarts/helidon-quickstart-se/app.yaml
  examples/quickstarts/helidon-standalone-quickstart-mp/app.yaml
  examples/quickstarts/helidon-standalone-quickstart-se/app.yaml
  examples/todo-app/README.md
  examples/todo-app/backend/app.yaml
  examples/todo-app/cassandra.yaml
  examples/todo-app/frontend/app.yaml
  examples/translator-app/README.md
  examples/translator-app/backend/app.yaml
  examples/translator-app/frontend/app.yaml
Labels: examples

#2716 Separate execution of DataChunkReleaseTest in its own VM
  webserver/webserver/pom.xml
Labels: testing

#2727 Upgrade to Jersey 2.33 and set of client property
  dependencies/pom.xml
  security/integration/jersey/pom.xml
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
  webserver/jersey/src/test/java/io/helidon/webserver/jersey/JerseySupportTest.java
Labels: dependencies, jax-rs

#2715 Properly release underlying buffer before passing it to WebSocket handler
  webserver/tyrus/src/main/java/io/helidon/webserver/tyrus/TyrusReaderSubscriber.java
Labels: websocket

#2723 Fix issue with null value in JSON.
  config/hocon/src/main/java/io/helidon/config/hocon/HoconConfigParser.java
  config/hocon/src/main/java/io/helidon/config/hocon/HoconConfigParserBuilder.java
  config/hocon/src/test/java/io/helidon/config/hocon/HoconConfigParserTest.java
  config/hocon/src/test/resources/config.json
Labels: 2.x, config

#2722 Upgrade grpc to v1.35.0
  dependencies/pom.xml
  grpc/io.grpc/src/main/java9/module-info.java
  pom.xml
Labels: 1.x, dependencies, grpc

#2713 Upgrade grpc to v1.35.0
  dependencies/pom.xml
  pom.xml
Labels: 2.x, dependencies, grpc

#2700 Upgrades OCI SDK to version 1.31.0
  dependencies/pom.xml
Labels: 1.x, MP, dependencies

#2699 Upgrades OCI SDK to version 1.31.0
  dependencies/pom.xml
Labels: 2.x, MP, P2, dependencies

#2728 Fix issue with null value in JSON.
  config/hocon/src/main/java/io/helidon/config/hocon/HoconConfigParserBuilder.java
  config/hocon/src/main/java/io/helidon/config/hocon/internal/HoconConfigParser.java
  config/hocon/src/test/java/io/helidon/config/hocon/HoconConfigParserTest.java
  config/hocon/src/test/resources/config.json
Labels: 1.x, config

#2731 Fix null array values in HOCON/JSON config parser.
  config/hocon/src/main/java/io/helidon/config/hocon/HoconConfigParser.java
  config/hocon/src/test/java/io/helidon/config/hocon/HoconConfigParserTest.java
  config/hocon/src/test/resources/config.json
Labels: 2.x, bug, config

#2704 Performance improvements to queue(s) management in Webserver
  webserver/webserver/src/main/java/io/helidon/webserver/ByteBufRequestChunk.java
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/HttpInitializer.java
  webserver/webserver/src/main/java/io/helidon/webserver/HttpRequestScopedPublisher.java
  webserver/webserver/src/main/java/io/helidon/webserver/ReferenceHoldingQueue.java
Labels: enhancement

#2668 Upgrade Weld
  dependencies/pom.xml
Labels: 2.x, dependencies

#2735 Rest client async header propagation with usage of Helidon Context
  microprofile/rest-client/src/main/java/io/helidon/microprofile/restclient/HelidonInboundHeaderProvider.java
  microprofile/rest-client/src/main/java/io/helidon/microprofile/restclient/HelidonRequestHeaderAutoDiscoverable.java
  microprofile/rest-client/src/main/java/io/helidon/microprofile/restclient/HelidonRequestHeaderFilter.java
  microprofile/rest-client/src/main/java/io/helidon/microprofile/restclient/InboundHeaders.java
  microprofile/rest-client/src/main/java/io/helidon/microprofile/restclient/MpRestClientListener.java
  microprofile/rest-client/src/main/java/module-info.java
  microprofile/rest-client/src/main/resources/META-INF/services/org.glassfish.jersey.internal.spi.ForcedAutoDiscoverable
Labels: rest-client

#2737 Allow override of Jersey property via config
  microprofile/server/pom.xml
  microprofile/server/src/test/java/io/helidon/microprofile/server/JerseyPropertiesTest.java
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
Labels: enhancement, jax-rs

#2738 New implementation of LazyValue
  common/common/src/main/java/io/helidon/common/LazyValueImpl.java
  common/common/src/test/java/io/helidon/common/LazyValueTest.java
Labels: enhancement

#2748 Do not attempt to access the request context in Fallback callback
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/MethodInvoker.java
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/Bean1.java
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/Bean2.java
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/Bean3.java
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/Bean4.java
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/Service1.java
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/Service2.java
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/Service3.java
  tests/functional/request-scope/src/main/java/io/helidon/tests/functional/requestscope/Service4.java
  tests/functional/request-scope/src/test/java/io/helidon/tests/functional/requestscope/TenantTest.java
Labels: fault-tolerance

#2753 Fix for native image.
  jersey/client/src/main/resources/META-INF/native-image/io.helidon.jersey/helidon-jersey-client/native-image.properties
Labels: P1

#2714 Fixed interfering tests in MP config.
  config/config-mp/src/main/java/io/helidon/config/mp/MpConfigProviderResolver.java
  microprofile/config/pom.xml
  microprofile/config/src/test/java/io/helidon/microprofile/config/EnvironmentVariableTest.java
  microprofile/config/src/test/java/io/helidon/microprofile/config/ObjectMappingTest.java
  microprofile/config/src/test/resources/META-INF/services/org.eclipse.microprofile.config.spi.ConfigSourceProvider
Labels: 2.x, MP, config

#2693 Removed query parameter check that is too strict.
  dbclient/jdbc/src/main/java/io/helidon/dbclient/jdbc/JdbcStatement.java
  dbclient/jdbc/src/test/java/io/helidon/dbclient/jdbc/JdbcStatementTest.java
  dbclient/jdbc/src/test/java/io/helidon/dbclient/jdbc/SqlConnectionMock.java
  dbclient/jdbc/src/test/java/io/helidon/dbclient/jdbc/SqlPreparedStatementMock.java
Labels: DB client, P2, bug

#2749 Faster license filtering
  licensing/templates/LICENSE.txt
  licensing/templates/NOTICE.txt
  pom.xml
Labels: build

#2756 Use one of Jersey's implementations of PropertiesDelegate
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
Labels: jax-rs

#2717 Support for custom default config file suffixes
  config/config/src/main/java/io/helidon/config/BuilderImpl.java
  config/config/src/main/java/io/helidon/config/MetaConfig.java
  config/config/src/main/java/io/helidon/config/MetaConfigFinder.java
  config/config/src/main/java/io/helidon/config/spi/ConfigParser.java
  config/config/src/test/java/io/helidon/config/TestCustomDefaultFile.java
  config/config/src/test/resources/application.yml
  config/yaml/src/main/java/io/helidon/config/yaml/YamlConfigParser.java
  docs/se/config/01_introduction.adoc
  docs/se/config/07_extensions.adoc
  tests/integration/config/gh-2171-yml/pom.xml
  tests/integration/config/gh-2171-yml/src/main/java/io/helidon/tests/integration/gh2171/yml/Configuration.java
  tests/integration/config/gh-2171-yml/src/main/java/io/helidon/tests/integration/gh2171/yml/package-info.java
  tests/integration/config/gh-2171-yml/src/main/resources/application.yml
  tests/integration/config/gh-2171-yml/src/test/java/io/helidon/tests/integration/gh2171/yml/ConfigurationTest.java
  tests/integration/config/gh-2171/pom.xml
  tests/integration/config/gh-2171/src/main/java/io/helidon/tests/integration/gh2171/Configuration.java
  tests/integration/config/gh-2171/src/main/java/io/helidon/tests/integration/gh2171/package-info.java
  tests/integration/config/gh-2171/src/main/resources/application.yaml
  tests/integration/config/gh-2171/src/main/resources/application.yml
  tests/integration/config/gh-2171/src/test/java/io/helidon/tests/integration/gh2171/ConfigurationTest.java
  tests/integration/config/pom.xml
  tests/integration/pom.xml
Labels: 2.x, config

#2733 gRPC native image support in SE
  common/common/src/main/java/io/helidon/common/FeatureCatalog.java
  docs/se/aot/01_introduction.adoc
  examples/grpc/client-standalone/README.md
  examples/grpc/client-standalone/pom.xml
  examples/grpc/client-standalone/src/main/java/io/helidon/grpc/examples/client/standalone/StandaloneClient.java
  examples/grpc/client-standalone/src/main/java/io/helidon/grpc/examples/client/standalone/package-info.java
  examples/grpc/client-standalone/src/main/proto/strings.proto
  examples/grpc/client-standalone/src/main/resources/logging.properties
  examples/grpc/pom.xml
  examples/grpc/security-abac/src/main/resources/META-INF/native-image/helidon-examples/grpc-security-abac/reflect-config.json
  examples/security/attribute-based-access-control/src/main/resources/META-INF/services/io.helidon.security.abac.AbacValidator
  grpc/core/src/main/resources/META-INF/helidon/native-image/reflection-config.json
  grpc/core/src/main/resources/META-INF/native-image/io-helidon-grpc/helidon-grpc-core/native-image.properties
  security/abac/policy-el/src/main/resources/META-INF/helidon/native-image/reflection-config.json
  security/abac/policy-el/src/main/resources/META-INF/native-image/io.helidon.security.abac.policy/helidon-security-abac-policy-el/resource-config.json
  security/security/src/main/resources/META-INF/helidon/native-image/reflection-config.json
  security/security/src/main/resources/META-INF/native-image/io.helidon.security/helidon-security/native-image.properties
Labels: 2.x, grpc, native-image

#2656 Updated HealthCheck API and modified examples to use current HealthCheck API properly.
  archetypes/database-se/src/main/resources/src/main/java/__pkg__/Main.java.mustache
  archetypes/database-se/src/main/resources/src/main/resources/application.yaml
  dbclient/dbclient/src/main/java/io/helidon/dbclient/DbClient.java
  dbclient/health/pom.xml
  dbclient/health/src/main/java/io/helidon/dbclient/health/DbClientHealthCheck.java
  dbclient/health/src/main/java/io/helidon/dbclient/health/HealthCheckBuilderException.java
  dbclient/health/src/main/java/io/helidon/dbclient/health/HelathCheckStMtType.java
  dbclient/health/src/test/java/io/helidon/dbclient/health/DbClientHealthCheckTest.java
  dbclient/health/src/test/resources/testBuilderFromConfig.yaml
  dbclient/jdbc/src/main/java/io/helidon/dbclient/jdbc/JdbcDbClient.java
  dbclient/mongodb/src/main/java/io/helidon/dbclient/mongodb/MongoDbClient.java
  examples/dbclient/jdbc/pom.xml
  examples/dbclient/jdbc/src/main/java/io/helidon/examples/dbclient/jdbc/JdbcExampleMain.java
  examples/dbclient/jdbc/src/main/resources/application.yaml
  examples/dbclient/mongodb/src/main/java/io/helidon/examples/dbclient/mongo/MongoDbExampleMain.java
  examples/dbclient/mongodb/src/main/resources/application.yaml
  examples/dbclient/pokemons/pom.xml
  examples/dbclient/pokemons/src/main/java/io/helidon/examples/dbclient/pokemons/PokemonMain.java
  examples/dbclient/pokemons/src/main/java/io/helidon/examples/dbclient/pokemons/PokemonService.java
  examples/dbclient/pokemons/src/main/resources/application.yaml
  examples/dbclient/pokemons/src/main/resources/mongo.yaml
Labels: DB client, api-change, bug, examples

#2705 Static content support module.
  bom/pom.xml
  common/common/src/main/java/io/helidon/common/FeatureCatalog.java
  common/http/src/main/java/io/helidon/common/http/MediaType.java
  docs/se/webserver/06_static-content-support.adoc
  examples/employee-app/pom.xml
  examples/employee-app/src/main/java/io/helidon/service/employee/Main.java
  examples/media/multipart/pom.xml
  examples/media/multipart/src/main/java/io/helidon/examples/media/multipart/Main.java
  examples/messaging/jms-websocket-se/pom.xml
  examples/messaging/jms-websocket-se/src/main/java/io/helidon/examples/messaging/se/Main.java
  examples/messaging/kafka-websocket-se/pom.xml
  examples/messaging/kafka-websocket-se/src/main/java/io/helidon/examples/messaging/se/Main.java
  examples/security/basic-auth-with-static-content/pom.xml
  examples/security/basic-auth-with-static-content/src/main/java/io/helidon/security/examples/webserver/basic/BasicExampleBuilderMain.java
  examples/security/basic-auth-with-static-content/src/main/java/io/helidon/security/examples/webserver/basic/BasicExampleConfigMain.java
  examples/security/google-login/pom.xml
  examples/security/google-login/src/main/java/io/helidon/security/examples/google/GoogleBuilderMain.java
  examples/security/google-login/src/main/java/io/helidon/security/examples/google/GoogleConfigMain.java
  examples/todo-app/frontend/pom.xml
  examples/todo-app/frontend/src/main/java/io/helidon/demo/todos/frontend/Main.java
  examples/webserver/basics/pom.xml
  examples/webserver/basics/src/main/java/io/helidon/webserver/examples/basics/Main.java
  examples/webserver/static-content/pom.xml
  examples/webserver/static-content/src/main/java/io/helidon/webserver/examples/staticcontent/Main.java
  examples/webserver/websocket/pom.xml
  examples/webserver/websocket/src/main/java/io/helidon/webserver/examples/websocket/Main.java
  microprofile/server/pom.xml
  microprofile/server/src/main/java/io/helidon/microprofile/server/ServerCdiExtension.java
  microprofile/server/src/main/java/module-info.java
  pom.xml
  tests/integration/native-image/se-1/pom.xml
  tests/integration/native-image/se-1/src/main/java/io/helidon/tests/integration/nativeimage/se1/Se1Main.java
  tests/integration/pom.xml
  tests/integration/webserver/gh2631/pom.xml
  tests/integration/webserver/gh2631/src/main/java/io/helidon/tests/integration/webserver/gh2631/Gh2631.java
  tests/integration/webserver/gh2631/src/main/resources/fallback/index.txt
  tests/integration/webserver/gh2631/src/main/resources/web/first/index.txt
  tests/integration/webserver/gh2631/src/main/resources/web/index.txt
  tests/integration/webserver/gh2631/src/test/java/io/helidon/tests/integration/webserver/gh2631/Gh2631Test.java
  tests/integration/webserver/pom.xml
  webserver/pom.xml
  webserver/static-content/pom.xml
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/ClassPathContentHandler.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/FileBasedContentHandler.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/FileSystemContentHandler.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/StaticContentHandler.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/StaticContentSupport.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/package-info.java
  webserver/static-content/src/main/java/module-info.java
  webserver/static-content/src/test/java/io/helidon/webserver/staticcontent/StaticContentHandlerTest.java
  webserver/webserver/src/main/java/io/helidon/webserver/ClassPathContentHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/ContentTypeSelector.java
  webserver/webserver/src/main/java/io/helidon/webserver/FileSystemContentHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/StaticContentHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/StaticContentSupport.java
Labels: 2.x, webserver

#2710 Graalvm upgrade (Merge do not squash)
  archetypes/quickstart-mp/src/main/resources/Dockerfile.native.mustache
  archetypes/quickstart-se/src/main/resources/Dockerfile.native.mustache
  dependencies/pom.xml
  docs/common/guides/graalnative.adoc
  etc/dependency-check-suppression.xml
  etc/dockerfiles/Dockerfile.jdk11-graalvm
  etc/dockerfiles/Dockerfile.jdk11-graalvm-maven
  etc/dockerfiles/README.md
  etc/dockerfiles/build.sh
  etc/scripts/test-integ-mysql.sh
  etc/scripts/test-integ-pgsql.sh
  examples/quickstarts/helidon-quickstart-mp/Dockerfile.native
  examples/quickstarts/helidon-quickstart-se/Dockerfile.native
  examples/quickstarts/helidon-standalone-quickstart-mp/Dockerfile.native
  examples/quickstarts/helidon-standalone-quickstart-se/Dockerfile.native
  integrations/cdi/hibernate-cdi/src/main/java/io/helidon/integrations/cdi/hibernate/CDISEJtaPlatform.java
  integrations/cdi/hibernate-cdi/src/main/java/module-info.java
  integrations/db/ojdbc/src/main/resources/META-INF/native-image/io.helidon.integrations.db/ojdbc/native-image.properties
Labels: contribution, dependencies, graal, native-image

#2776 Upgrade to Jersey 2.33 and related changes
  dependencies/pom.xml
  microprofile/server/pom.xml
  microprofile/server/src/test/java/io/helidon/microprofile/server/JerseyPropertiesTest.java
  microprofile/server/src/test/java/io/helidon/microprofile/server/ServerSseTest.java
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
Labels: 1.x, jax-rs

#2780 Remove standard output.
  microprofile/server/src/main/java/io/helidon/microprofile/server/ServerCdiExtension.java
Labels: 2.x, bug

#2782 Substitute JAAS Subject context lookup in native image
  messaging/kafka/src/main/java/io/helidon/messaging/connectors/kafka/SaslClientCallbackHandlerSubstitution.java
  messaging/kafka/src/main/java/module-info.java
  messaging/kafka/src/main/resources/META-INF/helidon/native-image/reflection-config.json
  messaging/kafka/src/main/resources/META-INF/native-image/io.helidon.messaging.connectors.kafka/native-image.properties
  messaging/kafka/src/main/resources/META-INF/native-image/io.helidon.messaging.connectors.kafka/resource-config.json
Labels: messaging, native-image

#2787 1.x: Upgrade graalvm to 21.0.0
  dependencies/pom.xml
  docs/src/main/docs/guides/36_graalnative.adoc
  etc/dependency-check-suppression.xml
  examples/quickstarts/helidon-quickstart-se/Dockerfile.native
  examples/quickstarts/helidon-quickstart-se/README.md
  examples/quickstarts/helidon-standalone-quickstart-se/Dockerfile.native
  integrations/graal/native-image-extension/pom.xml
Labels: 1.x, dependencies, native-image

#2793 Upgrade Netty to 4.1.59.Final
  dependencies/pom.xml
Labels: 2.x

#2794 1.4: Upgrade Netty to 4.1.59.Final
  dependencies/pom.xml
Labels: 1.x

#2804 1.x: Faster license filtering
  etc/licensing/LICENSE.txt
  etc/licensing/NOTICE.txt
  pom.xml
Labels: 1.x

#2792 New section in docs for bean validation
  docs/mp/beanvalidation/01_overview.adoc
  docs/sitegen.yaml
Labels: docs

#2807 1.4.8 changelog and third party attribution updates
  CHANGELOG.md
  THIRD_PARTY_LICENSES.txt
Labels: 1.x

#2813 1.4: Force upgrade of thrift transitive dependency. Upgrade OWASP plugin.
  dependencies/pom.xml
  pom.xml
Labels: 1.x
