Repository helidon-io/helidon, pull requests merged in 2021-09, with the labels that each got.

#3332 Migration of CDI contextual beans into new threads
  microprofile/fault-tolerance/pom.xml
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/RequestScopeHelper.java
  microprofile/fault-tolerance/src/main/java/module-info.java
  tests/functional/pom.xml
  tests/functional/request-scope-cdi/pom.xml
  tests/functional/request-scope-cdi/src/main/java/io/helidon/tests/functional/requestscopecdi/AsyncWorker.java
  tests/functional/request-scope-cdi/src/main/java/io/helidon/tests/functional/requestscopecdi/SecretResource.java
  tests/functional/request-scope-cdi/src/main/java/io/helidon/tests/functional/requestscopecdi/SharedBean.java
  tests/functional/request-scope-cdi/src/main/java/io/helidon/tests/functional/requestscopecdi/package-info.java
  tests/functional/request-scope-cdi/src/main/resources/META-INF/beans.xml
  tests/functional/request-scope-cdi/src/main/resources/META-INF/microprofile-config.properties
  tests/functional/request-scope-cdi/src/test/java/io/helidon/tests/functional/requestscopecdi/SecretTest.java
  tests/functional/request-scope-cdi/src/test/resources/logging.properties
Labels: fault-tolerance, cdi

#3340 Avoid double caching by calling Application methods in ResourceConfig
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/HelidonHK2InjectionManagerFactory.java
Labels: jax-rs

#3346 Zipkin span can now be registered as active span.
  tracing/zipkin/src/main/java/io/helidon/tracing/zipkin/ZipkinTracer.java
  tracing/zipkin/src/test/java/io/helidon/tracing/zipkin/ZipkinTracerBuilderTest.java
Labels: bug

#3358 Automated discovery of JAX-RS method entities.
  integrations/graal/native-image-extension/src/main/java/io/helidon/integrations/graal/nativeimage/extension/HelidonReflectionFeature.java
  integrations/graal/native-image-extension/src/main/java/io/helidon/integrations/graal/nativeimage/extension/JaxRsMethodAnalyzer.java
  integrations/graal/native-image-extension/src/main/java/io/helidon/integrations/graal/nativeimage/extension/NativeUtil.java
Labels: native-image

#3366 Fix await duration nanos conversion
  common/reactive/src/main/java/io/helidon/common/reactive/Awaitable.java
  common/reactive/src/test/java/io/helidon/common/reactive/AwaitTest.java
Labels: bug, reactive

#3376 BEP - defensive copy of onRequest callback
  common/reactive/src/main/java/io/helidon/common/reactive/BufferedEmittingPublisher.java
Labels: bug, reactive

#3365 Fix for prematurely closed connections blocking threads indefinitely
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
  webserver/webserver/src/test/java/io/helidon/webserver/PrematureConnectionCutTest.java
Labels: bug, webserver

#3381 Added support for multiple URIs to Config Etcd API
  config/etcd/src/main/java/io/helidon/config/etcd/EtcdConfigSource.java
  config/etcd/src/main/java/io/helidon/config/etcd/EtcdConfigSourceBuilder.java
  config/etcd/src/main/java/io/helidon/config/etcd/internal/client/EtcdClientFactory.java
  config/etcd/src/main/java/io/helidon/config/etcd/internal/client/v2/EtcdV2Client.java
  config/etcd/src/main/java/io/helidon/config/etcd/internal/client/v2/EtcdV2ClientFactory.java
  config/etcd/src/main/java/io/helidon/config/etcd/internal/client/v3/EtcdV3Client.java
  config/etcd/src/main/java/io/helidon/config/etcd/internal/client/v3/EtcdV3ClientFactory.java
  config/etcd/src/test/java/io/helidon/config/etcd/EtcdApiTest.java
  config/etcd/src/test/java/io/helidon/config/etcd/EtcdConfigSourceBuilderTest.java
Labels: config, etcd

#3390 Permits datasources to be arbitrarily customized before becoming beans, following the practice of other extensions
  integrations/cdi/datasource-hikaricp/src/main/java/io/helidon/integrations/datasource/hikaricp/cdi/HikariCPBackedDataSourceExtension.java
  integrations/cdi/datasource-hikaricp/src/main/java/module-info.java
  integrations/cdi/datasource-ucp/pom.xml
  integrations/cdi/datasource-ucp/src/main/java/io/helidon/integrations/datasource/ucp/cdi/UCPBackedDataSourceExtension.java
  integrations/cdi/datasource-ucp/src/main/java/module-info.java
Labels: enhancement, MP, P3, cdi, 2.x, integration

#3384 Uptake ojdbc 21.3 drivers with native image support
  dependencies/pom.xml
  integrations/cdi/datasource-ucp/src/main/java/module-info.java
  messaging/connectors/aq/src/test/java/io/helidon/messaging/connectors/aq/MockedDataSourceBuilder.java
  tests/integration/native-image/mp-2/README.md
Labels: dependencies

#3396 LRA example snippet typo
  examples/microprofile/lra/README.md
Labels: examples

#3403 Using Jersey context rather then Helidon context.
  tracing/jersey/src/main/java/io/helidon/tracing/jersey/AbstractTracingFilter.java
Labels: bug

#3408 PrematureConnectionCutTest MacOS fix
  webserver/webserver/src/test/java/io/helidon/webserver/PrematureConnectionCutTest.java
Labels: testing

#3404 Enhancements to OCI health checks
  docs/mp/oci/02_object-storage.adoc
  docs/mp/oci/03_vault.adoc
  examples/integrations/oci/objectstorage-cdi/src/main/java/io/helidon/examples/integrations/oci/objectstorage/cdi/ObjectStorageResource.java
  examples/integrations/oci/objectstorage-cdi/src/main/resources/application.yaml
  examples/integrations/oci/objectstorage-reactive/src/main/java/io/helidon/examples/integrations/oci/objecstorage/reactive/OciObjectStorageMain.java
  examples/integrations/oci/vault-cdi/src/main/resources/application.yaml
  examples/integrations/oci/vault-reactive/src/main/java/io/helidon/examples/integrations/oci/vault/reactive/OciVaultMain.java
  integrations/oci/objectstorage-health/src/main/java/io/helidon/integrations/oci/objectstorage/health/OciObjectStorageHealthCheck.java
  integrations/oci/vault-health/src/main/java/io/helidon/integrations/oci/vault/health/OciVaultHealthCheck.java
Labels: health, OCI

#3360 Handle potential connection reset conditions in test
  webserver/webserver/src/test/java/io/helidon/webserver/MaxPayloadSizeTest.java
Labels: webserver, webclient

#2826 Adds MicroProfile Metrics to Hikari CP
  integrations/cdi/datasource-hikaricp/pom.xml
  integrations/cdi/datasource-hikaricp/src/main/java/io/helidon/integrations/datasource/hikaricp/cdi/HikariCPBackedDataSourceExtension.java
  integrations/cdi/datasource-hikaricp/src/main/java/io/helidon/integrations/datasource/hikaricp/cdi/MicroProfileMetricsTracker.java
  integrations/cdi/datasource-hikaricp/src/main/java/io/helidon/integrations/datasource/hikaricp/cdi/MicroProfileMetricsTrackerFactory.java
  integrations/cdi/datasource-hikaricp/src/main/java/module-info.java
  integrations/cdi/datasource-hikaricp/src/main/resources/META-INF/beans.xml
  integrations/cdi/datasource-hikaricp/src/test/java/io/helidon/integrations/datasource/hikaricp/cdi/TestConfiguration.java
  integrations/cdi/datasource-hikaricp/src/test/resources/META-INF/beans.xml
Labels: MP, metrics, P4, cdi, jpa/jta, 2.x

#3410 Fixes an edge-case issue with possible duplicate bean registrations in MP metrics
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/MetricsCdiExtension.java
Labels: MP, metrics, cdi, 2.x

#3412 Moved some dependencies into test scope only in helidon-webserver-tyrus
  dependencies/pom.xml
  examples/microprofile/websocket/pom.xml
  examples/webserver/websocket/pom.xml
  microprofile/websocket/pom.xml
  webserver/tyrus/pom.xml
Labels: webserver, websocket

#3422 Adds maxShutdownTimeout and shutdownQuietPeriod parameters to WebServer and associated classes
  webserver/webserver/src/main/java/io/helidon/webserver/NettyWebServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerBasicConfig.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerConfiguration.java
Labels: config, webserver, P4, 2.x

#3424 Removes compiler warnings (that can be removed) from the webserver project
  webserver/webserver/pom.xml
  webserver/webserver/src/main/java/io/helidon/webserver/HandlerRoute.java
  webserver/webserver/src/main/java/io/helidon/webserver/RouteListRoutingRules.java
  webserver/webserver/src/main/java/io/helidon/webserver/Routing.java
  webserver/webserver/src/test/java/io/helidon/webserver/HashParametersTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/RequestContentTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/UnstableTempTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/UriComponentTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/utils/TestUtils.java
Labels: build, webserver, P5, 2.x

#3425 Fix race condition when analysing whether entity is fully read when …
  media/common/src/main/java/io/helidon/media/common/DataChunkInputStream.java
  webserver/webserver/src/main/java/io/helidon/webserver/BareResponseImpl.java
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
  webserver/webserver/src/test/java/io/helidon/webserver/BareResponseSubscriberTckTest.java
Labels: bug

#3420 Race condition in Microstream example.
  examples/integrations/microstream/greetings-se/src/main/java/io/helidon/examples/integrations/microstream/greetings/se/GreetingService.java
Labels: bug, integration

#3397 Upgrading to the latest Jersey 2.35
  dependencies/pom.xml
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/HelidonHK2InjectionManagerFactory.java
Labels: jax-rs, dependencies

#3417 Upgraded Hibernate to 5.5.7.Final.
  dependencies/pom.xml
  integrations/cdi/hibernate-cdi/src/main/java/io/helidon/integrations/cdi/hibernate/CDISEJtaPlatform.java
  integrations/cdi/hibernate-cdi/src/main/java/module-info.java
  tests/integration/native-image/mp-2/src/main/resources/META-INF/microprofile-config.properties
Labels: jpa/jta, dependencies

#3429 Upgrades Eclipselink to 2.7.9
  dependencies/pom.xml
Labels: P3, jpa/jta, 2.x, dependencies

#3430 Fix issue when Netty server hangs when under load.
  webserver/webserver/src/main/java/io/helidon/webserver/BareResponseImpl.java
Labels: bug, webserver, P1

#3339 Multi flatMapCompletionStage
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFlatMapCompletionStageTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleFlatMapCompletionStageTest.java
  docs/shared/reactivestreams/02_engine.adoc
  tests/tck/tck-reactive-streams/src/test/java/io/helidon/common/reactive/MultiFlatMapCompletionStageTckTest.java
Labels: reactive

#3380 Close connection with ServerRequest
  webserver/test-support/src/main/java/io/helidon/webserver/testsupport/TestClient.java
  webserver/webserver/src/main/java/io/helidon/webserver/BareRequest.java
  webserver/webserver/src/main/java/io/helidon/webserver/BareRequestImpl.java
  webserver/webserver/src/main/java/io/helidon/webserver/Request.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerRequest.java
  webserver/webserver/src/test/java/io/helidon/webserver/CloseConnectionTest.java
Labels: webserver

#3387 Multi flatMapOptional
  common/reactive/src/main/java/io/helidon/common/reactive/Multi.java
  common/reactive/src/main/java/io/helidon/common/reactive/Single.java
  common/reactive/src/test/java/io/helidon/common/reactive/MultiFlatMapOptionalTest.java
  common/reactive/src/test/java/io/helidon/common/reactive/SingleFlatMapOptionalTest.java
  docs/shared/reactivestreams/02_engine.adoc
Labels: reactive

#3432 Fix lock condition in initalization when building native image.
  microprofile/cdi/src/main/resources/META-INF/native-image/io.helidon.microprofile.cdi/helidon-microprofile-cdi/native-image.properties
  microprofile/server/src/main/java/io/helidon/microprofile/server/ServerImpl.java
Labels: native-image

#3427 WebClient now throws WebClientException when channel gets closed
  tests/integration/webclient/pom.xml
  tests/integration/webclient/src/main/java/io/helidon/tests/integration/webclient/GreetService.java
  tests/integration/webclient/src/main/java/io/helidon/tests/integration/webclient/Main.java
  tests/integration/webclient/src/test/java/io/helidon/tests/integration/webclient/ConnectionCloseTest.java
  webclient/webclient/src/main/java/io/helidon/webclient/NettyClientHandler.java
Labels: webclient

#3449 Propagate supplier exceptions even on a timeout in FT
  fault-tolerance/src/main/java/io/helidon/faulttolerance/RetryImpl.java
  fault-tolerance/src/test/java/io/helidon/faulttolerance/RetryTest.java
Labels: enhancement, fault-tolerance
