Repository helidon-io/helidon, pull requests merged in 2021-01, with the labels that each got.

#2572 micronaut data with ucp
  dependencies/pom.xml
  examples/integrations/micronaut/data/README.md
  examples/integrations/micronaut/data/src/main/resources/META-INF/microprofile-config.properties
Labels: dependencies

#2478 Lays the groundwork for permitting other Netty transports while retaining Netty as an implementation-only concern.
  dependencies/pom.xml
  webserver/webserver/src/main/java/io/helidon/webserver/NettyWebServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerBasicConfig.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerConfiguration.java
  webserver/webserver/src/main/java/io/helidon/webserver/Transport.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServer.java
Labels: 2.x, P3, enhancement

#2634 Fix WebServer Basics example
  examples/webserver/basics/pom.xml
  examples/webserver/basics/src/main/java/io/helidon/webserver/examples/basics/Main.java
Labels: examples

#2646 Re-organize dependencyManagement
  dependencies/pom.xml
Labels: dependencies

#2655 Updates Hibernate and Eclipselink for Helidon 1.x
  applications/mp/pom.xml
  dependencies/pom.xml
  examples/quickstarts/helidon-standalone-quickstart-mp/pom.xml
  integrations/cdi/jpa-cdi/src/test/resources/META-INF/persistence.xml
  pom.xml
Labels: 1.x, P4, dependencies

#2657 Updates OCI libraries to 1.28.0 on the 1.x branch
  dependencies/pom.xml
Labels: 1.x, P4, cdi, dependencies

#2654 1.4: Upgrade google-api-client snakeyaml apache-httpclient
  dependencies/pom.xml
Labels: 1.x, dependencies

#2680 Fault Tolerance 3.0 Support
  dependencies/pom.xml
  fault-tolerance/src/main/java/io/helidon/faulttolerance/RetryImpl.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/RetryTimeoutException.java
  microprofile/fault-tolerance/etc/spotbugs/exclude.xml
  microprofile/fault-tolerance/pom.xml
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FallbackHelper.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FaultToleranceExtension.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FaultToleranceMetrics.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/JavaMethodFinder.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/MethodIntrospector.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/MethodInvoker.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/RetryAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/ThrowableMapper.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/FaultToleranceTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/MetricsBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/MetricsTest.java
  microprofile/tests/arquillian/src/main/java/io/helidon/microprofile/arquillian/HelidonDeployableContainer.java
  microprofile/tests/tck/tck-fault-tolerance/pom.xml
Labels: fault-tolerance

#2678 Upgrade Netty to 4.1.58
  dependencies/pom.xml
  grpc/client/src/test/java/io/helidon/grpc/client/GrpcChannelsProviderIT.java
  tests/integration/webclient/src/test/java/io/helidon/tests/integration/webclient/MutualTlsTest.java
Labels: 2.x, dependencies

#2679 Upgrade Netty to 4.1.58 1.x
  dependencies/pom.xml
  examples/todo-app/frontend/package-lock.json
  grpc/client/src/test/java/io/helidon/grpc/client/GrpcChannelsProviderIT.java
Labels: 1.x, dependencies

#2667 Overall timeout for EvictableCache
  security/providers/common/src/main/java/io/helidon/security/providers/common/EvictableCache.java
  security/providers/common/src/main/java/io/helidon/security/providers/common/EvictableCacheImpl.java
  security/providers/common/src/test/java/io/helidon/security/providers/common/EvictableCacheTest.java
Labels: 1.x

#2659 Added overall timeout to evictable cache
  security/providers/common/src/main/java/io/helidon/security/providers/common/EvictableCache.java
  security/providers/common/src/main/java/io/helidon/security/providers/common/EvictableCacheImpl.java
  security/providers/common/src/test/java/io/helidon/security/providers/common/EvictableCacheTest.java
Labels: 2.x

#2508 Concat array enhancement
  common/reactive/src/main/java/io/helidon/common/reactive/MultiConcatArray.java
Labels: reactive

#2676 MicroProfile Opentracing 2.0
  dependencies/pom.xml
  microprofile/tests/tck/tck-opentracing/pom.xml
Labels: 3.x, api-change, dependencies

#2690 Update Jackson to 2.12.1
  dependencies/pom.xml
Labels: 2.x, dependencies

#2684 1.4: Keep Jackson on 2.10.x: 2.10.5 with 2.10.5.1 databind
  dependencies/pom.xml
Labels: 1.x, dependencies
