Repository helidon-io/helidon, pull requests merged in 2022-03, with the labels that each got.

#3925 Compare origin URLs based on protocol, host and port in CORS
  webserver/cors/src/main/java/io/helidon/webserver/cors/CorsSupportHelper.java
  webserver/cors/src/test/java/io/helidon/webserver/cors/CompareOriginsTest.java
Labels: cors

#3934 Compare origin URLs based on protocol, host and port (master)
  webserver/cors/src/main/java/io/helidon/webserver/cors/CorsSupportHelper.java
  webserver/cors/src/test/java/io/helidon/webserver/cors/CompareOriginsTest.java
Labels: webserver, cors

#3911 Messaging - Fix badly subscribed connector to processor signature
  microprofile/messaging/core/pom.xml
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/IncomingMethod.java
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/InternalProcessor.java
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/InternalSubscriber.java
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/ProcessorMethod.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/UncaughtExceptionTest.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/connector/Processor2ConnectorTest.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/inner/ByRequestProcessorV4Bean.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/inner/ChannelTest.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/inner/ack/processor/ProcessorComplStageQueueOverflowBean.java
Labels: messaging

#3923 JBatch example for Helidon 2.x
  .gitignore
  examples/jbatch/README.md
  examples/jbatch/pom.xml
  examples/jbatch/src/main/java/io/helidon/jbatch/example/BatchResource.java
  examples/jbatch/src/main/java/io/helidon/jbatch/example/HelidonExecutorServiceProvider.java
  examples/jbatch/src/main/java/io/helidon/jbatch/example/jobs/MyBatchlet.java
  examples/jbatch/src/main/java/io/helidon/jbatch/example/jobs/MyInputRecord.java
  examples/jbatch/src/main/java/io/helidon/jbatch/example/jobs/MyItemProcessor.java
  examples/jbatch/src/main/java/io/helidon/jbatch/example/jobs/MyItemReader.java
  examples/jbatch/src/main/java/io/helidon/jbatch/example/jobs/MyItemWriter.java
  examples/jbatch/src/main/java/io/helidon/jbatch/example/jobs/MyOutputRecord.java
  examples/jbatch/src/main/java/io/helidon/jbatch/example/jobs/package-info.java
  examples/jbatch/src/main/java/io/helidon/jbatch/example/package-info.java
  examples/jbatch/src/main/resources/META-INF/batch-jobs/myJob.xml
  examples/jbatch/src/main/resources/META-INF/beans.xml
  examples/jbatch/src/main/resources/META-INF/microprofile-config.properties
  examples/jbatch/src/main/resources/logging.properties
  examples/jbatch/src/test/java/io/helidon/examples/jbatch/TestJBatchEndpoint.java
  examples/pom.xml
Labels: examples, 2.x, dependencies, integration

#3940 2.x: Upgrade snakeyaml and typesafe-config
  dependencies/pom.xml
Labels: 2.x, dependencies

#3945 Fixed problem supporting config profiles with JSON and HOCON
  config/hocon/src/main/java/io/helidon/config/hocon/HoconConfigParser.java
  tests/functional/config-profiles/pom.xml
  tests/functional/config-profiles/src/main/java/io/helidon/tests/configprofile/GreetService.java
  tests/functional/config-profiles/src/main/java/io/helidon/tests/configprofile/Main.java
  tests/functional/config-profiles/src/main/resources/app-dev.json
  tests/functional/config-profiles/src/main/resources/app-prod.yaml
  tests/functional/config-profiles/src/main/resources/config-profile-dev.json
  tests/functional/config-profiles/src/main/resources/config-profile-prod.yaml
  tests/functional/config-profiles/src/main/resources/logging.properties
  tests/functional/config-profiles/src/test/java/io/helidon/tests/configprofile/BaseTest.java
  tests/functional/config-profiles/src/test/java/io/helidon/tests/configprofile/DevTest.java
  tests/functional/config-profiles/src/test/java/io/helidon/tests/configprofile/ProdTest.java
  tests/functional/pom.xml
Labels: config

#3895 DOC: JBatch guide for issue 2785
  docs/mp/guides/39_jbatch.adoc
  docs/shared/common_prereqs/common_prereqs.adoc
Labels: docs

#3946 3.x README: Update JDK and mvn versions for build
  README.md
Labels: 3.x

#3942 Fix missing documentation item for HttpSignProvider in 2.x
  docs/shared/security/providers/http-signatures.adoc
Labels: docs, 2.x

#3958 Fixed problem supporting config profiles with JSON and HOCON (master)
  config/hocon/src/main/java/io/helidon/config/hocon/HoconConfigParser.java
  tests/functional/config-profiles/pom.xml
  tests/functional/config-profiles/src/main/java/io/helidon/tests/configprofile/GreetService.java
  tests/functional/config-profiles/src/main/java/io/helidon/tests/configprofile/Main.java
  tests/functional/config-profiles/src/main/resources/app-dev.json
  tests/functional/config-profiles/src/main/resources/app-prod.yaml
  tests/functional/config-profiles/src/main/resources/config-profile-dev.json
  tests/functional/config-profiles/src/main/resources/config-profile-prod.yaml
  tests/functional/config-profiles/src/main/resources/logging.properties
  tests/functional/config-profiles/src/test/java/io/helidon/tests/configprofile/BaseTest.java
  tests/functional/config-profiles/src/test/java/io/helidon/tests/configprofile/DevTest.java
  tests/functional/config-profiles/src/test/java/io/helidon/tests/configprofile/ProdTest.java
  tests/functional/pom.xml
Labels: config

#3951 Allow a list of path patterns to be specified for exclusion from access log
  docs/se/webserver/11_access-log.adoc
  webserver/access-log/src/main/java/io/helidon/webserver/accesslog/AccessLogSupport.java
  webserver/access-log/src/test/java/io/helidon/webserver/accesslog/AccessLogSupportTest.java
Labels: logging

#3959 Allow a list of path patterns to be specified for exclusion in the access log (master)
  docs/se/webserver/11_access-log.adoc
  webserver/access-log/src/main/java/io/helidon/webserver/accesslog/AccessLogSupport.java
  webserver/access-log/src/test/java/io/helidon/webserver/accesslog/AccessLogSupportTest.java
Labels: webserver, logging

#3962 Enable OpenTracing 2.0 TCKs for Helidon 3.x
  microprofile/tests/tck/tck-opentracing/pom.xml
Labels: MP, tracing, 3.x, testing

#3965 Messaging - signature detection fix #3883 2x
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/MethodSignatureResolver.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/ExtendedMessage.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/MethodSignatureResolverTest.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/inner/msg/ExtendedMessageV1Bean.java
Labels: messaging

#3973 Messaging - signature detection fix #3883 3x
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/MethodSignatureResolver.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/ExtendedMessage.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/MethodSignatureResolverTest.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/inner/msg/ExtendedMessageV1Bean.java
Labels: messaging

#3957 Messaging - Fix badly subscribed connector to processor signature
  microprofile/messaging/core/pom.xml
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/IncomingMethod.java
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/InternalProcessor.java
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/InternalSubscriber.java
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/ProcessorMethod.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/UncaughtExceptionTest.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/connector/Processor2ConnectorTest.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/inner/ByRequestProcessorV4Bean.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/inner/ChannelTest.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/inner/ack/processor/ProcessorComplStageQueueOverflowBean.java
Labels: messaging

#3975 Explicit 404 in Jersey no longer calls next()
  tests/integration/mp-gh-3974/pom.xml
  tests/integration/mp-gh-3974/src/test/java/io/helidon/tests/integration/gh3974/Gh3974Resource.java
  tests/integration/mp-gh-3974/src/test/java/io/helidon/tests/integration/gh3974/Gh3974Test.java
  tests/integration/pom.xml
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/ResponseWriter.java
Labels: 2.x

#3976 Explicit 404 in Jersey no longer calls next()
  tests/integration/mp-gh-3974/pom.xml
  tests/integration/mp-gh-3974/src/test/java/io/helidon/tests/integration/gh3974/Gh3974Resource.java
  tests/integration/mp-gh-3974/src/test/java/io/helidon/tests/integration/gh3974/Gh3974Test.java
  tests/integration/pom.xml
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/JerseySupport.java
  webserver/jersey/src/main/java/io/helidon/webserver/jersey/ResponseWriter.java
Labels: 3.x

#3970 Disable paths such as /metrics and /health from tracing.
  webserver/webserver/src/main/java/io/helidon/webserver/WebTracingConfig.java
  webserver/webserver/src/test/java/io/helidon/webserver/WebTracingConfigTest.java
Labels: tracing

#3987 Fix #3966: set collectorUri() with URL with no port number adds port
  tracing/tracing/src/main/java/io/helidon/tracing/TracerBuilder.java
  tracing/zipkin/src/test/java/io/helidon/tracing/zipkin/ZipkinTracerBuilderTest.java
  tracing/zipkin/src/test/resources/application.yaml
Labels: 2.x

#3994 Upgrade WebSocket from Java HttpClient 3.x
  webserver/tyrus/pom.xml
  webserver/tyrus/src/test/java/io/helidon/webserver/tyrus/HttpClientTest.java
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
Labels: 3.x

#3993 3.x: Fix #3966 set collectorUri() with URL with no port number adds port
  tracing/tracing/src/main/java/io/helidon/tracing/TracerBuilder.java
  tracing/zipkin/src/test/java/io/helidon/tracing/zipkin/ZipkinTracerBuilderTest.java
  tracing/zipkin/src/test/resources/application.yaml
Labels: 3.x

#3998 3926 hocon include (#3990) - cp to master
  config/config-mp/src/main/java/io/helidon/config/mp/MpHelidonSource.java
  config/config/src/main/java/io/helidon/config/AbstractConfigSource.java
  config/config/src/main/java/io/helidon/config/ClasspathConfigSource.java
  config/config/src/main/java/io/helidon/config/ConfigSourceRuntimeImpl.java
  config/config/src/main/java/io/helidon/config/FileConfigSource.java
  config/config/src/main/java/io/helidon/config/UrlConfigSource.java
  config/config/src/main/java/io/helidon/config/spi/ConfigParser.java
  config/config/src/main/java/io/helidon/config/spi/ParsableSource.java
  config/git/src/main/java/io/helidon/config/git/GitConfigSource.java
  config/hocon/src/main/java/io/helidon/config/hocon/HoconConfigIncluder.java
  config/hocon/src/main/java/io/helidon/config/hocon/HoconConfigParser.java
  config/hocon/src/main/java/io/helidon/config/hocon/HoconConfigParserBuilder.java
  config/hocon/src/test/java/io/helidon/config/hocon/HoconConfigParserTest.java
  config/hocon/src/test/java/io/helidon/config/hocon/IncludeTest.java
  config/hocon/src/test/resources/conf/application.conf
  config/hocon/src/test/resources/conf/application2.conf
  config/hocon/src/test/resources/conf/application3.conf
  config/hocon/src/test/resources/conf/included.conf
  config/hocon/src/test/resources/conf/sub/included.conf
Labels: OCI

#3985 Correctly resolve OIDC metadata.
  security/providers/oidc-common/src/main/java/io/helidon/security/providers/oidc/common/OidcMetadata.java
  security/providers/oidc-common/src/test/java/io/helidon/security/providers/oidc/common/OidcMetadataTest.java
Labels: 2.x

#4009 Avoid putting SmallRye pom into quickstarts
  dependencies/pom.xml
  openapi/pom.xml
Labels: open-api, 2.x

#4006 Correctly resolve OIDC metadata. (#3985)
  security/providers/oidc-common/src/main/java/io/helidon/security/providers/oidc/common/OidcMetadata.java
  security/providers/oidc-common/src/test/java/io/helidon/security/providers/oidc/common/OidcMetadataTest.java
Labels: 3.x

#4011 Quickstart cleanup, using @HelidonTest in MP.
  archetypes/bare-mp/src/main/resources/src/main/resources/META-INF/native-image/reflect-config.json
  archetypes/bare-se/src/main/resources/src/main/resources/META-INF/native-image/reflect-config.json
  archetypes/quickstart-mp/src/main/resources/src/main/java/__pkg__/GreetResource.java.mustache
  archetypes/quickstart-mp/src/main/resources/src/main/resources/META-INF/native-image/reflect-config.json
  archetypes/quickstart-se/src/main/resources/src/main/resources/META-INF/native-image/reflect-config.json
  archetypes/quickstart-se/src/main/resources/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/quickstart-se/src/main/resources/src/test/resources/config-profile.yaml
  examples/quickstarts/helidon-quickstart-mp/pom.xml
  examples/quickstarts/helidon-quickstart-mp/src/main/java/io/helidon/examples/quickstart/mp/GreetResource.java
  examples/quickstarts/helidon-quickstart-mp/src/main/java/io/helidon/examples/quickstart/mp/ReactiveService.java
  examples/quickstarts/helidon-quickstart-mp/src/test/java/io/helidon/examples/quickstart/mp/MainTest.java
  examples/quickstarts/helidon-quickstart-se/src/test/java/io/helidon/examples/quickstart/se/MainTest.java
  examples/quickstarts/helidon-quickstart-se/src/test/resources/config-profile.yaml
  examples/quickstarts/helidon-standalone-quickstart-mp/pom.xml
  examples/quickstarts/helidon-standalone-quickstart-mp/src/test/java/io/helidon/examples/quickstart/mp/MainTest.java
  examples/quickstarts/helidon-standalone-quickstart-se/src/test/java/io/helidon/examples/quickstart/se/MainTest.java
  examples/quickstarts/helidon-standalone-quickstart-se/src/test/resources/config-profile.yaml
Labels: 2.x

#4015 Deprecated custom OCI integration
  integrations/oci/atp/src/main/java/io/helidon/integrations/oci/atp/OciAutonomousDb.java
  integrations/oci/atp/src/main/java/io/helidon/integrations/oci/atp/OciAutonomousDbRx.java
  integrations/oci/atp/src/main/java/module-info.java
  integrations/oci/cdi/src/main/java/io/helidon/integrations/oci/cdi/OciCdiExtension.java
  integrations/oci/cdi/src/main/java/module-info.java
  integrations/oci/connect/src/main/java/io/helidon/integrations/oci/connect/OciApiException.java
  integrations/oci/connect/src/main/java/io/helidon/integrations/oci/connect/OciConfigInstancePrincipal.java
  integrations/oci/connect/src/main/java/io/helidon/integrations/oci/connect/OciConfigProfile.java
  integrations/oci/connect/src/main/java/io/helidon/integrations/oci/connect/OciConfigProvider.java
  integrations/oci/connect/src/main/java/io/helidon/integrations/oci/connect/OciConfigResourcePrincipal.java
  integrations/oci/connect/src/main/java/io/helidon/integrations/oci/connect/OciRequestBase.java
  integrations/oci/connect/src/main/java/io/helidon/integrations/oci/connect/OciResponseParser.java
  integrations/oci/connect/src/main/java/io/helidon/integrations/oci/connect/OciRestApi.java
  integrations/oci/connect/src/main/java/io/helidon/integrations/oci/connect/OciRestException.java
  integrations/oci/connect/src/main/java/io/helidon/integrations/oci/connect/OciSignatureData.java
  integrations/oci/connect/src/main/java/io/helidon/integrations/oci/connect/SessionKeys.java
  integrations/oci/connect/src/main/java/module-info.java
  integrations/oci/objectstorage-health/src/main/java/module-info.java
  integrations/oci/objectstorage/src/main/java/io/helidon/integrations/oci/objectstorage/OciObjectStorage.java
  integrations/oci/objectstorage/src/main/java/io/helidon/integrations/oci/objectstorage/OciObjectStorageRx.java
  integrations/oci/objectstorage/src/main/java/module-info.java
  integrations/oci/telemetry/src/main/java/io/helidon/integrations/oci/telemetry/OciMetrics.java
  integrations/oci/telemetry/src/main/java/io/helidon/integrations/oci/telemetry/OciMetricsRx.java
  integrations/oci/telemetry/src/main/java/module-info.java
  integrations/oci/vault-health/src/main/java/module-info.java
  integrations/oci/vault/src/main/java/io/helidon/integrations/oci/vault/OciVault.java
  integrations/oci/vault/src/main/java/io/helidon/integrations/oci/vault/OciVaultRx.java
  integrations/oci/vault/src/main/java/module-info.java
Labels: 2.x

#4027 2.x: Upgrade Jackson Databind to 2.13.2.1 (BOM 2.13.2.20220324)
  config/git/pom.xml
  dependencies/pom.xml
  pom.xml
Labels: 2.x

#4028 3.x: Upgrade Jackson Databind to 2.13.2.1 (BOM 2.13.2.20220324)
  config/git/pom.xml
  dependencies/pom.xml
  microprofile/tests/tck/tck-metrics/pom.xml
  pom.xml
Labels: 3.x

#4013 3943 fixed manifest and documentation for Helidon Config Encryption for Helidon 3.x
  config/encryption/pom.xml
  config/encryption/src/main/java/io/helidon/config/encryption/Main.java
  docs/mp/security/03_configuration-secrets.adoc
Labels: docs, config, 3.x

#4029 Moves universal OCI CDI extension to new location
  bom/pom.xml
  dependencies/pom.xml
  docs/mp/extensions/04_cdi_oci-objectstorage.adoc
  examples/integrations/cdi/oci-objectstorage/pom.xml
  integrations/cdi/oci-objectstorage-cdi/pom.xml
  integrations/cdi/pom.xml
  integrations/oci/pom.xml
  integrations/oci/sdk/cdi/etc/spotbugs/exclude.xml
  integrations/oci/sdk/cdi/pom.xml
  integrations/oci/sdk/cdi/src/main/java/io/helidon/integrations/oci/sdk/cdi/AdpSelectionStrategy.java
  integrations/oci/sdk/cdi/src/main/java/io/helidon/integrations/oci/sdk/cdi/OciExtension.java
  integrations/oci/sdk/cdi/src/main/java/io/helidon/integrations/oci/sdk/cdi/package-info.java
  integrations/oci/sdk/cdi/src/main/java/module-info.java
  integrations/oci/sdk/cdi/src/test/java/io/helidon/integrations/oci/sdk/cdi/TestSpike.java
  integrations/oci/sdk/cdi/src/test/resources/logging.properties
  integrations/oci/sdk/pom.xml
Labels: P3, cdi, 2.x, integration, OCI

#4030 3943 fixed manifest and documentation for Helidon Config Encryption for Helidon 2.x
  config/encryption/pom.xml
  config/encryption/src/main/java/io/helidon/config/encryption/Main.java
  docs/mp/security/03_configuration-secrets.adoc
Labels: bug, docs, 2.x

#4043 3984 Describe more Scheduled properties
  docs/mp/scheduling/01_introduction.adoc
Labels: docs, 3.x

#4090 New security response mapper mechanism for MP
  security/integration/jersey/src/main/java/io/helidon/security/integration/jersey/SecurityFilterCommon.java
  security/integration/jersey/src/main/java/io/helidon/security/integration/jersey/SecurityResponseMapper.java
  security/integration/jersey/src/main/java/module-info.java
  tests/integration/security/pom.xml
  tests/integration/security/security-response-mapper/pom.xml
  tests/integration/security/security-response-mapper/src/main/java/io/helidon/tests/integration/security/mapper/MySecurityResponseMapper.java
  tests/integration/security/security-response-mapper/src/main/java/io/helidon/tests/integration/security/mapper/Restricted.java
  tests/integration/security/security-response-mapper/src/main/java/io/helidon/tests/integration/security/mapper/RestrictedProvider.java
  tests/integration/security/security-response-mapper/src/main/java/io/helidon/tests/integration/security/mapper/RestrictedProviderService.java
  tests/integration/security/security-response-mapper/src/main/java/io/helidon/tests/integration/security/mapper/RestrictedResource.java
  tests/integration/security/security-response-mapper/src/main/resources/META-INF/services/io.helidon.security.integration.jersey.SecurityResponseMapper
  tests/integration/security/security-response-mapper/src/main/resources/META-INF/services/io.helidon.security.spi.SecurityProviderService
  tests/integration/security/security-response-mapper/src/main/resources/application.yaml
  tests/integration/security/security-response-mapper/src/main/resources/logging.properties
  tests/integration/security/security-response-mapper/src/test/java/io/helidon/tests/integration/security/mapper/RestrictedResourceTest.java
Labels: MP, security
