Repository helidon-io/helidon, pull requests merged in 2022-02, with the labels that each got.

#3851 New section about injection managers in docs
  docs/mp/jaxrs/05_jaxrs-applications.adoc
Labels: docs

#3846 Special treatment for ParamConverterProviders with multiple apps
  microprofile/server/src/main/java/io/helidon/microprofile/server/ServerCdiExtension.java
  tests/functional/param-converter-provider/pom.xml
  tests/functional/param-converter-provider/src/main/java/io/helidon/tests/functional/paramconverterprovider/Application1.java
  tests/functional/param-converter-provider/src/main/java/io/helidon/tests/functional/paramconverterprovider/Application2.java
  tests/functional/param-converter-provider/src/main/java/io/helidon/tests/functional/paramconverterprovider/ParamConverterAnnotation.java
  tests/functional/param-converter-provider/src/main/java/io/helidon/tests/functional/paramconverterprovider/ParamConverterProvider1.java
  tests/functional/param-converter-provider/src/main/java/io/helidon/tests/functional/paramconverterprovider/ParamConverterProvider2.java
  tests/functional/param-converter-provider/src/main/java/io/helidon/tests/functional/paramconverterprovider/ParamConverterProvider3.java
  tests/functional/param-converter-provider/src/main/java/io/helidon/tests/functional/paramconverterprovider/Resource1.java
  tests/functional/param-converter-provider/src/main/java/io/helidon/tests/functional/paramconverterprovider/Resource2.java
  tests/functional/param-converter-provider/src/main/java/io/helidon/tests/functional/paramconverterprovider/TestCollector.java
  tests/functional/param-converter-provider/src/main/resources/META-INF/beans.xml
  tests/functional/param-converter-provider/src/main/resources/logging.properties
  tests/functional/param-converter-provider/src/test/java/io/helidon/tests/functional/paramconverterprovider/MainTest.java
  tests/functional/pom.xml
Labels: jax-rs

#3853 Do not create close listener handlers for every new request
  webclient/webclient/src/main/java/io/helidon/webclient/NettyClientHandler.java
Labels: webclient

#3858 New section about injection managers in docs (master)
  docs/mp/jaxrs/05_jaxrs-applications.adoc
Labels: docs

#3857 Special treatment for ParamConverterProviders with multiple apps (master)
  microprofile/server/src/main/java/io/helidon/microprofile/server/ServerCdiExtension.java
  tests/functional/param-converter-provider/pom.xml
  tests/functional/param-converter-provider/src/main/java/io/helidon/tests/functional/paramconverterprovider/Application1.java
  tests/functional/param-converter-provider/src/main/java/io/helidon/tests/functional/paramconverterprovider/Application2.java
  tests/functional/param-converter-provider/src/main/java/io/helidon/tests/functional/paramconverterprovider/ParamConverterAnnotation.java
  tests/functional/param-converter-provider/src/main/java/io/helidon/tests/functional/paramconverterprovider/ParamConverterProvider1.java
  tests/functional/param-converter-provider/src/main/java/io/helidon/tests/functional/paramconverterprovider/ParamConverterProvider2.java
  tests/functional/param-converter-provider/src/main/java/io/helidon/tests/functional/paramconverterprovider/ParamConverterProvider3.java
  tests/functional/param-converter-provider/src/main/java/io/helidon/tests/functional/paramconverterprovider/Resource1.java
  tests/functional/param-converter-provider/src/main/java/io/helidon/tests/functional/paramconverterprovider/Resource2.java
  tests/functional/param-converter-provider/src/main/java/io/helidon/tests/functional/paramconverterprovider/TestCollector.java
  tests/functional/param-converter-provider/src/main/resources/META-INF/beans.xml
  tests/functional/param-converter-provider/src/main/resources/logging.properties
  tests/functional/param-converter-provider/src/test/java/io/helidon/tests/functional/paramconverterprovider/MainTest.java
  tests/functional/pom.xml
Labels: webserver, jax-rs

#3856 3.x: Upgrade grpc-java to 1.44.0
  dependencies/pom.xml
  security/integration/grpc/src/test/java/io/helidon/security/integration/grpc/TestCallCredentials.java
Labels: 3.x

#3768 LRA Custom headers propagation #3702
  lra/coordinator/client/narayana-client/src/main/java/io/helidon/lra/coordinator/client/narayana/NarayanaClient.java
  lra/coordinator/client/spi/src/main/java/io/helidon/lra/coordinator/client/CoordinatorClient.java
  lra/coordinator/client/spi/src/main/java/io/helidon/lra/coordinator/client/Headers.java
  lra/coordinator/client/spi/src/main/java/io/helidon/lra/coordinator/client/PropagatedHeaders.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/HandlerService.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/JaxRsClientFilter.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/JaxRsServerFilter.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/LeaveAnnotationHandler.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/LraAnnotationHandler.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/NonJaxRsResource.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/NonLraAnnotationHandler.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/NoopAnnotationHandler.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/ParticipantService.java
  microprofile/lra/jax-rs/src/test/java/io/helidon/microprofile/lra/CoordinatorHeaderPropagationTest.java
  microprofile/tests/tck/tck-lra/src/test/java/io/helidon/microprofile/lra/tck/CoordinatorDeployer.java
Labels: lra, tmm

#3868 Use resource /instance/canonicalRegionName to get region
  integrations/oci/connect/src/main/java/io/helidon/integrations/oci/connect/OciConfigInstancePrincipal.java
Labels: OCI

#3866 Fix wrong connection close (#3830)
  microprofile/tests/tck/tck-jwt-auth/tck-base-suite.xml
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilderImpl.java
  webserver/webserver/src/main/java/io/helidon/webserver/BareResponseImpl.java
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/RequestContext.java
  webserver/webserver/src/test/java/io/helidon/webserver/HttpPipelineTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/KeepAliveTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/PlainTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/ReqEntityAnalyzedTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/utils/SocketHttpClient.java
Labels: 3.x

#3870 LRA - case-insensitive header propagation
  lra/coordinator/client/spi/src/main/java/io/helidon/lra/coordinator/client/PropagatedHeaders.java
  microprofile/lra/jax-rs/src/test/java/io/helidon/microprofile/lra/CoordinatorHeaderPropagationTest.java
Labels: 2.x, lra, tmm

#3769 Bump up to jakartified LRA 2.0
  config/config-mp/src/test/java/io/helidon/config/mp/MpConfigSourcesTest.java
  config/config/src/main/java/io/helidon/config/ConfigHelper.java
  config/config/src/main/java/io/helidon/config/ProviderImpl.java
  dependencies/pom.xml
  lra/coordinator/client/narayana-client/src/main/java/io/helidon/lra/coordinator/client/narayana/NarayanaClient.java
  lra/coordinator/server/src/main/resources/application.yaml
  lra/coordinator/server/src/test/java/CoordinatorTest.java
  microprofile/lra/jax-rs/pom.xml
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/AnnotationHandler.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/CoordinatorLocatorService.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/HandlerService.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/LraAnnotationHandler.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/NonJaxRsResource.java
  microprofile/lra/jax-rs/src/test/java/io/helidon/microprofile/lra/LoadBalancedCoordinatorTest.java
  microprofile/lra/jax-rs/src/test/java/io/helidon/microprofile/lra/resources/Recovery.java
  microprofile/lra/jax-rs/src/test/java/io/helidon/microprofile/lra/resources/RecoveryStatus.java
  microprofile/lra/jax-rs/src/test/java/io/helidon/microprofile/lra/resources/Timeout.java
  microprofile/tests/arquillian/src/main/java/io/helidon/microprofile/arquillian/HelidonContainerConfiguration.java
  microprofile/tests/arquillian/src/main/java/io/helidon/microprofile/arquillian/HelidonDeployableContainer.java
  microprofile/tests/tck/tck-lra/pom.xml
  microprofile/tests/tck/tck-lra/src/test/java/io/helidon/microprofile/lra/tck/CoordinatorAppService.java
  microprofile/tests/tck/tck-lra/src/test/java/io/helidon/microprofile/lra/tck/CoordinatorDeployer.java
Labels: lra

#3873 Examples version fix
  examples/integrations/oci/atp-cdi/pom.xml
  examples/integrations/oci/atp-reactive/pom.xml
  examples/istio/helidon-config/pom.xml
  examples/istio/helidon-jpa/pom.xml
  examples/microprofile/lra/pom.xml
  tests/integration/security/gh2772/pom.xml
Labels: 2.x

#3878 Docs update: macos quarantine and JDK version
  docs/about/02_introduction.adoc
  docs/about/03_prerequisites.adoc
  docs/about/05_cli.adoc
  docs/about/05_kubernetes.adoc
  docs/common/guides/migration.adoc
Labels: docs, 3.x

#3876 2.x: Docs: how to remove quarantine attribute from CLI download on MacOS
  docs/about/05_cli.adoc
Labels: docs, 2.x

#3875 Native image support for MP.
  integrations/micrometer/cdi/src/main/java/io/helidon/integrations/micrometer/cdi/MicrometerCdiExtension.java
  microprofile/health/src/main/java/io/helidon/microprofile/health/HealthCdiExtension.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/MetricsCdiExtension.java
  microprofile/weld/weld-core-impl/src/main/java/org/jboss/weld/bean/proxy/ProxyFactory.java
  service-common/rest-cdi/src/main/java/io/helidon/servicecommon/restcdi/HelidonRestCdiExtension.java
Labels: MP, native-image, 3.x

#3855 2.x: Upgrade grpc-java to 1.44.0
  dependencies/pom.xml
  security/integration/grpc/src/test/java/io/helidon/security/integration/grpc/TestCallCredentials.java
Labels: 2.x

#3872 JWT Auth 2.0 impl
  examples/security/jersey/src/main/resources/application.yaml
  microprofile/jwt-auth/src/main/java/io/helidon/microprofile/jwt/auth/BackedJsonWebToken.java
  microprofile/jwt-auth/src/main/java/io/helidon/microprofile/jwt/auth/ClaimProducer.java
  microprofile/jwt-auth/src/main/java/io/helidon/microprofile/jwt/auth/JsonWebTokenProducer.java
  microprofile/jwt-auth/src/main/java/io/helidon/microprofile/jwt/auth/JwtAuthAnnotationAnalyzer.java
  microprofile/jwt-auth/src/main/java/io/helidon/microprofile/jwt/auth/JwtAuthCdiExtension.java
  microprofile/jwt-auth/src/main/java/io/helidon/microprofile/jwt/auth/JwtAuthProvider.java
  microprofile/tests/tck/tck-jwt-auth/pom.xml
  microprofile/tests/tck/tck-jwt-auth/src/test/resources/application.yaml
  microprofile/tests/tck/tck-jwt-auth/tck-base-suite.xml
  security/integration/jersey/src/main/java/io/helidon/security/integration/jersey/FeatureConfig.java
  security/integration/jersey/src/main/java/io/helidon/security/integration/jersey/SecurityDefinition.java
  security/integration/jersey/src/main/java/io/helidon/security/integration/jersey/SecurityFeature.java
  security/integration/jersey/src/main/java/io/helidon/security/integration/jersey/SecurityFilter.java
  security/integration/jersey/src/main/java/io/helidon/security/integration/jersey/SecurityFilterCommon.java
  security/integration/jersey/src/main/java/io/helidon/security/integration/jersey/SecurityPreMatchingFilter.java
  security/jwt/src/main/java/io/helidon/security/jwt/EncryptedJwt.java
  security/jwt/src/main/java/io/helidon/security/jwt/Jwt.java
  security/jwt/src/main/java/io/helidon/security/jwt/JwtHeaders.java
Labels: MP, security, 3.x

#3889 Upgrade logback to 1.2.10
  dependencies/pom.xml
Labels: dependencies, 3.x

#3888 2.x: Upgrade logback to 1.2.10
  dependencies/pom.xml
Labels: 2.x, dependencies

#3884 Jersey version bump to 3.0.4
  dependencies/pom.xml
  microprofile/rest-client/pom.xml
  microprofile/tests/tck/tck-rest-client/pom.xml
  microprofile/tests/tck/tck-rest-client/src/test/tck-suite.xml
Labels: MP, dependencies, 3.x

#3893 2.x: Upgrade dependency-check to 6.5.3 and cleanup suppressions
  etc/dependency-check-suppression.xml
  pom.xml
Labels: build, 2.x

#3894 Upgrade dependency-check to 6.5.3 and cleanup suppressions
  etc/dependency-check-suppression.xml
  pom.xml
Labels: build, 3.x

#3871 Add CORS support to OidcSupport (3.x) (#3844)
  docs/mp/cors/03_configuration-with-cors-mp.adoc
  docs/se/cors/03_using-configuration.adoc
  docs/shared/cors/common_shared.adoc
  docs/shared/security/providers/oidc.adoc
  etc/checkstyle-suppressions.xml
  security/providers/oidc-common/pom.xml
  security/providers/oidc-common/src/main/java/io/helidon/security/providers/oidc/common/OidcConfig.java
  security/providers/oidc-common/src/main/java/module-info.java
  security/providers/oidc/pom.xml
  security/providers/oidc/src/main/java/io/helidon/security/providers/oidc/OidcSupport.java
  security/providers/oidc/src/main/java/module-info.java
Labels: enhancement, security, cors

#3910 Removed incorrect call to indexOf
  examples/employee-app/src/main/java/io/helidon/service/employee/EmployeeRepositoryImpl.java
Labels: examples

#3913 Fixed builder created from configuration in OutboundTargetDefinition
  security/providers/http-sign/src/main/java/io/helidon/security/providers/httpsign/OutboundTargetDefinition.java
  security/providers/http-sign/src/test/java/io/helidon/security/providers/httpsign/OutboundTargetDefinitionTest.java
Labels: security

#3915 Update changelog for 3.0 releases
  CHANGELOG.md
Labels: build

#3920 Removed incorrect call to indexOf (master)
  examples/employee-app/src/main/java/io/helidon/service/employee/EmployeeRepositoryImpl.java
Labels: examples

#3918 Do not log full stack traces in SEVERE when a connection reset is received (master)
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
Labels: webserver, 3.x

#3922 2.x: Upgrade Jackson to 2.12.6
  dependencies/pom.xml
Labels: 2.x, dependencies

#3921 Search for @Path annotations in base classes (master)
  microprofile/server/src/main/java/io/helidon/microprofile/server/JaxRsCdiExtension.java
  tests/apps/bookstore/bookstore-mp/src/main/java/io/helidon/tests/apps/bookstore/mp/BookResource.java
  tests/apps/bookstore/bookstore-mp/src/main/java/io/helidon/tests/apps/bookstore/mp/BookResourceBase.java
Labels: cdi, 3.x

#3919 Fixed builder from configuration in OutboundTargetDefinition (master)
  security/providers/http-sign/src/main/java/io/helidon/security/providers/httpsign/OutboundTargetDefinition.java
  security/providers/http-sign/src/test/java/io/helidon/security/providers/httpsign/OutboundTargetDefinitionTest.java
Labels: security, 3.x
