Repository helidon-io/helidon, pull requests merged in 2022-05, with the labels that each got.

#4169 2.x. Fix guide. Change JPA Scope.
  docs/mp/guides/09_jpa.adoc
Labels: docs

#4170 3.x Fix guide. Change JPA Scope.
  docs/mp/guides/09_jpa.adoc
Labels: docs

#4137 Fix JwtProvider wrong error message for Helidon 2.x
  security/providers/jwt/src/main/java/io/helidon/security/providers/jwt/JwtProvider.java
Labels: security, P3, 2.x

#4136 Fix JwtProvider wrong error message for Helidon 3.x
  security/providers/jwt/src/main/java/io/helidon/security/providers/jwt/JwtProvider.java
Labels: security, P3, 3.x

#4157 Fixed a few problems with Fallback and Multi's in SE
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Fallback.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/FallbackImpl.java
  fault-tolerance/src/test/java/io/helidon/faulttolerance/FallbackTest.java
Labels: SE, fault-tolerance, wip

#4174 Do not fail when expected audience is null - 2.x backport
  security/jwt/src/main/java/io/helidon/security/jwt/Jwt.java
Labels: 2.x

#4167 Turn off reference substitution in Hocon parser level for lazy resolution of references
  config/hocon/src/main/java/io/helidon/config/hocon/HoconConfigParser.java
  config/hocon/src/main/java/io/helidon/config/hocon/HoconConfigParserBuilder.java
  config/hocon/src/test/java/io/helidon/config/hocon/HoconConfigParserTest.java
  config/hocon/src/test/java/io/helidon/config/hocon/SubstitutionTest.java
  config/hocon/src/test/resources/conf/substitution1.conf
  config/hocon/src/test/resources/conf/substitution2.conf
Labels: config

#4175 Turn off reference resolution/substitution at parser level (master)
  config/hocon/src/main/java/io/helidon/config/hocon/HoconConfigParser.java
  config/hocon/src/main/java/io/helidon/config/hocon/HoconConfigParserBuilder.java
  config/hocon/src/test/java/io/helidon/config/hocon/HoconConfigParserTest.java
  config/hocon/src/test/java/io/helidon/config/hocon/SubstitutionTest.java
  config/hocon/src/test/resources/conf/substitution1.conf
  config/hocon/src/test/resources/conf/substitution2.conf
Labels: config

#4156 3.x: Add tuning guides
  docs/mp/guides/40_performance-tuning.adoc
  docs/se/guides/41_performance-tuning.adoc
Labels: docs, 3.x, performance

#4190 Update to mp-graphql 2.0
  dependencies/pom.xml
Labels: dependencies, graphql

#4179 2.x: Upgrade jackson to 2.13.2.2
  dependencies/pom.xml
Labels: 2.x, dependencies

#4178 3.x: Upgrade Jackson to 2.13.2.2
  dependencies/pom.xml
Labels: dependencies, 3.x

#4185 Added X509 certificate context key when client certificate is present and pem trust store configuration
  CHANGELOG.md
  common/key-util/src/main/java/io/helidon/common/pki/KeyConfig.java
  docs/se/webserver/12_tls-configuration.adoc
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServerTls.java
  webserver/webserver/src/test/java/io/helidon/webserver/MtlsTest.java
Labels: OCI

#4217 Fixed problem in DelayRetryPolicyTest that would cause all delays to be zero
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Retry.java
  fault-tolerance/src/test/java/io/helidon/faulttolerance/DelayRetryPolicyTest.java
Labels: fault-tolerance

#4221 Fixed problem in DelayRetryPolicyTest that would cause all delays to be zero (master)
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Retry.java
  fault-tolerance/src/test/java/io/helidon/faulttolerance/DelayRetryPolicyTest.java
Labels: fault-tolerance, 3.x

#4225 2.x: Remove dependency on helidon-common-reactive from config
  config/config/pom.xml
  config/config/src/main/java/module-info.java
  dbclient/dbclient/pom.xml
  dbclient/dbclient/src/main/java/module-info.java
  fault-tolerance/pom.xml
  fault-tolerance/src/main/java/module-info.java
  integrations/vault/secrets/database/pom.xml
  integrations/vault/secrets/database/src/main/java/module-info.java
  integrations/vault/sys/sys/pom.xml
  integrations/vault/sys/sys/src/main/java/module-info.java
  messaging/messaging/pom.xml
  messaging/messaging/src/main/java/module-info.java
  webclient/webclient/pom.xml
  webclient/webclient/src/main/java/module-info.java
Labels: 2.x

#4233 2.x FT: Make require transitive for helidon common reactive module
  fault-tolerance/src/main/java/module-info.java
Labels: 2.x

#4230 2.x: Gradle: Add helidon test dependency. Add task dependency for jandex
  examples/quickstarts/helidon-quickstart-mp/build.gradle
Labels: 2.x

#4231 3.x: Gradle: Add helidon test dependency. Add task dependency for jandex
  examples/quickstarts/helidon-quickstart-mp/build.gradle
Labels: 3.x

#4229 3.x: Remove dependency on helidon-common-reactive from config (#4225)
  config/config/pom.xml
  config/config/src/main/java/module-info.java
  dbclient/dbclient/pom.xml
  dbclient/dbclient/src/main/java/module-info.java
  fault-tolerance/pom.xml
  fault-tolerance/src/main/java/module-info.java
  integrations/vault/secrets/database/pom.xml
  integrations/vault/secrets/database/src/main/java/module-info.java
  integrations/vault/sys/sys/pom.xml
  integrations/vault/sys/sys/src/main/java/module-info.java
  messaging/messaging/pom.xml
  messaging/messaging/src/main/java/module-info.java
  webclient/webclient/pom.xml
  webclient/webclient/src/main/java/module-info.java
Labels: 3.x

#4216 New AnnotationFinder to handle transitive annotations in FT
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/AnnotationFinder.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/AsynchronousAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/BulkheadAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/CircuitBreakerAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FallbackAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FaultToleranceExtension.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/MethodAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/MethodIntrospector.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/RetryAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/TimeoutAntn.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/AnnotationFinderTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/TimedRetry.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/TimedRetry2.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/TimeoutAnnotBean.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/TimeoutTest.java
Labels: fault-tolerance, wip

#4239 Fix some test regressions and some code simplifications
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Bulkhead.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/BulkheadImpl.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/CircuitBreaker.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/CircuitBreakerImpl.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/DelayedTask.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/FaultTolerance.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Retry.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/RetryImpl.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Timeout.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/TimeoutImpl.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/AsynchronousAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/BulkheadAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/CircuitBreakerAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FallbackAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FaultToleranceExtension.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/MethodAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/MethodIntrospector.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/MethodInvoker.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/RetryAntn.java
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/TimeoutAntn.java
Labels: fault-tolerance

#4250 2.x: Upgrade Netty to 4.1.77.Final
  dependencies/pom.xml
  pom.xml
Labels: 2.x, dependencies

#4248 Enable thread pool growth at threshold instead of above it (master)
  common/configurable/src/main/java/io/helidon/common/configurable/ThreadPool.java
  common/configurable/src/test/java/io/helidon/common/configurable/ThreadPoolTest.java
Labels: 3.x, common

#4252 3.x: Upgrade Netty to 4.1.77.Final
  dependencies/pom.xml
  pom.xml
Labels: dependencies, 3.x

#4261 Yasson version updated in 2.x
  dependencies/pom.xml
Labels: dependencies

#4222 OIDC update to support HTTPS identity provider on plain socket Helidon
  security/integration/webserver/src/main/java/io/helidon/security/integration/webserver/SecurityHandler.java
  security/providers/oidc-common/src/main/java/io/helidon/security/providers/oidc/common/OidcConfig.java
  security/providers/oidc/src/main/java/io/helidon/security/providers/oidc/OidcProvider.java
  security/providers/oidc/src/main/java/io/helidon/security/providers/oidc/OidcSupport.java
Labels: security

#4260 Yasson version increased to 2.0.4
  dependencies/pom.xml
Labels: dependencies

#4278 3.x: Add test-nightly.sh
  etc/scripts/test-nightly.sh
Labels: 3.x

#4277 2.x: Add test-nightly.sh
  etc/scripts/test-nightly.sh
Labels: 2.x, testing

#4285 3.x: Move mockito dependency management to root pom
  dependencies/pom.xml
  examples/security/spi-examples/pom.xml
  examples/webserver/opentracing/pom.xml
  pom.xml
Labels: 3.x

#4292 Adds XA support to Helidon's UCP integration (2.x backport)
  integrations/cdi/datasource-ucp/src/main/java/io/helidon/integrations/datasource/ucp/cdi/UCPBackedDataSourceExtension.java
  integrations/cdi/datasource-ucp/src/test/java/io/helidon/integrations/datasource/ucp/cdi/TestDataSourceAcquisition.java
  integrations/cdi/datasource-ucp/src/test/resources/application.yaml
Labels: jpa/jta, 2.x
