Repository helidon-io/helidon, pull requests merged in 2022-09, with the labels that each got.

#4823 Port and cleanup of old reactive tests for Nima bulkheads
  nima/fault-tolerance/pom.xml
  nima/fault-tolerance/src/main/java/io/helidon/nima/faulttolerance/Async.java
  nima/fault-tolerance/src/main/java/io/helidon/nima/faulttolerance/AsyncImpl.java
  nima/fault-tolerance/src/main/java/io/helidon/nima/faulttolerance/BulkheadImpl.java
  nima/fault-tolerance/src/test/java/io/helidon/nima/faulttolerance/BulkheadTest.java
Labels: fault-tolerance, Níma

#4837 Workflow to create backport issues.
  .github/workflows/create-backport-issues.yml
  etc/scripts/actions/assign-issue-to-project.sh
  etc/scripts/actions/create-backport-issues.sh
Labels: build

#4841 4834 4835 fix archetype test issues
  archetypes/helidon/src/main/archetype/common/observability.xml
  archetypes/helidon/src/main/archetype/mp/common/common-mp.xml
  archetypes/helidon/src/main/archetype/mp/common/files/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/helidon/src/main/archetype/mp/custom/custom-mp.xml
  archetypes/helidon/src/main/archetype/mp/custom/files/src/test/java/__pkg__/FileServiceTest.java.multipart.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/test/java/__pkg__/FtResourceTest.java.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/test/java/__pkg__/TestCORS.java.mustache
  archetypes/helidon/src/main/archetype/mp/quickstart/quickstart-mp.xml
  archetypes/helidon/src/main/archetype/se/common/common-se.xml
  archetypes/helidon/src/main/archetype/se/common/files/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/custom-tests.xml
  archetypes/helidon/src/main/archetype/se/custom/database.xml
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/java/__pkg__/FileServiceTest.java.multipart.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/java/__pkg__/FtServiceTest.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/java/__pkg__/TestCORS.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/java/__pkg__/WebClientMainTest.java.mustache
  archetypes/helidon/src/main/archetype/se/quickstart/quickstart-tests.xml
Labels: archetypes

#4844 remove redundant reflect-config.json
  archetypes/helidon/src/main/archetype/mp/common/files/src/main/resources/META-INF/native-image/reflect-config.json
  archetypes/helidon/src/main/archetype/se/common/files/src/main/resources/META-INF/native-image/reflect-config.json
Labels: archetypes

#4849 2.x: Upgrade snakeyaml to 1.31
  dependencies/pom.xml
  etc/HELIDON_THIRD_PARTY_LICENSES.xml
Labels: 2.x, dependencies

#4824 4749 LRA fixes backport
  config/config-mp/src/test/java/io/helidon/config/mp/MpConfigSourcesTest.java
  config/config/src/main/java/io/helidon/config/ConfigHelper.java
  config/config/src/main/java/io/helidon/config/ProviderImpl.java
  lra/coordinator/client/narayana-client/src/main/java/io/helidon/lra/coordinator/client/narayana/NarayanaClient.java
  lra/coordinator/server/src/main/resources/application.yaml
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/AnnotationHandler.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/CoordinatorLocatorService.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/HandlerService.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/LraAnnotationHandler.java
  microprofile/lra/jax-rs/src/test/java/io/helidon/microprofile/lra/CoordinatorHeaderPropagationTest.java
  microprofile/tests/arquillian/src/main/java/io/helidon/microprofile/arquillian/HelidonContainerConfiguration.java
  microprofile/tests/arquillian/src/main/java/io/helidon/microprofile/arquillian/HelidonDeployableContainer.java
  microprofile/tests/tck/tck-lra/src/test/java/io/helidon/microprofile/lra/tck/CoordinatorAppService.java
  microprofile/tests/tck/tck-lra/src/test/java/io/helidon/microprofile/lra/tck/CoordinatorDeployer.java
Labels: config, lra

#4819 Shutdown executors while stopping the server
  nima/webserver/webserver/src/main/java/io/helidon/nima/webserver/ServerListener.java
  nima/webserver/webserver/src/test/java/io/helidon/nima/webserver/ExecutorShutdownTest.java
Labels: webserver, Níma

#4851 4.x: Upgrade snakeyaml
  dependencies/pom.xml
  etc/HELIDON_THIRD_PARTY_LICENSES.xml
Labels: dependencies, 4.x

#4867 Context support for Níma WebServer
  nima/http2/webserver/src/main/java/io/helidon/nima/http2/webserver/Http2ServerRequest.java
  nima/webserver/context/pom.xml
  nima/webserver/context/src/main/java/io/helidon/nima/webserver/context/ContextFilter.java
  nima/webserver/context/src/main/java/io/helidon/nima/webserver/context/package-info.java
  nima/webserver/context/src/main/java/module-info.java
  nima/webserver/context/src/test/java/io/helidon/nima/webserver/context/ContextFilterBase.java
  nima/webserver/context/src/test/java/io/helidon/nima/webserver/context/ContextFilterIT.java
  nima/webserver/context/src/test/java/io/helidon/nima/webserver/context/ContextFilterTest.java
  nima/webserver/pom.xml
  nima/webserver/webserver/src/main/java/io/helidon/nima/webserver/http/Filter.java
  nima/webserver/webserver/src/main/java/io/helidon/nima/webserver/http/Filters.java
  nima/webserver/webserver/src/main/java/io/helidon/nima/webserver/http/HttpRequest.java
  nima/webserver/webserver/src/main/java/io/helidon/nima/webserver/http/HttpRouting.java
  nima/webserver/webserver/src/main/java/io/helidon/nima/webserver/http1/Http1ServerRequest.java
Labels: 4.x, Níma

#4840 Ported combined FT test to Nima and enhancements to Async
  nima/fault-tolerance/src/main/java/io/helidon/nima/faulttolerance/Async.java
  nima/fault-tolerance/src/main/java/io/helidon/nima/faulttolerance/AsyncImpl.java
  nima/fault-tolerance/src/main/java/io/helidon/nima/faulttolerance/Bulkhead.java
  nima/fault-tolerance/src/main/java/io/helidon/nima/faulttolerance/BulkheadImpl.java
  nima/fault-tolerance/src/main/java/io/helidon/nima/faulttolerance/TimeoutImpl.java
  nima/fault-tolerance/src/test/java/io/helidon/nima/faulttolerance/AsyncTest.java
  nima/fault-tolerance/src/test/java/io/helidon/nima/faulttolerance/BulkheadTest.java
  nima/fault-tolerance/src/test/java/io/helidon/nima/faulttolerance/CircuitBreakerTest.java
  nima/fault-tolerance/src/test/java/io/helidon/nima/faulttolerance/FaultToleranceTest.java
Labels: fault-tolerance, Níma

#4874 4857 arch fix minor issues (backport)
  archetypes/helidon/src/main/archetype/common/observability.xml
  archetypes/helidon/src/main/archetype/mp/common/common-mp.xml
  archetypes/helidon/src/main/archetype/mp/common/files/src/main/resources/META-INF/native-image/reflect-config.json
  archetypes/helidon/src/main/archetype/mp/common/files/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/helidon/src/main/archetype/mp/custom/custom-mp.xml
  archetypes/helidon/src/main/archetype/mp/custom/files/src/test/java/__pkg__/FileServiceTest.java.multipart.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/test/java/__pkg__/FtResourceTest.java.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/test/java/__pkg__/TestCORS.java.mustache
  archetypes/helidon/src/main/archetype/mp/quickstart/quickstart-mp.xml
  archetypes/helidon/src/main/archetype/se/common/common-se.xml
  archetypes/helidon/src/main/archetype/se/common/files/src/main/resources/META-INF/native-image/reflect-config.json
  archetypes/helidon/src/main/archetype/se/common/files/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/custom-tests.xml
  archetypes/helidon/src/main/archetype/se/custom/database.xml
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/java/__pkg__/FileServiceTest.java.multipart.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/java/__pkg__/FtServiceTest.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/java/__pkg__/TestCORS.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/java/__pkg__/WebClientMainTest.java.mustache
  archetypes/helidon/src/main/archetype/se/quickstart/quickstart-tests.xml
Labels: 3.x, archetypes, backport

#4845 change beans.xml
  archetypes/helidon/src/main/archetype/mp/common/files/src/main/resources/META-INF/beans.xml
Labels: archetypes

#4903 4184 logging for an MP app
  docs/includes/server/access-log-config-common.adoc
  docs/mp/server.adoc
  docs/se/webserver.adoc
Labels: docs

#4922 3.x: Upgrade snakeyaml to 1.32
  dependencies/pom.xml
Labels: dependencies, 3.x

#4923 4.x: Upgrade snakeyaml to 1.32
  dependencies/pom.xml
Labels: dependencies, 4.x

#4921 2.x: Upgrade snakeyaml to 1.32
  dependencies/pom.xml
Labels: 2.x, dependencies

#4934 Fix FT intermittent failure - archetype build (backport)
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/FtService.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/java/__pkg__/FtServiceTest.java.mustache
Labels: archetypes, backport

#4937 Update a few icons in the docs
  docs/se/introduction.adoc
  docs/sitegen.yaml
Labels: docs

#4905 Quickstart MP with Jackson fix JSON message
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/Message.java.json.mustache
Labels: 3.x, archetypes

#4902 Documentation minor fix
  docs/se/aot.adoc
Labels: docs, 3.x

#4865 [PR] - HelidonTest doesn't start container properly with TestInstance.Lifecycle.PER_CLASS #4663
  microprofile/tests/junit5/src/main/java/io/helidon/microprofile/tests/junit5/HelidonJunitExtension.java
Labels: bug, P3, 3.x, testing

#4965 2.x: Upgrade hibernate to 5.6.11.Final
  dependencies/pom.xml
Labels: 2.x

#4969 Formatting of generated Helidon SE quickstart (backport)
  archetypes/helidon/src/main/archetype/se/common/files/src/main/java/__pkg__/Main.java.mustache
Labels: 3.x, archetypes, backport

#4769 RestClient proxy test exclusion removed
  dependencies/pom.xml
  microprofile/tests/tck/tck-rest-client/src/test/tck-suite.xml
Labels: rest-client, dependencies

#4773 [main] Issue #4719 - Helidon DBClient does not trigger an Exception when no sane DB connection can be obtained
  reactive/dbclient/jdbc/src/main/java/io/helidon/reactive/dbclient/jdbc/JdbcStatementDml.java
Labels: bug, 2.x, DB client

#4974 2.x: Upgrade eclipselink to 2.7.11
  dependencies/pom.xml
Labels: 2.x, dependencies

#4988 4975 ThreadPoolTest RC 2.x backport
  common/configurable/src/test/java/io/helidon/common/configurable/ThreadPoolTest.java
Labels: backport

#4964 Fix identification of parallel startup of CDI
  microprofile/cdi/src/main/java/io/helidon/microprofile/cdi/HelidonContainerInitializer.java
  microprofile/server/src/main/java/io/helidon/microprofile/server/ServerCdiExtension.java
Labels: testing, 4.x

#4853 @ConfigProperties without bean defining annotation - 3x
  microprofile/config/src/main/java/io/helidon/microprofile/config/ConfigBeanDescriptor.java
  microprofile/config/src/main/java/io/helidon/microprofile/config/ConfigCdiExtension.java
  microprofile/config/src/test/java/io/helidon/microprofile/config/ConfigPropertyNonBean.java
  microprofile/config/src/test/java/io/helidon/microprofile/config/MpConfigInjectionTest.java
  microprofile/config/src/test/resources/application.yaml
Labels: bug

#4989 3.x: Add suppression for graphql and kafka false positives
  etc/dependency-check-suppression.xml
Labels: 3.x

#4967 Formatting of generated Helidon SE quickstart
  archetypes/helidon/src/main/archetype/se/common/files/src/main/java/__pkg__/Main.java.mustache
Labels: archetypes

#4830 GitHub actions
  .github/workflows/main.yml
  Jenkinsfile
  etc/scripts/github-build.sh
  etc/scripts/includes/pipeline-env.sh
  etc/scripts/site.sh
  etc/scripts/spotbugs.sh
Labels: build

#4994 [2.x] Fix identification of parallel startup of CDI
  microprofile/cdi/src/main/java/io/helidon/microprofile/cdi/HelidonContainerInitializer.java
  microprofile/server/src/main/java/io/helidon/microprofile/server/ServerCdiExtension.java
Labels: 2.x, backport

#5004 Build on push
  .github/workflows/validate.yml
  Jenkinsfile
  etc/scripts/github-build.sh
Labels: 4.x

#5010 Removed deprecated tests, disabled pipelining test.
  reactive/webserver/webserver/src/test/java/io/helidon/reactive/webserver/BytesReuseV2ApiTest.java
  reactive/webserver/webserver/src/test/java/io/helidon/reactive/webserver/CipherSuiteV2ApiTest.java
  reactive/webserver/webserver/src/test/java/io/helidon/reactive/webserver/CloseConnectionV2ApiTest.java
  reactive/webserver/webserver/src/test/java/io/helidon/reactive/webserver/CompressionV2ApiTest.java
  reactive/webserver/webserver/src/test/java/io/helidon/reactive/webserver/EncodingV2ApiTest.java
  reactive/webserver/webserver/src/test/java/io/helidon/reactive/webserver/FilterV2ApiTest.java
  reactive/webserver/webserver/src/test/java/io/helidon/reactive/webserver/Gh1893V2ApiTest.java
  reactive/webserver/webserver/src/test/java/io/helidon/reactive/webserver/Gh377V2ApiTest.java
  reactive/webserver/webserver/src/test/java/io/helidon/reactive/webserver/HttpPipelineTest.java
  reactive/webserver/webserver/src/test/java/io/helidon/reactive/webserver/HttpPipelineV2ApiTest.java
  reactive/webserver/webserver/src/test/java/io/helidon/reactive/webserver/KeepAliveV2ApiTest.java
  reactive/webserver/webserver/src/test/java/io/helidon/reactive/webserver/MultiPortV2ApiTest.java
  reactive/webserver/webserver/src/test/java/io/helidon/reactive/webserver/NettyWebServerV2ApiTest.java
  reactive/webserver/webserver/src/test/java/io/helidon/reactive/webserver/PlainV2ApiTest.java
  reactive/webserver/webserver/src/test/java/io/helidon/reactive/webserver/SocketConfigurationV2ApiTest.java
Labels: 4.x

#5015 Use common Config in common configurable.
  common/config/src/main/java/io/helidon/common/config/Config.java
  common/configurable/pom.xml
  common/configurable/src/main/java/io/helidon/common/configurable/LruCache.java
  common/configurable/src/main/java/io/helidon/common/configurable/Resource.java
  common/configurable/src/main/java/io/helidon/common/configurable/ResourceUtil.java
  common/configurable/src/main/java/io/helidon/common/configurable/ScheduledThreadPoolSupplier.java
  common/configurable/src/main/java/io/helidon/common/configurable/ServerThreadPoolSupplier.java
  common/configurable/src/main/java/io/helidon/common/configurable/ThreadPool.java
  common/configurable/src/main/java/io/helidon/common/configurable/ThreadPoolSupplier.java
  common/configurable/src/main/java/io/helidon/common/configurable/package-info.java
  common/configurable/src/main/java/module-info.java
  common/configurable/src/test/java/io/helidon/common/configurable/ResourceTest.java
  common/configurable/src/test/resources/application.yaml
  common/key-util/src/main/java/io/helidon/common/pki/KeyConfig.java
  common/key-util/src/main/java/module-info.java
  common/testing/junit5/pom.xml
  config/config/pom.xml
  config/config/src/main/java/io/helidon/config/Config.java
  config/metadata-processor/src/main/java/io/helidon/config/metadata/processor/ConfigMetadataHandler.java
  examples/webserver/fault-tolerance/src/test/java/io/helidon/reactive/webserver/examples/faulttolerance/MainTest.java
  microprofile/security/src/main/java/io/helidon/microprofile/security/SecurityCdiExtension.java
  microprofile/tests/arquillian/src/main/java/io/helidon/microprofile/arquillian/HelidonDeployableContainer.java
  nima/common/tls/src/main/java/io/helidon/nima/common/tls/Tls.java
  pom.xml
  reactive/webclient/jaxrs/src/main/java/io/helidon/reactive/webclient/jaxrs/JaxRsClient.java
Labels: 4.x

#5016 Default header size increased to 16K - Helidon 3.x
  docs/config/io_helidon_webserver_SocketConfiguration.adoc
  docs/config/io_helidon_webserver_SocketConfiguration_SocketConfigurationBuilder.adoc
  docs/config/io_helidon_webserver_WebServer.adoc
  webserver/webserver/src/main/java/io/helidon/webserver/SocketConfiguration.java
  webserver/webserver/src/test/java/io/helidon/webserver/TestHttpParseFineTuning.java
  webserver/webserver/src/test/java/io/helidon/webserver/TestHttpParsingDefaults.java
Labels: webserver, 3.x, server

#5017 Default header size increased to 16K for Http1ConnectionProvider in NIMA
  docs/config/io_helidon_reactive_webserver_SocketConfiguration.adoc
  docs/config/io_helidon_reactive_webserver_SocketConfiguration_SocketConfigurationBuilder.adoc
  docs/config/io_helidon_reactive_webserver_WebServer.adoc
  nima/webclient/webclient/src/main/java/io/helidon/nima/webclient/http1/ClientRequestImpl.java
  nima/webserver/webserver/src/main/java/io/helidon/nima/webserver/http1/Http1ConnectionProvider.java
  reactive/webserver/webserver/src/main/java/io/helidon/reactive/webserver/SocketConfiguration.java
  reactive/webserver/webserver/src/test/java/io/helidon/reactive/webserver/TestHttpParseFineTuning.java
  reactive/webserver/webserver/src/test/java/io/helidon/reactive/webserver/TestHttpParsingDefaults.java
Labels: server, 4.x

#5020 WebClient dependency in generated Helidon SE Quickstart should be in test scope (backport)
  archetypes/helidon/src/main/archetype/se/common/common-se.xml
Labels: 3.x, archetypes
