Repository helidon-io/helidon, pull requests merged in 2022-07, with the labels that each got.

#4454 Messaging Deprecations cleanup
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/FormerHealthProbe.java
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/MessagingCdiExtension.java
Labels: messaging

#4464 Database SE templates
  archetypes/helidon/src/main/archetype/se/common/files/src/test/resources/application.yaml.mustache
  archetypes/helidon/src/main/archetype/se/custom/database.xml
  archetypes/helidon/src/main/archetype/se/custom/files/application.h2.yaml
  archetypes/helidon/src/main/archetype/se/custom/files/application.mongo.yaml
  archetypes/helidon/src/main/archetype/se/custom/files/application.mysql.yaml
  archetypes/helidon/src/main/archetype/se/custom/files/application.oracledb.yaml
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/DatabaseService.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/Document.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/DocumentMapperProvider.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/resources/META-INF/services/io.helidon.dbclient.spi.DbMapperProvider.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/resources/META-INF/services/io.helidon.dbclient.spi.DbMapperProvider.mustache
Labels: archetypes

#4465 Updated FT SE documentation
  docs/se/faulttolerance/01_faulttolerance.adoc
Labels: docs, fault-tolerance

#4470 New formatting for CORS SE documentation
  docs/se/cors/01_cors.adoc
  docs/se/cors/01_introduction.adoc
  docs/se/cors/02_using-the-api.adoc
  docs/se/cors/03_using-configuration.adoc
  docs/se/cors/04_support-in-builtin-services.adoc
  docs/shared/cors/common_shared.adoc
Labels: SE, docs, cors

#4457 Mock connector
  bom/pom.xml
  messaging/connectors/mock/pom.xml
  messaging/connectors/mock/src/main/java/io/helidon/messaging/connectors/mock/MockConnector.java
  messaging/connectors/mock/src/main/java/io/helidon/messaging/connectors/mock/MockIncoming.java
  messaging/connectors/mock/src/main/java/io/helidon/messaging/connectors/mock/MockOutgoing.java
  messaging/connectors/mock/src/main/java/io/helidon/messaging/connectors/mock/MockSubscriber.java
  messaging/connectors/mock/src/main/java/io/helidon/messaging/connectors/mock/TestConnector.java
  messaging/connectors/mock/src/main/java/io/helidon/messaging/connectors/mock/package-info.java
  messaging/connectors/mock/src/main/java/module-info.java
  messaging/connectors/mock/src/main/resources/META-INF/bean.xml
  messaging/connectors/pom.xml
  microprofile/messaging/core/pom.xml
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/MethodSignatureResolver.java
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/MethodSignatureType.java
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/OutgoingMethod.java
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/WrappingPublisher.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/MethodSignatureResolverTest.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/MockConnectorTest.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/MultiSupportTest.java
Labels: messaging

#4479 Fix Javadoc links
  docs/se/fault-tolerance.adoc
Labels: docs

#4476 Revert back to using javax.validation as jakarta.validation is not supported by micronaut
  config/etcd/src/main/java/module-info.java
  dependencies/pom.xml
  integrations/micronaut/data/pom.xml
  integrations/micronaut/data/src/test/java/io/helidon/integrations/micronaut/cdi/data/MicronautDataCdiExtensionTest.java
Labels: dependencies

#4472 1.x: Upgrade google-api-client, jaegertracing, mysql-connector
  dependencies/pom.xml
  etc/dependency-check-suppression.xml
  security/providers/google-login/src/main/java/io/helidon/security/providers/google/login/GoogleTokenProvider.java
  security/providers/google-login/src/main/java9/module-info.java
  tracing/jaeger/pom.xml
  tracing/jaeger/src/main/resources/META-INF/native-image/helidon-jaeger-reflection-config.json
Labels: 1.x, dependencies

#4484 Upgrades Hibernate to version 6.1.1.Final
  dependencies/pom.xml
Labels: MP, jpa/jta, dependencies, 3.x

#4486 1.x: Update CHANGELOG for 1.4.12 release
  CHANGELOG.md
Labels: 1.x

#4487 Upgrades Jandex to 2.4.3.Final
  dependencies/pom.xml
Labels: dependencies, 3.x

#4489 Removed final from proxied types, these could no longer be proxied.
  etc/scripts/test-packaging-native.sh
  health/health-checks/src/main/java/io/helidon/health/checks/DeadlockHealthCheck.java
  health/health-checks/src/main/java/io/helidon/health/checks/DiskSpaceHealthCheck.java
  health/health-checks/src/main/java/io/helidon/health/checks/HeapMemoryHealthCheck.java
  integrations/graal/mp-native-image-extension/src/main/java/io/helidon/integrations/graal/mp/nativeimage/extension/ProxyBean.java
Labels: native-image

#4491 Intermittent SubscriberPublMsgToMsgRetComplBean test fix
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/inner/subscriber/SubscriberPublMsgToMsgRetComplBean.java
Labels: messaging, intermittent

#4501 3.x Use standard graalvm base image in Dockerfile.native
  archetypes/helidon/src/main/archetype/common/files/Dockerfile.native.mustache
  etc/dockerfiles/Dockerfile.jdk17-graalvm
  etc/dockerfiles/Dockerfile.jdk17-graalvm-maven
  etc/dockerfiles/README.md
  etc/dockerfiles/build.sh
  examples/integrations/neo4j/neo4j-mp/Dockerfile.native
  examples/integrations/neo4j/neo4j-se/Dockerfile.native
  examples/quickstarts/helidon-quickstart-mp/Dockerfile.native
  examples/quickstarts/helidon-quickstart-se/Dockerfile.native
  examples/quickstarts/helidon-standalone-quickstart-mp/Dockerfile.native
  examples/quickstarts/helidon-standalone-quickstart-se/Dockerfile.native
Labels: native-image, 3.x

#4504 Archetype generated documentation + making database SE consistent with MP
  archetypes/helidon/src/main/archetype/common/extra.xml
  archetypes/helidon/src/main/archetype/common/observability.xml
  archetypes/helidon/src/main/archetype/mp/common/common-mp.xml
  archetypes/helidon/src/main/archetype/mp/common/files/README.md
  archetypes/helidon/src/main/archetype/se/common/common-se.xml
  archetypes/helidon/src/main/archetype/se/common/files/README.md
  archetypes/helidon/src/main/archetype/se/custom/custom-se.xml
  archetypes/helidon/src/main/archetype/se/custom/database.xml
  archetypes/helidon/src/main/archetype/se/custom/files/application.h2.yaml
  archetypes/helidon/src/main/archetype/se/custom/files/application.mongo.yaml
  archetypes/helidon/src/main/archetype/se/custom/files/application.mysql.yaml
  archetypes/helidon/src/main/archetype/se/custom/files/application.oracledb.yaml
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/DatabaseService.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/Document.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/DocumentMapperProvider.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/resources/META-INF/services/io.helidon.dbclient.spi.DbMapperProvider.mustache
  archetypes/helidon/src/main/archetype/se/database/database-se.xml
  archetypes/helidon/src/main/archetype/se/database/files/application.yaml
  archetypes/helidon/src/main/archetype/se/database/files/src/main/java/__pkg__/PokemonMapperProvider.java.mustache
  archetypes/helidon/src/main/archetype/se/database/files/src/main/java/__pkg__/PokemonTypeMapperProvider.java.mustache
Labels: archetypes

#4519 Upgrades HikariCP to 5.0.1
  dependencies/pom.xml
Labels: P3, jpa/jta, dependencies, 3.x

#4522 Adds slf4j-api as a transitive runtime dependency of the OCI shaded f…
  integrations/oci/sdk/cdi/pom.xml
Labels: bug, P1, 3.x, OCI

#4518 Add OpenTelemetry support
  bom/pom.xml
  dependencies/pom.xml
  metrics/jaeger/pom.xml
  metrics/jaeger/src/main/java/io/helidon/metrics/jaeger/HelidonJaegerMetricsFactory.java
  metrics/jaeger/src/main/java/io/helidon/metrics/jaeger/package-info.java
  metrics/jaeger/src/main/java/module-info.java
  metrics/jaeger/src/test/java/io/helidon/metrics/jaeger/HelloWorldResource.java
  metrics/jaeger/src/test/java/io/helidon/metrics/jaeger/TestJaegerMetrics.java
  metrics/jaeger/src/test/resources/META-INF/microprofile-config.properties
  metrics/pom.xml
  microprofile/security/src/main/java/io/helidon/microprofile/security/SecurityCdiExtension.java
  microprofile/tracing/pom.xml
  microprofile/tracing/src/main/java/io/helidon/microprofile/tracing/TracingCdiExtension.java
  microprofile/tracing/src/main/java/module-info.java
  microprofile/tracing/src/test/java/io/helidon/microprofile/tracing/TracingTest.java
  security/integration/common/src/main/java/io/helidon/security/integration/common/SecurityTracing.java
  security/integration/jersey-client/src/main/java/io/helidon/security/integration/jersey/client/ClientSecurityFilter.java
  security/security/src/main/java/io/helidon/security/SecurityImpl.java
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/Mp1Main.java
  tests/integration/native-image/mp-1/src/main/resources/META-INF/microprofile-config.properties
  tracing/jaeger/pom.xml
  tracing/jaeger/src/main/java/io/helidon/tracing/jaeger/JaegerDataPropagationProvider.java
  tracing/jaeger/src/main/java/io/helidon/tracing/jaeger/JaegerScopeManager.java
  tracing/jaeger/src/main/java/io/helidon/tracing/jaeger/JaegerTracerBuilder.java
  tracing/jaeger/src/main/java/io/helidon/tracing/jaeger/JaegerTracerProvider.java
  tracing/jaeger/src/main/java/module-info.java
  tracing/jaeger/src/test/java/io/helidon/tracing/jaeger/JaegerDataPropagationProviderTest.java
  tracing/jaeger/src/test/java/io/helidon/tracing/jaeger/JaegerScopeManagerTest.java
  tracing/jaeger/src/test/java/io/helidon/tracing/jaeger/JaegerTracerBuilderTest.java
  tracing/jaeger/src/test/resources/application.yaml
  tracing/jersey-client/src/main/java/io/helidon/tracing/jersey/client/ClientTracingFilter.java
  tracing/jersey-client/src/main/java/io/helidon/tracing/jersey/client/ClientTracingInterceptor.java
  tracing/opentelemetry/pom.xml
  tracing/opentelemetry/src/main/java/io/helidon/tracing/opentelemetry/HelidonOpenTelemetry.java
  tracing/opentelemetry/src/main/java/io/helidon/tracing/opentelemetry/OpenTelemetryScope.java
  tracing/opentelemetry/src/main/java/io/helidon/tracing/opentelemetry/OpenTelemetrySpan.java
  tracing/opentelemetry/src/main/java/io/helidon/tracing/opentelemetry/OpenTelemetrySpanBuilder.java
  tracing/opentelemetry/src/main/java/io/helidon/tracing/opentelemetry/OpenTelemetrySpanContext.java
  tracing/opentelemetry/src/main/java/io/helidon/tracing/opentelemetry/OpenTelemetryTracer.java
  tracing/opentelemetry/src/main/java/io/helidon/tracing/opentelemetry/OpenTelemetryTracerProvider.java
  tracing/opentelemetry/src/main/java/module-info.java
  tracing/opentracing/src/main/java/io/helidon/tracing/opentracing/OpenTracing.java
  tracing/opentracing/src/main/java/io/helidon/tracing/opentracing/OpenTracingContext.java
  tracing/opentracing/src/main/java/io/helidon/tracing/opentracing/OpenTracingProviderHelper.java
  tracing/opentracing/src/main/java/io/helidon/tracing/opentracing/OpenTracingScope.java
  tracing/opentracing/src/main/java/io/helidon/tracing/opentracing/OpenTracingTracerProvider.java
  tracing/tests/it-tracing-client-zipkin/src/test/java/io/helidon/tracing/tests/it1/OpentraceableClientE2ETest.java
  tracing/tracing/src/main/java/io/helidon/tracing/NoOpBuilder.java
  tracing/tracing/src/main/java/io/helidon/tracing/NoOpTracer.java
  tracing/tracing/src/main/java/io/helidon/tracing/NoOpTracerProvider.java
  tracing/tracing/src/main/java/io/helidon/tracing/Scope.java
  tracing/tracing/src/main/java/io/helidon/tracing/SpanContext.java
  tracing/tracing/src/main/java/io/helidon/tracing/Tracer.java
  tracing/tracing/src/main/java/io/helidon/tracing/TracerProviderHelper.java
  tracing/tracing/src/main/java/io/helidon/tracing/spi/TracerProvider.java
  tracing/tracing/src/test/java/io/helidon/tracing/TracerBuilderTest.java
Labels: tracing, dependencies

#4495 New formatting for Helidon Health Checks SE document
  docs/includes/pages.adoc
  docs/se/health.adoc
  docs/se/health/health-in-k8s.adoc
  docs/se/health/health.adoc
  docs/se/introduction.adoc
  docs/se/oci/object-storage.adoc
  docs/sitegen.yaml
Labels: SE, docs, health, 3.x

#4514 New formatting for GraphQL MP document
  docs/includes/attributes.adoc
  docs/mp/graphql.adoc
Labels: MP, 3.x, graphql, wip

#4531 Updates OCI extension project to include BouncyCastle in test scope only
  integrations/oci/sdk/cdi/pom.xml
Labels: dependencies, 3.x

#4535 Bump Reactive Messaging API to 3.0-RC3 to allow CCR
  dependencies/pom.xml
  microprofile/tests/tck/tck-messaging/pom.xml
Labels: dependencies

#4528 [Now Doc PR] - MP Guides Menu and Overview inconsistencies #4509
  docs/mp/guides/overview.adoc
Labels: docs, 3.x

#4521 Spec URL and spec name fix
  docs/mp/health.adoc
Labels: docs

#4469 [New Docs PR] - Helidon MP Reactive Messaging
  docs/images/msg/channel.svg
  docs/images/msg/connector-config.svg
  docs/images/msg/processor.svg
  docs/includes/attributes.adoc
  docs/mp/reactivemessaging/connector.adoc
  docs/mp/reactivemessaging/introduction.adoc
  docs/mp/reactivemessaging/kafka.adoc
  docs/mp/reactivemessaging/message.adoc
  docs/mp/reactivemessaging/mock.adoc
  docs/se/reactivemessaging/connector.adoc
  docs/se/reactivemessaging/introduction.adoc
  docs/sitegen.yaml
Labels: docs, 3.x

#4478 New formatting and content for Helidon GraphQL SE Server document
  docs/includes/attributes.adoc
  docs/includes/graphql.adoc
  docs/mp/graphql.adoc
  docs/se/graphql.adoc
Labels: SE, docs, 3.x, graphql

#4527 [New Doc PR] - SE Guides Menu Inconsistencies #4510
  docs/se/guides/overview.adoc
Labels: docs, 3.x

#4520 Reactive Streams Operators for SE and MP
  docs/about/introduction.adoc
  docs/includes/reactivestreams/engine.adoc
  docs/includes/reactivestreams/rsoperators.adoc
  docs/mp/introduction/introduction.adoc
  docs/mp/reactivestreams/engine.adoc
  docs/mp/reactivestreams/overview.adoc
  docs/mp/reactivestreams/rsoperators.adoc
  docs/se/introduction.adoc
  docs/se/reactivestreams/engine.adoc
  docs/se/reactivestreams/overview.adoc
  docs/se/reactivestreams/rsoperators.adoc
  docs/sitegen.yaml
Labels: docs

#4543 SE metrics doc reorg
  docs/includes/attributes.adoc
  docs/includes/metrics/metrics-capable-components.adoc
  docs/includes/metrics/metrics-config.adoc
  docs/includes/metrics/metrics-shared.adoc
  docs/includes/metrics/micrometer-shared.adoc
  docs/includes/metrics/prometheus-exemplar-support.adoc
  docs/mp/metrics/metrics.adoc
  docs/mp/metrics/micrometer.adoc
  docs/se/metrics/metrics-capable-components.adoc
  docs/se/metrics/metrics.adoc
  docs/se/metrics/micrometer.adoc
  docs/se/metrics/prometheus.adoc
  docs/sitegen.yaml
Labels: docs

#4513 [New Doc PR] - Helidon MP LRA #4205
  docs/config/io_helidon_microprofile_lra_Coordinator.adoc
  docs/mp/introduction/introduction.adoc
  docs/mp/lra.adoc
  docs/mp/lra/coordinator.adoc
  docs/mp/lra/introduction.adoc
  docs/mp/lra/participant.adoc
  docs/sitegen.yaml
Labels: docs, 3.x

#4566 [New Docs PR] Integration Docs
  docs/includes/oci.adoc
  docs/mp/integrations/hcv.adoc
  docs/mp/integrations/oci.adoc
  docs/mp/oci/atp.adoc
  docs/mp/oci/object-storage.adoc
  docs/mp/oci/vault.adoc
  docs/se/integrations/hcv.adoc
  docs/se/integrations/oci.adoc
  docs/se/oci/atp.adoc
  docs/se/oci/object-storage.adoc
  docs/se/oci/oci.adoc
  docs/se/oci/vault.adoc
  docs/sitegen.yaml
  examples/integrations/oci/README.md
Labels: docs

#4517 WebClient documentation
  docs/about/introduction.adoc
  docs/config/config_reference.adoc
  docs/config/io_helidon_media_common_MediaContext.adoc
  docs/config/io_helidon_webclient_Proxy.adoc
  docs/config/io_helidon_webclient_WebClientConfiguration.adoc
  docs/config/io_helidon_webclient_WebClientTls.adoc
  docs/se/introduction.adoc
  docs/se/webclient.adoc
  docs/se/webclient/tls-configuration.adoc
  docs/sitegen.yaml
  media/common/pom.xml
  media/common/src/main/java/io/helidon/media/common/MediaContext.java
  media/common/src/main/java/module-info.java
  webclient/webclient/pom.xml
  webclient/webclient/src/main/java/io/helidon/webclient/Proxy.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientConfiguration.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientTls.java
  webclient/webclient/src/main/java/module-info.java
Labels: docs

#4542 [New Doc PR] - Helidon SE Reactive Messaging #4303
  docs/se/introduction.adoc
  docs/se/reactive-messaging.adoc
  docs/se/reactivemessaging/aq.adoc
  docs/se/reactivemessaging/connector.adoc
  docs/se/reactivemessaging/introduction.adoc
  docs/se/reactivemessaging/jms.adoc
  docs/se/reactivemessaging/kafka.adoc
  docs/sitegen.yaml
Labels: docs

#4561 Persistence documentation
  docs/includes/attributes.adoc
  docs/mp/extensions/cdi-datasource-hikaricp.adoc
  docs/mp/extensions/cdi-datasource-ucp.adoc
  docs/mp/extensions/cdi-jta.adoc
  docs/mp/extensions/overview.adoc
  docs/mp/guides/datasource.adoc
  docs/mp/guides/jpa.adoc
  docs/mp/guides/jta.adoc
  docs/mp/guides/overview.adoc
  docs/mp/introduction/introduction.adoc
  docs/mp/jpa.adoc
  docs/mp/persistence.adoc
  docs/mp/reactivemessaging/aq.adoc
  docs/sitegen.yaml
Labels: docs, P1, jpa/jta, 3.x

#4581 Archetypes : Generate docker files for quickstart and database
  archetypes/helidon/src/main/archetype/common/presets.xml
  archetypes/helidon/src/main/archetype/mp/database/database-mp.xml
  archetypes/helidon/src/main/archetype/mp/quickstart/files/README.native.md
  archetypes/helidon/src/main/archetype/mp/quickstart/quickstart-mp.xml
  archetypes/helidon/src/main/archetype/se/custom/custom-se.xml
  archetypes/helidon/src/main/archetype/se/database/database-se.xml
  archetypes/helidon/src/main/archetype/se/quickstart/files/README.native.md
  archetypes/helidon/src/main/archetype/se/quickstart/quickstart-se.xml
Labels: archetypes

#4586 Removed final from proxied types
  health/health-checks/src/main/java/io/helidon/health/checks/DeadlockHealthCheck.java
  health/health-checks/src/main/java/io/helidon/health/checks/DiskSpaceHealthCheck.java
  health/health-checks/src/main/java/io/helidon/health/checks/HeapMemoryHealthCheck.java
  integrations/graal/mp-native-image-extension/src/main/java/io/helidon/integrations/graal/mp/nativeimage/extension/ProxyBean.java
Labels: 2.x

#4584 JEP-290 documentation
  docs/includes/security/jep-290.adoc
Labels: docs

#4594 Docs CSS fix for vertical row spacing in tables
  docs/css/styles.css
Labels: docs

#4564 Introduction fixes
  docs/about/introduction.adoc
  docs/about/overview.adoc
  docs/about/upgrade.adoc
  docs/includes/attributes.adoc
  docs/mp/grpc/server-side-services.adoc
  docs/mp/introduction.adoc
  docs/mp/introduction/introduction.adoc
  docs/sitegen.yaml
Labels: docs

#4599 Archetypes: Generated GreetingResource contains incorrect javadoc
  archetypes/helidon/src/main/archetype/mp/quickstart/files/src/main/java/__pkg__/GreetResource.java.json.mustache
Labels: archetypes

#4597 Upgrade Tyrus.
  dependencies/pom.xml
  examples/metrics/exemplar/pom.xml
  examples/metrics/filtering/se/pom.xml
  examples/microprofile/websocket/pom.xml
  examples/microprofile/websocket/src/test/java/io/helidon/microprofile/example/websocket/MessageBoardTest.java
  examples/webserver/websocket/pom.xml
  examples/webserver/websocket/src/test/java/io/helidon/webserver/examples/websocket/MessageBoardTest.java
  microprofile/tests/tck/tck-metrics/pom.xml
  microprofile/websocket/pom.xml
  microprofile/websocket/src/main/java/module-info.java
  microprofile/websocket/src/test/java/io/helidon/microprofile/tyrus/EchoClient.java
  webserver/websocket/pom.xml
  webserver/websocket/src/main/java/module-info.java
  webserver/websocket/src/test/java/io/helidon/webserver/websocket/test/EchoClient.java
  webserver/websocket/src/test/java/module-info.java
Labels: dependencies, 3.x, websocket

#4588 Add module info to native image extensions.
  integrations/graal/mp-native-image-extension/src/main/java/module-info.java
  integrations/graal/native-image-extension/src/main/java/module-info.java
  tests/integration/native-image/mp-1/src/main/resources/META-INF/microprofile-config.properties
Labels: 2.x

#4603 Suppress FP and upgrade dependency check plugin
  etc/dependency-check-suppression.xml
  pom.xml
Labels: 3.x

#4607 3.x third party license updates
  NOTICE.txt
  THIRD_PARTY_LICENSES.txt
  etc/HELIDON_THIRD_PARTY_LICENSES.xml
Labels: 3.x

#4609 Added JEP-290 to MP and SE Security sections
  docs/includes/security/jep-290.adoc
  docs/mp/security/jep-290.adoc
  docs/se/security/jep-290.adoc
  docs/sitegen.yaml
Labels: docs

#4596 Set executor of CompletableFuture for response with no content. (#4540)
  jersey/connector/src/main/java/io/helidon/jersey/connector/HelidonConnector.java
Labels: 2.x, backport

#4507 [New Doc PR] - Document migration from 2.x to 3.x #4327
  docs/about/introduction.adoc
  docs/includes/attributes.adoc
  docs/includes/guides/upgrade_3x.adoc
  docs/includes/oci.adoc
  docs/mp/guides/migration.adoc
  docs/mp/guides/migration_3x.adoc
  docs/mp/integrations/oci.adoc
  docs/mp/introduction.adoc
  docs/se/guides/migration.adoc
  docs/se/guides/migration_3x.adoc
  docs/se/integrations/oci.adoc
  docs/se/introduction.adoc
  docs/sitegen.yaml
Labels: docs, 3.x

#4610 Coordinator test fix #4544
  lra/coordinator/server/src/test/java/io/helidon/lra/coordinator/CoordinatorTest.java
Labels: 3.x, testing, lra

#4611 Coordinator test fix #4544 backport
  lra/coordinator/server/src/test/java/io/helidon/lra/coordinator/CoordinatorTest.java
Labels: 2.x, testing, lra

#4624 Updated TyrusSupport to correctly propagate query params from webserver
  common/http/src/main/java/io/helidon/common/http/UriComponent.java
  common/http/src/test/java/io/helidon/common/http/UriComponentTest.java
  webserver/tyrus/pom.xml
  webserver/tyrus/src/main/java/io/helidon/webserver/tyrus/TyrusSupport.java
  webserver/tyrus/src/main/java/module-info.java
  webserver/tyrus/src/test/java/io/helidon/webserver/tyrus/EchoEndpoint.java
  webserver/tyrus/src/test/java/io/helidon/webserver/tyrus/EchoServiceTest.java
  webserver/tyrus/src/test/java/io/helidon/webserver/tyrus/HttpClientTest.java
  webserver/tyrus/src/test/java/io/helidon/webserver/tyrus/RoutingTest.java
  webserver/webserver/src/main/java/io/helidon/webserver/Request.java
Labels: websocket

#4631 Update for Jaeger tracing.
  tracing/jaeger/src/main/resources/META-INF/native-image/io.helidon.tracing/helidon-tracing-jaeger/reflect-config.json
Labels: tracing, native-image

#4612 Context propagation across HTTP.
  bom/pom.xml
  config/metadata-processor/src/main/java/io/helidon/config/metadata/processor/ConfigMetadataHandler.java
  config/metadata-processor/src/main/java/io/helidon/config/metadata/processor/ConfiguredType.java
  docs/mp/oci/01_oci.adoc
  tests/integration/webserver/context-propagation/pom.xml
  tests/integration/webserver/context-propagation/src/main/java/io/helidon/tests/integration/webserver/context/propagation/ContextPropagationMain.java
  tests/integration/webserver/context-propagation/src/main/java/io/helidon/tests/integration/webserver/context/propagation/DataDto.java
  tests/integration/webserver/context-propagation/src/main/resources/application.yaml
  tests/integration/webserver/context-propagation/src/test/java/io/helidon/tests/integration/webserver/context/propagation/ContextPropagationTest.java
  tests/integration/webserver/pom.xml
  webclient/context-propagation/pom.xml
  webclient/context-propagation/src/main/java/io/helidon/webclient/context/propagation/ArrayRecord.java
  webclient/context-propagation/src/main/java/io/helidon/webclient/context/propagation/PropagationRecord.java
  webclient/context-propagation/src/main/java/io/helidon/webclient/context/propagation/StringRecord.java
  webclient/context-propagation/src/main/java/io/helidon/webclient/context/propagation/WebClientContextPropagation.java
  webclient/context-propagation/src/main/java/io/helidon/webclient/context/propagation/WebClientContextPropagationProvider.java
  webclient/context-propagation/src/main/java/io/helidon/webclient/context/propagation/package-info.java
  webclient/context-propagation/src/main/java/module-info.java
  webclient/context-propagation/src/test/java/io/helidon/webclient/context/propagation/WebClientContextPropagationTest.java
  webclient/context-propagation/src/test/resources/application.yaml
  webclient/pom.xml
  webserver/context-propagation/pom.xml
  webserver/context-propagation/src/main/java/io/helidon/webserver/context/propagation/ArrayRecord.java
  webserver/context-propagation/src/main/java/io/helidon/webserver/context/propagation/ContextPropagationFilter.java
  webserver/context-propagation/src/main/java/io/helidon/webserver/context/propagation/PropagationRecord.java
  webserver/context-propagation/src/main/java/io/helidon/webserver/context/propagation/StringRecord.java
  webserver/context-propagation/src/main/java/io/helidon/webserver/context/propagation/package-info.java
  webserver/context-propagation/src/main/java/module-info.java
  webserver/context-propagation/src/test/java/io/helidon/webserver/context/propagation/ContextPropagationFilterTest.java
  webserver/context-propagation/src/test/resources/application.yaml
  webserver/context-propagation/src/test/resources/logging.properties
  webserver/pom.xml
Labels: 2.x

#4619 Undo manual shaded jar tasks
  dependencies/pom.xml
  docs/includes/oci.adoc
  etc/scripts/build.sh
  etc/scripts/checkstyle.sh
  etc/scripts/copyright.sh
  etc/scripts/includes/oci.sh
  etc/scripts/owasp-dependency-check.sh
  etc/scripts/release.sh
  etc/scripts/test-integ-mysql.sh
  etc/scripts/test-integ-pgsql.sh
  etc/scripts/test-integ-vault.sh
  etc/scripts/test-packaging-jar.sh
  etc/scripts/test-packaging-jlink.sh
  etc/scripts/test-packaging-native.sh
  examples/integrations/oci/README.md
  examples/integrations/oci/atp-cdi/pom.xml
  examples/integrations/oci/atp-reactive/pom.xml
  examples/integrations/oci/metrics-reactive/pom.xml
  examples/integrations/oci/objectstorage-cdi/pom.xml
  examples/integrations/oci/objectstorage-reactive/pom.xml
  examples/integrations/oci/pom.xml
  examples/integrations/oci/vault-cdi/pom.xml
  examples/integrations/oci/vault-reactive/pom.xml
  integrations/oci/sdk/cdi/pom.xml
  integrations/oci/sdk/cdi/src/main/java/io/helidon/integrations/oci/sdk/cdi/AdpSelectionStrategy.java
  integrations/oci/sdk/pom.xml
Labels: docs, P2, cdi, dependencies, 3.x, OCI

#4634 Fix JDK base image in Dockerfiles
  archetypes/helidon/src/main/archetype/common/docker.xml
  archetypes/helidon/src/main/archetype/common/files/Dockerfile.jlink.mustache
  archetypes/helidon/src/main/archetype/common/files/Dockerfile.mustache
  docs/mp/guides/mp-tutorial.adoc
Labels: 3.x

#4640 Change log level to fine for exception caught while intercepting (#4632)
  service-common/rest-cdi/src/main/java/io/helidon/servicecommon/restcdi/InterceptionRunnerImpl.java
Labels: 3.x
