Repository helidon-io/helidon, pull requests merged in 2022-01, with the labels that each got.

#3777 Upgrades log4j to 2.17.1
  dependencies/pom.xml
Labels: security, P2, dependencies, 3.x

#3778 Upgrades log4j to 2.17.1 on helidon-2.x branch
  dependencies/pom.xml
Labels: security, P2, 2.x, dependencies, backport

#3782 Upgrades Netty to 4.1.72.Final and tcnative to 2.0.46.Final on helidon-1.x
  dependencies/pom.xml
  pom.xml
Labels: P3, 1.x, dependencies

#3787 2.x: Change bare-mp archetype to use microprofile-core bundle
  archetypes/bare-mp/src/main/resources/pom.xml.mustache
Labels: examples

#3744 Upgrades H2 to 2.0.206.
  dependencies/pom.xml
  integrations/db/h2/src/main/java/io/helidon/integrations/db/h2/SessionRemoteSubstitution.java
Labels: MP, jpa/jta, dependencies, 3.x, integration

#3794 Ensure all thread pools created by Helidon are named (master)
  common/configurable/src/main/java/io/helidon/common/configurable/ThreadPoolSupplier.java
  common/configurable/src/test/java/io/helidon/common/configurable/ThreadPoolSupplierTest.java
  dbclient/jdbc/src/main/java/io/helidon/dbclient/jdbc/JdbcDbClientProviderBuilder.java
  examples/media/multipart/src/main/java/io/helidon/examples/media/multipart/FileService.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/FaultTolerance.java
  microprofile/tracing/src/main/java/io/helidon/microprofile/tracing/MpTracingClientRegistrar.java
  security/security/src/main/java/io/helidon/security/Security.java
  tests/apps/bookstore/bookstore-se/src/test/java/io/helidon/tests/apps/bookstore/se/Http2SslTest.java
  webclient/jaxrs/src/main/java/io/helidon/webclient/jaxrs/JaxRsClient.java
Labels: enhancement

#3791 Swallowed error fix
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
Labels: webserver

#3756 Propagate any existing server context into a Webclient reactive code (helidon-2.x)
  security/integration/webserver/src/main/java/io/helidon/security/integration/webserver/SecurityHandler.java
  tests/integration/webclient/src/main/java/io/helidon/tests/integration/webclient/GreetService.java
  tests/integration/webclient/src/main/resources/application.yaml
  tests/integration/webclient/src/test/java/io/helidon/tests/integration/webclient/ContextCheckTest.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilderImpl.java
Labels: webserver, webclient, draft

#3807 1.4: Fixes to support GraalVM 21.3.0 native image
  grpc/server/src/main/java/io/helidon/grpc/server/SSLContextBuilder.java
  webserver/webserver/src/main/java/io/helidon/webserver/SSLContextBuilder.java
  webserver/webserver/src/main/resources/META-INF/native-image/native-image.properties
Labels: 1.x

#3808 1.4: Upgrade graalvm to 21.3.0
  dependencies/pom.xml
  docs/src/main/docs/guides/36_graalnative.adoc
  etc/dependency-check-suppression.xml
  examples/quickstarts/helidon-quickstart-se/Dockerfile.native
  examples/quickstarts/helidon-quickstart-se/README.md
  examples/quickstarts/helidon-standalone-quickstart-se/Dockerfile.native
Labels: 1.x

#3804 Propagate any existing server context into a Webclient reactive code (master)
  security/integration/webserver/src/main/java/io/helidon/security/integration/webserver/SecurityHandler.java
  tests/integration/webclient/src/main/java/io/helidon/tests/integration/webclient/GreetService.java
  tests/integration/webclient/src/main/resources/application.yaml
  tests/integration/webclient/src/test/java/io/helidon/tests/integration/webclient/ContextCheckTest.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilderImpl.java
Labels: webserver

#3812 1.x: Upgrade Jersey to 2.35
  dependencies/pom.xml
Labels: 1.x, dependencies

#3814 1.x: Upgrade OCI SDK to 2.3.0
  dependencies/pom.xml
Labels: 1.x, dependencies

#3815 1.x: Suppress false positive for tcnative
  etc/dependency-check-suppression.xml
Labels: 1.x

#3817 Neo4j update
  dependencies/pom.xml
  examples/integrations/neo4j/neo4j-mp/pom.xml
  examples/integrations/neo4j/neo4j-se/pom.xml
  examples/integrations/neo4j/neo4j-se/src/test/java/io/helidon/examples/quickstart/se/MainTest.java
  examples/microprofile/lra/pom.xml
Labels: dependencies, 3.x

#3818 Update Neo4j 2.x
  dependencies/pom.xml
  examples/integrations/neo4j/neo4j-mp/pom.xml
  examples/integrations/neo4j/neo4j-mp/src/test/java/io/helidon/examples/integrations/neo4j/mp/MainTest.java
  examples/integrations/neo4j/neo4j-se/pom.xml
  examples/integrations/neo4j/neo4j-se/src/test/java/io/helidon/examples/quickstart/se/MainTest.java
Labels: 2.x, dependencies

#3809 New default for io.netty.allocator.maxOrder
  webserver/webserver/src/main/java/io/helidon/webserver/NettyWebServer.java
  webserver/webserver/src/test/java/io/helidon/webserver/NettyMaxOrderTest.java
Labels: 2.x, performance

#3821 Ignore "package-lock.json" when full build is done.
  .gitignore
Labels: enhancement

#3813 Only deactivate request context if it was inactive before migrating it
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/RequestScopeHelper.java
  tests/functional/context-propagation/src/main/java/io/helidon/tests/functional/context/hello/RequestReaderInterceptor.java
  tests/functional/context-propagation/src/main/java/io/helidon/tests/functional/context/hello/ResponseWriterInterceptor.java
Labels: fault-tolerance, cdi

#3825 Only deactivate request context if it was inactive before migrating it (master)
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/RequestScopeHelper.java
  tests/functional/context-propagation/src/main/java/io/helidon/tests/functional/context/hello/RequestReaderInterceptor.java
  tests/functional/context-propagation/src/main/java/io/helidon/tests/functional/context/hello/ResponseWriterInterceptor.java
Labels: fault-tolerance, cdi

#3824 1.x: Upgrade grpc-java to 1.41.2
  dependencies/pom.xml
Labels: 1.x, dependencies

#3822 2.x: Upgrade grpc-java to 1.41.2
  dependencies/pom.xml
Labels: 2.x, dependencies

#3823 3.x: Upgrade grpc-java to 1.41.2
  dependencies/pom.xml
Labels: dependencies, 3.x

#3826 New default for io.netty.allocator.maxOrder (master)
  webserver/webserver/src/main/java/io/helidon/webserver/NettyWebServer.java
  webserver/webserver/src/test/java/io/helidon/webserver/NettyMaxOrderTest.java
Labels: performance

#3799 Upgrades Netty to 4.1.73.Final (helidon-1.x backport)
  dependencies/pom.xml
Labels: 1.x, dependencies

#3827 1.x: native-image: remove initialize-at-run-time for Slf4JLoggerFactory
  webserver/webserver/src/main/resources/META-INF/native-image/native-image.properties
Labels: 1.x

#3831 Follow up to fix for issue 3801
  webserver/webserver/src/main/java/io/helidon/webserver/NettyInitializer.java
  webserver/webserver/src/main/java/io/helidon/webserver/NettyWebServer.java
  webserver/webserver/src/main/resources/META-INF/native-image/io.helidon.webserver/helidon-webserver/native-image.properties
  webserver/webserver/src/test/java/io/helidon/webserver/NettyMaxOrderTest.java
Labels: 2.x

#3834 Make sure that NettyInitializer class is always initialized (master)
  webserver/webserver/src/main/java/io/helidon/webserver/NettyInitializer.java
  webserver/webserver/src/main/java/io/helidon/webserver/NettyWebServer.java
  webserver/webserver/src/test/java/io/helidon/webserver/NettyMaxOrderTest.java
Labels: webserver

#3797 Upgrades Netty to 4.1.73.Final
  dependencies/pom.xml
  webserver/webserver/src/main/resources/META-INF/native-image/io.helidon.webserver/helidon-webserver/native-image.properties
Labels: P3, dependencies

#3798 Upgrades Netty to 4.1.73.Final (helidon-2.x backport)
  dependencies/pom.xml
Labels: P3, 2.x, dependencies

#3828 Clean unused dependencies in archetypes.
  archetypes/bare-mp/src/main/resources/src/main/java/__pkg__/GreetResource.java.mustache
  archetypes/bare-mp/src/main/resources/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/database-mp/src/main/resources/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/database-se/src/main/resources/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/quickstart-mp/src/main/resources/src/test/java/__pkg__/MainTest.java.mustache
Labels: archetypes

#3839 2.x: Set autoReleaseAfterClose to false
  parent/pom.xml
Labels: build, 2.x

#3838 Set autoReleaseAfterClose to false
  parent/pom.xml
Labels: build, 3.x

#3843 Remove junit4 version override in in config/git
  config/git/pom.xml
Labels: build

#3842 2.x: Remove junit4 version override in config/git
  config/git/pom.xml
Labels: build

#3845 Yaml instance creation backport
  config/yaml/src/main/java/io/helidon/config/yaml/internal/YamlConfigParser.java
Labels: 1.x
