Repository helidon-io/helidon, pull requests merged in 2022-06, with the labels that each got.

#4298 Upgrades H2 to 2.1.212
  dependencies/pom.xml
Labels: dependencies, 3.x

#4297 3.x upgrade google api client
  dependencies/pom.xml
  etc/dependency-check-suppression.xml
Labels: dependencies, 3.x

#4329 2.x: Update OCI integration documentation to reflect use of new OCI SDK extension
  docs/mp/extensions/04_cdi_oci-objectstorage.adoc
  docs/mp/oci/01_oci.adoc
  docs/mp/oci/02_object-storage.adoc
  docs/mp/oci/03_vault.adoc
  docs/mp/oci/04_atp.adoc
  docs/se/oci/01_oci.adoc
  docs/se/oci/02_object-storage.adoc
  docs/se/oci/03_vault.adoc
  docs/se/oci/04_atp.adoc
Labels: 2.x

#4339 2.x: Suppress native image test failure and archive binary
  Jenkinsfile
  etc/scripts/test-packaging-native.sh
Labels: 2.x, testing

#4332 Suppress false positives
  etc/dependency-check-suppression.xml
Labels: 3.x

#4291 Adds XA support to Helidon's UCP integration
  integrations/cdi/datasource-ucp/src/main/java/io/helidon/integrations/datasource/ucp/cdi/UCPBackedDataSourceExtension.java
  integrations/cdi/datasource-ucp/src/test/java/io/helidon/integrations/datasource/ucp/cdi/TestDataSourceAcquisition.java
  integrations/cdi/datasource-ucp/src/test/resources/application.yaml
Labels: jpa/jta, 3.x

#4349 Avoid calling getPackage() on an annotation type
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/AnnotationFinder.java
Labels: bug, graal, intermittent

#4331 Update feature catalog with FT for SE
  common/common/src/main/java/io/helidon/common/FeatureCatalog.java
Labels: common

#4348 1.x: Update third party dependencies
  dependencies/pom.xml
  etc/dependency-check-suppression.xml
  pom.xml
  security/integration/grpc/src/test/java/io/helidon/security/integration/grpc/TestCallCredentials.java
Labels: 1.x

#4351 Update feature catalog with FT for SE (master)
  common/common/src/main/java/io/helidon/common/FeatureCatalog.java
Labels: fault-tolerance, 3.x, common

#4337 Added config support for bulkheads, breakers, timeouts and retries
  fault-tolerance/pom.xml
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Bulkhead.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/CircuitBreaker.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Retry.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Timeout.java
  fault-tolerance/src/main/java/module-info.java
  fault-tolerance/src/test/java/io/helidon/faulttolerance/BulkheadTest.java
  fault-tolerance/src/test/java/io/helidon/faulttolerance/CircuitBreakerTest.java
  fault-tolerance/src/test/java/io/helidon/faulttolerance/RetryTest.java
  fault-tolerance/src/test/java/io/helidon/faulttolerance/TimeoutTest.java
  fault-tolerance/src/test/resources/application.yaml
Labels: config, fault-tolerance

#4357 Added config support for bulkheads, breakers, timeouts and retries (master)
  fault-tolerance/pom.xml
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Bulkhead.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/CircuitBreaker.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Retry.java
  fault-tolerance/src/main/java/io/helidon/faulttolerance/Timeout.java
  fault-tolerance/src/main/java/module-info.java
  fault-tolerance/src/test/java/io/helidon/faulttolerance/BulkheadTest.java
  fault-tolerance/src/test/java/io/helidon/faulttolerance/CircuitBreakerTest.java
  fault-tolerance/src/test/java/io/helidon/faulttolerance/RetryTest.java
  fault-tolerance/src/test/java/io/helidon/faulttolerance/TimeoutTest.java
  fault-tolerance/src/test/resources/application.yaml
Labels: config, fault-tolerance, 3.x

#4353 2.x: Re-enable mp-1 native image test
  etc/scripts/test-packaging-native.sh
Labels: 2.x

#4335 Change defaults for Open ID Connect
  examples/microprofile/idcs/src/main/resources/application.yaml
  examples/microprofile/oidc/src/main/resources/application.yaml
  examples/security/idcs-login/src/main/resources/application.yaml
  security/providers/oidc-common/src/main/java/io/helidon/security/providers/oidc/common/OidcConfig.java
Labels: api-change, 3.x

#4274 Helidon 2.x backport: Uses lowercase for database column names in se …
  archetypes/bare-mp/src/main/resources/src/main/resources/META-INF/microprofile-config.properties
  archetypes/bare-mp/src/test/resources/projects/it1/archetype.properties
  archetypes/bare-se/src/test/resources/projects/it1/archetype.properties
  archetypes/database-mp/src/main/resources/src/main/resources/META-INF/microprofile-config.properties
  archetypes/database-mp/src/main/resources/src/main/resources/META-INF/native-image/native-image.properties
  archetypes/database-mp/src/test/resources/projects/it1/archetype.properties
  archetypes/database-se/src/main/resources/src/main/java/__pkg__/PokemonMapperProvider.java.mustache
  archetypes/database-se/src/main/resources/src/main/java/__pkg__/PokemonTypeMapperProvider.java.mustache
  archetypes/database-se/src/main/resources/src/main/resources/META-INF/native-image/native-image.properties
  archetypes/database-se/src/main/resources/src/main/resources/application.yaml
  archetypes/database-se/src/test/resources/projects/it1/archetype.properties
  archetypes/quickstart-mp/src/test/resources/projects/it1/archetype.properties
  archetypes/quickstart-se/src/test/resources/projects/it1/archetype.properties
Labels: 2.x, archetypes

#4388 Removal of deprecated code in common context
  common/context/src/main/java/io/helidon/common/context/spi/DataPropagationProvider.java
  common/context/src/test/java/io/helidon/common/context/DataPropagationProviderTest.java
Labels: common

#4389 Completed @Deprecated annotation and fixed Javadoc
  common/context/src/main/java/io/helidon/common/context/spi/DataPropagationProvider.java
Labels: 2.x, common

#4395 Completed @Deprecated annotations in common configurable
  common/configurable/src/main/java/io/helidon/common/configurable/Resource.java
  common/configurable/src/main/java/io/helidon/common/configurable/ThreadPoolSupplier.java
Labels: common

#4401 Removed usage of deprecated method.
  tests/integration/native-image/mp-1/src/main/java/io/helidon/tests/integration/nativeimage/mp1/Mp1Main.java
Labels: 2.x

#4226 [backport] Added X509 certificate context key when client certificate is present and pem trust store configuration
  common/key-util/src/main/java/io/helidon/common/pki/KeyConfig.java
  docs/se/webserver/12_tls-configuration.adoc
  webserver/webserver/src/main/java/io/helidon/webserver/ForwardingHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServerTls.java
  webserver/webserver/src/test/java/io/helidon/webserver/MtlsTest.java
Labels: OCI

#4399 HTTP Signatures: Fixed deprecation and modified defaults.
  security/providers/http-sign/src/main/java/io/helidon/security/providers/httpsign/HttpSignProvider.java
  security/providers/http-sign/src/main/java/io/helidon/security/providers/httpsign/HttpSignature.java
  security/providers/http-sign/src/main/java/io/helidon/security/providers/httpsign/OutboundTargetDefinition.java
  security/providers/http-sign/src/test/java/io/helidon/security/providers/httpsign/CurrentHttpSignProviderBuilderTest.java
  security/providers/http-sign/src/test/java/io/helidon/security/providers/httpsign/CurrentHttpSignProviderConfigTest.java
  security/providers/http-sign/src/test/java/io/helidon/security/providers/httpsign/CurrentHttpSignProviderTest.java
  security/providers/http-sign/src/test/java/io/helidon/security/providers/httpsign/CurrentHttpSignatureTest.java
  security/providers/http-sign/src/test/java/io/helidon/security/providers/httpsign/CurrentOutboundTargetDefinitionTest.java
  security/providers/http-sign/src/test/java/io/helidon/security/providers/httpsign/CurrentSignedHeadersConfigTest.java
  security/providers/http-sign/src/test/java/io/helidon/security/providers/httpsign/OldHttpSignProviderBuilderTest.java
  security/providers/http-sign/src/test/java/io/helidon/security/providers/httpsign/OldHttpSignProviderConfigTest.java
  security/providers/http-sign/src/test/java/io/helidon/security/providers/httpsign/OldHttpSignProviderTest.java
  security/providers/http-sign/src/test/java/io/helidon/security/providers/httpsign/OldHttpSignatureTest.java
  security/providers/http-sign/src/test/java/io/helidon/security/providers/httpsign/OldOutboundTargetDefinitionTest.java
  security/providers/http-sign/src/test/java/io/helidon/security/providers/httpsign/package-info.java
  security/providers/http-sign/src/test/resources/application.yaml
Labels: 3.x

#4272 JMS configurable producer properties #3980
  docs/mp/reactivemessaging/05_jms.adoc
  messaging/connectors/jms/src/main/java/io/helidon/messaging/connectors/jms/ConfigHelper.java
  messaging/connectors/jms/src/main/java/io/helidon/messaging/connectors/jms/JmsConnector.java
  messaging/connectors/jms/src/main/resources/META-INF/native-image/reflection-config.json
  messaging/connectors/jms/src/test/java/io/helidon/messaging/connectors/jms/ConfigTest.java
Labels: messaging

#4417 Multipart Custom MP and SE
  archetypes/helidon/src/main/archetype/common/common.xml
  archetypes/helidon/src/main/archetype/common/media-sources.xml
  archetypes/helidon/src/main/archetype/common/media.xml
  archetypes/helidon/src/main/archetype/common/presets.xml
  archetypes/helidon/src/main/archetype/mp/custom/custom-mp.xml
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/FileService.java.multipart.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/FileStorage.java.multipart.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/MultiPartFeatureProvider.java.multipart.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/SimpleGreetResource.java.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/test/java/__pkg__/FileServiceTest.java.multipart.mustache
  archetypes/helidon/src/main/archetype/se/custom/custom-tests.xml
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/FileService.java.multipart.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/FileStorage.java.multipart.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/java/__pkg__/FileServiceTest.java.multipart.mustache
Labels: archetypes

#4418 Upgrade to Tyrus 2.0.2
  dependencies/pom.xml
  microprofile/websocket/src/main/java/module-info.java
  webserver/tyrus/pom.xml
  webserver/tyrus/src/main/java/module-info.java
Labels: 3.x, websocket

#4423 Removed support for JavaMarshaller as default marshaller
  grpc/client/src/test/java/io/helidon/grpc/client/ClientMethodDescriptorTest.java
  grpc/client/src/test/java/io/helidon/grpc/client/ClientServiceDescriptorTest.java
  grpc/client/src/test/java/io/helidon/grpc/client/GrpcChannelsProviderIT.java
  grpc/client/src/test/java/io/helidon/grpc/client/JavaMarshaller.java
  grpc/client/src/test/java/io/helidon/grpc/client/PojoServiceClientIT.java
  grpc/client/src/test/java/services/TreeMapService.java
  grpc/core/src/main/java/io/helidon/grpc/core/JavaMarshaller.java
  grpc/core/src/main/java/io/helidon/grpc/core/MarshallerSupplier.java
  grpc/core/src/main/java/module-info.java
  grpc/metrics/src/test/java/io/helidon/grpc/metrics/GrpcMetricsInterceptorIT.java
  grpc/server/pom.xml
  grpc/server/src/test/java/io/helidon/grpc/server/BindableServiceImplTest.java
  grpc/server/src/test/java/io/helidon/grpc/server/ContextSettingServerInterceptorTest.java
  grpc/server/src/test/java/io/helidon/grpc/server/ServiceDescriptorTest.java
  microprofile/grpc/client/src/test/java/io/helidon/microprofile/grpc/client/GrpcClientBuilderTest.java
  microprofile/grpc/client/src/test/java/io/helidon/microprofile/grpc/client/GrpcProxyBuilderTest.java
  microprofile/grpc/client/src/test/resources/META-INF/services/io.helidon.grpc.core.MarshallerSupplier
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/ModelHelper.java
  microprofile/grpc/core/src/main/java/module-info.java
  microprofile/grpc/core/src/test/java/io/helidon/microprofile/grpc/core/ModelHelperTest.java
  microprofile/grpc/server/src/test/java/io/helidon/microprofile/grpc/server/GrpcServiceBuilderTest.java
  tests/integration/mp-grpc/src/test/java/io/helidon/microprofile/grpc/metrics/MetricsConfigurerTest.java
  tests/integration/mp-grpc/src/test/java/io/helidon/microprofile/grpc/server/GrpcServerCdiExtensionTest.java
  tests/integration/mp-grpc/src/test/java/io/helidon/microprofile/grpc/server/JavaMarshaller.java
Labels: grpc, wip

#4429 Restoring dependency with Tyrus 2.0.1
  dependencies/pom.xml
  microprofile/websocket/src/main/java/module-info.java
  webserver/tyrus/pom.xml
  webserver/tyrus/src/main/java/module-info.java
Labels: websocket

#4420 Media Json for Quickstart and Custom MP
  archetypes/helidon/src/main/archetype/common/common.xml
  archetypes/helidon/src/main/archetype/common/files/pom.xml.mustache
  archetypes/helidon/src/main/archetype/common/media-sources.xml
  archetypes/helidon/src/main/archetype/mp/custom/custom-mp.xml
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/Message.java.json.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/SimpleGreetResource.java.json.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/SimpleGreetResource.java.jsonp.mustache
  archetypes/helidon/src/main/archetype/mp/database/database-mp.xml
  archetypes/helidon/src/main/archetype/mp/database/files/src/main/java/__pkg__/Pokemon.java.mustache
  archetypes/helidon/src/main/archetype/mp/quickstart/files/src/main/java/__pkg__/GreetResource.java.json.mustache
  archetypes/helidon/src/main/archetype/mp/quickstart/files/src/main/java/__pkg__/GreetResource.java.jsonp.mustache
  archetypes/helidon/src/main/archetype/mp/quickstart/quickstart-mp.xml
  archetypes/helidon/src/main/archetype/se/custom/custom-tests.xml
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/Message.java.json.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/SimpleGreetService.java.jackson.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/SimpleGreetService.java.json.mustache
  archetypes/helidon/src/main/archetype/se/database/database-se.xml
  archetypes/helidon/src/main/archetype/se/quickstart/files/src/main/java/__pkg__/GreetService.java.jackson.mustache
  archetypes/helidon/src/main/archetype/se/quickstart/files/src/main/java/__pkg__/GreetService.java.json.mustache
  archetypes/helidon/src/main/archetype/se/quickstart/quickstart-tests.xml
Labels: archetypes

#4436 Extra for MP and SE
  archetypes/helidon/src/main/archetype/common/extra.xml
  archetypes/helidon/src/main/archetype/common/media.xml
  archetypes/helidon/src/main/archetype/mp/custom/custom-mp.xml
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/FtResource.java.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/SimpleGreetResource.java.json.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/SimpleGreetResource.java.jsonp.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/test/java/__pkg__/FtResourceTest.java.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/test/java/__pkg__/TestCORS.java.mustache
  archetypes/helidon/src/main/archetype/se/common/common-se.xml
  archetypes/helidon/src/main/archetype/se/custom/custom-se.xml
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/CorsService.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/FtService.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/WebClientMain.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/java/__pkg__/FtServiceTest.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/java/__pkg__/TestCORS.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/java/__pkg__/WebClientMainTest.java.mustache
Labels: archetypes

#4444 Observability templates
  archetypes/helidon/src/main/archetype/common/common.xml
  archetypes/helidon/src/main/archetype/common/files/app.yaml.mustache
  archetypes/helidon/src/main/archetype/common/observability.xml
  archetypes/helidon/src/main/archetype/common/presets.xml
  archetypes/helidon/src/main/archetype/common/security.xml
  archetypes/helidon/src/main/archetype/mp/common/files/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/helidon/src/main/archetype/mp/custom/custom-mp.xml
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/SimpleGreetResource.java.json.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/SimpleGreetResource.java.jsonp.mustache
  archetypes/helidon/src/main/archetype/se/common/common-se.xml
  archetypes/helidon/src/main/archetype/se/common/files/src/main/java/__pkg__/Main.java.mustache
  archetypes/helidon/src/main/archetype/se/common/files/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/custom-se.xml
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/SimpleGreetService.java.json.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/SimpleGreetService.java.jsonp.mustache
Labels: archetypes

#4438 Updated doc for FT MP using new template
  docs/mp/faulttolerance/01_overview.adoc
Labels: 3.x

#4450 LRA Deprecations cleanup 2.x
  lra/coordinator/client/spi/src/main/java/io/helidon/lra/coordinator/client/CoordinatorClient.java
  lra/coordinator/client/spi/src/main/java/io/helidon/lra/coordinator/client/Headers.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/LeaveAnnotationHandler.java
  microprofile/lra/jax-rs/src/test/java/io/helidon/microprofile/lra/LoadBalancedCoordinatorTest.java
Labels: lra

#4449 LRA Deprecations removal
  lra/coordinator/client/spi/src/main/java/io/helidon/lra/coordinator/client/CoordinatorClient.java
  lra/coordinator/client/spi/src/main/java/io/helidon/lra/coordinator/client/Headers.java
  microprofile/lra/jax-rs/src/main/java/io/helidon/microprofile/lra/LeaveAnnotationHandler.java
  microprofile/lra/jax-rs/src/test/java/io/helidon/microprofile/lra/LoadBalancedCoordinatorTest.java
Labels: lra

#4460 ThreadPoolTest rc fix
  common/configurable/src/test/java/io/helidon/common/configurable/ThreadPoolTest.java
Labels: intermittent

#4442 [New Docs PR] - Helidon MP WebSocket 4213
  docs/mp/websocket/01_overview.adoc
Labels: docs, 3.x

#4428 [New Docs PR] - Helidon MP OpenTracing #4199
  docs/mp/tracing/01_tracing.adoc
  docs/mp/tracing/02_zipkin.adoc
  docs/mp/tracing/03_jaeger.adoc
  docs/mp/tracing/04_jaeger_metrics.adoc
Labels: docs, 3.x

#4426 [New Docs PR] - Helidon MP Bean Validation #4202
  docs/mp/beanvalidation/01_overview.adoc
  docs/mp/beanvalidation/02_general_beanvalidation.adoc
Labels: docs, 3.x

#4461 WebServer documentation
  docs/se/webserver/01_introduction.adoc
  docs/se/webserver/02_configuration.adoc
  docs/se/webserver/03_routing.adoc
  docs/se/webserver/04_request-handling.adoc
  docs/se/webserver/05_error-handling.adoc
  docs/se/webserver/06_static-content-support.adoc
  docs/se/webserver/07_jersey-support.adoc
  docs/se/webserver/08_json-support.adoc
  docs/se/webserver/09_jsonb-support.adoc
  docs/se/webserver/10_jackson-support.adoc
  docs/se/webserver/11_access-log.adoc
  docs/se/webserver/12_tls-configuration.adoc
  docs/se/webserver/13_http-compression.adoc
  docs/shared/config/io.helidon.common.configurable.LruCache.adoc
  docs/shared/config/io.helidon.common.configurable.Resource.adoc
  docs/shared/config/io.helidon.common.configurable.ScheduledThreadPoolSupplier.adoc
  docs/shared/config/io.helidon.common.configurable.ThreadPoolSupplier.adoc
  docs/shared/config/io.helidon.common.pki.KeyConfig.KeystoreBuilder.adoc
  docs/shared/config/io.helidon.common.pki.KeyConfig.PemBuilder.adoc
  docs/shared/config/io.helidon.common.pki.KeyConfig.adoc
  docs/shared/config/io.helidon.media.common.MediaContext.adoc
  docs/shared/config/io.helidon.webserver.SocketConfiguration.SocketConfigurationBuilder.adoc
  docs/shared/config/io.helidon.webserver.SocketConfiguration.adoc
  docs/shared/config/io.helidon.webserver.WebServer.adoc
  docs/shared/config/io.helidon.webserver.WebServerTls.adoc
Labels: docs

#4421 [New Docs PR] - Helidon MP OpenAPI #4209
  docs/mp/openapi/01_openapi.adoc
Labels: docs, open-api, 3.x

#4409 3.x: Update OCI integration documentation to reflect use of new OCI SDK CDI Extension
  docs/mp/extensions/04_cdi_oci-objectstorage.adoc
  docs/mp/oci/01_oci.adoc
  docs/mp/oci/02_object-storage.adoc
  docs/mp/oci/03_vault.adoc
  docs/mp/oci/04_atp.adoc
  docs/se/oci/01_oci.adoc
  docs/se/oci/02_object-storage.adoc
  docs/se/oci/03_vault.adoc
  docs/se/oci/04_atp.adoc
Labels: docs, 3.x

#4448 Helidon MP RestClient documentation
  docs/mp/restclient/09_rest-client.adoc
Labels: docs
