Repository helidon-io/helidon, pull requests merged in 2023-12, with the labels that each got.

#8094 4.x 4.0.1 update
  CHANGELOG.md
  NOTICE.txt
Labels: build, 4.x, OCA Verified

#8100 Change doc in the wake of OpenAPI UI service reorg in 4.0 to add the `services` level to the config structure
  docs/includes/openapi/openapi-ui.adoc
Labels: OCA Verified

#8089 [4.x] - Add Hierarchy tests to MP Telemetry
  microprofile/tests/pom.xml
  microprofile/tests/telemetry/pom.xml
  microprofile/tests/telemetry/src/test/java/io/helidon/microprofile/telemetry/InMemorySpanExporter.java
  microprofile/tests/telemetry/src/test/java/io/helidon/microprofile/telemetry/InMemorySpanExporterProvider.java
  microprofile/tests/telemetry/src/test/java/io/helidon/microprofile/telemetry/RestSpanHierarchyTest.java
  microprofile/tests/telemetry/src/test/java/io/helidon/microprofile/telemetry/TestFullUrlName.java
  microprofile/tests/telemetry/src/test/resources/META-INF/services/io.opentelemetry.sdk.autoconfigure.spi.traces.ConfigurableSpanExporterProvider
Labels: testing, 4.x, OCA Verified, telemetry

#8104 3.x: Update jackson-databind/jackson-core attributions
  THIRD_PARTY_LICENSES.txt
  etc/HELIDON_THIRD_PARTY_LICENSES.xml
Labels: 3.x, OCA Verified

#7961 3.x: archetype - update MP database template to use custom username/password
  archetypes/helidon/src/main/archetype/mp/common/files/src/main/resources/META-INF/microprofile-config.properties.mustache
Labels: 3.x, archetypes, OCA Verified

#8098 4.x: Upgrade grpc to 1.60.0
  config/etcd/src/main/java/module-info.java
  dependencies/pom.xml
  webserver/grpc/src/main/java/module-info.java
Labels: dependencies, 4.x, OCA Verified

#8112 Remove doc for tags on `content-read` and `content-write` spans; the tags are no longer added by the code in 4.x
  docs/includes/tracing/common-spans.adoc
Labels: OCA Verified

#8121 2.x: Upgrade slf4j to 2.0.9 and logback to 1.4.14
  dependencies/pom.xml
  tracing/jaeger/src/main/java/module-info.java
Labels: 2.x, dependencies, logging, OCA Verified

#8124 4.x: Disable failing `testNonTransactionalEntityManager` JPA test.
  integrations/cdi/jpa-cdi/src/test/java/io/helidon/integrations/cdi/jpa/TestAnnotationRewriting.java
Labels: jpa/jta, testing, 4.x, OCA Verified

#8120 4.x: Upgrade slf4j to 2.0.9 and logback to 1.4.14
  dependencies/pom.xml
Labels: dependencies, logging, 4.x, OCA Verified

#8116 Make sure a WsListener supplier is called exactly once per connection
  webserver/tests/websocket/src/test/java/io/helidon/webserver/tests/websocket/WebSocketSupplierTest.java
  webserver/websocket/src/main/java/io/helidon/webserver/websocket/WsConnection.java
  webserver/websocket/src/main/java/io/helidon/webserver/websocket/WsUpgrader.java
Labels: websocket, 4.x, OCA Verified

#8131 Correct typo in MP health example
  docs/mp/guides/health.adoc
Labels: OCA Verified

#8118 Fix premature access to RegistryFactory
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JpaExtension.java
Labels: OCA Verified

#8129 4.x Add missing metrics to Pokemons example
  examples/cors/pom.xml
  examples/integrations/cdi/pokemons/pom.xml
Labels: examples, metrics, 4.x, OCA Verified

#8134 Handle WebSocket frames of longer payload
  webclient/websocket/src/main/java/io/helidon/webclient/websocket/ClientWsConnection.java
  webserver/tests/websocket/pom.xml
  webserver/tests/websocket/src/test/java/io/helidon/webserver/tests/websocket/WebSocketClientTest.java
  webserver/tests/websocket/src/test/java/io/helidon/webserver/tests/websocket/WebSocketTest.java
Labels: websocket, 4.x, OCA Verified

#8133 Inject updates 1
  builder/api/src/main/java/io/helidon/builder/api/Prototype.java
  builder/codegen/src/main/java/io/helidon/builder/codegen/AnnotationDataOption.java
  builder/codegen/src/main/java/io/helidon/builder/codegen/BuilderCodegen.java
  builder/codegen/src/main/java/io/helidon/builder/codegen/CustomConstant.java
  builder/codegen/src/main/java/io/helidon/builder/codegen/CustomMethods.java
  builder/codegen/src/main/java/io/helidon/builder/codegen/Types.java
  builder/tests/builder/src/main/java/io/helidon/builder/test/testsubjects/RuntimeTypeExample.java
  builder/tests/builder/src/main/java/io/helidon/builder/test/testsubjects/RuntimeTypeExampleConfigBlueprint.java
  builder/tests/builder/src/main/java/io/helidon/builder/test/testsubjects/RuntimeTypeExampleInterface.java
  builder/tests/builder/src/main/java/io/helidon/builder/test/testsubjects/RuntimeTypeExampleInterfaceConfigBlueprint.java
  builder/tests/builder/src/test/java/io/helidon/builder/test/RuntimeTypeExampleTest.java
  codegen/apt/src/main/java/io/helidon/codegen/apt/AptProcessor.java
  codegen/apt/src/main/java/io/helidon/codegen/apt/AptTypeInfoFactory.java
  codegen/apt/src/main/java/io/helidon/codegen/apt/ToAnnotationValueVisitor.java
  codegen/class-model/src/main/java/io/helidon/codegen/classmodel/CommonComponent.java
  codegen/class-model/src/main/java/io/helidon/codegen/classmodel/Field.java
  codegen/class-model/src/main/java/io/helidon/codegen/classmodel/Javadoc.java
  codegen/class-model/src/main/java/io/helidon/codegen/classmodel/Type.java
  codegen/class-model/src/test/java/io/helidon/codegen/classmodel/TypeTest.java
  codegen/codegen/src/main/java/io/helidon/codegen/CodegenUtil.java
  codegen/codegen/src/main/java/io/helidon/codegen/ListOptionImpl.java
  codegen/codegen/src/main/java/io/helidon/codegen/Option.java
  codegen/codegen/src/main/java/io/helidon/codegen/SetOptionImpl.java
  codegen/codegen/src/test/java/io/helidon/codegen/CodegenUtilTest.java
  codegen/scan/src/main/java/io/helidon/codegen/scan/ScanTypeInfoFactory.java
  common/config/src/main/java/io/helidon/common/config/Config.java
  common/types/src/main/java/io/helidon/common/types/TypeNameBlueprint.java
  common/types/src/main/java/io/helidon/common/types/TypeNameSupport.java
  common/types/src/main/java/io/helidon/common/types/TypeNames.java
  common/types/src/test/java/io/helidon/common/types/TypedElementInfoTest.java
  pom.xml
Labels: pico, OCA Verified, builder

#8139 3.x - Slightly relax a unit test to avoid test ordering issues
  microprofile/metrics/src/test/java/io/helidon/microprofile/metrics/TestStereotypes.java
Labels: OCA Verified

#8137 2.x: Upgrade dependency-check-maven and add support for nvdApiKey
  etc/dependency-check-suppression.xml
  etc/scripts/owasp-dependency-check.sh
  pom.xml
Labels: 2.x, OCA Verified

#8119 3.x: Upgrade slf4j to 2.0.9 and logback to 1.4.14
  dependencies/pom.xml
Labels: dependencies, 3.x, logging, OCA Verified

#8145 4.x - Avoid possible test ordering problem
  microprofile/metrics/src/test/java/io/helidon/microprofile/metrics/TestStereotypes.java
Labels: OCA Verified

#8125 Significant changes and corrections to the SE health doc
  docs/se/guides/health.adoc
  docs/se/health.adoc
Labels: OCA Verified

#8146 4.x: key-utils are missing native image prop
  common/key-util/src/main/resources/META-INF/native-image/io.helidon.common.pki/helidon-common-pki/native-image.properties
Labels: security, native-image, OCA Verified

#8075 4.x: 8059 Delayed fixed rate scheduling
  docs/config/config_reference.adoc
  docs/config/io_helidon_scheduling_Cron.adoc
  docs/config/io_helidon_scheduling_FixedRate.adoc
  docs/config/io_helidon_scheduling_TaskConfig.adoc
  docs/se/scheduling.adoc
  microprofile/scheduling/src/main/java/io/helidon/microprofile/scheduling/FixedRate.java
  microprofile/scheduling/src/main/java/io/helidon/microprofile/scheduling/SchedulingCdiExtension.java
  scheduling/pom.xml
  scheduling/src/main/java/io/helidon/scheduling/Cron.java
  scheduling/src/main/java/io/helidon/scheduling/CronConfigBlueprint.java
  scheduling/src/main/java/io/helidon/scheduling/CronTask.java
  scheduling/src/main/java/io/helidon/scheduling/FixedRate.java
  scheduling/src/main/java/io/helidon/scheduling/FixedRateConfigBlueprint.java
  scheduling/src/main/java/io/helidon/scheduling/FixedRateTask.java
  scheduling/src/main/java/io/helidon/scheduling/Scheduling.java
  scheduling/src/main/java/io/helidon/scheduling/TaskConfigBlueprint.java
  scheduling/src/main/java/io/helidon/scheduling/TaskConfigDecorator.java
  scheduling/src/main/java/module-info.java
  scheduling/src/test/java/io/helidon/scheduling/CronSchedulingTest.java
  scheduling/src/test/java/io/helidon/scheduling/FixedRateSchedulingTest.java
Labels: OCA Verified

#8097 4.x: Fix and add test to database SE example
  examples/dbclient/common/src/main/java/io/helidon/examples/dbclient/common/AbstractPokemonService.java
  examples/dbclient/jdbc/pom.xml
  examples/dbclient/jdbc/src/main/resources/application.yaml
  examples/dbclient/jdbc/src/test/java/io/helidon/examples/dbclient/jdbc/MainTest.java
  examples/dbclient/jdbc/src/test/resources/application-test.yaml
  examples/dbclient/pokemons/README.md
Labels: examples, 4.x, OCA Verified

#8141 3.x: Archetype - fix SE zipkin configuration
  archetypes/helidon/src/main/archetype/se/custom/observability.xml
  docs/includes/tracing/tracer-zipkin.adoc
Labels: tracing, 3.x, archetypes, OCA Verified

#8140 4.x tuning guide update
  docs/config/io_helidon_webserver_ConnectionConfig.adoc
  docs/includes/guides/performance-tuning.adoc
  docs/mp/guides/performance-tuning.adoc
  docs/se/guides/performance-tuning.adoc
  webserver/webserver/src/main/java/io/helidon/webserver/ConnectionConfigBlueprint.java
Labels: docs, 4.x, OCA Verified

#8142 4.x: Introduction of Helidon Inject Service module.
  bom/pom.xml
  inject/pom.xml
  inject/service/README.md
  inject/service/pom.xml
  inject/service/src/main/java/io/helidon/inject/service/Injection.java
  inject/service/src/main/java/io/helidon/inject/service/InjectionContext.java
  inject/service/src/main/java/io/helidon/inject/service/Interception.java
  inject/service/src/main/java/io/helidon/inject/service/InterceptionMetadata.java
  inject/service/src/main/java/io/helidon/inject/service/InvocationContextBlueprint.java
  inject/service/src/main/java/io/helidon/inject/service/Invoker.java
  inject/service/src/main/java/io/helidon/inject/service/IpBlueprint.java
  inject/service/src/main/java/io/helidon/inject/service/ModuleComponent.java
  inject/service/src/main/java/io/helidon/inject/service/QualifierBlueprint.java
  inject/service/src/main/java/io/helidon/inject/service/QualifierSupport.java
  inject/service/src/main/java/io/helidon/inject/service/ServiceBinder.java
  inject/service/src/main/java/io/helidon/inject/service/ServiceDescriptor.java
  inject/service/src/main/java/io/helidon/inject/service/ServiceInfo.java
  inject/service/src/main/java/io/helidon/inject/service/package-info.java
  inject/service/src/main/java/module-info.java
  inject/service/src/test/java/io/helidon/inject/service/IpTest.java
  inject/service/src/test/java/io/helidon/inject/service/QualifierTest.java
Labels: 4.x, pico, OCA Verified

#7781 4.x: Enable disabled TCKs
  dependencies/pom.xml
  http/http/src/main/java/io/helidon/http/PathMatchers.java
  integrations/micrometer/cdi/src/test/java/io/helidon/integrations/micrometer/cdi/HelloWorldTest.java
  microprofile/cdi/src/main/java/io/helidon/microprofile/cdi/HelidonContainerImpl.java
  microprofile/config/src/main/java/io/helidon/microprofile/config/ConfigCdiExtension.java
  microprofile/lra/jax-rs/src/test/java/io/helidon/microprofile/lra/LoadBalancedCoordinatorTest.java
  microprofile/metrics/src/test/java/io/helidon/microprofile/metrics/HelloWorldTest.java
  microprofile/server/pom.xml
  microprofile/server/src/main/java/io/helidon/microprofile/server/CatchAllExceptionMapper.java
  microprofile/server/src/main/java/io/helidon/microprofile/server/JaxRsCdiExtension.java
  microprofile/server/src/main/java/io/helidon/microprofile/server/JaxRsService.java
  microprofile/server/src/test/java/io/helidon/microprofile/server/JaxRsApplicationCodesTest.java
  microprofile/server/src/test/java/io/helidon/microprofile/server/JaxRsApplicationMatrixEntityTest.java
  microprofile/server/src/test/java/io/helidon/microprofile/server/JaxRsApplicationOrderFiltersTest.java
  microprofile/server/src/test/java/io/helidon/microprofile/server/JaxRsApplicationPathTest.java
  microprofile/server/src/test/java/io/helidon/microprofile/server/ServerSseTest.java
  microprofile/tests/arquillian/src/main/java/io/helidon/microprofile/arquillian/HelidonContainerConfiguration.java
  microprofile/tests/arquillian/src/main/java/io/helidon/microprofile/arquillian/HelidonDeployableContainer.java
  microprofile/tests/arquillian/src/main/java/io/helidon/microprofile/arquillian/HelidonMethodExecutor.java
  microprofile/tests/arquillian/src/main/java/io/helidon/microprofile/arquillian/ServerRunner.java
  microprofile/tests/tck/pom.xml
  microprofile/tests/tck/tck-cdi-lang-model/pom.xml
  microprofile/tests/tck/tck-cdi-lang-model/src/test/java/io/helidon/microprofile/cdi/lang/model/tck/LangModelExtension.java
  microprofile/tests/tck/tck-cdi-lang-model/src/test/java/io/helidon/microprofile/cdi/lang/model/tck/LangModelTckTest.java
  microprofile/tests/tck/tck-cdi-lang-model/src/test/resources/META-INF/cdi-tck.properties
  microprofile/tests/tck/tck-cdi-lang-model/src/test/resources/application.yaml
  microprofile/tests/tck/tck-cdi-lang-model/src/test/resources/arquillian.xml
  microprofile/tests/tck/tck-cdi/pom.xml
  microprofile/tests/tck/tck-cdi/src/test/resources/arquillian.xml
  microprofile/tests/tck/tck-core-profile/tck-core-profile-test/pom.xml
  microprofile/tests/tck/tck-core-profile/tck-core-profile-test/src/test/resources/arquillian.xml
  microprofile/tests/tck/tck-inject/tck-inject-test/src/test/java/io/helidon/microprofile/tests/inject/TckInjectTest.java
  microprofile/tests/tck/tck-jsonb/tck-jsonb-test/pom.xml
  microprofile/tests/tck/tck-jsonb/tck-jsonb-test/src/test/resources/META-INF/microprofile-config.properties
  microprofile/tests/tck/tck-jsonp/artifact-install.sh
  microprofile/tests/tck/tck-jsonp/pom.xml
  microprofile/tests/tck/tck-jsonp/tck-jsonp-pluggability-test/pom.xml
  microprofile/tests/tck/tck-jsonp/tck-jsonp-test/pom.xml
  microprofile/tests/tck/tck-metrics/src/test/java/io/helidon/microprofile/metrics/tck/MetricsTckCdiExtension.java
  microprofile/tests/tck/tck-restful/pom.xml
  microprofile/tests/tck/tck-restful/tck-restful-test/pom.xml
  microprofile/tests/tck/tck-restful/tck-restful-test/src/test/resources/META-INF/microprofile-config.properties
  microprofile/tests/tck/tck-restful/tck-restful-test/src/test/resources/arquillian.xml
  pom.xml
  webclient/http1/src/main/java/io/helidon/webclient/http1/Http1CallChainBase.java
  webserver/webserver/src/main/java/io/helidon/webserver/http/HttpRouting.java
  webserver/webserver/src/main/java/io/helidon/webserver/http1/Http1ServerResponse.java
Labels: OCA Verified

#8151 3.x: Workaround for Java 21 support with older jandex
  applications/parent/pom.xml
Labels: 3.x, OCA Verified

#8155 4.x Several fixes to tracing config
  webserver/observe/tracing/src/main/java/io/helidon/webserver/observe/tracing/PathTracingConfig.java
  webserver/observe/tracing/src/main/java/io/helidon/webserver/observe/tracing/TracingObserverConfigBlueprint.java
Labels: OCA Verified

#8160 4.x docs: Fix health and metrics URLs. Mention health returns 204
  docs/se/guides/quickstart.adoc
Labels: docs, 4.x, OCA Verified

#8176 Post 4.0.2 release changes
  docs/pom.xml
  etc/scripts/release.sh
  pom.xml
Labels: build, OCA Verified

#8175 4.x Make `RegistryFactory` and its `getInstance` and `getRegistry` methods public
  docs/src/main/asciidoc/includes/metrics/metrics-shared.adoc
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/MetricProducer.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/RegistryFactory.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/RegistryProducer.java
  microprofile/metrics/src/test/java/io/helidon/microprofile/metrics/ProducerTest.java
Labels: OCA Verified
