Repository helidon-io/helidon, pull requests merged in 2023-10, with the labels that each got.

#7688 4.x: Remove preview from features that are now considered production
  docs-internal/feature-catalog.md
  messaging/connectors/aq/src/main/java/module-info.java
  messaging/connectors/jms/src/main/java/module-info.java
  messaging/connectors/kafka/src/main/java/module-info.java
  microprofile/lra/jax-rs/src/main/java/module-info.java
  microprofile/messaging/core/src/main/java/module-info.java
  microprofile/reactive-streams/src/main/java/module-info.java
  microprofile/scheduling/src/main/java/module-info.java
Labels: 4.x, OCA Verified

#7690 4.x: Move webserver/benchmark/jmh to tests/benchmark/jmh
  tests/benchmark/jmh/README.md
  tests/benchmark/jmh/pom.xml
  tests/benchmark/jmh/src/main/java/io/helidon/webserver/benchmark/jmh/Http1ParsingJmhTest.java
  tests/benchmark/jmh/src/main/java/io/helidon/webserver/benchmark/jmh/HttpJmhTest.java
  tests/benchmark/jmh/src/main/java/io/helidon/webserver/benchmark/jmh/HttpPrologueParsingJmhTest.java
  tests/benchmark/jmh/src/main/java/io/helidon/webserver/benchmark/jmh/HuJmhTest.java
  tests/benchmark/jmh/src/main/resources/logging.properties
  tests/benchmark/jmh/src/test/java/io/helidon/webserver/benchmark/jmh/BaseLine.java
  tests/benchmark/jmh/src/test/java/io/helidon/webserver/benchmark/jmh/Histogram.java
  tests/benchmark/jmh/src/test/java/io/helidon/webserver/benchmark/jmh/JunitJmhRunnerTest.java
  tests/benchmark/pom.xml
  tests/pom.xml
  webserver/pom.xml
Labels: testing, 4.x, OCA Verified

#7641 [4.x] Initial documentation for the new Helidon connector.
  docs/mp/jaxrs/helidon-connector.adoc
Labels: docs, jax-rs, 4.x, OCA Verified, jersey

#7704 4.x: Docs: Update maven, gradle, jlink, native-image guides
  docs/includes/attributes.adoc
  docs/includes/guides/graalnative.adoc
  docs/includes/guides/gradle-build.adoc
  docs/includes/guides/jlink-image.adoc
  docs/includes/guides/maven-build.adoc
  docs/includes/prerequisites.adoc
Labels: docs, 4.x, OCA Verified

#7606 3.x: Enable tests that were disabled during renaming to jakarta packages work
  examples/integrations/cdi/pokemons/src/test/java/io/helidon/examples/integrations/cdi/pokemon/MainTest.java
  examples/integrations/micronaut/data/src/main/java/io/helidon/examples/integrations/micronaut/data/BeanValidationExceptionMapper.java
  examples/integrations/micronaut/data/src/main/java/io/helidon/examples/integrations/micronaut/data/PetResource.java
  examples/integrations/micronaut/data/src/test/java/io/helidon/examples/integrations/micronaut/data/MicronautExampleTest.java
  examples/integrations/neo4j/neo4j-mp/src/test/java/io/helidon/examples/integrations/neo4j/mp/MainTest.java
  examples/microprofile/hello-world-implicit/src/test/java/io/helidon/microprofile/example/helloworld/implicit/ImplicitHelloWorldTest.java
  examples/microprofile/openapi-basic/src/test/java/io/helidon/microprofile/examples/openapi/basic/MainTest.java
  examples/openapi/src/test/java/io/helidon/examples/openapi/MainTest.java
  microprofile/fault-tolerance/src/test/java/io/helidon/microprofile/faulttolerance/RetryTest.java
  openapi/src/main/java/io/helidon/openapi/OpenAPISupport.java
  tests/functional/bookstore/src/test/java/io/helidon/tests/bookstore/MainTest.java
  tests/functional/jax-rs-multiple-apps/src/test/java/io/helidon/tests/functional/multipleapps/MainTest.java
  tests/integration/zipkin-mp-2.2/src/test/java/io/helidon/tests/integration/zipkin/mp22/ZipkinMp22Test.java
Labels: 3.x, testing, OCA Verified

#7705 4.x - named routing
  examples/webserver/multiport/README.md
  examples/webserver/multiport/pom.xml
  examples/webserver/multiport/src/main/java/io/helidon/webserver/examples/multiport/Main.java
  webserver/webserver/src/main/java/io/helidon/webserver/LoomServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServerConfigBlueprint.java
  webserver/webserver/src/main/java/io/helidon/webserver/WebServerConfigSupport.java
Labels: OCA Verified

#7673 DOCS: 4x updates to the general doc
  docs/about/doc_overview.adoc
  docs/about/intro.adoc
  docs/about/introduction.adoc
  docs/se/introduction.adoc
Labels: docs, 4.x, OCA Verified

#7720 Upgrade Weld and ClassFileWriter
  dependencies/pom.xml
  microprofile/weld/weld-core-impl/src/main/java/org/jboss/weld/bean/proxy/ProxyFactory.java
Labels: MP, dependencies, 4.x, OCA Verified

#7712 4.x: Upgrade okhttp3. Use OCI SDK BOM
  dependencies/pom.xml
  tracing/providers/jaeger/pom.xml
Labels: dependencies, 4.x, OCA Verified

#7709 [3.x] - Migrate opentracing to Helidon Tracing
  dbclient/tracing/pom.xml
  dbclient/tracing/src/main/java/io/helidon/dbclient/tracing/DbClientTracing.java
  dbclient/tracing/src/main/java/module-info.java
  tracing/tracing/src/main/java/io/helidon/tracing/Tag.java
Labels: tracing, 3.x, OCA Verified

#7708 [4.x] - Migrate opentracing to Helidon Tracing
  dbclient/tracing/pom.xml
  dbclient/tracing/src/main/java/io/helidon/dbclient/tracing/DbClientTracing.java
  dbclient/tracing/src/main/java/module-info.java
  tracing/tracing/src/main/java/io/helidon/tracing/Tag.java
Labels: tracing, 4.x, OCA Verified

#7726 [4.x] - Decrease DEFAULT_SCHEDULE_DELAY time for JaegerTracerBuilder
  tracing/providers/jaeger/src/main/java/io/helidon/tracing/providers/jaeger/JaegerTracerBuilder.java
  tracing/providers/jaeger/src/test/java/io/helidon/tracing/providers/jaeger/JaegerTracerBuilderTest.java
Labels: tracing, 4.x, OCA Verified

#7725 [3.x] - Decrease DEFAULT_SCHEDULE_DELAY time for JaegerTracerBuilder
  tracing/jaeger/src/main/java/io/helidon/tracing/jaeger/JaegerTracerBuilder.java
  tracing/jaeger/src/test/java/io/helidon/tracing/jaeger/JaegerTracerBuilderTest.java
Labels: tracing, 3.x, OCA Verified

#7728 Remove older deprecated methods and types.
  config/hocon/src/main/java/io/helidon/config/hocon/HoconConfigParserBuilder.java
  integrations/microstream/health/src/main/java/io/helidon/integrations/microstream/health/MicrostreamHealthCheck.java
  messaging/connectors/jms-shim/src/main/java/io/helidon/messaging/connectors/jms/shim/JakartaSession.java
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/FormerHealthProbe.java
  microprofile/messaging/core/src/main/java/io/helidon/microprofile/messaging/MessagingCdiExtension.java
  security/providers/oidc-common/src/main/java/io/helidon/security/providers/oidc/common/OidcConfig.java
Labels: 4.x, OCA Verified

#7710 4.x: Remove unnecessary metrics dependencies MP quickstart archetype
  archetypes/helidon/src/main/archetype/common/extra.xml
  archetypes/helidon/src/main/archetype/common/observability.xml
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/SimpleGreetResource.java.json.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/SimpleGreetResource.java.jsonp.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/SimpleGreetResource.java.mustache
  archetypes/helidon/src/main/archetype/mp/oci/oci-mp.xml
  archetypes/helidon/src/main/archetype/se/custom/database.xml
Labels: OCA Verified

#7697 4.x: HTTP2 concurrent streams check
  http/http2/src/main/java/io/helidon/http/http2/Http2ConnectionWriter.java
  webclient/http2/src/main/java/io/helidon/webclient/http2/Http2ClientStream.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2ConcurrentConnectionStreams.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2Connection.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2ConnectionStreams.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2ServerStream.java
  webserver/http2/src/test/java/io/helidon/webserver/http2/ConnectionStreamTest.java
Labels: OCA Verified

#7719 [4.x] Switches default JPA CDI portable extension to PersistenceExtension from JpaExtension
  integrations/cdi/hibernate-cdi/src/main/java/io/helidon/integrations/cdi/hibernate/CDISEJtaPlatform.java
  integrations/cdi/hibernate-cdi/src/main/java/module-info.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/BeanManagerBackedDataSourceProvider.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/CdiTransactionScoped.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/CdiTransactionScopedEntityManager.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/ClearingQuery.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/ClearingStoredProcedureQuery.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/ClearingTypedQuery.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/EntityManagerFactories.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/EntityManagers.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/ExtendedEntityManager.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JpaCdiQualifiers.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JpaExtension.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JpaTransactionScoped.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JpaTransactionScopedEntityManager.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JtaDataSourceProvider.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JtaTransactionSupport.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/Messages.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/NoTransactionSupport.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/NonTransactional.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/NonTransactionalEntityManager.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/PersistenceExtension.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/PersistenceUnitInfoBean.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/TransactionSupport.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/package-info.java
  integrations/cdi/jpa-cdi/src/main/java/module-info.java
  integrations/jta/jdbc/src/main/java/io/helidon/integrations/jta/jdbc/JtaConnection.java
  integrations/jta/jdbc/src/main/java/io/helidon/integrations/jta/jdbc/LocalXAResource.java
Labels: enhancement, task, MP, P2, cdi, jpa/jta, integration, java, 4.x, OCA Verified

#7740 4.x: Fix build noise
  applications/mp/pom.xml
  dependencies/pom.xml
  integrations/oci/sdk/processor/pom.xml
  tests/integration/jpa/appl/pom.xml
  tests/integration/native-image/mp-2/pom.xml
Labels: build, 4.x, OCA Verified

#7741 [3.x] Fixes an issue where autoCommit is not restored properly in certain edge cases; ensures related proper Hibernate JTA settings are set by default
  integrations/cdi/hibernate-cdi/src/main/java/io/helidon/integrations/cdi/hibernate/CDISEJtaPlatform.java
  integrations/cdi/hibernate-cdi/src/main/java/module-info.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/PersistenceExtension.java
  integrations/jta/jdbc/src/main/java/io/helidon/integrations/jta/jdbc/JtaConnection.java
  integrations/jta/jdbc/src/main/java/io/helidon/integrations/jta/jdbc/LocalXAResource.java
Labels: bug, P2, cdi, jpa/jta, 3.x, integration, backport, java, OCA Verified

#7743 Update README.md: add a books section
  README.md
Labels: OCA Verified

#7731 4.x: Fix several issue in archetype and add `native-image.properties` to generated projects
  archetypes/helidon/src/main/archetype/common/common.xml
  archetypes/helidon/src/main/archetype/common/docker.xml
  archetypes/helidon/src/main/archetype/common/extra.xml
  archetypes/helidon/src/main/archetype/common/files/src/main/java/__pkg__/Main.java.mustache
  archetypes/helidon/src/main/archetype/common/files/src/main/resources/META-INF/groupid/artifactid/native-image.properties.mustache
  archetypes/helidon/src/main/archetype/common/observability.xml
  archetypes/helidon/src/main/archetype/mp/common/common-mp.xml
  archetypes/helidon/src/main/archetype/mp/common/files/src/main/java/__pkg__/Main.java.mustache
  archetypes/helidon/src/main/archetype/se/common/common-se.xml
  archetypes/helidon/src/main/archetype/se/common/files/src/main/java/__pkg__/Main.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/observability.xml
Labels: archetypes, 4.x, OCA Verified

#7746 [4.x] Adjusts paths to native-image.properties files in two projects to conform to the native-maven-plugin requirements as reported by the plugin
  microprofile/metrics/src/main/resources/META-INF/native-image/io.helidon.microprofile.metrics/helidon-microprofile-metrics/native-image.properties
  microprofile/metrics/src/main/resources/META-INF/native-image/io.helidon.microprofile.metrics/helidon-microprofile-metrics/reflect-config.json
  microprofile/server/src/main/resources/META-INF/native-image/io.helidon.microprofile/helidon-microprofile-server/native-image.properties
  microprofile/server/src/main/resources/META-INF/native-image/io.helidon.microprofile/helidon-microprofile-server/proxy-config.json
  microprofile/server/src/main/resources/META-INF/native-image/io.helidon.microprofile/helidon-microprofile-server/resource-config.json
  pom.xml
Labels: native-image, 4.x, OCA Verified

#7748 [4.x] Fixes a jar-only URL resolution bug
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JpaExtension.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/PersistenceExtension.java
  integrations/cdi/jpa-cdi/src/test/java/io/helidon/integrations/cdi/jpa/TestPersistenceRootResolutionBehavior.java
Labels: bug, P1, jpa/jta, must-have, java, 4.x, OCA Verified

#7732 4.x: Java 21 follow up
  .mvn/jvm.config
  examples/microprofile/hello-world-implicit/src/test/java/io/helidon/microprofile/example/helloworld/implicit/ImplicitHelloWorldTest.java
  examples/todo-app/backend/pom.xml
  examples/todo-app/backend/src/test/java/io/helidon/examples/todos/backend/BackendTests.java
  tests/functional/jax-rs-multiple-apps/src/test/java/io/helidon/tests/functional/multipleapps/MainTest.java
  tests/integration/zipkin-mp-2.2/src/test/java/io/helidon/tests/integration/zipkin/mp22/ZipkinMp22Test.java
Labels: 4.x, OCA Verified

#7747 4.x: Update third party attributions
  THIRD_PARTY_LICENSES.txt
  etc/HELIDON_THIRD_PARTY_LICENSES.xml
Labels: 4.x, OCA Verified

#7751 [3.x] Fixes user-reported typo in persistence guide
  docs/mp/persistence.adoc
Labels: bug, MP, docs, P1, jpa/jta, 3.x, backport, OCA Verified

#7750 [4.x] Fixes user-reported typo in persistence guide
  docs/mp/persistence.adoc
Labels: bug, MP, docs, P1, jpa/jta, 4.x, OCA Verified

#7749 [3.x] Fixes a jar-only URL resolution bug
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JpaExtension.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/PersistenceExtension.java
  integrations/cdi/jpa-cdi/src/test/java/io/helidon/integrations/cdi/jpa/TestPersistenceRootResolutionBehavior.java
Labels: bug, P1, jpa/jta, 3.x, must-have, backport, java, OCA Verified

#7755 [3.x] Backport issue #7698 - tls manager caching
  integrations/oci/tls-certificates/src/main/java/io/helidon/integrations/oci/tls/certificates/DefaultOciCertificatesTlsManagerProvider.java
  webserver/webserver/src/main/java/io/helidon/webserver/spi/TlsManagerCache.java
  webserver/webserver/src/main/java/io/helidon/webserver/spi/TlsManagerProvider.java
  webserver/webserver/src/test/java/io/helidon/webserver/spi/TlsManagerProviderTest.java
Labels: 3.x, OCI, OCA Verified

#7757 [4.x] - Fix small mistakes
  webserver/observe/log/src/main/java/io/helidon/webserver/observe/log/LogService.java
Labels: 4.x, OCA Verified

#7761 4.x: Renamed openapi/openapi-ui back to integrations/openapi-ui
  bom/pom.xml
  dependencies/pom.xml
  docs/config/io_helidon_openapi_ui_OpenApiUi.adoc
  docs/includes/openapi/openapi-ui.adoc
  integrations/openapi-ui/pom.xml
  integrations/openapi-ui/src/main/java/io/helidon/integrations/openapi/ui/OpenApiUi.java
  integrations/openapi-ui/src/main/java/io/helidon/integrations/openapi/ui/OpenApiUiConfigBlueprint.java
  integrations/openapi-ui/src/main/java/io/helidon/integrations/openapi/ui/OpenApiUiProvider.java
  integrations/openapi-ui/src/main/java/io/helidon/integrations/openapi/ui/package-info.java
  integrations/openapi-ui/src/main/java/module-info.java
  integrations/openapi-ui/src/main/resources/helidon-openapi-ui/favicon.ico
  integrations/openapi-ui/src/main/resources/helidon-openapi-ui/logo.svg
  integrations/openapi-ui/src/test/java/io/helidon/integrations/openapi/ui/OpenApiUiTest.java
  integrations/openapi-ui/src/test/resources/greeting.yml
  openapi/pom.xml
Labels: open-api, 4.x, OCA Verified

#7752 Upgrade to Microstream 08.01.01-MS-GA and other minor things
  dependencies/pom.xml
  integrations/microstream/README.md
  integrations/microstream/cache/pom.xml
  integrations/microstream/cache/src/main/java/io/helidon/integrations/microstream/cache/MicrostreamCacheConfigurationBuilder.java
  integrations/microstream/cache/src/main/java/io/helidon/integrations/microstream/cache/package-info.java
  integrations/microstream/cache/src/test/java/io/helidon/integrations/microstream/cache/ConfigurationTest.java
  integrations/microstream/cdi/src/main/java/io/helidon/integrations/microstream/cdi/CacheExtension.java
  integrations/microstream/cdi/src/main/java/io/helidon/integrations/microstream/cdi/EmbeddedStorageManagerExtension.java
  integrations/microstream/cdi/src/main/java/io/helidon/integrations/microstream/cdi/package-info.java
  integrations/microstream/cdi/src/main/java/module-info.java
  integrations/microstream/cdi/src/test/java/io/helidon/integrations/microstream/cdi/CacheManagerExtensionTest.java
  integrations/microstream/core/pom.xml
  integrations/microstream/core/src/main/java/io/helidon/integrations/microstream/core/EmbeddedStorageManagerBuilder.java
  integrations/microstream/core/src/main/java/io/helidon/integrations/microstream/core/package-info.java
  integrations/microstream/core/src/main/java/module-info.java
  integrations/microstream/health/src/main/java/io/helidon/integrations/microstream/health/MicrostreamHealthCheck.java
  integrations/microstream/health/src/main/java/io/helidon/integrations/microstream/health/package-info.java
  integrations/microstream/health/src/test/java/io/helidon/integrations/microstream/health/MicrostreamHealthTest.java
  integrations/microstream/metrics/src/main/java/io/helidon/integrations/microstream/metrics/MicrostreamMetricsSupport.java
  integrations/microstream/metrics/src/main/java/io/helidon/integrations/microstream/metrics/package-info.java
Labels: OCA Verified

#7724 3.x: Reactive streams doc alignment #6458
  docs/includes/reactivestreams/rsoperators.adoc
Labels: docs, OCA Verified

#7762 4.x: Upgrades ojdbc8 to 21.4.0.0 and fixes JAXP parser conflict
  dependencies/pom.xml
  integrations/db/ojdbc/pom.xml
Labels: 4.x, OCA Verified

#7742 [4.x] Upgrades Hibernate to version 6.3.1.Final
  applications/mp/pom.xml
  archetypes/helidon/src/main/archetype/mp/custom/database.xml
  archetypes/helidon/src/main/archetype/mp/database/files/src/main/resources/hibernate.properties.mustache
  dependencies/pom.xml
  examples/integrations/cdi/pokemons/src/main/resources/META-INF/persistence.xml
  pom.xml
  tests/integration/jpa/appl/src/main/resources/hibernate.properties
  tests/integration/jpa/simple/src/test/resources/hibernate.properties
Labels: dependencies, 4.x, OCA Verified

#7765 Temporarily disable unit test in example due to intermittent pipeline failures
  examples/metrics/exemplar/src/test/java/io/helidon/examples/metrics/exemplar/MainTest.java
Labels: OCA Verified

#7766 Add openapi-ui submodule directory to the integrations module list
  integrations/pom.xml
Labels: OCA Verified

#7723 4.x: Reactive streams doc alignment #6458
  docs/includes/reactivestreams/engine.adoc
  docs/includes/reactivestreams/rsoperators.adoc
Labels: docs, OCA Verified

#7770 4.x: Empty path
  http/http/src/main/java/io/helidon/http/DirectHandler.java
  microprofile/server/src/test/resources/logging.properties
  webserver/testing/junit5/junit5/src/main/java/io/helidon/webserver/testing/junit5/HelidonServerJunitExtension.java
  webserver/tests/webserver/src/test/java/io/helidon/webserver/tests/PathTest.java
  webserver/webserver/src/main/java/io/helidon/webserver/http1/Http1Prologue.java
Labels: OCA Verified

#7764 Move SSL handshake logic from listener thread to connection thread
  webserver/webserver/src/main/java/io/helidon/webserver/ConnectionHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerListener.java
Labels: webserver, performance, 4.x, OCA Verified

#7772 4.x: Update quickstart examples to use microprofile-core bundle
  examples/quickstarts/helidon-quickstart-mp/pom.xml
  examples/quickstarts/helidon-standalone-quickstart-mp/pom.xml
Labels: examples, 4.x, OCA Verified

#7775 4.x: Verify Starter with 4.x archetypes
  archetypes/helidon/src/main/archetype/common/common.xml
  archetypes/helidon/src/main/archetype/common/media.xml
  archetypes/helidon/src/main/archetype/common/packaging.xml
  archetypes/helidon/src/main/archetype/common/presets.xml
  archetypes/helidon/src/main/archetype/flavor.xml
  archetypes/helidon/src/main/archetype/mp/oci/oci-mp.xml
  archetypes/helidon/src/main/archetype/se/custom/custom-se.xml
  archetypes/helidon/src/main/archetype/se/quickstart/quickstart-se.xml
  archetypes/helidon/src/main/archetype/se/se.xml
Labels: website, archetypes, 4.x, OCA Verified

#7778 4.x: Remove exclusion of jandex dependency now that hibernate has been upgraded
  integrations/cdi/hibernate-cdi/pom.xml
Labels: 4.x, OCA Verified

#7771 Makes it more clear in documentation that persistence.xml files are application-level concerns, not component-level concerns
  docs/mp/persistence.adoc
Labels: docs, P4, jpa/jta, 4.x, OCA Verified

#7767 Add Helidon Connector to sitegen.yaml
  docs/sitegen.yaml
Labels: docs, 4.x, OCA Verified

#7780 Add pluginManagement for hibernate-enhance-maven-plugin
  applications/mp/pom.xml
Labels: examples, 4.x, OCA Verified

#7776 Replace usage of Priority with Weight in helidon-config
  config/config/pom.xml
  config/config/src/main/java/io/helidon/config/Config.java
  config/config/src/main/java/io/helidon/config/spi/ConfigFilter.java
  config/config/src/main/java/io/helidon/config/spi/ConfigMapperProvider.java
  config/config/src/main/java/io/helidon/config/spi/ConfigParser.java
  config/config/src/main/java/module-info.java
  config/config/src/test/java/io/helidon/config/AutoLoadedConfigHighPriority.java
  config/config/src/test/java/io/helidon/config/AutoLoadedConfigLowPriority.java
  config/config/src/test/java/io/helidon/config/AutoLoadedConfigPriority.java
  config/hocon/pom.xml
  config/tests/module-mappers-1-base/pom.xml
  config/tests/module-mappers-2-override/pom.xml
  config/tests/module-parsers-1-override/pom.xml
  config/tests/test-bundle/pom.xml
  config/tests/test-default_config-2-hocon-json/pom.xml
  config/tests/test-default_config-3-hocon/pom.xml
  config/tests/test-default_config-4-yaml/pom.xml
  config/tests/test-default_config-5-env_vars/pom.xml
  config/tests/test-default_config-7-meta-hocon-json/pom.xml
  config/tests/test-default_config-8-meta-hocon/pom.xml
  config/tests/test-default_config-9-meta-yaml/pom.xml
  config/yaml-mp/pom.xml
  config/yaml/pom.xml
  docs/includes/attributes.adoc
  docs/se/config/extensions.adoc
  inject/tests/runtime/pom.xml
  inject/tests/runtime/src/test/java/io/helidon/inject/runtime/testsubjects/HelloInjection$$Application.java
  inject/tests/runtime/src/test/java/io/helidon/inject/runtime/testsubjects/HelloInjection$$Module.java
  inject/tests/runtime/src/test/java/io/helidon/inject/runtime/testsubjects/HelloInjectionImpl$$injectionActivator.java
  inject/tests/runtime/src/test/java/io/helidon/inject/runtime/testsubjects/InjectionWorldImpl$$injectionActivator.java
  integrations/micrometer/micrometer/pom.xml
  security/abac/role/src/main/java/module-info.java
  security/providers/abac/pom.xml
  security/providers/abac/src/main/java/module-info.java
  security/providers/jwt/pom.xml
  security/providers/jwt/src/main/java/module-info.java
  webserver/security/src/main/java/module-info.java
  webserver/webserver/pom.xml
  webserver/webserver/src/main/java/module-info.java
Labels: OCA Verified

#7789 4.x: Metrics and OpenAPI have permitAll by default
  CHANGELOG.md
  archetypes/helidon/src/main/archetype/common/observability.xml
  examples/cors/src/main/resources/application.yaml
  examples/metrics/exemplar/src/main/resources/application.yaml
  examples/metrics/filtering/se/src/main/resources/application.yaml
  examples/metrics/http-status-count-se/src/main/resources/application.yaml
  examples/metrics/http-status-count-se/src/test/resources/application.yaml
  examples/metrics/kpi/src/main/resources/application.yaml
  examples/openapi/src/main/resources/application.yaml
  examples/quickstarts/helidon-quickstart-se/src/main/resources/application.yaml
  examples/quickstarts/helidon-standalone-quickstart-se/src/main/resources/application.yaml
  integrations/openapi-ui/src/test/java/io/helidon/integrations/openapi/ui/OpenApiUiTest.java
  metrics/api/src/main/java/io/helidon/metrics/api/MetricsConfigBlueprint.java
  metrics/trace-exemplar/pom.xml
  metrics/trace-exemplar/src/main/resources/application.yaml
  metrics/trace-exemplar/src/test/java/io/helidon/metrics/exemplartrace/ExemplarTest.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/MetricsCdiExtension.java
  microprofile/openapi/src/main/java/io/helidon/microprofile/openapi/OpenApiCdiExtension.java
  openapi/openapi/src/main/java/io/helidon/openapi/OpenApiFeatureConfigBlueprint.java
  openapi/openapi/src/test/java/io/helidon/openapi/OpenApiFeatureTest.java
  openapi/tests/gh-5792/src/test/java/io/helidon/openapi/tests/yamlparsing/SnakeYAMLV1Test.java
  tests/apps/bookstore/bookstore-se/src/main/resources/application.yaml
  tests/integration/dbclient/app/src/main/resources/common.yaml
  tests/integration/native-image/mp-1/mp-config.yaml
  webserver/tests/observe/observe/src/test/resources/application.yaml
Labels: 4.x, OCA Verified

#7785 4.x: LRA doc update
  docs/mp/lra.adoc
Labels: OCA Verified

#7804 4.x: WebClient config
  webclient/api/src/main/java/io/helidon/webclient/api/Proxy.java
  webclient/http2/src/main/java/io/helidon/webclient/http2/Http2ProtocolConfigProvider.java
  webclient/http2/src/main/java/module-info.java
  webclient/tests/http2/src/test/java/io/helidon/webclient/tests/http2/ProtocolConfigTest.java
  webclient/tests/http2/src/test/resources/protocol-config-test.yaml
  webclient/tests/webclient/src/test/java/io/helidon/webclient/tests/ProxySetupTest.java
  webclient/tests/webclient/src/test/resources/proxy-setup-test.yaml
Labels: bug, webclient, 4.x, OCA Verified

#7730 4.x: Security doc update
  docs/includes/security/providers/abac.adoc
  docs/includes/security/providers/http-basic-auth.adoc
  docs/mp/guides/security-oidc.adoc
  docs/se/guides/security-oidc.adoc
  docs/se/security/containers-integration.adoc
  docs/se/security/extensibility.adoc
  docs/se/security/introduction.adoc
  docs/se/security/providers.adoc
Labels: OCA Verified

#7803 4.x: Archetypes can be launched on module path
  archetypes/helidon/src/main/archetype/common/extra.xml
  archetypes/helidon/src/main/archetype/common/files/application.abac.yaml
  archetypes/helidon/src/main/archetype/common/files/application.jwt.yaml
  archetypes/helidon/src/main/archetype/common/files/src/main/java/module-info.java.mustache
  archetypes/helidon/src/main/archetype/common/files/src/main/resources/signing-jwk.json
  archetypes/helidon/src/main/archetype/common/files/src/main/resources/verifying-jwk.json
  archetypes/helidon/src/main/archetype/common/media.xml
  archetypes/helidon/src/main/archetype/common/observability.xml
  archetypes/helidon/src/main/archetype/common/security.xml
  archetypes/helidon/src/main/archetype/mp/custom/custom-mp.xml
  archetypes/helidon/src/main/archetype/mp/custom/database.xml
  archetypes/helidon/src/main/archetype/mp/custom/observability.xml
  archetypes/helidon/src/main/archetype/mp/database/database-mp.xml
  archetypes/helidon/src/main/archetype/mp/quickstart/quickstart-mp.xml
  archetypes/helidon/src/main/archetype/se/common/common-se.xml
  archetypes/helidon/src/main/archetype/se/custom/custom-se.xml
  archetypes/helidon/src/main/archetype/se/custom/database.xml
  archetypes/helidon/src/main/archetype/se/custom/extra.xml
  archetypes/helidon/src/main/archetype/se/custom/observability.xml
  archetypes/helidon/src/main/archetype/se/custom/security.xml
  archetypes/helidon/src/main/archetype/se/quickstart/quickstart-se.xml
  microprofile/oidc/src/main/java/module-info.java
Labels: archetypes, 4.x, OCA Verified

#7807 4.x update readme
  README.md
Labels: docs, 4.x, OCA Verified

#7808 Doc updates for CORS in 4.0
  docs/se/cors.adoc
Labels: OCA Verified

#7779 Update changelog in preparation for 4.0.0-RC2
  CHANGELOG.md
Labels: 4.x, OCA Verified

#6659 Multitenant OIDC support added to the documentation
  docs/config/io_helidon_security_providers_oidc_OidcProvider.adoc
  docs/config/io_helidon_security_providers_oidc_common_OidcConfig.adoc
  docs/includes/security/providers/oidc.adoc
  security/providers/oidc-common/src/main/java/io/helidon/security/providers/oidc/common/OidcConfig.java
Labels: docs, OCA Verified

#7810 [4.x] Re-enables tests/functional/request-scope/TenantTest.java
  tests/functional/request-scope/src/test/java/io/helidon/tests/functional/requestscope/TenantTest.java
Labels: P2, testing, 4.x, OCA Verified

#7815 4.x: archetypes fix duplicated dependencies in generated code
  archetypes/helidon/src/main/archetype/common/extra.xml
  archetypes/helidon/src/main/archetype/common/media-sources.xml
  archetypes/helidon/src/main/archetype/common/observability.xml
  archetypes/helidon/src/main/archetype/common/sources.xml
  archetypes/helidon/src/main/archetype/mp/custom/custom-mp.xml
  archetypes/helidon/src/main/archetype/mp/custom/database.xml
  archetypes/helidon/src/main/archetype/se/custom/database.xml
Labels: archetypes, 4.x, OCA Verified

#7820 4.x: Upgrade Netty to 4.1.100.Final
  dependencies/pom.xml
Labels: dependencies, 4.x, OCA Verified

#7822 4.x: GL64 Rapid Reset
  http/http2/src/main/java/io/helidon/http/http2/Http2Stream.java
  webclient/http2/src/main/java/io/helidon/webclient/http2/Http2ClientStream.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2ConfigBlueprint.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2Connection.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2ServerStream.java
Labels: OCA Verified

#7825 4.x: archetype update se flavor description
  archetypes/helidon/src/main/archetype/flavor.xml
Labels: archetypes, 4.x, OCA Verified

#7816 [4.x] JWT Auth configuration properties updated
  docs/config/io_helidon_microprofile_jwt.adoc
Labels: OCA Verified

#7819 2.x: Upgrade Netty to 4.1.100.Final
  dependencies/pom.xml
  webserver/webserver/src/main/resources/META-INF/native-image/io.helidon.webserver/helidon-webserver/native-image.properties
Labels: 2.x, dependencies, OCA Verified

#7833 4.x: Upgrade kafka-clients to 3.6.0
  dependencies/pom.xml
Labels: dependencies, messaging, 4.x, OCA Verified

#7813 [4.x] [Doc] - Tracing documentation
  docs/images/guides/12_tracing_detail.png
  docs/images/guides/12_tracing_detail_2_services.png
  docs/images/guides/12_tracing_detail_2a_services.png
  docs/images/guides/12_tracing_getmessage.png
  docs/images/guides/12_tracing_refresh.png
  docs/images/guides/12_tracing_se_detail.png
  docs/images/guides/12_tracing_se_detail_2_services.png
  docs/images/guides/12_tracing_se_refresh.png
  docs/images/guides/12_tracing_se_span_detail.png
  docs/images/guides/12_tracing_se_top.png
  docs/images/guides/12_tracing_se_top_2_services.png
  docs/images/guides/12_tracing_span_detail.png
  docs/images/guides/12_tracing_top.png
  docs/images/guides/12_tracing_top_2_services.png
  docs/includes/tracing/common-config.adoc
  docs/includes/tracing/tracer-jaeger.adoc
  docs/mp/guides/tracing.adoc
  docs/mp/tracing.adoc
  docs/se/guides/tracing.adoc
  docs/se/tracing.adoc
Labels: docs, tracing, 4.x, OCA Verified

#7835 4.x: Suppress plexus FPs
  etc/dependency-check-suppression.xml
Labels: 4.x, OCA Verified

#7834 Refreshes persistence.adoc for Helidon 4.x
  docs/mp/persistence.adoc
Labels: docs, P2, jpa/jta, 4.x, OCA Verified

#7839 4.x: remove Jenkinsfile
  Jenkinsfile
Labels: build, OCA Verified

#7812 Update webclient documentation
  docs/se/webclient.adoc
Labels: OCA Verified

#7823 Updated OpenAPI and OpenAPI UI doc for 4.0
  docs/includes/openapi/openapi-ui.adoc
  docs/includes/openapi/openapi.adoc
  docs/mp/openapi/openapi.adoc
  docs/se/openapi.adoc
  docs/se/openapi/openapi-ui.adoc
  docs/se/openapi/openapi.adoc
Labels: OCA Verified

#7828 Health doc updates
  docs/mp/guides/health.adoc
  docs/mp/health.adoc
  docs/se/guides/health.adoc
  docs/se/health.adoc
Labels: OCA Verified

#7841 1.x: remove Jenkinsfile
  Jenkinsfile
Labels: build, 1.x, OCA Verified

#7840 2.x: remove Jenkinsfile
  Jenkinsfile
Labels: build, 2.x, OCA Verified

#7846 4.x: Fix Archetype native-image.properties path
  archetypes/helidon/src/main/archetype/common/files/src/main/resources/META-INF/native-image/groupid/artifactid/native-image.properties.mustache
Labels: graal, native-image, archetypes, 4.x, OCA Verified

#7845 6456 webclient doc part2 4.x
  docs/se/webclient.adoc
Labels: OCA Verified

#7849 Restore percentile and bucket data to JSON metrics output
  webserver/observe/metrics/src/main/java/io/helidon/webserver/observe/metrics/JsonFormatter.java
Labels: OCA Verified

#7809 Update to gRPC documentation for Helidon 4
  docs/includes/attributes.adoc
  docs/includes/grpc-marshalling.adoc
  docs/mp/aot.adoc
  docs/mp/grpc/client.adoc
  docs/mp/grpc/server.adoc
  docs/mp/guides/tracing.adoc
  docs/mp/tracing.adoc
  docs/se/aot.adoc
  docs/se/grpc/client.adoc
  docs/se/grpc/server.adoc
  docs/se/guides/tracing.adoc
  docs/se/guides/upgrade_3x.adoc
  docs/se/tracing.adoc
Labels: docs, grpc, OCA Verified

#7847 Update Helidon Webclient Guide documentation
  docs/se/guides/webclient.adoc
Labels: OCA Verified

#7837 4.x: Messaging doc update
  docs/mp/lra.adoc
  docs/mp/reactivemessaging/aq.adoc
  docs/mp/reactivemessaging/introduction.adoc
  docs/mp/reactivemessaging/jms.adoc
  docs/mp/reactivemessaging/kafka.adoc
  docs/mp/reactivemessaging/mock.adoc
  docs/mp/reactivemessaging/weblogic.adoc
  docs/se/reactive-messaging.adoc
Labels: docs, 4.x, OCA Verified

#7844 4.x: Fix DbClient JSON mapping
  dbclient/dbclient/src/main/java/io/helidon/dbclient/DbColumn.java
  dbclient/jsonp/pom.xml
  dbclient/jsonp/src/test/java/io/helidon/dbclient/jsonp/JsonProcessingMapperTest.java
Labels: 4.x, OCA Verified

#7858 4.x json metadata fix
  docs/includes/guides/metrics.adoc
  docs/mp/guides/metrics.adoc
  docs/se/guides/metrics.adoc
  webserver/observe/metrics/src/main/java/io/helidon/webserver/observe/metrics/MetricsFeature.java
Labels: OCA Verified

#7832 Removes two disabled tests in tests/integration/security/path-params per direction
  tests/integration/security/path-params/src/test/java/io/helidon/tests/integration/security/pathparams/AdminTest.java
Labels: security, P2, testing, 4.x, OCA Verified

#7836 3.x: Upgrade kafka-clients and okhttp
  dependencies/pom.xml
  grpc/server/pom.xml
  tracing/jaeger/pom.xml
Labels: dependencies, messaging, 3.x, OCA Verified

#7860 4.x: Archetype fix application yaml test and some unused import
  applications/se/pom.xml
  archetypes/helidon/src/main/archetype/common/common.xml
  archetypes/helidon/src/main/archetype/common/extra.xml
  archetypes/helidon/src/main/archetype/common/files/application.abac.yaml
  archetypes/helidon/src/main/archetype/common/media.xml
  archetypes/helidon/src/main/archetype/common/observability.xml
  archetypes/helidon/src/main/archetype/common/packaging.xml
  archetypes/helidon/src/main/archetype/common/security.xml
  archetypes/helidon/src/main/archetype/mp/common/common-mp.xml
  archetypes/helidon/src/main/archetype/mp/common/files/src/test/resources/application-test.yaml.mustache
  archetypes/helidon/src/main/archetype/se/common/common-se.xml
  archetypes/helidon/src/main/archetype/se/common/files/src/test/resources/application-test.yaml.mustache
  archetypes/helidon/src/main/archetype/se/custom/database.xml
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/WebClientMain.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/observability.xml
  archetypes/helidon/src/main/archetype/se/database/files/src/main/java/__pkg__/PokemonMapper.java.mustache
Labels: archetypes, 4.x, OCA Verified

#7859 4.x: AOT update, remove aot site, update guides for native image
  docs/includes/guides/graalnative.adoc
  docs/mp/aot.adoc
  docs/se/aot.adoc
  docs/se/introduction.adoc
  docs/sitegen.yaml
Labels: docs, OCA Verified

#7817 Update to WebServer documentation for Helidon 4
  builder/api/src/main/java/io/helidon/builder/api/Prototype.java
  config/metadata-processor/src/main/java/io/helidon/config/metadata/processor/ConfiguredAnnotation.java
  docs/config/config_reference.adoc
  docs/config/io_helidon_metrics_api_MetricsConfig.adoc
  docs/config/io_helidon_openapi_OpenApiFeature.adoc
  docs/config/io_helidon_webserver_ConnectionConfig.adoc
  docs/config/io_helidon_webserver_ListenerConfig.adoc
  docs/config/io_helidon_webserver_WebServer.adoc
  docs/config/io_helidon_webserver_accesslog_AccessLogConfig.adoc
  docs/config/io_helidon_webserver_accesslog_AccessLogFeature.adoc
  docs/config/io_helidon_webserver_context_ContextFeature.adoc
  docs/config/io_helidon_webserver_cors_CorsConfig.adoc
  docs/config/io_helidon_webserver_cors_CorsFeature.adoc
  docs/config/io_helidon_webserver_observe_ObserveFeature.adoc
  docs/config/io_helidon_webserver_observe_metrics_MetricsObserver.adoc
  docs/config/io_helidon_webserver_security_SecurityFeature.adoc
  docs/includes/attributes.adoc
  docs/includes/server/access-log-config-common.adoc
  docs/mp/server.adoc
  docs/se/webserver.adoc
  webserver/access-log/src/main/java/io/helidon/webserver/accesslog/AccessLogConfigBlueprint.java
  webserver/context/src/main/java/io/helidon/webserver/context/ContextFeature.java
  webserver/context/src/main/java/io/helidon/webserver/context/ContextFeatureConfigBlueprint.java
  webserver/context/src/main/java/io/helidon/webserver/context/ContextFeatureProvider.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/CorsConfigBlueprint.java
  webserver/observe/observe/src/main/java/io/helidon/webserver/observe/ObserveFeatureConfigBlueprint.java
  webserver/security/src/main/java/io/helidon/webserver/security/SecurityFeatureConfigBlueprint.java
  webserver/webserver/src/main/java/io/helidon/webserver/ConnectionConfigBlueprint.java
  webserver/webserver/src/main/java/io/helidon/webserver/ListenerConfigBlueprint.java
Labels: docs, webserver, OCA Verified

#7863 4.x: Updates for MP upgrade guide
  docs/about/doc_overview.adoc
  docs/mp/guides/upgrade_4x.adoc
Labels: docs, 4.x, OCA Verified

#7866 [4.x] - Fix java.lang.ClassNotFoundException: io.helidon.logging.jul.HelidonConsoleHandler in Examples
  examples/cors/pom.xml
  examples/integrations/micrometer/mp/pom.xml
  examples/integrations/neo4j/pom.xml
  examples/jbatch/pom.xml
  examples/metrics/exemplar/pom.xml
  examples/metrics/filtering/mp/pom.xml
  examples/metrics/filtering/se/pom.xml
  examples/metrics/http-status-count-se/pom.xml
  examples/metrics/kpi/pom.xml
  examples/microprofile/bean-validation/pom.xml
  examples/microprofile/hello-world-implicit/pom.xml
  examples/microprofile/http-status-count-mp/pom.xml
  examples/microprofile/multipart/pom.xml
  examples/microprofile/multiport/pom.xml
  examples/microprofile/openapi/pom.xml
  examples/microprofile/tls/pom.xml
  examples/microprofile/websocket/pom.xml
  examples/openapi/pom.xml
  examples/quickstarts/helidon-quickstart-mp/pom.xml
  examples/quickstarts/helidon-standalone-quickstart-mp/pom.xml
  examples/security/basic-auth-with-static-content/pom.xml
  examples/security/google-login/pom.xml
  examples/security/webserver-digest-auth/pom.xml
  examples/todo-app/backend/pom.xml
  examples/translator-app/frontend/pom.xml
  examples/webserver/imperative/pom.xml
  examples/webserver/multiport/pom.xml
  examples/webserver/mutual-tls/pom.xml
  examples/webserver/streaming/pom.xml
  examples/webserver/tls/pom.xml
  examples/webserver/tracing/pom.xml
  examples/webserver/tutorial/pom.xml
  examples/webserver/websocket/pom.xml
  lra/coordinator/server/pom.xml
  tests/integration/mp-bean-validation/pom.xml
Labels: bug, 4.x, OCA Verified

#7868 Remove commented-out code
  http/http/src/main/java/io/helidon/http/RequestedUriDiscoveryContext.java
Labels: OCA Verified

#7864 DOCS: 4.x Final updates intros
  docs/about/kubernetes.adoc
  docs/about/windows.adoc
  docs/mp/beanvalidation.adoc
  docs/se/introduction.adoc
Labels: docs, OCA Verified

#7869 4:x UriQueryEmpty + NoSuchElementException
  common/uri/src/main/java/io/helidon/common/uri/UriQueryEmpty.java
Labels: 4.x, OCA Verified

#7871 Docs updates: fix github links, microprofile version, SE upgrade guide
  docs/includes/attributes.adoc
  docs/includes/security/providers/http-basic-auth.adoc
  docs/includes/security/providers/http-signatures.adoc
  docs/includes/security/providers/provider-template.adoc
  docs/mp/graphql.adoc
  docs/se/guides/upgrade_4x.adoc
  docs/se/observability.adoc
Labels: docs, 4.x, OCA Verified

#7872 4.x: Update build-tools to 4.0.0
  applications/parent/pom.xml
  examples/quickstarts/helidon-standalone-quickstart-mp/pom.xml
  examples/quickstarts/helidon-standalone-quickstart-se/pom.xml
  pom.xml
Labels: dependencies, 4.x, OCA Verified

#7874 4.x: Update dbclient docs
  docs/se/dbclient.adoc
  docs/se/guides/dbclient.adoc
  examples/dbclient/pokemons/src/main/resources/Pokemons.json
Labels: docs, DB client, OCA Verified

#7862 1.x upgrade netty to 4.1.100.Final
  dependencies/pom.xml
  etc/dependency-check-suppression.xml
Labels: 1.x, dependencies, OCA Verified

#7878 3.x: Upgrade OCI SDK. Remove work-around for oci-sdk-bom issue
  dependencies/pom.xml
Labels: dependencies, 3.x, OCA Verified

#7879 3.x: Update CHANGELOG for 3.2.3 release
  CHANGELOG.md
Labels: 3.x, OCA Verified

#7880 2.x: Prepare release workflow for 2.x release
  .github/workflows/release.yaml
Labels: 2.x, OCA Verified

#7861 2.x dep upgrades
  dependencies/pom.xml
  etc/dependency-check-suppression.xml
  grpc/server/pom.xml
  tests/integration/kafka/pom.xml
  tracing/jaeger/pom.xml
Labels: 2.x, dependencies, OCA Verified

#7883 [2.x] Upgrades OCI to version 3.x
  dependencies/pom.xml
  examples/integrations/cdi/oci-objectstorage/pom.xml
  examples/integrations/oci/atp-cdi/src/main/java/io/helidon/examples/integrations/oci/atp/cdi/AtpResource.java
  integrations/oci/sdk/cdi/pom.xml
  integrations/oci/sdk/cdi/src/main/java/io/helidon/integrations/oci/sdk/cdi/OciExtension.java
  integrations/oci/sdk/cdi/src/main/java/module-info.java
  integrations/oci/sdk/cdi/src/test/java/io/helidon/integrations/oci/sdk/cdi/TestSpike.java
Labels: MP, P3, jax-rs, 2.x, dependencies, OCI, java, OCA Verified, jersey

#7887 [4.x] [Doc] Minor fixes in SE Tracing documentation
  docs/se/tracing.adoc
Labels: docs, 4.x, OCA Verified

#7894 Update README and CHANGELOG for 4.0.0 release
  CHANGELOG.md
  README.md
Labels: 4.x, OCA Verified

#7895 3.x: Fix #7783: max-payload-size is parsed as an Integer
  webserver/webserver/src/main/java/io/helidon/webserver/SocketConfiguration.java
  webserver/webserver/src/test/java/io/helidon/webserver/MaxPayloadSizeTest.java
Labels: webserver, 3.x, OCA Verified

#7897 2.x: Fix #7783: max-payload-size is parsed as an Integer
  webserver/webserver/src/main/java/io/helidon/webserver/SocketConfiguration.java
  webserver/webserver/src/test/java/io/helidon/webserver/MaxPayloadSizeTest.java
Labels: webserver, 2.x, OCA Verified

#7898 3.x: Upgrade log4j to 2.21.1 . Use log4j-bom
  dependencies/pom.xml
Labels: dependencies, 3.x, logging, OCA Verified

#7900 4.x: Upgrade log4j to 2.21.1 . Use log4j-bom
  dependencies/pom.xml
Labels: dependencies, logging, 4.x, OCA Verified

#7899 2.x: Upgrade log4j to 2.21.1 . Use log4j-bom
  dependencies/pom.xml
Labels: 2.x, dependencies, logging, OCA Verified

#7890 4.x: WS disconnect
  webserver/websocket/src/main/java/io/helidon/webserver/websocket/WsConnection.java
Labels: OCA Verified

#7891 4.x: SSE doc maven coordinates
  docs/se/sse/sse.adoc
Labels: docs, OCA Verified

#7888 [3.x] [Dox] - Fix custom span in docs
  docs/se/tracing.adoc
Labels: docs, 3.x, OCA Verified

#7910 Upgrade gradle guide and examples
  docs/includes/guides/gradle-build.adoc
  examples/quickstarts/helidon-quickstart-mp/build.gradle
  examples/quickstarts/helidon-quickstart-se/build.gradle
Labels: docs, examples, gradle, 4.x, OCA Verified
