Repository helidon-io/helidon, pull requests merged in 2023-04, with the labels that each got.

#6509 Wrap underlying output stream with a buffered one whose buffer size is configurable
  examples/microprofile/http-status-count-mp/src/test/java/io/helidon/examples/mp/httpstatuscount/StatusResource.java
  nima/http/encoding/deflate/src/main/java/io/helidon/nima/http/encoding/deflate/DeflateEncodingProvider.java
  nima/http/encoding/encoding/src/main/java/io/helidon/nima/http/encoding/spi/ContentEncodingProvider.java
  nima/http/encoding/gzip/src/main/java/io/helidon/nima/http/encoding/gzip/GzipEncodingProvider.java
  nima/tests/integration/webclient/webclient/src/test/java/io/helidon/nima/webclient/http1/ClientRequestImplTest.java
  nima/tests/integration/webserver/webserver/src/test/java/io/helidon/nima/tests/integration/server/ErrorHandlingWithOutputStreamTest.java
  nima/webserver/webserver/src/main/java/io/helidon/nima/webserver/ListenerConfiguration.java
  nima/webserver/webserver/src/main/java/io/helidon/nima/webserver/WebServer.java
  nima/webserver/webserver/src/main/java/io/helidon/nima/webserver/http1/Http1ServerResponse.java
  nima/webserver/webserver/src/test/java/io/helidon/nima/webserver/ListenerConfigTest.java
  nima/webserver/webserver/src/test/resources/application.yaml
Labels: webserver, 4.x, OCA Verified

#6492 Add option to disable DNS Resolver for WebClient
  webclient/webclient/pom.xml
  webclient/webclient/src/main/java/io/helidon/webclient/DnsResolverType.java
  webclient/webclient/src/main/java/io/helidon/webclient/WebClientRequestBuilderImpl.java
  webclient/webclient/src/test/java/io/helidon/webclient/DnsResolverTest.java
Labels: OCA Verified

#6482 [3.x] Unauthenticated status code fix
  security/integration/grpc/src/main/java/io/helidon/security/integration/grpc/GrpcSecurityHandler.java
  security/integration/grpc/src/test/java/io/helidon/security/integration/grpc/OutboundSecurityIT.java
  security/integration/grpc/src/test/java/io/helidon/security/integration/grpc/SecurityFromConfigIT.java
  security/integration/grpc/src/test/java/io/helidon/security/integration/grpc/ServiceAndMethodLevelSecurityIT.java
  security/integration/grpc/src/test/resources/application.yaml
Labels: OCA Verified

#6556 Fixed problem in AUTO_FLUSH backpressure strategy
  microprofile/server/src/test/java/io/helidon/microprofile/server/AutoFlushTest.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerResponseSubscription.java
Labels: bug, 3.x, OCA Verified

#6569 4.x supress graphql-data-loader and maven-artifact-manager false positives. OCI SDK upgrade.
  dependencies/pom.xml
  etc/dependency-check-suppression.xml
  pom.xml
Labels: dependencies, 4.x, OCA Verified

#6563 3.x supress graphql-data-loader false positive
  etc/dependency-check-suppression.xml
  integrations/vault/README.md
  pom.xml
Labels: dependencies, 3.x, OCA Verified

#6568 2.x supress graphql-data-loader false positive
  etc/dependency-check-suppression.xml
  pom.xml
Labels: 2.x, dependencies, OCA Verified

#6564 Níma: Added shortcut methods for registering `MediaSupport`
  nima/http/media/media/src/main/java/io/helidon/nima/http/media/MediaContext.java
  nima/http/media/media/src/main/java/io/helidon/nima/http/media/MediaContextImpl.java
  nima/webserver/webserver/src/main/java/io/helidon/nima/webserver/WebServer.java
  nima/webserver/webserver/src/test/java/io/helidon/nima/webserver/WebServerConfigTest.java
Labels: media-support, 4.x, Níma, OCA Verified

#6577 4.x: Update bookstore test for Nima to add jsonb and jackson media
  tests/apps/bookstore/bookstore-nima/pom.xml
  tests/apps/bookstore/bookstore-nima/src/main/java/io/helidon/tests/apps/bookstore/nima/Main.java
  tests/apps/bookstore/bookstore-nima/src/main/java/module-info.java
  tests/functional/bookstore/src/test/java/io/helidon/tests/bookstore/MainTest.java
Labels: 4.x, OCA Verified

#6571 Renamed receive() method to onMessage() in WsListener
  examples/nima/protocols/src/main/java/io/helidon/examples/nima/protocols/ProtocolsMain.java
  microprofile/websocket/src/main/java/io/helidon/microprofile/tyrus/TyrusConnection.java
  nima/testing/junit5/websocket/src/test/java/io/helidon/nima/testing/junit5/websocket/WsSocketAbstractTestingTest.java
  nima/tests/integration/websocket/server/src/main/java/io/helidon/nima/tests/integration/websocket/webserver/EchoService.java
  nima/tests/integration/websocket/server/src/main/java/io/helidon/nima/tests/integration/websocket/webserver/WsConversationService.java
  nima/tests/integration/websocket/server/src/test/java/io/helidon/nima/tests/integration/websocket/webserver/WebSocketOriginTest.java
  nima/websocket/client/src/main/java/io/helidon/nima/websocket/client/ClientWsConnection.java
  nima/websocket/webserver/src/main/java/io/helidon/nima/websocket/webserver/WsConnection.java
  nima/websocket/websocket/src/main/java/io/helidon/nima/websocket/WsListener.java
  tests/integration/native-image/nima-1/src/main/java/io/helidon/tests/integration/nativeimage/nima1/WebSocketEndpoint.java
Labels: websocket, 4.x, OCA Verified

#6578 New document describing the client and server WebSocket APIs in Nima
  docs/nima/websocket.adoc
Labels: docs, websocket, 4.x, OCA Verified

#6585 Re-enables ServerTest.java in nima/openapi
  nima/openapi/pom.xml
  nima/openapi/src/test/java/io/helidon/nima/openapi/ServerTest.java
Labels: open-api, 4.x, OCA Verified

#6592 Add enum related config bean tests
  builder/tests/configbean/src/main/java/io/helidon/builder/config/testsubjects/EnumRelatedConfig.java
  builder/tests/configbean/src/test/java/io/helidon/builder/config/test/EnumRelatedConfigBeanTest.java
Labels: pico, OCA Verified

#6594 Reenables JerseyPropertiesTest.java in microprofile/server
  microprofile/server/src/test/java/io/helidon/microprofile/server/JerseyPropertiesTest.java
Labels: jax-rs, testing, 4.x, Níma, OCA Verified

#6595 4.x: Upgrade Jakarta Annotations to 2.1.1
  dependencies/pom.xml
Labels: dependencies, 4.x, OCA Verified

#6589 Pico ConfiguredBy services with abstract base
  pico/configdriven/processor/src/main/java/io/helidon/pico/configdriven/processor/ConfiguredByProcessor.java
  pico/configdriven/tests/configuredby/src/main/java/io/helidon/pico/configdriven/configuredby/test/AbstractConfiguredByTest.java
  pico/configdriven/tests/configuredby/src/main/java/io/helidon/pico/configdriven/configuredby/test/AbstractServiceBase.java
  pico/configdriven/tests/configuredby/src/main/java/io/helidon/pico/configdriven/configuredby/test/SomeConfiguredServiceWithAnAbstractBase.java
  pico/configdriven/tests/configuredby/src/main/java/io/helidon/pico/configdriven/configuredby/test/SomeServiceConfig.java
  pico/configdriven/tests/configuredby/src/main/java/io/helidon/pico/configdriven/configuredby/test/SomeServiceInterface.java
  pico/processor/src/main/java/io/helidon/pico/processor/BaseAnnotationProcessor.java
  pico/processor/src/main/java/io/helidon/pico/processor/PostConstructPreDestroyAnnotationProcessor.java
  pico/tests/resources-pico/src/test/java/io/helidon/pico/tests/pico/tbox/ToolBoxTest.java
  pico/tools/src/main/java/io/helidon/pico/tools/DefaultActivatorCreator.java
  pico/tools/src/main/java/io/helidon/pico/tools/DefaultInterceptorCreator.java
Labels: 4.x, pico, OCA Verified

#6582 Fix pico lookup method returning <T> from generic criteria
  pico/api/src/main/java/io/helidon/pico/api/Services.java
  pico/configdriven/tests/configuredby-application/src/test/java/io/helidon/pico/configdriven/configuredby/test/ApplicationConfiguredByTest.java
  pico/configdriven/tests/configuredby/src/main/java/io/helidon/pico/configdriven/configuredby/test/AbstractConfiguredByTest.java
  pico/maven-plugin/src/main/java/io/helidon/pico/maven/plugin/AbstractApplicationCreatorMojo.java
  pico/runtime/src/main/java/io/helidon/pico/runtime/DefaultServices.java
  pico/tests/resources-pico/src/test/java/io/helidon/pico/tests/pico/interceptor/InterceptorRuntimeTest.java
  pico/tests/resources-pico/src/test/java/io/helidon/pico/tests/pico/tbox/ToolBoxTest.java
  pico/tools/src/test/java/io/helidon/pico/tools/DefaultApplicationCreatorTest.java
Labels: 4.x, pico, OCA Verified

#6602 Upgrade Jakarta jsonb to 3.0.0 and jsonp to 2.1.1
  dependencies/pom.xml
Labels: dependencies, 4.x, OCA Verified

#6431 [2.x]: Use Hamcrest assertions instead of JUnit in security/providers/http-auth (#1749)
  security/providers/http-auth/src/test/java/io/helidon/security/providers/httpauth/CredentialPatternTest.java
Labels: OCA Verified

#6449 [3.x]: Use Hamcrest assertions instead of JUnit in jersey/client (#1749)
  jersey/client/src/test/java/io/helidon/jersey/client/ContextTest.java
Labels: OCA Verified

#6586 Support for different propagators for Jaeger OpenTelemetry integration.
  docs/config/io_helidon_tracing_jaeger_JaegerTracerBuilder.adoc
  tracing/jaeger/src/main/java/io/helidon/tracing/jaeger/JaegerTracerBuilder.java
  tracing/jaeger/src/test/java/io/helidon/tracing/jaeger/JaegerTracerBuilderTest.java
  tracing/jaeger/src/test/resources/application.yaml
Labels: tracing, 4.x, OCA Verified

#6597 Update documentation of composite provider flag.
  security/security/src/main/java/io/helidon/security/CompositeProviderFlag.java
Labels: docs, security, OCA Verified

#6593 Optional Builder methods should default to package private
  builder/builder/src/main/java/io/helidon/builder/Builder.java
  builder/processor-tools/src/main/java/io/helidon/builder/processor/tools/BodyContext.java
  builder/processor-tools/src/main/java/io/helidon/builder/processor/tools/DefaultBuilderCreatorProvider.java
  builder/tests/builder/src/main/java/io/helidon/builder/test/testsubjects/ChildInterfaceIsABuilder.java
  builder/tests/builder/src/main/java/io/helidon/builder/test/testsubjects/ParentOfParentInterfaceIsABuilder.java
  builder/tests/builder/src/test/java/io/helidon/builder/test/PickleBarrelTest.java
  pico/api/src/main/java/io/helidon/pico/api/CallingContext.java
  pico/api/src/main/java/io/helidon/pico/api/ElementInfo.java
  pico/api/src/main/java/io/helidon/pico/api/ServiceInfo.java
  pico/api/src/main/java/io/helidon/pico/api/ServiceInfoBasics.java
  pico/api/src/main/java/io/helidon/pico/spi/InjectionPlan.java
  pico/tools/src/main/java/io/helidon/pico/tools/CodeGenPaths.java
  pico/tools/src/main/java/io/helidon/pico/tools/GeneralCodeGenNames.java
Labels: OCA Verified

#6607 native-image configuration for Jackson in Helidon MP.
  integrations/graal/native-image-extension/src/main/resources/META-INF/native-image/io.helidon.integrations.graal/helidon-graal-native-image-extension/native-image.properties
  integrations/graal/native-image-extension/src/main/resources/META-INF/native-image/io.helidon.integrations.graal/helidon-graal-native-image-extension/reflect-config.json
Labels: OCA Verified

#6603 4.x: Upgrade Jakarta EL to 5.0.1
  dependencies/pom.xml
  microprofile/cdi/src/main/java/module-info.java
Labels: dependencies, 4.x, OCA Verified

#6612 Pico cfg driven with additional ctor injection points fix
  examples/nima/pico/src/test/java/io/helidon/examples/nima/pico/GreetEndpointTest.java
  pico/configdriven/runtime/src/main/java/io/helidon/pico/configdriven/runtime/AbstractConfiguredServiceProvider.java
  pico/runtime/src/main/java/io/helidon/pico/runtime/DefaultInjectionPlans.java
Labels: bug, pico, OCA Verified

#6584 Adds more classes as part of overall JPA refactoring effort
  integrations/cdi/jpa-cdi/etc/spotbugs/exclude.xml
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JtaAbsentDataSourceProvider.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JtaAdaptingDataSourceProvider.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JtaEntityManager.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JtaExtendedEntityManager.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JtaTransactionRegistry.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/JtaTransactionScoped.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/NoTransactionRegistry.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/PersistenceExtension.java
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/TransactionRegistry.java
  integrations/cdi/jpa-cdi/src/main/java/module-info.java
Labels: jpa/jta, 3.x, OCA Verified

#6590 All Pico services should default to a lesser than DEFAULT_WEIGHT
  builder/builder-config-processor/src/main/java/io/helidon/builder/config/processor/ConfigBeanBuilderCreator.java
  builder/builder-config/src/main/java/io/helidon/builder/config/spi/HelidonConfigResolver.java
  builder/processor-tools/src/main/java/io/helidon/builder/processor/tools/BuilderTypeTools.java
  builder/processor-tools/src/main/java/io/helidon/builder/processor/tools/DefaultBuilderCreatorProvider.java
  pico/api/src/main/java/io/helidon/pico/api/ServiceInfoBasics.java
  pico/configdriven/runtime/src/main/java/io/helidon/pico/configdriven/runtime/DefaultConfigBeanBuilderValidatorProvider.java
  pico/configdriven/runtime/src/main/java/io/helidon/pico/configdriven/runtime/DefaultConfigBeanRegistryProvider.java
  pico/configdriven/runtime/src/main/java/io/helidon/pico/configdriven/runtime/DefaultConfigResolverProvider.java
  pico/configdriven/runtime/src/main/java/io/helidon/pico/configdriven/runtime/DefaultStringValueParserProvider.java
  pico/runtime/src/main/java/io/helidon/pico/runtime/DefaultPicoServicesProvider.java
  pico/runtime/src/test/java/io/helidon/pico/runtime/testsubjects/HelloPicoImpl$$picoActivator.java
  pico/runtime/src/test/java/io/helidon/pico/runtime/testsubjects/PicoWorldImpl$$picoActivator.java
  pico/tools/src/main/java/io/helidon/pico/tools/DefaultActivatorCreator.java
  pico/tools/src/main/java/io/helidon/pico/tools/DefaultApplicationCreator.java
  pico/tools/src/main/java/io/helidon/pico/tools/DefaultExternalModuleCreator.java
  pico/tools/src/main/java/io/helidon/pico/tools/DefaultInterceptorCreator.java
Labels: 4.x, pico, OCA Verified

#6604 Update streaming example to use IoMulti
  examples/webserver/streaming/src/main/java/io/helidon/webserver/examples/streaming/ServerFileReader.java
  examples/webserver/streaming/src/main/java/io/helidon/webserver/examples/streaming/ServerFileWriter.java
  examples/webserver/streaming/src/main/java/io/helidon/webserver/examples/streaming/StreamingService.java
Labels: OCA Verified

#6621 Updated doc to reflect current support for FT thread pool properties
  docs/mp/fault-tolerance.adoc
Labels: docs, fault-tolerance, 3.x, OCA Verified

#6617 Upgrade to WebSocket 2.1 API
  dependencies/pom.xml
  microprofile/websocket/pom.xml
  reactive/webserver/websocket/pom.xml
Labels: dependencies, websocket, 4.x, OCA Verified

#6622 archetypes generating poorly formatted code
  archetypes/helidon/src/main/archetype/common/docker.xml
  archetypes/helidon/src/main/archetype/common/files/README.md.mustache
  archetypes/helidon/src/main/archetype/common/files/pom.xml.mustache
  archetypes/helidon/src/main/archetype/common/observability.xml
  archetypes/helidon/src/main/archetype/common/packaging.xml
  archetypes/helidon/src/main/archetype/mp/common/files/src/main/resources/META-INF/microprofile-config.properties.mustache
  archetypes/helidon/src/main/archetype/mp/common/files/src/main/resources/application.yaml.mustache
  archetypes/helidon/src/main/archetype/mp/common/files/src/main/resources/logging.properties.mustache
  archetypes/helidon/src/main/archetype/mp/common/files/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/SimpleGreetResource.java.json.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/SimpleGreetResource.java.jsonp.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/SimpleGreetResource.java.mustache
  archetypes/helidon/src/main/archetype/nima/common/files/src/main/java/__pkg__/Main.java.mustache
  archetypes/helidon/src/main/archetype/nima/common/files/src/main/resources/application.yaml.mustache
  archetypes/helidon/src/main/archetype/nima/common/files/src/test/java/__pkg__/AbstractMainTest.java.mustache
  archetypes/helidon/src/main/archetype/nima/common/files/src/test/resources/application.yaml.mustache
  archetypes/helidon/src/main/archetype/se/common/files/src/main/java/__pkg__/Main.java.mustache
  archetypes/helidon/src/main/archetype/se/common/files/src/main/resources/application.yaml.mustache
  archetypes/helidon/src/main/archetype/se/common/files/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/helidon/src/main/archetype/se/common/files/src/test/resources/application.yaml.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/SimpleGreetService.java.json.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/SimpleGreetService.java.jsonp.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/SimpleGreetService.java.mustache
Labels: archetypes, 4.x, OCA Verified

#6623 archetypes generating poorly formatted code
  archetypes/helidon/src/main/archetype/common/docker.xml
  archetypes/helidon/src/main/archetype/common/files/README.md.mustache
  archetypes/helidon/src/main/archetype/common/files/pom.xml.mustache
  archetypes/helidon/src/main/archetype/common/observability.xml
  archetypes/helidon/src/main/archetype/common/packaging.xml
  archetypes/helidon/src/main/archetype/mp/common/files/src/main/resources/META-INF/microprofile-config.properties.mustache
  archetypes/helidon/src/main/archetype/mp/common/files/src/main/resources/application.yaml.mustache
  archetypes/helidon/src/main/archetype/mp/common/files/src/main/resources/logging.properties.mustache
  archetypes/helidon/src/main/archetype/mp/common/files/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/SimpleGreetResource.java.json.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/SimpleGreetResource.java.jsonp.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/main/java/__pkg__/SimpleGreetResource.java.mustache
  archetypes/helidon/src/main/archetype/se/common/files/src/main/java/__pkg__/Main.java.mustache
  archetypes/helidon/src/main/archetype/se/common/files/src/main/resources/application.yaml.mustache
  archetypes/helidon/src/main/archetype/se/common/files/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/helidon/src/main/archetype/se/common/files/src/test/resources/application.yaml.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/SimpleGreetService.java.json.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/SimpleGreetService.java.jsonp.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/SimpleGreetService.java.mustache
Labels: 3.x, archetypes, OCA Verified

#6611 Support for different propagators for Jaeger OpenTelemetry
  docs/config/io_helidon_tracing_jaeger_JaegerTracerBuilder.adoc
  examples/microprofile/static-content/src/main/resources/META-INF/microprofile-config.properties
  tracing/jaeger/src/main/java/io/helidon/tracing/jaeger/JaegerTracerBuilder.java
  tracing/jaeger/src/test/java/io/helidon/tracing/jaeger/JaegerTracerBuilderTest.java
  tracing/jaeger/src/test/resources/application.yaml
Labels: 3.x, backport, OCA Verified

#6558 [Archetype] Add await timeout and replace thenAccept to forSingle
  archetypes/helidon/src/main/archetype/common/observability.xml
  archetypes/helidon/src/main/archetype/mp/custom/files/src/test/java/__pkg__/TestCORS.java.mustache
  archetypes/helidon/src/main/archetype/se/common/files/src/main/java/__pkg__/Main.java.mustache
  archetypes/helidon/src/main/archetype/se/common/files/src/test/java/__pkg__/MainTest.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/custom-tests.xml
  archetypes/helidon/src/main/archetype/se/custom/database.xml
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/FtService.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/WebClientMain.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/java/__pkg__/FileServiceTest.java.multipart.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/java/__pkg__/FtServiceTest.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/java/__pkg__/TestCORS.java.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/java/__pkg__/WebClientMainTest.java.mustache
  archetypes/helidon/src/main/archetype/se/database/files/src/main/java/__pkg__/InitializeDb.java.mustache
  archetypes/helidon/src/main/archetype/se/database/files/src/main/java/__pkg__/PokemonService.java.mustache
  archetypes/helidon/src/main/archetype/se/quickstart/files/src/main/java/__pkg__/GreetService.java.jsonp.mustache
  archetypes/helidon/src/main/archetype/se/quickstart/quickstart-tests.xml
Labels: 3.x, archetypes, OCA Verified

#6521 Create Github Action for helidon-2.x branch
  .github/workflows/validate.yml
  Jenkinsfile
  etc/scripts/github-build.sh
  etc/scripts/github-compile.sh
  etc/scripts/github-tck.sh
  etc/scripts/site.sh
  etc/scripts/spotbugs.sh
  etc/scripts/test-archetypes.sh
  etc/scripts/test-packaging-jar.sh
  etc/scripts/test-packaging-jlink.sh
  etc/scripts/test-packaging-native.sh
  examples/webserver/fault-tolerance/src/test/java/io/helidon/webserver/examples/faulttolerance/MainTest.java
Labels: build, 2.x, OCA Verified

#6500 Use GitHub Action for helidon-3.x branch
  .github/workflows/validate.yaml
  Jenkinsfile
  etc/scripts/github-build.sh
  etc/scripts/github-compile.sh
  etc/scripts/github-tck.sh
  etc/scripts/site.sh
  etc/scripts/spotbugs.sh
  etc/scripts/test-packaging-jar.sh
  etc/scripts/test-packaging-jlink.sh
  etc/scripts/test-packaging-native.sh
  examples/webserver/fault-tolerance/src/test/java/io/helidon/webserver/examples/faulttolerance/MainTest.java
  tests/integration/webclient/pom.xml
  tests/integration/webclient/src/test/java/io/helidon/tests/integration/webclient/TracingPropagationTest.java
  tests/integration/webclient/src/test/java/io/helidon/tests/integration/webclient/TracingTest.java
  tracing/tests/it-tracing-client-zipkin/src/test/java/io/helidon/tracing/tests/it1/OpentraceableClientFilterTest.java
Labels: build, 3.x, OCA Verified

#6539 Create Github Action for helidon-1.x branch
  .github/workflows/validate.yml
  Jenkinsfile
  etc/scripts/build.sh
  etc/scripts/github-build.sh
  etc/scripts/github-compile.sh
  etc/scripts/github-tck.sh
  etc/scripts/pipeline-env.sh
  etc/scripts/site.sh
  etc/scripts/spotbugs.sh
Labels: build, 1.x, OCA Verified

#6640 Issue 6634 fix - interceptor args
  pico/api/src/main/java/io/helidon/pico/api/Interceptor.java
  pico/runtime/src/main/java/io/helidon/pico/runtime/Invocation.java
  pico/tests/resources-pico/src/test/java/io/helidon/pico/tests/pico/interceptor/InterceptorRuntimeTest.java
  pico/tests/resources-pico/src/test/resources/expected/ximpl-interceptor._java_
  pico/tools/src/main/resources/templates/pico/default/interface-based-interceptor.hbs
  pico/tools/src/main/resources/templates/pico/default/no-arg-based-interceptor.hbs
Labels: OCA Verified

#6636 Update documentation of composite provider flag. (#6597)
  security/security/src/main/java/io/helidon/security/CompositeProviderFlag.java
Labels: docs, 2.x, backport, OCA Verified

#6638 [3.x]: Use Hamcrest assertions instead of JUnit in tests/integration/jms (#1749)
  tests/integration/jms/src/test/java/io/helidon/messaging/connectors/jms/AbstractMPTest.java
  tests/integration/jms/src/test/java/io/helidon/messaging/connectors/jms/AbstractSampleBean.java
  tests/integration/jms/src/test/java/io/helidon/messaging/connectors/jms/JmsSeTest.java
Labels: OCA Verified

#6503 [4.x]: Change provided and optional to just optional - iteration 1 (#6495)
  config/config/pom.xml
Labels: OCA Verified

#6609 Create file validations
  archetypes/helidon/pom.xml
Labels: 3.x, archetypes, OCA Verified

#6642 Pico interceptor arguments are now correctly handled.
  pico/runtime/src/main/java/io/helidon/pico/runtime/Invocation.java
  pico/tests/interception/pom.xml
  pico/tests/interception/src/main/java/io/helidon/pico/tests/interception/Invocation.java
  pico/tests/interception/src/main/java/io/helidon/pico/tests/interception/Modify.java
  pico/tests/interception/src/main/java/io/helidon/pico/tests/interception/ModifyingInterceptor.java
  pico/tests/interception/src/main/java/io/helidon/pico/tests/interception/Repeat.java
  pico/tests/interception/src/main/java/io/helidon/pico/tests/interception/RepeatingInterceptor.java
  pico/tests/interception/src/main/java/io/helidon/pico/tests/interception/Return.java
  pico/tests/interception/src/main/java/io/helidon/pico/tests/interception/ReturningInterceptor.java
  pico/tests/interception/src/main/java/io/helidon/pico/tests/interception/TheService.java
  pico/tests/interception/src/test/java/io/helidon/pico/tests/interception/InterceptionTest.java
  pico/tests/pom.xml
  pico/tests/resources-pico/src/test/resources/expected/ximpl-interceptor._java_
  pico/tests/resources-pico/src/test/resources/expected/yimpl-interceptor._java_
  pico/tools/src/main/resources/templates/pico/default/interface-based-interceptor.hbs
  pico/tools/src/main/resources/templates/pico/default/no-arg-based-interceptor.hbs
Labels: 4.x, pico, OCA Verified

#6643 [4.x]: Use Hamcrest assertions instead of JUnit in tests/integration/jms (#1749)
  tests/integration/jms/src/test/java/io/helidon/messaging/connectors/jms/AbstractMPTest.java
  tests/integration/jms/src/test/java/io/helidon/messaging/connectors/jms/AbstractSampleBean.java
  tests/integration/jms/src/test/java/io/helidon/messaging/connectors/jms/JmsSeTest.java
Labels: OCA Verified

#6645 [2.x]: Use Hamcrest assertions instead of JUnit in tests/integration/jms (#1749)
  tests/integration/jms/src/test/java/io/helidon/messaging/connectors/jms/AbstractMPTest.java
  tests/integration/jms/src/test/java/io/helidon/messaging/connectors/jms/AbstractSampleBean.java
  tests/integration/jms/src/test/java/io/helidon/messaging/connectors/jms/JmsSeTest.java
Labels: OCA Verified

#6652 ConfigBean not resolving config correctly
  pico/configdriven/runtime/src/main/java/io/helidon/pico/configdriven/runtime/AbstractConfiguredServiceProvider.java
  pico/configdriven/runtime/src/main/java/io/helidon/pico/configdriven/runtime/DefaultPicoConfigBeanRegistry.java
  pico/configdriven/tests/configuredby/src/main/java/io/helidon/pico/configdriven/configuredby/test/AbstractConfiguredByTest.java
Labels: config, pico, OCA Verified

#6635 Update documentation of composite provider flag. (#6597)
  security/security/src/main/java/io/helidon/security/CompositeProviderFlag.java
Labels: docs, 3.x, backport, OCA Verified

#6666 Switch metrics API jar scope to compile from provided
  microprofile/fault-tolerance/pom.xml
Labels: build, fault-tolerance, 3.x, OCA Verified

#6661 Move SnakeYAML log suppression to slightly earlier in the code path
  openapi/src/main/java/io/helidon/openapi/ParserHelper.java
Labels: OCA Verified

#6678 DOCS: Fix Openapi links issue 6605
  docs/includes/attributes.adoc
Labels: OCA Verified

#6684 Upgrades JPA to 3.1
  archetypes/helidon/src/main/archetype/mp/database/files/src/main/resources/META-INF/persistence.xml.mustache
  dependencies/pom.xml
  examples/integrations/cdi/jpa/src/main/resources/META-INF/persistence.xml
  examples/integrations/cdi/pokemons/src/main/resources/META-INF/persistence.xml
  integrations/cdi/eclipselink-cdi/src/test/resources/META-INF/persistence.xml
  integrations/cdi/jpa-cdi/src/main/java/io/helidon/integrations/cdi/jpa/PersistenceUnitInfoBean.java
  integrations/cdi/jpa-cdi/src/test/resources/META-INF/persistence.xml
  tests/integration/jpa/appl/src/main/resources/META-INF/persistence.xml
  tests/integration/jpa/simple/src/test/resources/META-INF/persistence.xml
  tests/integration/native-image/mp-2/src/main/resources/META-INF/persistence.xml
Labels: P3, jpa/jta, dependencies, 4.x, OCA Verified

#6682 Rename Pico Module
  nima/webserver/webserver/src/main/java/module-info.java
  pico/README.md
  pico/api/src/main/java/io/helidon/pico/api/Application.java
  pico/api/src/main/java/io/helidon/pico/api/ModuleComponent.java
  pico/api/src/main/java/io/helidon/pico/api/PicoServicesConfig.java
  pico/api/src/main/java/io/helidon/pico/api/ServiceProvider.java
  pico/api/src/main/java/io/helidon/pico/api/ServiceProviderBindable.java
  pico/maven-plugin/src/main/java/io/helidon/pico/maven/plugin/AbstractApplicationCreatorMojo.java
  pico/maven-plugin/src/main/java/io/helidon/pico/maven/plugin/AbstractCreatorMojo.java
  pico/maven-plugin/src/main/java/io/helidon/pico/maven/plugin/ExternalModuleCreatorMojo.java
  pico/runtime/src/main/java/io/helidon/pico/runtime/DefaultPicoServices.java
  pico/runtime/src/main/java/io/helidon/pico/runtime/DefaultServices.java
  pico/runtime/src/main/java/io/helidon/pico/runtime/PicoModuleServiceProvider.java
  pico/runtime/src/main/java/io/helidon/pico/runtime/ServiceUtils.java
  pico/runtime/src/main/java/module-info.java
  pico/runtime/src/test/java/io/helidon/pico/runtime/HelloPicoWorldSanityTest.java
  pico/runtime/src/test/java/io/helidon/pico/runtime/testsubjects/EmptyModule.java
  pico/runtime/src/test/java/io/helidon/pico/runtime/testsubjects/HelloPico$$Module.java
  pico/runtime/src/test/resources/META-INF/services/io.helidon.pico.api.ModuleComponent
  pico/tests/resources-pico/src/main/java/module-info.java
  pico/tests/resources-pico/src/test/java/io/helidon/pico/tests/pico/tbox/ToolBoxTest.java
  pico/tests/resources-pico/src/test/resources/expected/module-info.java._pico_
  pico/tests/resources-pico/src/test/resources/expected/tests-module-info.java._pico_
  pico/tools/src/main/java/io/helidon/pico/tools/ActivatorCreatorConfigOptions.java
  pico/tools/src/main/java/io/helidon/pico/tools/CodeGenFiler.java
  pico/tools/src/main/java/io/helidon/pico/tools/DefaultActivatorCreator.java
  pico/tools/src/main/java/io/helidon/pico/tools/DefaultApplicationCreator.java
  pico/tools/src/main/java/io/helidon/pico/tools/GeneralCodeGenNames.java
  pico/tools/src/main/java/io/helidon/pico/tools/ModuleDetail.java
  pico/tools/src/main/java/io/helidon/pico/tools/ModuleInfoCreatorRequest.java
  pico/tools/src/main/java/io/helidon/pico/tools/ModuleUtils.java
  pico/tools/src/main/java/io/helidon/pico/tools/ServicesToProcess.java
  pico/tools/src/main/java/io/helidon/pico/tools/TypeNames.java
  pico/tools/src/main/java/io/helidon/pico/tools/spi/ActivatorCreator.java
  pico/tools/src/main/resources/templates/pico/default/service-provider-module.hbs
  pico/tools/src/test/java/io/helidon/pico/tools/ModuleInfoDescriptorTest.java
  pico/tools/src/test/resources/testsubjects/m0._java_
Labels: pico, OCA Verified

#6685 Update grpc-java version to 1.54.1 and clean up grpc tests
  dependencies/pom.xml
  grpc/io.grpc/src/main/java/io/grpc/util/OutlierDetectionLoadBalancerProvider.java
  grpc/io.grpc/src/main/java/module-info.java
  grpc/server/src/test/java/io/helidon/grpc/server/SslIT.java
  grpc/server/src/test/java/io/helidon/grpc/server/TracingIT.java
  pom.xml
Labels: grpc, dependencies, 3.x, OCA Verified

#6689 3.x: update helidon-version-is-release in doc files when updating release to fix links
  etc/scripts/release.sh
Labels: docs, build, 3.x, OCA Verified

#6686 Some minor tweaks to the REST documentation
  docs/mp/jaxrs/application-configuration.adoc
  docs/mp/jaxrs/jaxrs-applications.adoc
  docs/mp/jaxrs/jaxrs-client.adoc
Labels: docs, 4.x, OCA Verified

#6665 RestClient and FT intergration changes
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/CommandInterceptor.java
  tests/integration/restclient/src/main/java/io/helidon/tests/integration/restclient/GreetResource.java
  tests/integration/restclient/src/main/java/io/helidon/tests/integration/restclient/GreetResourceClient.java
  tests/integration/restclient/src/main/java/io/helidon/tests/integration/restclient/GreetResourceProxy.java
  tests/integration/restclient/src/test/java/io/helidon/tests/integration/restclient/MainTest.java
Labels: fault-tolerance, rest-client, 3.x, integration, OCA Verified

#6637 Response should not be chunked if there is no entity
  webserver/webserver/src/main/java/io/helidon/webserver/BareResponseImpl.java
  webserver/webserver/src/test/java/io/helidon/webserver/PlainTest.java
Labels: OCA Verified

#6691 4.x: update helidon-version-is-release in doc files when updating version
  etc/scripts/release.sh
Labels: docs, build, 4.x, OCA Verified

#6694 2.x: Upgrade oci sdk to 2.60.1
  archetypes/oci-mp/src/main/resources/server/src/test/java/__pkg__/server/GreetResourceMockedTest.java.mustache
  dependencies/pom.xml
  integrations/oci/metrics/cdi/src/test/java/io/helidon/integrations/oci/metrics/cdi/OciMetricsCdiExtensionTest.java
Labels: 2.x, dependencies, OCI, OCA Verified

#6706 [3.x] Kafka bump up 2.8.1 > 3.4.0
  dependencies/pom.xml
  etc/dependency-check-suppression.xml
  messaging/connectors/kafka/src/main/resources/META-INF/native-image/io.helidon.messaging.connectors.kafka/jni-config.json
  messaging/connectors/kafka/src/main/resources/META-INF/native-image/io.helidon.messaging.connectors.kafka/native-image.properties
Labels: dependencies, messaging, OCA Verified

#6708 [4.x] Kafka bump up 2.8.1 > 3.4.0
  dependencies/pom.xml
  etc/dependency-check-suppression.xml
  messaging/connectors/kafka/src/main/resources/META-INF/native-image/io.helidon.messaging.connectors.kafka/jni-config.json
  messaging/connectors/kafka/src/main/resources/META-INF/native-image/io.helidon.messaging.connectors.kafka/native-image.properties
Labels: dependencies, messaging, OCA Verified

#6699 Use checkNested(Throwable) for req.next(Throwable)
  webserver/webserver/src/main/java/io/helidon/webserver/RequestRouting.java
  webserver/webserver/src/test/java/io/helidon/webserver/RoutingTest.java
Labels: OCA Verified

#6704 Use checkNested(Throwable) for req.next(Throwable)
  webserver/webserver/src/main/java/io/helidon/webserver/RequestRouting.java
  webserver/webserver/src/test/java/io/helidon/webserver/RoutingTest.java
Labels: OCA Verified

#6715 Update grpc-java to version 1.54.1
  dependencies/pom.xml
  grpc/io.grpc/src/main/java/io/grpc/util/OutlierDetectionLoadBalancerProvider.java
  grpc/io.grpc/src/main/java/module-info.java
  grpc/server/src/test/java/io/helidon/grpc/server/SslIT.java
  grpc/server/src/test/java/io/helidon/grpc/server/TracingIT.java
  pom.xml
Labels: 2.x, OCA Verified

#6693 Update grpc-java to version 1.54.1
  dependencies/pom.xml
  grpc/io.grpc/src/main/java/io/grpc/util/OutlierDetectionLoadBalancerProvider.java
  grpc/io.grpc/src/main/java/module-info.java
  grpc/server/src/test/java/io/helidon/grpc/server/SslIT.java
  grpc/server/src/test/java/io/helidon/grpc/server/TracingIT.java
  pom.xml
Labels: 4.x, OCA Verified

#6692 [3.x] - Add baggage to Helidon Span
  dependencies/pom.xml
  tracing/opentelemetry/src/main/java/io/helidon/tracing/opentelemetry/OpenTelemetrySpan.java
  tracing/opentelemetry/src/test/java/io/helidon/tracing/opentelemetery/BaggageTest.java
  tracing/opentracing/src/main/java/io/helidon/tracing/opentracing/OpenTracingSpan.java
  tracing/tracing/src/main/java/io/helidon/tracing/NoOpTracer.java
  tracing/tracing/src/main/java/io/helidon/tracing/Span.java
Labels: tracing, 3.x, OCA Verified

#6581 [4.x] - Add Baggage to Helidon Span
  dependencies/pom.xml
  tracing/jaeger/src/test/java/io/helidon/tracing/jaeger/JaegerBaggageTest.java
  tracing/opentelemetry/src/main/java/io/helidon/tracing/opentelemetry/OpenTelemetrySpan.java
  tracing/opentracing/src/main/java/io/helidon/tracing/opentracing/OpenTracingSpan.java
  tracing/tracing/src/main/java/io/helidon/tracing/NoOpTracer.java
  tracing/tracing/src/main/java/io/helidon/tracing/Span.java
Labels: MP, SE, tracing, 4.x, OCA Verified

#6721 Fix Helidon Archetype generates broken projects
  archetypes/helidon/filters.properties
  archetypes/helidon/src/main/archetype/common/extra.xml
  archetypes/helidon/src/main/archetype/common/observability.xml
  archetypes/helidon/src/main/archetype/mp/common/files/src/test/resources/META-INF/microprofile-config.properties.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/test/java/__pkg__/FileServiceTest.java.multipart.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/test/java/__pkg__/TestCORS.java.mustache
Labels: 3.x, archetypes, OCA Verified

#6722 Fix Helidon Archetype generates broken projects
  archetypes/helidon/filters.properties
  archetypes/helidon/src/main/archetype/common/extra.xml
  archetypes/helidon/src/main/archetype/common/observability.xml
  archetypes/helidon/src/main/archetype/mp/common/files/src/test/resources/META-INF/microprofile-config.properties.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/test/java/__pkg__/FileServiceTest.java.multipart.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/test/java/__pkg__/FtResourceTest.java.mustache
  archetypes/helidon/src/main/archetype/mp/custom/files/src/test/java/__pkg__/TestCORS.java.mustache
Labels: archetypes, 4.x, OCA Verified
