Repository helidon-io/helidon, pull requests merged in 2024-11, with the labels that each got.

#9456 Update jackson to 2.18.1
  dependencies/pom.xml
  etc/dependency-check-suppression.xml
Labels: dependencies, media-support, 4.x, OCA Verified

#9457 4.1.4: Fix doc bug about configuring metrics or health alternate port (#9438)
  docs/src/main/asciidoc/mp/server.adoc
Labels: docs, backport, 4.x, OCA Verified

#9460 Attempt to fix infinite await in Jersey output writer.
  microprofile/server/src/main/java/io/helidon/microprofile/server/JaxRsService.java
  webserver/webserver/src/main/java/io/helidon/webserver/http1/Http1ServerResponse.java
Labels: bug, 4.x, OCA Verified, jersey

#9462 4.1.4: Adds documentation for gRPC Client in SE.
  docs/src/main/asciidoc/se/grpc/client.adoc
  docs/src/main/java/io/helidon/docs/se/grpc/ClientSnippets.java
Labels: docs, backport, 4.x, OCA Verified

#9463 4.1.4: Adopt MP metrics 5.1.2
  dependencies/pom.xml
  microprofile/metrics/src/test/java/io/helidon/microprofile/metrics/CustomSnapshot.java
Labels: metrics, dependencies, backport, 4.x, OCA Verified, microprofile

#9464 4.1.4: Use replace instead of replaceAll for string replacement
  common/config/src/main/java/io/helidon/common/config/Config.java
  config/config/src/main/java/io/helidon/config/Config.java
Labels: backport, 4.x, OCA Verified

#9468 4.1.4: Attempt to fix infinite await in Jersey output writer
  microprofile/server/src/main/java/io/helidon/microprofile/server/JaxRsService.java
  webserver/webserver/src/main/java/io/helidon/webserver/http1/Http1ServerResponse.java
Labels: backport, 4.x, OCA Verified

#9466 4.1.4: clean up warning messages from archetype generated projects
  archetypes/archetypes/src/main/archetype/mp/common/files/src/main/resources/logging.properties.mustache
  openapi/openapi/src/main/java/io/helidon/openapi/OpenApiFeature.java
Labels: backport, 4.x, OCA Verified

#9467 4.1.4: Update jackson to 2.18.1
  dependencies/pom.xml
  etc/dependency-check-suppression.xml
Labels: json, dependencies, backport, 4.x, OCA Verified

#9469 URI Validation updates
  common/uri/src/main/java/io/helidon/common/uri/UriFragment.java
  common/uri/src/main/java/io/helidon/common/uri/UriQuery.java
  common/uri/src/main/java/io/helidon/common/uri/UriQueryImpl.java
  common/uri/src/main/java/io/helidon/common/uri/UriValidationException.java
  common/uri/src/main/java/io/helidon/common/uri/UriValidator.java
  common/uri/src/test/java/io/helidon/common/uri/UriQueryTest.java
  common/uri/src/test/java/io/helidon/common/uri/UriValidatorTest.java
  http/http/src/main/java/io/helidon/http/HostValidator.java
  http/http/src/main/java/io/helidon/http/HttpPrologue.java
  http/http/src/test/java/io/helidon/http/HostValidatorTest.java
  webserver/tests/webserver/src/test/java/io/helidon/webserver/tests/BadPrologueTest.java
  webserver/webserver/src/main/java/io/helidon/webserver/http1/Http1ConfigBlueprint.java
  webserver/webserver/src/main/java/io/helidon/webserver/http1/Http1Connection.java
  webserver/webserver/src/test/java/io/helidon/webserver/http1/ValidateHostHeaderTest.java
Labels: OCA Verified

#9472 4.x: Remove workaround for Parsson unicode detection issue (#8260)
  security/jwt/src/main/java/io/helidon/security/jwt/jwk/JwkKeys.java
Labels: OCA Verified

#9337 3.x: Support built-in health check config at `health.checks` (retaining now-deprecated `helidon.health` for compatibility)
  config/config-mp/src/main/java/io/helidon/config/mp/DeprecatedMpConfig.java
  docs/se/health.adoc
  health/health-checks/pom.xml
  health/health-checks/src/main/java/io/helidon/health/checks/DiskSpaceHealthCheck.java
  health/health-checks/src/main/java/io/helidon/health/checks/HealthChecks.java
  health/health-checks/src/main/java/io/helidon/health/checks/HeapMemoryHealthCheck.java
  health/health-checks/src/main/java/module-info.java
  health/health-checks/src/test/java/io/helidon/health/checks/ConfigTest.java
  health/health-checks/src/test/resources/testConfig.yaml
  microprofile/health/pom.xml
  microprofile/health/src/test/java/io/helidon/microprofile/health/TestConfigPrefix.java
  microprofile/health/src/test/java/io/helidon/microprofile/health/TestDeprecatedConfigPrefix.java
  microprofile/health/src/test/java/io/helidon/microprofile/health/TestUtils.java
Labels: OCA Verified

#9477 4.1.4: Update CHANGELOG for 4.1.4
  CHANGELOG.md
Labels: 4.x, OCA Verified

#9479 4.x: Replace deprecated VM memory flags in docs for building container images (#8876)
  docs/src/main/asciidoc/guides/jib.adoc
Labels: OCA Verified

#9482 2.x: Upgrade Jackson to 2.18.1 and ojdbc to 21.15.0.0
  dependencies/pom.xml
  etc/dependency-check-suppression.xml
  integrations/oci/sdk/cdi/pom.xml
Labels: 2.x, dependencies, OCA Verified

#9481 3.x: Upgrade jackson to 2.18.1
  dependencies/pom.xml
  etc/dependency-check-suppression.xml
Labels: dependencies, 3.x, OCA Verified

#9483 3.x: Replace deprecated VM memory flags in docs for building container images (#9480)
  docs/guides/jib.adoc
Labels: OCA Verified

#9478 4.x Add missing dependencies from OIDC guides
  docs/src/main/asciidoc/mp/guides/security-oidc.adoc
  docs/src/main/asciidoc/se/guides/security-oidc.adoc
  docs/src/main/java/io/helidon/docs/mp/guides/SecurityOidcSnippets.java
Labels: docs, security, 4.x, OCA Verified

#9489 Fully initialize OpenTelemetry items during start-up
  microprofile/telemetry/src/main/java/io/helidon/microprofile/telemetry/TelemetryCdiExtension.java
  microprofile/telemetry/src/test/java/io/helidon/microprofile/telemetry/TestExtension.java
  microprofile/telemetry/src/test/java/io/helidon/microprofile/telemetry/TestTracerAtStartup.java
  microprofile/telemetry/src/test/resources/META-INF/services/jakarta.enterprise.inject.spi.Extension
Labels: OCA Verified

#9487 4.x: Updates to builder documentation.
  builder/README.md
  builder/api/README.md
  builder/api/src/main/java/io/helidon/builder/api/Option.java
Labels: docs, 4.x, OCA Verified, builder

#9504 4.x: Only generate scope constants for custom scopes.
  service/inject/codegen/src/main/java/io/helidon/service/inject/codegen/InjectionExtension.java
Labels: 4.x, declarative, OCA Verified

#9497 2.x: netty 4.1.115, grpc-java 1.65.1
  dependencies/pom.xml
  grpc/core/pom.xml
  grpc/core/src/main/java/io/helidon/grpc/core/MarshallerSupplier.java
  grpc/core/src/main/java/module-info.java
  microprofile/grpc/server/src/main/java/module-info.java
  pom.xml
  webserver/webserver/src/main/resources/META-INF/native-image/io.helidon.webserver/helidon-webserver/native-image.properties
Labels: webserver, grpc, 2.x, dependencies, OCA Verified

#9498 3.x: netty 4.1.115, grpc-java 1.65.1
  dependencies/pom.xml
  grpc/core/pom.xml
  grpc/core/src/main/java/io/helidon/grpc/core/MarshallerSupplier.java
  grpc/core/src/main/java/module-info.java
  microprofile/grpc/server/src/main/java/module-info.java
  pom.xml
  webserver/webserver/src/main/resources/META-INF/native-image/io.helidon.webserver/helidon-webserver/native-image.properties
Labels: webserver, grpc, dependencies, 3.x, OCA Verified

#9499 4.x netty 4.1.115
  dependencies/pom.xml
  pom.xml
Labels: webserver, dependencies, 4.x, OCA Verified

#9512 4.x: Add jsonb dependency to migration guide
  docs/src/main/asciidoc/se/guides/upgrade_4x.adoc
Labels: docs, 4.x, OCA Verified

#9507 2.x: Upgrade Jersey to 2.45
  dependencies/pom.xml
Labels: 2.x, dependencies, OCA Verified, jersey

#9516 4.x: Update OCI SDK to 3.54.0
  dependencies/pom.xml
Labels: dependencies, OCI, 4.x, OCA Verified

#9517 2.x: Update CHANGELOG for 2.6.10
  CHANGELOG.md
Labels: 2.x, OCA Verified

#9519 New paragraph describing how to explicitly turn off TLS on an MP gRPC client
  docs/src/main/asciidoc/mp/grpc/client.adoc
Labels: docs, grpc, 4.x, OCA Verified

#9523 Fix to correctly create references for config documentation provider implementations
  config/metadata/docs/src/main/java/io/helidon/config/metadata/docs/CmModule.java
  config/metadata/docs/src/main/java/io/helidon/config/metadata/docs/ConfigDocs.java
Labels: bug, docs, OCA Verified

#9521 3.x: Update CHANGELOG for 3.2.11
  CHANGELOG.md
Labels: 3.x, OCA Verified

#9529 Removes repeated warning when method name cannot be determined from annotation
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/AbstractServiceBuilder.java
Labels: enhancement, grpc, 4.x, OCA Verified

#9526 3.x: Upgrade kafka-clients to 3.8.1
  dependencies/pom.xml
Labels: dependencies, messaging, 3.x, OCA Verified

#9525 2.x: Upgrade kafka-clients to 3.8.1
  dependencies/pom.xml
Labels: 2.x, dependencies, messaging, OCA Verified

#9503 Refactor assertions to use `assertThat` with appropriate matchers
  inject/tests/resources-inject/src/test/java/io/helidon/inject/tests/inject/interceptor/InterceptorRuntimeTest.java
  inject/tools/src/test/java/io/helidon/inject/tools/ActivatorCreatorDefaultTest.java
  microprofile/scheduling/src/test/java/io/helidon/microprofile/scheduling/InvalidStateTest.java
  tests/functional/request-scope-cdi/src/test/java/io/helidon/tests/functional/requestscopecdi/SecretTest.java
  webclient/tests/http1/src/test/java/io/helidon/webclient/tests/HttpProxyTest.java
  webserver/tests/http2/src/test/java/io/helidon/webserver/tests/http2/Http2ErrorHandlingWithOutputStreamTest.java
  webserver/webserver/src/test/java/io/helidon/webserver/http/ErrorHandlersTest.java
Labels: OCA Verified

#9502 4.x: Update to static content
  builder/codegen/src/main/java/io/helidon/builder/codegen/TypeHandler.java
  codegen/codegen/src/main/java/io/helidon/codegen/CodegenValidator.java
  codegen/codegen/src/main/java/io/helidon/codegen/TypeInfoFactoryBase.java
  common/common/src/main/java/io/helidon/common/Size.java
  common/common/src/main/java/io/helidon/common/SizeImpl.java
  common/common/src/test/java/io/helidon/common/SizeTest.java
  common/types/src/main/java/io/helidon/common/types/TypeNames.java
  docs-internal/http-features.md
  docs/src/main/asciidoc/mp/server.adoc
  docs/src/main/asciidoc/se/webserver.adoc
  docs/src/main/java/io/helidon/docs/se/WebServerSnippets.java
  microprofile/server/src/main/java/io/helidon/microprofile/server/ServerCdiExtension.java
  tests/integration/packaging/mp-1/src/main/resources/META-INF/microprofile-config.properties
  webserver/static-content/etc/spotbugs/exclude.xml
  webserver/static-content/pom.xml
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/BaseHandlerConfigBlueprint.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/CachedHandlerInMemory.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/CachedHandlerJar.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/ClassPathContentHandler.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/ClasspathHandlerConfigBlueprint.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/FileBasedContentHandler.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/FileSystemContentHandler.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/FileSystemHandlerConfigBlueprint.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/IoSupplier.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/MemoryCache.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/MemoryCacheConfigBlueprint.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/SingleFileContentHandler.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/StaticContentConfigBlueprint.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/StaticContentConfigSupport.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/StaticContentFeature.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/StaticContentFeatureProvider.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/StaticContentHandler.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/StaticContentService.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/TemporaryStorage.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/TemporaryStorageConfigBlueprint.java
  webserver/static-content/src/main/java/io/helidon/webserver/staticcontent/TemporaryStorageImpl.java
  webserver/static-content/src/main/java/module-info.java
  webserver/static-content/src/test/java/io/helidon/webserver/staticcontent/CachedHandlerTest.java
  webserver/static-content/src/test/java/io/helidon/webserver/staticcontent/StaticContentConfigTest.java
  webserver/static-content/src/test/java/io/helidon/webserver/staticcontent/StaticContentHandlerTest.java
  webserver/static-content/src/test/java/io/helidon/webserver/staticcontent/StaticContentTest.java
  webserver/static-content/src/test/resources/config-unit-test-1.yaml
  webserver/static-content/src/test/resources/logging-test.properties
Labels: enhancement, webserver, 4.x, OCA Verified

#9520 Http/2 revamp
  http/http2/src/main/java/io/helidon/http/http2/Http2ConnectionWriter.java
  http/http2/src/main/java/io/helidon/http/http2/WindowSizeImpl.java
  http/tests/media/multipart/pom.xml
  http/tests/media/multipart/src/test/resources/logging-test.properties
  tests/integration/h2spec/Dockerfile
  tests/integration/h2spec/pom.xml
  tests/integration/h2spec/src/test/java/H2SpecIT.java
  tests/integration/pom.xml
  webclient/http2/src/main/java/io/helidon/webclient/http2/Http2ClientProtocolConfigBlueprint.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2ConfigBlueprint.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2Connection.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2ServerResponse.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2ServerStream.java
  webserver/testing/junit5/http2/src/main/java/io/helidon/webserver/testing/junit5/http2/Http2ServerExtension.java
  webserver/testing/junit5/http2/src/main/java/io/helidon/webserver/testing/junit5/http2/Http2TestClient.java
  webserver/testing/junit5/http2/src/main/java/io/helidon/webserver/testing/junit5/http2/Http2TestConnection.java
  webserver/tests/http2/pom.xml
  webserver/tests/http2/src/test/java/io/helidon/webserver/tests/http2/ContentLengthTest.java
  webserver/tests/http2/src/test/resources/logging-test.properties
Labels: OCA Verified

#9537 Fix typo in jbatch documentation
  docs/src/main/asciidoc/mp/guides/jbatch.adoc
Labels: docs, 4.x, OCA Verified, jbatch

#9427 4.x: Replace manual casts on pattern with instanceof in yaml config modules
  config/yaml-mp/src/main/java/io/helidon/config/yaml/mp/YamlMpConfigSource.java
  config/yaml/src/main/java/io/helidon/config/yaml/YamlConfigParser.java
Labels: OCA Verified

#9541 3.x: Remove duplicated methods from CustomScalars
  microprofile/graphql/server/src/main/java/io/helidon/microprofile/graphql/server/CustomScalars.java
Labels: OCA Verified
