Repository helidon-io/helidon, pull requests merged in 2024-03, with the labels that each got.

#8442 4.x: Upgrade GitHub actions
  .github/workflows/release.yaml
  .github/workflows/snapshotrelease.yaml
  .github/workflows/validate.yml
Labels: build, OCA Verified

#8439 [4.x] Security validation of docs with examples snippets
  docs/src/main/asciidoc/config/io_helidon_security_providers_httpsign_HttpSignProvider.adoc
  docs/src/main/asciidoc/includes/security/providers/http-basic-auth.adoc
  docs/src/main/asciidoc/includes/security/providers/http-digest-auth.adoc
  docs/src/main/asciidoc/includes/security/providers/http-signatures.adoc
  docs/src/main/asciidoc/includes/security/providers/idcs-role-mapper.adoc
  docs/src/main/asciidoc/includes/security/providers/oidc.adoc
Labels: docs, examples, OCA Verified

#7889 3.x Examples validation flow for external examples repo
  .github/workflows/validate.yaml
Labels: examples, build, 3.x, OCA Verified

#8248 2.x: TLS replace in HelidonConnector fix
  jersey/connector/src/main/java/io/helidon/jersey/connector/HelidonConnector.java
  tests/integration/pom.xml
  tests/integration/restclient-connector/pom.xml
  tests/integration/restclient-connector/src/main/java/io/helidon/tests/integration/resclient/connector/GreetResource.java
  tests/integration/restclient-connector/src/main/java/io/helidon/tests/integration/resclient/connector/GreetResourceClient.java
  tests/integration/restclient-connector/src/main/java/io/helidon/tests/integration/resclient/connector/GreetResourceFilter.java
  tests/integration/restclient-connector/src/main/java/io/helidon/tests/integration/resclient/connector/package-info.java
  tests/integration/restclient-connector/src/main/resources/META-INF/beans.xml
  tests/integration/restclient-connector/src/test/java/io/helidon/tests/integration/restclient/connector/TlsTest.java
  tests/integration/restclient-connector/src/test/resources/server.p12
  tests/integration/restclient-connector/src/test/resources/tls-config.properties
Labels: OCA Verified

#8446 3.x upgrade GitHub actions to v4
  .github/workflows/release.yaml
  .github/workflows/snapshotrelease.yaml
  .github/workflows/validate.yaml
Labels: build, OCA Verified

#8320 4.x Add baggage API and allow access to baggage via `SpanContext` (as well as `Span`)
  docs/src/main/asciidoc/includes/attributes.adoc
  docs/src/main/asciidoc/se/tracing.adoc
  tracing/providers/jaeger/src/test/java/io/helidon/tracing/providers/jaeger/JaegerBaggageTest.java
  tracing/providers/opentelemetry/src/main/java/io/helidon/tracing/providers/opentelemetry/MutableOpenTelemetryBaggage.java
  tracing/providers/opentelemetry/src/main/java/io/helidon/tracing/providers/opentelemetry/OpenTelemetrySpan.java
  tracing/providers/opentelemetry/src/main/java/io/helidon/tracing/providers/opentelemetry/OpenTelemetrySpanContext.java
  tracing/providers/opentelemetry/src/test/java/io/helidon/tracing/providers/opentelemetry/TestBaggageApi.java
  tracing/providers/opentracing/pom.xml
  tracing/providers/opentracing/src/main/java/io/helidon/tracing/providers/opentracing/OpenTracingBaggage.java
  tracing/providers/opentracing/src/main/java/io/helidon/tracing/providers/opentracing/OpenTracingContext.java
  tracing/providers/opentracing/src/main/java/io/helidon/tracing/providers/opentracing/OpenTracingSpan.java
  tracing/providers/opentracing/src/main/java/io/helidon/tracing/providers/opentracing/OpenTracingTracer.java
  tracing/providers/opentracing/src/test/java/io/helidon/tracing/providers/opentracing/OtelTestsJunitExtension.java
  tracing/providers/opentracing/src/test/java/io/helidon/tracing/providers/opentracing/TestBaggageApi.java
  tracing/providers/opentracing/src/test/java/io/helidon/tracing/providers/opentracing/TestUnwrap.java
  tracing/providers/opentracing/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  tracing/tracing/src/main/java/io/helidon/tracing/Baggage.java
  tracing/tracing/src/main/java/io/helidon/tracing/NoOpTracer.java
  tracing/tracing/src/main/java/io/helidon/tracing/Span.java
  tracing/tracing/src/main/java/io/helidon/tracing/SpanContext.java
  tracing/tracing/src/main/java/io/helidon/tracing/WritableBaggage.java
  tracing/tracing/src/test/java/io/helidon/tracing/TestBaggage.java
Labels: OCA Verified

#8449 Fix OTel agent detector test that was polluting the JVM for later tests
  microprofile/telemetry/pom.xml
  microprofile/telemetry/src/test/java/io/helidon/microprofile/telemetry/AgentDetectorTest.java
Labels: OCA Verified

#8453 2.x fix unstable messaging tests (backport)
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/inner/subscriber/SubscriberPublMsgToMsgRetComplBean.java
  microprofile/messaging/core/src/test/java/io/helidon/microprofile/messaging/inner/subscriber/SubscriberPublMsgToPaylRetComplVoidBean.java
Labels: 2.x, messaging, testing, OCA Verified

#8447 2.x: Upgrade checkout to v4, setup-java to v4.1.0
  .github/workflows/release.yaml
  .github/workflows/validate.yml
Labels: build, OCA Verified

#8456 OIDC no longer ignores hostname with usage of the https
  microprofile/security/src/main/java/io/helidon/microprofile/security/SecurityFilterCommon.java
  security/providers/oidc/src/main/java/io/helidon/security/providers/oidc/TenantAuthenticationHandler.java
Labels: OCA Verified

#8457 Updates test to handle IOException if connection was closed
  webserver/tests/webserver/src/test/java/io/helidon/webserver/tests/MaxPayloadSizeTest.java
Labels: testing, intermittent, 4.x, OCA Verified

#8454 [3.x] security review for archetypes
  archetypes/helidon/src/main/archetype/common/files/application.http-signature.yaml
  archetypes/helidon/src/main/archetype/common/files/src/main/resources/keystore.p12
  archetypes/helidon/src/main/archetype/mp/custom/database.xml
  archetypes/helidon/src/main/archetype/se/custom/database.xml
  archetypes/helidon/src/main/archetype/se/custom/files/application.mysql.yaml
Labels: archetypes, OCA Verified

#8458 3.x: Docs: fix GitHub urls
  docs/community.adoc
  docs/includes/attributes.adoc
  docs/includes/guides/maven-build.adoc
  docs/mp/integrations/neo4j.adoc
  docs/mp/lra.adoc
  docs/mp/persistence.adoc
  docs/mp/server.adoc
  docs/se/integrations/neo4j.adoc
  docs/se/reactive-messaging.adoc
  docs/se/security/providers.adoc
  etc/scripts/release.sh
Labels: docs, OCA Verified

#8444 Enhance Status.java with Additional Standard HTTP Status Codes
  http/http/src/main/java/io/helidon/http/Status.java
Labels: SE, webserver, 4.x, OCA Verified

#8440 Config encryption improvements
  config/config/src/main/java/io/helidon/config/ConfigItemBlueprint.java
  config/config/src/main/java/io/helidon/config/ProviderImpl.java
  config/config/src/main/java/io/helidon/config/spi/ConfigFilter.java
  config/encryption/src/main/java/io/helidon/config/encryption/EncryptionFilter.java
  config/encryption/src/main/java/io/helidon/config/encryption/EncryptionFilterService.java
  config/encryption/src/test/java/io/helidon/config/encryption/AbstractSecureConfigTest.java
Labels: OCA Verified

#8462 Also catch UncheckedIOException in test to handle broken pipes
  microprofile/tests/tck/tck-core-profile/pom.xml
  microprofile/tests/tck/tck-jsonb/pom.xml
  microprofile/tests/tck/tck-restful/pom.xml
  webserver/tests/webserver/src/test/java/io/helidon/webserver/tests/MaxPayloadSizeTest.java
Labels: testing, 4.x, OCA Verified

#8463 2.x: Add versions.xml so Helidon 2 archetypes can be tested with latest helidon CLI
  archetypes/catalog/pom.xml
  archetypes/catalog/versions.xml.mustache
Labels: archetypes, OCA Verified

#8465 2.x: fix archetype main class name
  archetypes/bare-mp/src/main/resources/pom.xml.mustache
  archetypes/database-mp/src/main/resources/pom.xml.mustache
  archetypes/quickstart-mp/src/main/resources/pom.xml.mustache
Labels: 2.x, archetypes, OCA Verified

#8425 TLS Revocation config
  common/tls/src/main/java/io/helidon/common/tls/ConfiguredTlsManager.java
  common/tls/src/main/java/io/helidon/common/tls/RevocationConfigBlueprint.java
  common/tls/src/main/java/io/helidon/common/tls/TlsConfigBlueprint.java
  docs/src/main/asciidoc/config/io_helidon_common_tls_RevocationConfig.adoc
  docs/src/main/asciidoc/config/io_helidon_common_tls_Tls.adoc
  etc/copyright-exclude.txt
  integrations/oci/tls-certificates/src/main/java/io/helidon/integrations/oci/tls/certificates/DefaultOciCertificatesTlsManager.java
  tests/integration/pom.xml
  tests/integration/tls-revocation-config/pom.xml
  tests/integration/tls-revocation-config/src/test/java/io/helidon/examples/webserver/mtls/RevocationConfigTest.java
  tests/integration/tls-revocation-config/src/test/resources/application.yaml
  tests/integration/tls-revocation-config/src/test/resources/ca.crl
  tests/integration/tls-revocation-config/src/test/resources/client.p12
  tests/integration/tls-revocation-config/src/test/resources/logging.properties
  tests/integration/tls-revocation-config/src/test/resources/server.p12
  tests/integration/tls-revocation-config/store/automatic-store-generator.sh
  tests/integration/tls-revocation-config/store/ca.conf
  tests/integration/tls-revocation-config/store/crl.conf
Labels: OCA Verified

#8476 Integrate Helidon Build Tools v4.0.6
  applications/parent/pom.xml
  examples/quickstarts/helidon-standalone-quickstart-mp/pom.xml
  examples/quickstarts/helidon-standalone-quickstart-se/pom.xml
  pom.xml
Labels: 4.x, OCA Verified

#8481 4.x: Add version check to release script
  etc/scripts/release.sh
Labels: build, 4.x, OCA Verified

#8474 Avoid implementing the OCI Monitoring interface and instead use Mockito to mock it.
  integrations/oci/metrics/cdi/pom.xml
  integrations/oci/metrics/cdi/src/test/java/io/helidon/integrations/oci/metrics/cdi/OciMetricsCdiExtensionTest.java
  integrations/oci/metrics/cdi/src/test/java/io/helidon/integrations/oci/metrics/cdi/TestOverridingBean.java
Labels: OCA Verified

#8489 4.x: Validate that header has at least one value when list is used.
  http/http/src/main/java/io/helidon/http/HeaderValues.java
  http/http/src/main/java/io/helidon/http/ServerRequestHeaders.java
  http/http/src/test/java/io/helidon/http/HeaderValuesTest.java
  security/providers/oidc/src/main/java/io/helidon/security/providers/oidc/TenantAuthenticationHandler.java
  security/security/src/main/java/io/helidon/security/SecurityResponse.java
Labels: bug, security, webserver, 4.x, OCA Verified

#8490 3.x: Introducing a test to validate that combination of config annotations…
  tests/integration/mp-gh-8478/pom.xml
  tests/integration/mp-gh-8478/src/main/java/io/helidon/tests/integration/gh8478/Gh8478Resource.java
  tests/integration/mp-gh-8478/src/main/resources/META-INF/beans.xml
  tests/integration/mp-gh-8478/src/main/resources/application.yaml
  tests/integration/mp-gh-8478/src/main/resources/logging.properties
  tests/integration/mp-gh-8478/src/test/java/io/helidon/tests/integration/gh8478/Gh8478Test.java
  tests/integration/mp-gh-8478/src/test/java/io/helidon/tests/integration/gh8478/Gh8478YamlTest.java
  tests/integration/mp-gh-8478/src/test/resources/application.yaml
  tests/integration/pom.xml
Labels: 3.x, backport, OCA Verified

#8487 2.x: Reset fault tolerance method cache on CDI shutdown
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FaultToleranceExtension.java
  tests/integration/mp-gh-8478/pom.xml
  tests/integration/mp-gh-8478/src/main/java/io/helidon/tests/integration/gh8478/Gh8478Resource.java
  tests/integration/mp-gh-8478/src/main/resources/META-INF/beans.xml
  tests/integration/mp-gh-8478/src/main/resources/application.yaml
  tests/integration/mp-gh-8478/src/main/resources/logging.properties
  tests/integration/mp-gh-8478/src/test/java/io/helidon/tests/integration/gh8478/Gh8478Test.java
  tests/integration/mp-gh-8478/src/test/java/io/helidon/tests/integration/gh8478/Gh8478YamlTest.java
  tests/integration/mp-gh-8478/src/test/resources/application.yaml
  tests/integration/pom.xml
Labels: MP, fault-tolerance, 2.x, OCA Verified

#8506 4.x: Archetype - Add opens WEB to module info for multipart
  archetypes/archetypes/src/main/archetype/common/files/src/main/java/module-info.java.mustache
  archetypes/archetypes/src/main/archetype/common/media.xml
  archetypes/archetypes/src/main/archetype/mp/custom/custom-mp.xml
Labels: archetypes, 4.x, OCA Verified

#8507 4.x: Archetype - Fix Json code duplication
  archetypes/archetypes/src/main/archetype/common/media.xml
Labels: archetypes, 4.x, OCA Verified

#8518 Respect named port selection in MicrometerSupport for endpoint
  integrations/micrometer/cdi/src/test/java/io/helidon/integrations/micrometer/cdi/AlternateSocketTest.java
  integrations/micrometer/micrometer/src/main/java/io/helidon/integrations/micrometer/MicrometerSupport.java
Labels: OCA Verified

#8491 4.x: Introducing a test to validate that combination of config annotations…
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FaultToleranceExtension.java
  tests/integration/mp-gh-8478/pom.xml
  tests/integration/mp-gh-8478/src/main/java/io/helidon/tests/integration/gh8478/Gh8478Resource.java
  tests/integration/mp-gh-8478/src/main/resources/META-INF/beans.xml
  tests/integration/mp-gh-8478/src/main/resources/application.yaml
  tests/integration/mp-gh-8478/src/main/resources/logging.properties
  tests/integration/mp-gh-8478/src/test/java/io/helidon/tests/integration/gh8478/Gh8478Test.java
  tests/integration/mp-gh-8478/src/test/java/io/helidon/tests/integration/gh8478/Gh8478YamlTest.java
  tests/integration/mp-gh-8478/src/test/resources/application.yaml
  tests/integration/pom.xml
Labels: fault-tolerance, testing, backport, 4.x, OCA Verified

#8519 3.x: Fix fault tolerance method cache not being reset on CDI shutdown.
  microprofile/fault-tolerance/src/main/java/io/helidon/microprofile/faulttolerance/FaultToleranceExtension.java
Labels: fault-tolerance, 3.x, backport, OCA Verified

#8520 4.x: Disabled OidcFeature no longer throws an NPE.
  security/providers/oidc/src/main/java/io/helidon/security/providers/oidc/OidcFeature.java
  security/providers/oidc/src/test/java/io/helidon/security/providers/oidc/OidcFeatureTest.java
Labels: bug, security, 4.x, OCA Verified

#8534 4.x: remove netty logging config from logging.properties
  archetypes/archetypes/src/main/archetype/mp/common/files/src/main/resources/logging.properties.mustache
  examples/dbclient/jdbc/src/main/resources/logging.properties
  examples/dbclient/mongodb/src/main/resources/logging.properties
  examples/dbclient/pokemons/src/main/resources/logging.properties
  examples/employee-app/src/main/resources/logging.properties
  examples/integrations/micrometer/mp/src/main/resources/logging.properties
  examples/messaging/jms-websocket-mp/src/main/resources/logging.properties
  examples/messaging/jms-websocket-se/src/main/resources/logging.properties
  examples/messaging/kafka-websocket-se/src/main/resources/logging.properties
  examples/messaging/oracle-aq-websocket-mp/src/main/resources/logging.properties
  examples/metrics/exemplar/src/main/resources/logging.properties
  examples/metrics/filtering/se/src/main/resources/logging.properties
  examples/metrics/http-status-count-se/src/main/resources/logging.properties
  examples/metrics/kpi/src/main/resources/logging.properties
  examples/microprofile/cors/src/test/resources/logging.properties
  examples/microprofile/http-status-count-mp/src/main/resources/logging.properties
  examples/microprofile/multipart/src/main/resources/logging.properties
  examples/microprofile/openapi/src/main/resources/logging.properties
  examples/microprofile/telemetry/greeting/src/main/resources/logging.properties
  examples/microprofile/telemetry/secondary/src/main/resources/logging.properties
  examples/openapi/src/main/resources/logging.properties
  examples/quickstarts/helidon-quickstart-mp/src/main/resources/logging.properties
  examples/quickstarts/helidon-standalone-quickstart-mp/src/main/resources/logging.properties
  examples/webserver/multiport/src/main/resources/logging.properties
  examples/webserver/tutorial/src/main/resources/logging.properties
  integrations/micrometer/cdi/src/test/resources/logging.properties
  microprofile/metrics/src/test/resources/logging.properties
  tests/apps/bookstore/bookstore-mp/src/main/resources/logging.properties
  tests/functional/config-profiles/src/main/resources/logging.properties
  tests/functional/param-converter-provider/src/main/resources/logging.properties
  tests/integration/native-image/mp-3/src/main/resources/logging.properties
  tests/integration/native-image/se-1/src/main/resources/logging.properties
  tests/integration/security/gh2297/src/main/resources/logging.properties
  tests/integration/security/gh2772/src/main/resources/logging.properties
Labels: examples, 4.x, OCA Verified

#8532 4.x: Upgrade netty to 4.1.108.Final
  dependencies/pom.xml
Labels: dependencies, OCA Verified

#8514 2.x: Upgrade netty to 4.1.108.Final
  dependencies/pom.xml
  webserver/webserver/src/main/resources/META-INF/native-image/io.helidon.webserver/helidon-webserver/native-image.properties
Labels: OCA Verified

#8513 3.x: Upgrade netty to 4.1.108.Final
  dependencies/pom.xml
  webserver/webserver/src/main/resources/META-INF/native-image/io.helidon.webserver/helidon-webserver/native-image.properties
Labels: dependencies, 3.x, OCA Verified

#8521 4.x: Support for disabling security providers through configuration.
  docs/src/main/asciidoc/se/security/introduction.adoc
  security/security/src/main/java/io/helidon/security/Security.java
  tests/integration/mp-gh-8495/pom.xml
  tests/integration/mp-gh-8495/src/main/java/io/helidon/tests/integration/gh8495/Gh8495Resource.java
  tests/integration/mp-gh-8495/src/main/resources/META-INF/beans.xml
  tests/integration/mp-gh-8495/src/main/resources/application.yaml
  tests/integration/mp-gh-8495/src/main/resources/logging.properties
  tests/integration/mp-gh-8495/src/test/java/io/helidon/tests/integration/gh8495/Gh8495Test.java
  tests/integration/pom.xml
Labels: security, config, 4.x, OCA Verified

#8515 4.x: Update streaming example so it starts and downloads last uploaded file
  examples/webserver/streaming/README.md
  examples/webserver/streaming/large-file.bin
  examples/webserver/streaming/pom.xml
  examples/webserver/streaming/src/main/java/io/helidon/examples/webserver/streaming/Main.java
  examples/webserver/streaming/src/main/java/io/helidon/examples/webserver/streaming/StreamingService.java
  examples/webserver/streaming/src/test/java/io/helidon/examples/webserver/streaming/MainTest.java
Labels: examples, 4.x, OCA Verified

#8538 4.x: Update CHANGELOG for 4.0.6
  CHANGELOG.md
Labels: 4.x, OCA Verified

#8488 4.x: Archetype - Kubernetes uses `ClusterIP` instead of `NodePort`
  archetypes/archetypes/src/main/archetype/common/files/app.yaml.mustache
  archetypes/archetypes/src/main/archetype/common/packaging.xml
Labels: archetypes, 4.x, OCA Verified

#8498 [2.x] examples cleanup
  examples/config/changes/conf/secrets/password
  examples/config/changes/src/main/java/io/helidon/config/examples/changes/OnChangeExample.java
  examples/config/sources/conf/secrets/password
  examples/config/sources/src/main/java/io/helidon/config/examples/sources/DirectorySourceExample.java
  examples/dbclient/jdbc/README.md
  examples/dbclient/jdbc/src/main/resources/application.yaml
  examples/dbclient/pokemons/README.md
  examples/employee-app/src/main/java/io/helidon/service/employee/EmployeeRepositoryImplDB.java
  examples/integrations/neo4j/neo4j-mp/pom.xml
  examples/integrations/neo4j/neo4j-se/pom.xml
  examples/microprofile/idcs/src/main/resources/application.yaml
  examples/microprofile/oidc/src/main/resources/application.yaml
  examples/microprofile/security/src/main/resources/application.yaml
  examples/microprofile/tls/src/main/resources/META-INF/microprofile-config.properties
  examples/microprofile/tls/src/main/resources/server.p12
  examples/openapi-tools/quickstart-se/se-server/src/main/resources/application.yaml
  examples/security/basic-auth-with-static-content/README.md
  examples/security/basic-auth-with-static-content/src/main/resources/application.yaml
  examples/security/idcs-login/src/main/resources/application.yaml
  examples/security/nohttp-programmatic/src/main/java/io/helidon/security/examples/security/ProgrammaticSecurity.java
  examples/security/outbound-override/README.md
  examples/security/outbound-override/src/main/java/io/helidon/security/examples/outbound/OutboundOverrideExample.java
  examples/security/outbound-override/src/main/resources/client-service-jwt.yaml
  examples/security/outbound-override/src/main/resources/client-service.yaml
  examples/security/outbound-override/src/main/resources/serving-service.yaml
  examples/security/outbound-override/src/test/java/io/helidon/security/examples/outbound/OutboundOverrideExampleTest.java
  examples/security/outbound-override/src/test/java/io/helidon/security/examples/outbound/OutboundOverrideJwtExampleTest.java
  examples/security/vaults/src/main/resources/application.yaml
  examples/security/webserver-digest-auth/README.md
  examples/security/webserver-digest-auth/src/main/java/io/helidon/security/examples/webserver/digest/DigestExampleBuilderMain.java
  examples/security/webserver-digest-auth/src/main/resources/application.yaml
  examples/security/webserver-digest-auth/src/test/java/io/helidon/security/examples/webserver/digest/DigestExampleTest.java
  examples/security/webserver-signatures/README.md
  examples/security/webserver-signatures/src/main/java/io/helidon/security/examples/signatures/SignatureExampleBuilderMain.java
  examples/security/webserver-signatures/src/main/resources/keystore.p12
  examples/security/webserver-signatures/src/main/resources/service1.yaml
  examples/security/webserver-signatures/src/main/resources/service2.yaml
  examples/security/webserver-signatures/src/test/java/io/helidon/security/examples/signatures/SignatureExampleTest.java
  examples/todo-app/backend/src/main/resources/application.yaml
  examples/todo-app/backend/src/test/java/io/helidon/demo/todos/backend/BackendTests.java
  examples/todo-app/backend/src/test/resources/test-application.yaml
  examples/todo-app/frontend/src/main/resources/application.yaml
  examples/todo-app/frontend/src/test/java/io/helidon/demo/todos/frontend/TodoServiceTest.java
  examples/todo-app/frontend/src/test/resources/application-test.yaml
  examples/todo-app/pom.xml
  examples/webclient/standalone/src/main/resources/full-webclient-config.yaml
  examples/webserver/mutual-tls/automatic-store-generator.sh
  examples/webserver/mutual-tls/src/main/java/io/helidon/webserver/examples/mtls/ClientBuilderMain.java
  examples/webserver/mutual-tls/src/main/java/io/helidon/webserver/examples/mtls/ServerBuilderMain.java
  examples/webserver/mutual-tls/src/main/resources/application.yaml
  examples/webserver/mutual-tls/src/main/resources/client.p12
  examples/webserver/mutual-tls/src/main/resources/server.p12
  examples/webserver/mutual-tls/src/test/resources/application-test.yaml
  examples/webserver/tls/src/main/resources/application.yaml
Labels: examples, 2.x, OCA Verified

#8544 [3.x] Disabled OidcFeature no longer throws an NPE. (#8520)
  security/providers/oidc/src/main/java/io/helidon/security/providers/oidc/OidcSupport.java
  security/providers/oidc/src/test/java/io/helidon/security/providers/oidc/OidcSupportTest.java
Labels: security, 3.x, backport, OCA Verified

#8545 [2.x] Disabled OidcFeature no longer throws an NPE. (#8520)
  security/providers/oidc/src/main/java/io/helidon/security/providers/oidc/OidcSupport.java
  security/providers/oidc/src/test/java/io/helidon/security/providers/oidc/OidcSupportTest.java
Labels: security, 2.x, backport, OCA Verified

#8537 Properly handle opaque origin ("null") in CORS processing
  cors/src/main/java/io/helidon/cors/CorsSupportHelper.java
  cors/src/main/java/io/helidon/cors/LogHelper.java
  cors/src/test/java/io/helidon/cors/CorsSupportHelperTest.java
Labels: OCA Verified

#8546 [3.x] Support for disabling security providers through configuration.
  docs/se/security/introduction.adoc
  security/security/src/main/java/io/helidon/security/Security.java
  tests/integration/mp-gh-8495/pom.xml
  tests/integration/mp-gh-8495/src/main/java/io/helidon/tests/integration/gh8495/Gh8495Resource.java
  tests/integration/mp-gh-8495/src/main/resources/META-INF/beans.xml
  tests/integration/mp-gh-8495/src/main/resources/application.yaml
  tests/integration/mp-gh-8495/src/main/resources/logging.properties
  tests/integration/mp-gh-8495/src/test/java/io/helidon/tests/integration/gh8495/Gh8495Test.java
  tests/integration/pom.xml
Labels: security, 3.x, backport, OCA Verified

#8547 [2.x] Support for disabling security providers through configuration. (#8521)
  docs/se/security/01_introduction.adoc
  security/security/src/main/java/io/helidon/security/Security.java
  tests/integration/mp-gh-8495/pom.xml
  tests/integration/mp-gh-8495/src/main/java/io/helidon/tests/integration/gh8495/Gh8495Resource.java
  tests/integration/mp-gh-8495/src/main/resources/META-INF/beans.xml
  tests/integration/mp-gh-8495/src/main/resources/application.yaml
  tests/integration/mp-gh-8495/src/main/resources/logging.properties
  tests/integration/mp-gh-8495/src/test/java/io/helidon/tests/integration/gh8495/Gh8495Test.java
  tests/integration/pom.xml
Labels: security, 2.x, backport, OCA Verified

#8555 Avoid implementing the OCI Monitoring interface.
  integrations/oci/metrics/cdi/src/test/java/io/helidon/integrations/oci/metrics/cdi/OciMetricsCdiExtensionTest.java
  integrations/oci/metrics/cdi/src/test/java/io/helidon/integrations/oci/metrics/cdi/TestOverridingBean.java
Labels: OCA Verified

#8553 Avoid implementing the OCI Monitoring interface.
  integrations/oci/metrics/cdi/src/test/java/io/helidon/integrations/oci/metrics/cdi/OciMetricsCdiExtensionTest.java
Labels: OCA Verified

#8554 [4.x] Observers now inherit weight of the ObserveFeature.
  examples/security/outbound-override/src/main/java/io/helidon/security/examples/outbound/OutboundOverrideExample.java
  examples/security/outbound-override/src/main/java/io/helidon/security/examples/outbound/OutboundOverrideJwtExample.java
  examples/security/webserver-signatures/src/main/java/io/helidon/examples/security/signatures/SignatureExampleBuilderMain.java
  examples/security/webserver-signatures/src/main/java/io/helidon/examples/security/signatures/SignatureExampleConfigMain.java
  openapi/openapi/src/main/java/io/helidon/openapi/OpenApiFeature.java
  webserver/access-log/src/main/java/io/helidon/webserver/accesslog/AccessLogFeature.java
  webserver/context/src/main/java/io/helidon/webserver/context/ContextFeature.java
  webserver/cors/src/main/java/io/helidon/webserver/cors/CorsFeature.java
  webserver/observe/config/src/main/java/io/helidon/webserver/observe/config/ConfigObserver.java
  webserver/observe/health/src/main/java/io/helidon/webserver/observe/health/HealthObserver.java
  webserver/observe/info/src/main/java/io/helidon/webserver/observe/info/InfoObserver.java
  webserver/observe/log/src/main/java/io/helidon/webserver/observe/log/LogObserver.java
  webserver/observe/metrics/src/main/java/io/helidon/webserver/observe/metrics/MetricsObserver.java
  webserver/observe/observe/src/main/java/io/helidon/webserver/observe/DisabledObserverFeature.java
  webserver/observe/observe/src/main/java/io/helidon/webserver/observe/ObserveFeature.java
  webserver/observe/observe/src/main/java/io/helidon/webserver/observe/spi/Observer.java
  webserver/security/src/main/java/io/helidon/webserver/security/SecurityFeature.java
  webserver/tests/observe/pom.xml
  webserver/tests/observe/weighted/pom.xml
  webserver/tests/observe/weighted/src/test/java/io/helidon/webserver/tests/observe/weighted/WeightedTest.java
  webserver/tests/observe/weighted/src/test/resources/application.yaml
  webserver/tests/observe/weighted/src/test/resources/logging-test.properties
  webserver/webserver/src/main/java/io/helidon/webserver/LoomServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerFeatureContextImpl.java
  webserver/webserver/src/main/java/io/helidon/webserver/http/HttpRouting.java
  webserver/webserver/src/main/java/io/helidon/webserver/spi/ServerFeatureProvider.java
Labels: webserver, 4.x, OCA Verified

#8558 [4.x] Fix failure with input stream obtained more than once for post with more than one JAX-RS app
  microprofile/server/src/main/java/io/helidon/microprofile/server/JaxRsService.java
  microprofile/server/src/main/java/io/helidon/microprofile/server/LazyInputStream.java
  tests/integration/mp-gh-8349/pom.xml
  tests/integration/mp-gh-8349/src/main/java/io/helidon/tests/integration/gh8349/Gh8349App1.java
  tests/integration/mp-gh-8349/src/main/java/io/helidon/tests/integration/gh8349/Gh8349App2.java
  tests/integration/mp-gh-8349/src/main/resources/META-INF/beans.xml
  tests/integration/mp-gh-8349/src/main/resources/logging.properties
  tests/integration/mp-gh-8349/src/test/java/io/helidon/tests/integration/gh8349/Gh8349Test.java
  tests/integration/pom.xml
Labels: bug, MP, jax-rs, 4.x, OCA Verified

#8564 3.x: Archetype - Backport several issues from 4.x to 3.x
  archetypes/helidon/src/main/archetype/common/common.xml
  archetypes/helidon/src/main/archetype/common/extra.xml
  archetypes/helidon/src/main/archetype/common/files/.gitignore.mustache
  archetypes/helidon/src/main/archetype/common/files/app.yaml.mustache
  archetypes/helidon/src/main/archetype/common/files/src/main/java/module-info.java.mustache
  archetypes/helidon/src/main/archetype/common/media.xml
  archetypes/helidon/src/main/archetype/common/observability.xml
  archetypes/helidon/src/main/archetype/common/packaging.xml
  archetypes/helidon/src/main/archetype/common/security.xml
  archetypes/helidon/src/main/archetype/mp/custom/custom-mp.xml
  archetypes/helidon/src/main/archetype/mp/custom/database.xml
  archetypes/helidon/src/main/archetype/mp/database/database-mp.xml
  archetypes/helidon/src/main/archetype/mp/database/files/src/main/resources/META-INF/init_script.sql.default
  archetypes/helidon/src/main/archetype/mp/database/files/src/main/resources/META-INF/init_script.sql.oracle
  archetypes/helidon/src/main/archetype/mp/quickstart/quickstart-mp.xml
  archetypes/helidon/src/main/archetype/se/common/common-se.xml
  archetypes/helidon/src/main/archetype/se/custom/custom-se.xml
  archetypes/helidon/src/main/archetype/se/custom/database.xml
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/FileService.java.multipart.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/java/__pkg__/FileStorage.java.multipart.mustache
  archetypes/helidon/src/main/archetype/se/custom/files/src/main/resources/WEB/index.html
  archetypes/helidon/src/main/archetype/se/custom/files/src/test/java/__pkg__/FileServiceTest.java.multipart.mustache
Labels: 3.x, archetypes, backport, OCA Verified

#8428 Avoid using replicated default values for Lists when creating from builder or instance
  builder/codegen/src/main/java/io/helidon/builder/codegen/GenerateAbstractBuilder.java
  builder/codegen/src/main/java/io/helidon/builder/codegen/TypeHandlerCollection.java
  builder/codegen/src/main/java/io/helidon/builder/codegen/TypeHandlerList.java
  builder/tests/builder/src/main/java/io/helidon/builder/test/testsubjects/DualValuedDefaultValuesBlueprint.java
  builder/tests/builder/src/main/java/io/helidon/builder/test/testsubjects/SingleValuedDefaultValuesBlueprint.java
  builder/tests/builder/src/test/java/io/helidon/builder/test/ListDefaultValuesTest.java
Labels: OCA Verified

#8567 Fix handling of baggage when retrieving current span
  tracing/jaeger/pom.xml
  tracing/jaeger/src/main/java/io/helidon/tracing/jaeger/JaegerTracerProvider.java
  tracing/jaeger/src/test/java/io/helidon/tracing/jaeger/JaegerBaggagePropagationTest.java
  tracing/jaeger/src/test/resources/application.yaml
  tracing/opentelemetry/src/main/java/io/helidon/tracing/opentelemetry/HelidonOpenTelemetry.java
  tracing/opentelemetry/src/main/java/io/helidon/tracing/opentelemetry/OpenTelemetrySpan.java
  tracing/opentelemetry/src/main/java/io/helidon/tracing/opentelemetry/OpenTelemetryTracerProvider.java
  tracing/opentelemetry/src/test/java/io/helidon/tracing/opentelemetry/TestSpanAndBaggage.java
Labels: OCA Verified

#8512 Fix baggage propagation from current active span
  tracing/providers/jaeger/pom.xml
  tracing/providers/jaeger/src/main/java/io/helidon/tracing/providers/jaeger/JaegerTracerProvider.java
  tracing/providers/jaeger/src/test/java/io/helidon/tracing/providers/jaeger/JaegerBaggagePropagationTest.java
  tracing/providers/jaeger/src/test/java/io/helidon/tracing/providers/jaeger/OtelTestsJunitExtension.java
  tracing/providers/jaeger/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  tracing/providers/jaeger/src/test/resources/application.yaml
  tracing/providers/opentelemetry/src/main/java/io/helidon/tracing/providers/opentelemetry/HelidonOpenTelemetry.java
  tracing/providers/opentelemetry/src/main/java/io/helidon/tracing/providers/opentelemetry/OpenTelemetrySpan.java
  tracing/providers/opentelemetry/src/main/java/io/helidon/tracing/providers/opentelemetry/OpenTelemetryTracerProvider.java
  tracing/providers/opentelemetry/src/test/java/io/helidon/tracing/providers/opentelemetry/TestSpanAndBaggage.java
Labels: OCA Verified

#8574 Fix Span.current() behavior with OTel - return Optional.empty() if there is no current span
  tracing/opentelemetry/src/main/java/io/helidon/tracing/opentelemetry/OpenTelemetryTracerProvider.java
  tracing/opentelemetry/src/test/java/io/helidon/tracing/opentelemetry/TestSpanAndBaggage.java
Labels: OCA Verified

#8583 Properly return Optional.empty() for current span if there is no current OTel span
  tracing/providers/opentelemetry/src/main/java/io/helidon/tracing/providers/opentelemetry/OpenTelemetryTracerProvider.java
  tracing/providers/opentelemetry/src/test/java/io/helidon/tracing/providers/opentelemetry/TestSpanAndBaggage.java
Labels: OCA Verified

#8580 Add MP observability page; discuss weight setting to resolve some routing conflicts
  docs/src/main/asciidoc/includes/observability.adoc
  docs/src/main/asciidoc/mp/metrics/metrics.adoc
  docs/src/main/asciidoc/mp/observability.adoc
  docs/src/main/asciidoc/se/observability.adoc
  docs/src/main/asciidoc/sitegen.yaml
Labels: OCA Verified

#8578 Fix OTel extract when there is no current context
  tracing/opentelemetry/src/main/java/io/helidon/tracing/opentelemetry/OpenTelemetryTracer.java
  tracing/opentelemetry/src/test/java/io/helidon/tracing/opentelemetry/TestSpanAndBaggage.java
Labels: OCA Verified

#8581 Clarify ordinal definition of meta-config
  docs/src/main/asciidoc/mp/config/advanced-configuration.adoc
  docs/src/main/asciidoc/mp/config/introduction.adoc
Labels: docs, OCA Verified

#8587 4.x: Docs: Fix SE Health endpoint path to match code snippet
  docs/src/main/asciidoc/se/health.adoc
Labels: docs, health, 4.x, OCA Verified
