Repository helidon-io/helidon, pull requests merged in 2024-09, with the labels that each got.

#9230 4.x: Replace manual casts on pattern with instanceof in helidon/config modules
  config/config-mp/src/main/java/io/helidon/config/mp/SeConfig.java
  config/config/src/main/java/io/helidon/config/ConfigDiff.java
  config/config/src/main/java/io/helidon/config/ConfigKeyImpl.java
  config/config/src/main/java/io/helidon/config/ConfigSourceRuntimeImpl.java
  config/config/src/main/java/io/helidon/config/UrlConfigSource.java
  config/config/src/main/java/io/helidon/config/UrlHelper.java
Labels: OCA Verified

#9238 3.x: Upgrade ASM to 9.7.0 and byte-buddy to 1.14.18 for Java 23 support
  dependencies/pom.xml
Labels: dependencies, 3.x, OCA Verified

#9239 Logs action of closing an idle connection after timeout expires
  webserver/webserver/src/main/java/io/helidon/webserver/HttpInitializer.java
Labels: webserver, 2.x, logging, OCA Verified

#9236 Add smoke tests to release workflow
  .github/workflows/release.yaml
  etc/scripts/release.sh
  etc/scripts/smoketest.sh
  parent/pom.xml
Labels: build, 4.x, OCA Verified

#9197 4.x: Remove unused private static classes from io.helidon.config.BuilderImpl
  config/config/src/main/java/io/helidon/config/BuilderImpl.java
Labels: OCA Verified

#9237 3.x: Replace manual casts on pattern with instanceof in helidon/config modules
  config/config-mp/src/main/java/io/helidon/config/mp/SeConfig.java
  config/config/src/main/java/io/helidon/config/ConfigDiff.java
  config/config/src/main/java/io/helidon/config/ConfigKeyImpl.java
  config/config/src/main/java/io/helidon/config/ConfigSourceRuntimeImpl.java
  config/config/src/main/java/io/helidon/config/UrlConfigSource.java
  config/config/src/main/java/io/helidon/config/UrlHelper.java
Labels: OCA Verified

#9233 4.x: Meta-configuration fixes
  config/config-mp/src/main/java/io/helidon/config/mp/MpConfigImpl.java
  config/config-mp/src/main/java/io/helidon/config/mp/MpConfigProviderResolver.java
  config/config/src/main/java/io/helidon/config/BuilderImpl.java
  config/config/src/main/java/io/helidon/config/Config.java
  config/config/src/main/java/io/helidon/config/MetaConfig.java
  config/tests/pom.xml
  config/tests/test-default-config-source/pom.xml
  config/tests/test-default-config-source/src/main/resources/application.yaml
  config/tests/test-default-config-source/src/main/resources/meta-config.yaml
  config/tests/test-default-config-source/src/test/java/io/helidon/config/tests/nosources/DefaultSourceTest.java
  config/tests/test-mp-se-meta/pom.xml
  config/tests/test-mp-se-meta/src/main/resources/app.properties
  config/tests/test-mp-se-meta/src/main/resources/application.yaml
  config/tests/test-mp-se-meta/src/main/resources/meta-config.yaml
  config/tests/test-mp-se-meta/src/test/java/io/helidon/config/tests/mpsemeta/MpSeMetaTest.java
  config/tests/test-no-config-sources/pom.xml
  config/tests/test-no-config-sources/src/main/resources/application.yaml
  config/tests/test-no-config-sources/src/main/resources/meta-config.yaml
  config/tests/test-no-config-sources/src/test/java/io/helidon/config/tests/nosources/NoSourcesTest.java
  docs/src/main/asciidoc/mp/config/advanced-configuration.adoc
Labels: config, 4.x, OCA Verified

#9252 2.x: Uses socket config instead of server config to configure idle connection handler
  webserver/webserver/src/main/java/io/helidon/webserver/HttpInitializer.java
  webserver/webserver/src/test/java/io/helidon/webserver/ConnectionIdleTest.java
Labels: webserver, 2.x, OCA Verified

#9253 3.x: Uses socket config instead of server config to configure idle connection handler
  webserver/webserver/src/main/java/io/helidon/webserver/HttpInitializer.java
  webserver/webserver/src/test/java/io/helidon/webserver/ConnectionIdleTest.java
Labels: webserver, 3.x, OCA Verified

#9248 Policy validator configurable per endpoint in config
  docs/src/main/asciidoc/includes/security/providers/abac.adoc
  microprofile/security/src/main/java/io/helidon/microprofile/security/JerseySecurityContext.java
  microprofile/security/src/main/java/io/helidon/microprofile/security/SecurityDefinition.java
  microprofile/security/src/main/java/io/helidon/microprofile/security/SecurityFilter.java
  microprofile/security/src/main/java/io/helidon/microprofile/security/SecurityFilterCommon.java
  microprofile/security/src/main/java/io/helidon/microprofile/security/SecurityFilterContext.java
  microprofile/security/src/main/java/io/helidon/microprofile/security/SecurityPreMatchingFilter.java
  microprofile/security/src/main/java/module-info.java
  microprofile/security/src/test/java/io/helidon/microprofile/security/OptionalSecurityTest.java
  microprofile/security/src/test/java/io/helidon/microprofile/security/SecurityFilterTest.java
  tests/integration/security/abac-policy/pom.xml
  tests/integration/security/abac-policy/src/main/java/io/helidon/tests/integration/security/abac/policy/PolicyStatementExplicitResource.java
  tests/integration/security/abac-policy/src/main/java/io/helidon/tests/integration/security/abac/policy/PolicyStatementResource.java
  tests/integration/security/abac-policy/src/main/resources/META-INF/beans.xml
  tests/integration/security/abac-policy/src/main/resources/application.yaml
  tests/integration/security/abac-policy/src/main/resources/logging.properties
  tests/integration/security/abac-policy/src/test/java/io/helidon/tests/integration/security/abac/policy/ExplicitPolicyTest.java
  tests/integration/security/abac-policy/src/test/java/io/helidon/tests/integration/security/abac/policy/PolicyTest.java
  tests/integration/security/pom.xml
Labels: OCA Verified

#9266 Upgrades protobuf to latest vesion 3.25.5
  dependencies/pom.xml
Labels: grpc, 2.x, dependencies, OCA Verified

#9269 3.x: Suppression for smallrye-open-api-ui
  etc/dependency-check-suppression.xml
Labels: build, 3.x, OCA Verified

#9267 2.x: Suppression for smallrye-open-api-ui
  etc/dependency-check-suppression.xml
Labels: build, open-api, 2.x, OCA Verified

#9268 2.x: Remove version for protobuf-java and leave to Helidon dependency-management
  integrations/graal/native-image-extension/pom.xml
Labels: 2.x, dependencies, OCA Verified

#9271 Grouping Executors related methods into a single class
  webserver/webserver/src/main/java/io/helidon/webserver/ExecutorsFactory.java
  webserver/webserver/src/main/java/io/helidon/webserver/LoomServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerListener.java
Labels: OCA Verified

#9283 2.x: document `connection-idle-timeout`
  docs/se/webserver/02_configuration.adoc
Labels: docs, webserver, 2.x, OCA Verified

#9191 Smart async writer in webserver
  common/socket/src/main/java/io/helidon/common/socket/SmartSocketWriter.java
  common/socket/src/main/java/io/helidon/common/socket/SocketWriter.java
  common/socket/src/main/java/io/helidon/common/socket/SocketWriterAsync.java
  webserver/webserver/src/main/java/io/helidon/webserver/ConnectionHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/ListenerConfigBlueprint.java
Labels: webserver, performance, 4.x, OCA Verified

#9285 4.x: Adds support to iterate over URIs when connecting to a gRPC service
  webclient/grpc/etc/spotbugs/exclude.xml
  webclient/grpc/pom.xml
  webclient/grpc/src/main/java/io/helidon/webclient/grpc/ClientUriSupplier.java
  webclient/grpc/src/main/java/io/helidon/webclient/grpc/ClientUriSuppliers.java
  webclient/grpc/src/main/java/io/helidon/webclient/grpc/GrpcBaseClientCall.java
  webclient/grpc/src/main/java/io/helidon/webclient/grpc/GrpcChannel.java
  webclient/grpc/src/main/java/io/helidon/webclient/grpc/GrpcClientCall.java
  webclient/grpc/src/main/java/io/helidon/webclient/grpc/GrpcClientConfigBlueprint.java
  webclient/grpc/src/main/java/io/helidon/webclient/grpc/GrpcUnaryClientCall.java
  webclient/tests/grpc/pom.xml
  webclient/tests/grpc/src/test/java/io/helidon/webclient/grpc/tests/ClientUriSuppliersTest.java
  webclient/tests/grpc/src/test/java/io/helidon/webclient/grpc/tests/GrpcClientUriTest.java
Labels: grpc, webclient, 4.x, OCA Verified

#9293 4.1.2: Fix DbClient PostgreSQL tests
  tests/integration/dbclient/pgsql/etc/docker/Dockerfile
Labels: DB client, testing, backport, 4.x, OCA Verified

#9281 Make ClientRequestBase mock friendly
  webclient/api/src/main/java/io/helidon/webclient/api/ClientRequestBase.java
  webclient/tests/webclient/pom.xml
  webclient/tests/webclient/src/test/java/io/helidon/webclient/tests/WebClientMockTest.java
Labels: OCA Verified

#9294 4.1.2: Change example testing scripts to handle dev-4.x not having right version
  etc/scripts/build-examples.sh
  etc/scripts/test-quickstarts.sh
Labels: build, testing, 4.x, OCA Verified

#9292 4.1.2: Smart async writer in webserver
  common/socket/src/main/java/io/helidon/common/socket/SmartSocketWriter.java
  common/socket/src/main/java/io/helidon/common/socket/SocketWriter.java
  common/socket/src/main/java/io/helidon/common/socket/SocketWriterAsync.java
  webserver/webserver/src/main/java/io/helidon/webserver/ConnectionHandler.java
  webserver/webserver/src/main/java/io/helidon/webserver/ListenerConfigBlueprint.java
Labels: webserver, performance, backport, 4.x, OCA Verified

#9299 4.1.2: Upgrades protobuf to latest version 3.25.5
  dependencies/pom.xml
Labels: grpc, backport, 4.x, OCA Verified

#9300 4.1.2: Adds support to iterate over URIs when connecting to a gRPC service
  webclient/grpc/etc/spotbugs/exclude.xml
  webclient/grpc/pom.xml
  webclient/grpc/src/main/java/io/helidon/webclient/grpc/ClientUriSupplier.java
  webclient/grpc/src/main/java/io/helidon/webclient/grpc/ClientUriSuppliers.java
  webclient/grpc/src/main/java/io/helidon/webclient/grpc/GrpcBaseClientCall.java
  webclient/grpc/src/main/java/io/helidon/webclient/grpc/GrpcChannel.java
  webclient/grpc/src/main/java/io/helidon/webclient/grpc/GrpcClientCall.java
  webclient/grpc/src/main/java/io/helidon/webclient/grpc/GrpcClientConfigBlueprint.java
  webclient/grpc/src/main/java/io/helidon/webclient/grpc/GrpcUnaryClientCall.java
  webclient/tests/grpc/pom.xml
  webclient/tests/grpc/src/test/java/io/helidon/webclient/grpc/tests/ClientUriSuppliersTest.java
  webclient/tests/grpc/src/test/java/io/helidon/webclient/grpc/tests/GrpcClientUriTest.java
Labels: grpc, webclient, backport, 4.x, OCA Verified

#9296 4.x: Upgrade Jersey to 3.1.8
  dependencies/pom.xml
Labels: dependencies, 4.x, OCA Verified, jersey

#9301 4.1.2: JSON Formatter for JUL
  logging/jul/etc/spotbugs/exclude.xml
  logging/jul/pom.xml
  logging/jul/src/main/java/io/helidon/logging/jul/HelidonConsoleHandler.java
  logging/jul/src/main/java/io/helidon/logging/jul/HelidonFormatter.java
  logging/jul/src/main/java/io/helidon/logging/jul/HelidonJsonFormatter.java
  logging/jul/src/main/java/module-info.java
  logging/jul/src/test/java/io/helidon/logging/jul/JulJsonTest.java
  metadata/hson/src/main/java/io/helidon/metadata/hson/HsonValues.java
  tests/integration/packaging/se-1/src/main/resources/logging.properties
Labels: logging, backport, 4.x, OCA Verified

#9298 4.1.2: Grouping Executors related methods into a single class
  webserver/webserver/src/main/java/io/helidon/webserver/ExecutorsFactory.java
  webserver/webserver/src/main/java/io/helidon/webserver/LoomServer.java
  webserver/webserver/src/main/java/io/helidon/webserver/ServerListener.java
Labels: backport, 4.x, OCA Verified

#9303 4.1.2: Upgrade Jersy to 3.1.8
  dependencies/pom.xml
Labels: dependencies, backport, 4.x, OCA Verified, jersey
