Repository helidon-io/helidon, pull requests merged in 2024-12, with the labels that each got.

#9534 Add MP metrics annotation support to MP REST clients
  bom/pom.xml
  docs/src/main/asciidoc/includes/pages.adoc
  docs/src/main/asciidoc/mp/introduction.adoc
  docs/src/main/asciidoc/mp/jaxrs/jaxrs-client.adoc
  docs/src/main/asciidoc/mp/restclient/restclient.adoc
  docs/src/main/asciidoc/mp/restclient/restclientmetrics.adoc
  docs/src/main/asciidoc/sitegen.yaml
  docs/src/main/java/io/helidon/docs/mp/restclient/RestclientMetricsSnippets.java
  docs/src/main/java/io/helidon/docs/mp/restclient/RestclientSnippets.java
  microprofile/bundles/helidon-microprofile/pom.xml
  microprofile/pom.xml
  microprofile/rest-client-metrics/pom.xml
  microprofile/rest-client-metrics/src/main/java/io/helidon/microprofile/restclientmetrics/RestClientMetricsAutoDiscoverable.java
  microprofile/rest-client-metrics/src/main/java/io/helidon/microprofile/restclientmetrics/RestClientMetricsCdiExtension.java
  microprofile/rest-client-metrics/src/main/java/io/helidon/microprofile/restclientmetrics/RestClientMetricsClientListener.java
  microprofile/rest-client-metrics/src/main/java/io/helidon/microprofile/restclientmetrics/RestClientMetricsConfigBlueprint.java
  microprofile/rest-client-metrics/src/main/java/io/helidon/microprofile/restclientmetrics/RestClientMetricsFilter.java
  microprofile/rest-client-metrics/src/main/java/io/helidon/microprofile/restclientmetrics/package-info.java
  microprofile/rest-client-metrics/src/main/java/module-info.java
  microprofile/rest-client-metrics/src/test/java/io/helidon/microprofile/restclientmetrics/MetricIdMatcher.java
  microprofile/rest-client-metrics/src/test/java/io/helidon/microprofile/restclientmetrics/TestClient.java
  microprofile/rest-client-metrics/src/test/java/io/helidon/microprofile/restclientmetrics/TestScanning.java
  microprofile/rest-client-metrics/src/test/java/io/helidon/microprofile/restclientmetrics/TestService.java
Labels: OCA Verified

#9543 4.x: Fix MP OIDC guide configuration
  docs/src/main/asciidoc/mp/guides/security-oidc.adoc
Labels: MP, docs, 4.x, OCA Verified

#9547 Initialize distribution customizations even before config is applied
  microprofile/metrics/pom.xml
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/DistributionCustomizations.java
  microprofile/metrics/src/test/java/io/helidon/microprofile/metrics/TestDistributionCustomizationsNoInit.java
Labels: OCA Verified

#9554 Fix possible NPE if user code creates a REST client 'early'
  microprofile/rest-client-metrics/src/main/java/io/helidon/microprofile/restclientmetrics/RestClientMetricsCdiExtension.java
Labels: OCA Verified

#9553 4.1.5: Fully initialize OpenTelemetry items during start-up
  microprofile/telemetry/src/main/java/io/helidon/microprofile/telemetry/TelemetryCdiExtension.java
  microprofile/telemetry/src/test/java/io/helidon/microprofile/telemetry/TestExtension.java
  microprofile/telemetry/src/test/java/io/helidon/microprofile/telemetry/TestTracerAtStartup.java
  microprofile/telemetry/src/test/resources/META-INF/services/jakarta.enterprise.inject.spi.Extension
Labels: backport, 4.x, OCA Verified

#9556 Add new `helidon-microprofile-rest-client-metrics` component to all/pom.xml
  all/pom.xml
Labels: OCA Verified

#9557 4.1.5: upgrade Netty to 4.1.115
  dependencies/pom.xml
  pom.xml
Labels: dependencies, backport, 4.x, OCA Verified

#9560 4.1.5: New paragraph describing how to explicitly turn off TLS on an MP gRPC client
  docs/src/main/asciidoc/mp/grpc/client.adoc
Labels: docs, grpc, backport, 4.x, OCA Verified

#9559 4.1.5: gRPC compatiblity fixes
  webserver/grpc/pom.xml
  webserver/grpc/src/main/java/io/helidon/webserver/grpc/GrpcProtocolHandler.java
  webserver/grpc/src/main/java/io/helidon/webserver/grpc/GrpcProtocolHandlerNotFound.java
  webserver/grpc/src/main/java/io/helidon/webserver/grpc/GrpcRouteHandler.java
  webserver/grpc/src/test/java/io/helidon/webserver/grpc/GrpcProtocolHandlerNotFoundTest.java
  webserver/grpc/src/test/java/io/helidon/webserver/grpc/GrpcProtocolHandlerTest.java
  webserver/grpc/src/test/java/io/helidon/webserver/grpc/GrpcRouteHandlerTest.java
  webserver/grpc/src/test/proto/strings.proto
Labels: grpc, backport, 4.x, OCA Verified

#9561 4.1.5: Fix to correctly create references for config documentation provider implementations
  config/metadata/docs/src/main/java/io/helidon/config/metadata/docs/CmModule.java
  config/metadata/docs/src/main/java/io/helidon/config/metadata/docs/ConfigDocs.java
Labels: backport, 4.x, OCA Verified

#9562 4.1.5: Removes repeated warning when method name cannot be determined from annotation
  microprofile/grpc/core/src/main/java/io/helidon/microprofile/grpc/core/AbstractServiceBuilder.java
Labels: grpc, backport, 4.x, OCA Verified

#9564 4.1.5: Initialize distribution customizations even before config is applied
  microprofile/metrics/pom.xml
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/DistributionCustomizations.java
  microprofile/metrics/src/test/java/io/helidon/microprofile/metrics/TestDistributionCustomizationsNoInit.java
Labels: metrics, backport, 4.x, OCA Verified

#9555 Creates FT executor using our ThreadPoolSupplier to ensure context propagation
  fault-tolerance/fault-tolerance/src/main/java/io/helidon/faulttolerance/FaultTolerance.java
  fault-tolerance/fault-tolerance/src/test/java/io/helidon/faulttolerance/AsyncTest.java
Labels: fault-tolerance, 4.x, OCA Verified

#9551 Adds support for async on @ExecuteOn methods
  docs/src/main/asciidoc/mp/threading.adoc
  docs/src/main/java/io/helidon/docs/mp/ExecuteOnSnippets.java
  microprofile/cdi/src/main/java/io/helidon/microprofile/cdi/ExecuteOn.java
  microprofile/cdi/src/main/java/io/helidon/microprofile/cdi/ExecuteOnExtension.java
  microprofile/cdi/src/main/java/io/helidon/microprofile/cdi/ExecuteOnInterceptor.java
  microprofile/cdi/src/test/java/io/helidon/microprofile/cdi/ExecuteOnAsyncTest.java
Labels: enhancement, 4.x, OCA Verified

#9567 4.1.5: Creates FT executor using our ThreadPoolSupplier to ensure context propagation
  fault-tolerance/fault-tolerance/src/main/java/io/helidon/faulttolerance/FaultTolerance.java
  fault-tolerance/fault-tolerance/src/test/java/io/helidon/faulttolerance/AsyncTest.java
Labels: fault-tolerance, backport, 4.x, OCA Verified

#9571 4.x: Java 24 support: Upgrade ASM and Byte Buddy
  applications/mp/pom.xml
  dependencies/pom.xml
  pom.xml
Labels: dependencies, 4.x, OCA Verified

#9569 Adds support for send(byte[],int,int) to server responses
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2ServerResponse.java
  webserver/tests/http2/src/test/java/io/helidon/webserver/tests/http2/SendBytesTest.java
  webserver/tests/webserver/src/test/java/io/helidon/webserver/tests/SendBytesTest.java
  webserver/webserver/src/main/java/io/helidon/webserver/http/ServerResponse.java
  webserver/webserver/src/main/java/io/helidon/webserver/http/ServerResponseBase.java
  webserver/webserver/src/main/java/io/helidon/webserver/http1/Http1ServerResponse.java
Labels: enhancement, performance, 4.x, OCA Verified

#9573 4.1.5: Upgrade ASM and Byte Buddy for Java 24 support (#9571)
  applications/mp/pom.xml
  dependencies/pom.xml
  pom.xml
Labels: dependencies, backport, 4.x, OCA Verified

#9575 4.1.5: Adds support for send(byte[],int,int) to server responses
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2ServerResponse.java
  webserver/tests/http2/src/test/java/io/helidon/webserver/tests/http2/SendBytesTest.java
  webserver/tests/webserver/src/test/java/io/helidon/webserver/tests/SendBytesTest.java
  webserver/webserver/src/main/java/io/helidon/webserver/http/ServerResponse.java
  webserver/webserver/src/main/java/io/helidon/webserver/http/ServerResponseBase.java
  webserver/webserver/src/main/java/io/helidon/webserver/http1/Http1ServerResponse.java
Labels: enhancement, performance, backport, 4.x, OCA Verified

#9382 4.x: Add additional eclipselink native image configuration
  integrations/cdi/eclipselink-cdi/src/main/resources/META-INF/native-image/io/helidon/integrations/cdi/helidon-integrations-cdi-eclipselink/reflect-config.json
  integrations/cdi/eclipselink-cdi/src/main/resources/META-INF/native-image/org/eclipse/persistence/org.eclipse.persistence.core/resource-config.json
Labels: native-image, 4.x, OCA Verified

#9574 4.1.5: Upgrades ojdbc to the latest version of 23 as of this writing
  archetypes/archetypes/src/main/archetype/mp/custom/database-outputs.xml
  dependencies/pom.xml
  integrations/cdi/datasource-ucp/pom.xml
  integrations/cdi/datasource-ucp/src/main/java/io/helidon/integrations/datasource/ucp/cdi/UCPBackedDataSourceExtension.java
  integrations/cdi/datasource-ucp/src/test/java/io/helidon/integrations/datasource/ucp/cdi/TestDataSourceAcquisition.java
  integrations/cdi/datasource-ucp/src/test/resources/application.yaml
  integrations/db/ojdbc/pom.xml
  jersey/server/src/main/resources/META-INF/native-image/io.helidon.jersey/helidon-jersey-server/reflect-config.json
  messaging/connectors/aq/pom.xml
  tests/integration/packaging/mp-2/pom.xml
  tests/integration/packaging/mp-2/src/main/resources/META-INF/native-image/io.helidon.tests.integration.packaging/helidon-tests-integration-packaging-mp2/native-image.properties
  tests/integration/packaging/mp-3/pom.xml
Labels: dependencies, backport, 4.x, OCA Verified

#9579 4.1.5: Enables support to turn on/off proxy protocol in config
  webserver/webserver/src/main/java/io/helidon/webserver/ListenerConfigBlueprint.java
  webserver/webserver/src/test/java/io/helidon/webserver/ListenerConfigTest.java
  webserver/webserver/src/test/resources/application.yaml
Labels: webserver, backport, 4.x, OCA Verified

#9572 3.x: Upgrade ASM to 9.7.1 and Byte Buddy to 1.15.10
  applications/mp/pom.xml
  dependencies/pom.xml
  pom.xml
Labels: dependencies, 3.x, OCA Verified

#9580 4.x: Remove unused method NativeUtil.findResources
  integrations/graal/native-image-extension/src/main/java/io/helidon/integrations/graal/nativeimage/extension/NativeUtil.java
Labels: OCA Verified

#9581 4.1.5: Add telemetry filter helper feature so developer code can influence automatic span creation
  docs/src/main/asciidoc/includes/attributes.adoc
  docs/src/main/asciidoc/mp/telemetry.adoc
  docs/src/main/java/io/helidon/docs/mp/RestclientSnippets.java
  docs/src/main/java/io/helidon/docs/mp/TelemetrySnippets.java
  docs/src/main/java/io/helidon/docs/mp/restclient/RestclientMetricsSnippets.java
  microprofile/telemetry/src/main/java/io/helidon/microprofile/telemetry/HelidonTelemetryClientFilter.java
  microprofile/telemetry/src/main/java/io/helidon/microprofile/telemetry/HelidonTelemetryContainerFilter.java
  microprofile/telemetry/src/main/java/io/helidon/microprofile/telemetry/TelemetryAutoDiscoverable.java
  microprofile/telemetry/src/main/java/io/helidon/microprofile/telemetry/TelemetryCdiExtension.java
  microprofile/telemetry/src/main/java/io/helidon/microprofile/telemetry/spi/HelidonTelemetryClientFilterHelper.java
  microprofile/telemetry/src/main/java/io/helidon/microprofile/telemetry/spi/HelidonTelemetryContainerFilterHelper.java
  microprofile/telemetry/src/main/java/io/helidon/microprofile/telemetry/spi/package-info.java
  microprofile/telemetry/src/main/java/module-info.java
  tests/integration/mp-telemetry/pom.xml
  tests/integration/mp-telemetry/src/main/java/io/helidon/tests/integration/telemetry/mp/filterselectivity/FilterSelectorSuppressPersonalizedGreetingSpan.java
  tests/integration/mp-telemetry/src/main/java/io/helidon/tests/integration/telemetry/mp/filterselectivity/GreetResource.java
  tests/integration/mp-telemetry/src/main/resources/META-INF/beans.xml
  tests/integration/mp-telemetry/src/main/resources/META-INF/microprofile-config.properties
  tests/integration/mp-telemetry/src/test/java/io/helidon/tests/integration/telemetry/mp/filterselectivity/TestSpanExporter.java
  tests/integration/mp-telemetry/src/test/java/io/helidon/tests/integration/telemetry/mp/filterselectivity/TestSpanExporterProvider.java
  tests/integration/mp-telemetry/src/test/java/io/helidon/tests/integration/telemetry/mp/filterselectivity/TestSpanSelectivity.java
  tests/integration/mp-telemetry/src/test/resources/META-INF/services/io.opentelemetry.sdk.autoconfigure.spi.traces.ConfigurableSpanExporterProvider
  tests/integration/pom.xml
Labels: backport, 4.x, OCA Verified

#9584 4.1.5 mp telemetry doc typo
  docs/src/main/asciidoc/mp/telemetry.adoc
Labels: docs, backport, OCA Verified

#9532 4.x: Remove unused code from SystemTagsManagerImpl
  metrics/api/src/main/java/io/helidon/metrics/api/SystemTagsManagerImpl.java
Labels: OCA Verified

#9583 Fix MP telemetry config setting typo
  docs/src/main/asciidoc/mp/telemetry.adoc
Labels: OCA Verified

#9587 Fix incorrect throw of exception in global tracer assignment
  tracing/providers/opentelemetry/src/main/java/io/helidon/tracing/providers/opentelemetry/OpenTelemetryTracerProvider.java
  tracing/providers/opentelemetry/src/test/java/io/helidon/tracing/providers/opentelemetry/TestGlobalTracerAssignment.java
Labels: OCA Verified

#9588 4.1.5 Fix incorrect throw of exception in global tracer assignment
  tracing/providers/opentelemetry/src/main/java/io/helidon/tracing/providers/opentelemetry/OpenTelemetryTracerProvider.java
  tracing/providers/opentelemetry/src/test/java/io/helidon/tracing/providers/opentelemetry/TestGlobalTracerAssignment.java
Labels: backport, 4.x, OCA Verified

#9585 4.1.5: Update CHANGELOG for 4.1.5
  CHANGELOG.md
Labels: 4.x, OCA Verified

#9501 4.x: Policy statement method matching added
  docs/src/main/asciidoc/includes/security/providers/abac.adoc
  microprofile/security/src/main/java/io/helidon/microprofile/security/SecurityFilter.java
  microprofile/security/src/main/java/io/helidon/microprofile/security/SecurityFilterCommon.java
  tests/integration/security/abac-policy/src/main/java/io/helidon/tests/integration/security/abac/policy/PolicyStatementMethod.java
  tests/integration/security/abac-policy/src/main/resources/application.yaml
  tests/integration/security/abac-policy/src/test/java/io/helidon/tests/integration/security/abac/policy/MethodPolicyTest.java
Labels: OCA Verified

#9599 4.1.6: Http/2 revamp
  http/http2/src/main/java/io/helidon/http/http2/Http2ConnectionWriter.java
  http/http2/src/main/java/io/helidon/http/http2/WindowSizeImpl.java
  http/tests/media/multipart/pom.xml
  http/tests/media/multipart/src/test/resources/logging-test.properties
  tests/integration/h2spec/Dockerfile
  tests/integration/h2spec/pom.xml
  tests/integration/h2spec/src/test/java/H2SpecIT.java
  tests/integration/pom.xml
  webclient/http2/src/main/java/io/helidon/webclient/http2/Http2ClientProtocolConfigBlueprint.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2ConfigBlueprint.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2Connection.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2ServerResponse.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2ServerStream.java
  webserver/testing/junit5/http2/src/main/java/io/helidon/webserver/testing/junit5/http2/Http2ServerExtension.java
  webserver/testing/junit5/http2/src/main/java/io/helidon/webserver/testing/junit5/http2/Http2TestClient.java
  webserver/testing/junit5/http2/src/main/java/io/helidon/webserver/testing/junit5/http2/Http2TestConnection.java
  webserver/tests/http2/pom.xml
  webserver/tests/http2/src/test/java/io/helidon/webserver/tests/http2/ContentLengthTest.java
  webserver/tests/http2/src/test/resources/logging-test.properties
Labels: webserver, backport, 4.x, OCA Verified

#9601 4.x: Add xref to telemetry feature from tracing deprecation warning
  docs/src/main/asciidoc/mp/tracing.adoc
Labels: MP, docs, tracing, 4.x, OCA Verified

#9602 4.1.6: Add xref to telemetry feature from tracing deprecation warning
  docs/src/main/asciidoc/mp/tracing.adoc
Labels: MP, docs, tracing, backport, 4.x, OCA Verified

#9612 4.x: Add SECURITY.md
  SECURITY.md
Labels: docs, 4.x, OCA Verified

#9614 4.x: Docs: Do not use --short with kubectl version
  docs/src/main/asciidoc/about/kubernetes.adoc
  docs/src/main/asciidoc/about/prerequisites.adoc
  docs/src/main/asciidoc/includes/prerequisites.adoc
Labels: docs, 4.x, OCA Verified

#9621 4.x: Fix formatting
  docs/src/main/asciidoc/se/config/advanced-configuration.adoc
Labels: docs, 4.x, OCA Verified
