Repository helidon-io/helidon, pull requests merged in 2025-08, with the labels that each got.

#10465 4.2.5: Add ability to exclude health checks by name; clarify doc
  docs/src/main/asciidoc/includes/health.adoc
  docs/src/main/asciidoc/mp/health.adoc
  docs/src/main/asciidoc/se/health.adoc
  webserver/observe/health/pom.xml
  webserver/observe/health/src/main/java/io/helidon/webserver/observe/health/HealthObserver.java
  webserver/observe/health/src/main/java/io/helidon/webserver/observe/health/HealthObserverConfigBlueprint.java
  webserver/observe/health/src/test/java/io/helidon/webserver/observe/health/TestExclude.java
Labels: backport, OCA Verified

#10428 Remove unused code from AbstractRegistry and Registry
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/AbstractRegistry.java
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/Registry.java
Labels: OCA Verified

#10461 4.2.5: Upgrade protobuf to 3.25.8
  .github/workflows/validate.yml
  dependencies/pom.xml
Labels: grpc, dependencies, 4.x, OCA Verified

#10467 4.2.5: Decrease log level severity when a stream timeout is retried
  webclient/grpc/src/main/java/io/helidon/webclient/grpc/GrpcBaseClientCall.java
Labels: grpc, backport, 4.x, OCA Verified

#10438 Add Coherence ChatMemory Store Support
  .gitignore
  docs/src/main/asciidoc/se/integrations/langchain4j/coherence.adoc
  docs/src/main/asciidoc/se/integrations/langchain4j/langchain4j.adoc
  integrations/langchain4j/providers/coherence/src/main/java/io/helidon/integrations/langchain4j/providers/coherence/CoherenceChatMemoryStoreFactory.java
Labels: OCA Verified

#10468 4.2.5: 4.x: Update to h2 database native image support
  dbclient/hikari/src/main/resources/META-INF/helidon/native-image/reflection-config.json
  dbclient/hikari/src/main/resources/META-INF/native-image/io.helidon.integrations.cdi/helidon-integrations-cdi-datasource-hikaricp/reflect-config.json
  integrations/db/h2/src/main/java/io/helidon/integrations/db/h2/EngineSubstitution.java
  integrations/db/h2/src/main/java/io/helidon/integrations/db/h2/SessionSubstitution.java
Labels: native-image, backport, OCA Verified

#10473 4.x: Services.set for config will set both config contracts
  service/registry/src/main/java/io/helidon/service/registry/CoreServiceRegistry.java
Labels: OCA Verified

#10475 4.2.5: Services.set for config will set both config contracts
  service/registry/src/main/java/io/helidon/service/registry/CoreServiceRegistry.java
Labels: config, backport, 4.x, OCA Verified

#10478 4.2.5: Docs: remove use of Config.global(config) setter
  docs/src/main/asciidoc/se/config/introduction.adoc
  docs/src/main/asciidoc/se/guides/upgrade_4x.adoc
  docs/src/main/java/io/helidon/docs/se/config/IntroductionSnippets.java
  docs/src/main/java/io/helidon/docs/se/guides/DbclientSnippets.java
  docs/src/main/java/io/helidon/docs/se/guides/Upgrade4xSnippets.java
Labels: docs, config, 4.x, OCA Verified

#10470 Handle single baggage header with multiple assignments; add test
  microprofile/telemetry/src/main/java/io/helidon/microprofile/telemetry/HelidonTelemetryContainerFilter.java
  microprofile/telemetry/src/test/java/io/helidon/microprofile/telemetry/TestMultipleBaggageHeaders.java
Labels: OCA Verified

#10453 4.x: Improves support for new gRPC V2 blocking stub calls
  webclient/grpc/src/main/java/io/helidon/webclient/grpc/GrpcClientCall.java
  webclient/grpc/src/main/java/io/helidon/webclient/grpc/GrpcClientProtocolConfigBlueprint.java
  webclient/tests/grpc/src/test/java/io/helidon/webclient/grpc/tests/GrpcStubTest.java
Labels: grpc, client, 4.x, OCA Verified

#10482 4.2.5: Uptake build-tools 4.0.20 (#10481)
  applications/parent/pom.xml
  parent/pom.xml
  pom.xml
Labels: build, backport, 4.x, OCA Verified

#10480 Remove unused class EWMA
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/EWMA.java
Labels: OCA Verified

#10476 4.x: Introduces Discovery
  all/pom.xml
  bom/pom.xml
  discovery/README.md
  discovery/discovery/README.md
  discovery/discovery/pom.xml
  discovery/discovery/src/main/java/io/helidon/discovery/DiscoveredUri.java
  discovery/discovery/src/main/java/io/helidon/discovery/Discovery.java
  discovery/discovery/src/main/java/io/helidon/discovery/NoopDiscovery.java
  discovery/discovery/src/main/java/io/helidon/discovery/package-info.java
  discovery/discovery/src/main/java/module-info.java
  discovery/discovery/src/test/java/io/helidon/discovery/TestNoopDiscovery.java
  discovery/pom.xml
  pom.xml
Labels: SE, java, 4.x, OCA Verified

#10498 4.x: Ensure aggregated javadocs are built as part of release profile
  docs/pom.xml
Labels: docs, 4.x, OCA Verified

#10500 4.x: Use helidon-common-features-codegen processor in helidon-scheduling
  scheduling/pom.xml
Labels: build, 4.x

#10484 4.x: Upgrade Weld
  dependencies/pom.xml
  integrations/graal/mp-native-image-extension/src/main/java/io/helidon/integrations/graal/mp/nativeimage/extension/WeldSubstitutions.java
  microprofile/weld/weld-core-impl/src/main/java/org/jboss/weld/bean/proxy/ProxyFactory.java
Labels: MP, dependencies, 4.x, OCA Verified

#10513 Upgrade jaxb-core, -impl, -runtime
  dependencies/pom.xml
  etc/dependency-check-suppression.xml
Labels: dependencies, 4.x, OCA Verified

#10511 4.x: Allow full customization of singular setter for collections and maps.
  builder/api/src/main/java/io/helidon/builder/api/Option.java
  builder/codegen/src/main/java/io/helidon/builder/codegen/AnnotationDataOption.java
  builder/codegen/src/main/java/io/helidon/builder/codegen/TypeHandlerCollection.java
  builder/codegen/src/main/java/io/helidon/builder/codegen/TypeHandlerMap.java
  builder/tests/builder/src/main/java/io/helidon/builder/test/testsubjects/ComplexCaseBlueprint.java
  builder/tests/builder/src/main/java/io/helidon/builder/test/testsubjects/MapCaseBlueprint.java
  builder/tests/builder/src/test/java/io/helidon/builder/test/ComplexCaseTest.java
  builder/tests/builder/src/test/java/io/helidon/builder/test/MapCaseTest.java
Labels: 4.x, OCA Verified, builder

#10524 Fix intermittent AckMpTest #7011
  tests/integration/jms/src/test/java/io/helidon/messaging/connectors/jms/AbstractMPTest.java
  tests/integration/jms/src/test/java/io/helidon/messaging/connectors/jms/AckMpTest.java
Labels: OCA Verified

#10522 4.x: Fix wrong method generated for factory methods in builder
  builder/codegen/src/main/java/io/helidon/builder/codegen/TypeHandlerCollection.java
  builder/tests/builder/src/main/java/io/helidon/builder/test/testsubjects/OtelTracingBlueprint.java
  builder/tests/builder/src/main/java/io/helidon/builder/test/testsubjects/OtelTracingSupport.java
  builder/tests/builder/src/main/java/io/helidon/builder/test/testsubjects/SpanProcessorConfigBlueprint.java
  builder/tests/builder/src/test/java/io/helidon/builder/test/TestFactoryMethod.java
Labels: 4.x, OCA Verified, builder

#10539 4.2.x: Connection checks update
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2ConfigBlueprint.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2Connection.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2ConnectionChecks.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2ServerStream.java
  webserver/tests/http2/src/test/java/io/helidon/webserver/tests/http2/MadeYouResetTest.java
  webserver/tests/http2/src/test/java/io/helidon/webserver/tests/http2/RapidResetTest.java
Labels: OCA Verified

#10541 Drop prefix in singular map methods generated from JsonRpcHandlersBlueprint
  docs/src/main/java/io/helidon/docs/se/jsonrpc/ServerSnippets.java
  webserver/jsonrpc/src/main/java/io/helidon/webserver/jsonrpc/JsonRpcHandlersBlueprint.java
  webserver/jsonrpc/src/main/java/io/helidon/webserver/jsonrpc/JsonRpcRouting.java
  webserver/jsonrpc/src/main/java/io/helidon/webserver/jsonrpc/JsonRpcRulesImpl.java
  webserver/tests/jsonrpc/src/test/java/io/helidon/webserver/tests/jsonrpc/JsonRpcBaseTest.java
Labels: OCA Verified, jsonrpc

#10542 3.x: Upgrade Netty to 4.1.124.Final
  dependencies/pom.xml
Labels: dependencies, 3.x, OCA Verified

#10543 2.x: Upgrade Netty to 4.1.124.Final
  dependencies/pom.xml
Labels: 2.x, dependencies, OCA Verified

#10546 3.x: Upgrade OCI SDK to 3.68.0
  dependencies/pom.xml
Labels: dependencies, 3.x, OCA Verified

#10547 2.x dependency upgrades
  dependencies/pom.xml
  etc/dependency-check-suppression.xml
  pom.xml
Labels: 2.x, OCA Verified

#10560 4.x: Automatically add classes from service.loader for reflection.
  integrations/graal/native-image-extension/src/main/java/io/helidon/integrations/graal/nativeimage/extension/HelidonReflectionFeature.java
Labels: native-image, 4.x, OCA Verified

#10567 Bump up lc4j to 1.3.0
  dependencies/pom.xml
Labels: OCA Verified

#10557 4.x: Changed example request method in WebClient docs
  docs/src/main/asciidoc/se/webclient.adoc
Labels: docs, webclient, 4.x, OCA Verified

#10532 4.x: Updated TLS implementation to handle endpoint identification algorithm for server
  common/tls/src/main/java/io/helidon/common/tls/Tls.java
  webserver/tests/mtls/src/test/java/io/helidon/webserver/tests/mtls/MtlsConfigTest.java
  webserver/tests/mtls/src/test/resources/mtls-config-test.yaml
Labels: webserver, 4.x, OCA Verified

#10562 4.x: Javadoc on blueprint can now contain simple references to other methods.
  builder/api/src/main/java/io/helidon/builder/api/Prototype.java
  builder/codegen/src/main/java/io/helidon/builder/codegen/BuilderCodegen.java
  builder/codegen/src/main/java/io/helidon/builder/codegen/PrototypeProperty.java
  builder/codegen/src/main/java/io/helidon/builder/codegen/TypeContext.java
  builder/codegen/src/main/java/io/helidon/builder/codegen/Types.java
  builder/tests/builder/src/main/java/io/helidon/builder/test/testsubjects/ABlueprint.java
  builder/tests/builder/src/test/java/io/helidon/builder/test/UsageTest.java
  builder/tests/codegen/src/test/java/io/helidon/builder/codegen/TypesTest.java
Labels: 4.x, OCA Verified, builder

#10573 Fix error in checking for out-of-order values in configured customizations
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/DistributionCustomizations.java
  microprofile/metrics/src/test/java/io/helidon/microprofile/metrics/TestDistributionCustomizations.java
Labels: OCA Verified

#10574 4.x: Fixes a timing issue in EurekaDiscoveryIT.java
  tests/integration/discovery/providers/eureka/pom.xml
  tests/integration/discovery/providers/eureka/src/test/java/io/helidon/tests/integration/discovery/providers/eureka/EurekaDiscoveryIT.java
Labels: testing, java, 4.x, OCA Verified, junit

#10577 Make span limits configurable (add accidentally omitted `@Option.Configured` annotations)
  telemetry/opentelemetry-config/src/main/java/io/helidon/telemetry/otelconfig/SpanLimitsConfigBlueprint.java
Labels: OCA Verified

#10242 4.x: JSON-P/B configuration methods added
  all/pom.xml
  bom/pom.xml
  builder/api/src/main/java/io/helidon/builder/api/Option.java
  builder/codegen/src/main/java/io/helidon/builder/codegen/AnnotationDataOption.java
  builder/codegen/src/main/java/io/helidon/builder/codegen/TypeHandlerMap.java
  builder/codegen/src/main/java/io/helidon/builder/codegen/Types.java
  builder/tests/codegen/src/test/java/io/helidon/builder/codegen/TypesTest.java
  common/config/src/main/java/io/helidon/common/config/Config.java
  common/config/src/main/java/io/helidon/common/config/EmptyConfig.java
  config/config-mp/src/main/java/io/helidon/config/mp/SeConfig.java
  data/sql/testing/src/main/java/io/helidon/data/sql/testing/TestConfigFactory.java
  docs/src/main/asciidoc/se/webserver/webserver.adoc
  http/media/gson/pom.xml
  http/media/gson/src/main/java/io/helidon/http/media/gson/GsonSupport.java
  http/media/gson/src/main/java/io/helidon/http/media/gson/GsonSupportConfigBlueprint.java
  http/media/gson/src/test/java/io/helidon/http/media/gson/GsonMediaTest.java
  http/media/gson/src/test/resources/application.yaml
  http/media/jackson/pom.xml
  http/media/jackson/src/main/java/io/helidon/http/media/jackson/JacksonSupport.java
  http/media/jackson/src/main/java/io/helidon/http/media/jackson/JacksonSupportConfigBlueprint.java
  http/media/jackson/src/test/java/io/helidon/http/media/jackson/JacksonMediaTest.java
  http/media/jackson/src/test/resources/application.yaml
  http/media/jsonb/pom.xml
  http/media/jsonb/src/main/java/io/helidon/http/media/jsonb/JsonbSupport.java
  http/media/jsonb/src/main/java/io/helidon/http/media/jsonb/JsonbSupportConfigBlueprint.java
  http/media/jsonb/src/test/java/io/helidon/http/media/jsonb/JsonbMediaTest.java
  http/media/jsonb/src/test/resources/application.yaml
  http/media/jsonp/pom.xml
  http/media/jsonp/src/main/java/io/helidon/http/media/jsonp/JsonpSupport.java
  http/media/jsonp/src/main/java/io/helidon/http/media/jsonp/JsonpSupportConfigBlueprint.java
Labels: OCA Verified

#10533 McpClient and ToolProvider support added
  docs/src/main/asciidoc/se/integrations/langchain4j/langchain4j.adoc
  integrations/langchain4j/codegen/src/main/java/io/helidon/integrations/langchain4j/codegen/AiServiceCodegen.java
  integrations/langchain4j/codegen/src/main/java/io/helidon/integrations/langchain4j/codegen/LangchainTypes.java
  integrations/langchain4j/langchain4j/pom.xml
  integrations/langchain4j/langchain4j/src/main/java/io/helidon/integrations/langchain4j/Ai.java
  integrations/langchain4j/langchain4j/src/main/java/io/helidon/integrations/langchain4j/McpClientConfigBlueprint.java
  integrations/langchain4j/langchain4j/src/main/java/io/helidon/integrations/langchain4j/McpClientFactory.java
  integrations/langchain4j/langchain4j/src/main/java/module-info.java
Labels: OCA Verified

#10569 4.x: Adds documentation for Discovery
  docs/src/main/asciidoc/includes/attributes.adoc
  docs/src/main/asciidoc/se/discovery.adoc
  docs/src/main/asciidoc/sitegen.yaml
  docs/src/main/java/io/helidon/docs/se/DiscoverySnippets.java
Labels: docs, 4.x, OCA Verified

#10464 4.x Record limit outcomes, using them to build limit-related spans with correct parent
  common/concurrency/limits/etc/spotbugs/exclude.xml
  common/concurrency/limits/pom.xml
  common/concurrency/limits/src/main/java/io/helidon/common/concurrency/limits/AimdLimit.java
  common/concurrency/limits/src/main/java/io/helidon/common/concurrency/limits/AimdLimitConfigBlueprint.java
  common/concurrency/limits/src/main/java/io/helidon/common/concurrency/limits/AimdLimitImpl.java
  common/concurrency/limits/src/main/java/io/helidon/common/concurrency/limits/FixedLimit.java
  common/concurrency/limits/src/main/java/io/helidon/common/concurrency/limits/FixedLimitConfigBlueprint.java
  common/concurrency/limits/src/main/java/io/helidon/common/concurrency/limits/LimitAlgorithm.java
  common/concurrency/limits/src/main/java/io/helidon/common/concurrency/limits/LimitAlgorithmDeprecatedBase.java
  common/concurrency/limits/src/main/java/io/helidon/common/concurrency/limits/LimitAlgorithmOutcomeImpl.java
  common/concurrency/limits/src/main/java/io/helidon/common/concurrency/limits/LimitAlgorithmResultImpl.java
  common/concurrency/limits/src/main/java/io/helidon/common/concurrency/limits/LimitHandlers.java
  common/concurrency/limits/src/main/java/io/helidon/common/concurrency/limits/LimitSpan.java
  common/concurrency/limits/src/main/java/module-info.java
  common/concurrency/limits/src/main/resources/META-INF/helidon/service.loader
  common/concurrency/limits/src/test/java/io/helidon/common/concurrency/limits/AimdLimitTest.java
  docs/src/main/asciidoc/se/webserver/concurrency-limits.adoc
  tracing/providers/opentelemetry/src/main/java/io/helidon/tracing/providers/opentelemetry/OpenTelemetrySpan.java
  tracing/tracing/src/main/java/io/helidon/tracing/Span.java
  webserver/concurrency-limits/src/main/java/module-info.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2ServerRequest.java
  webserver/http2/src/main/java/io/helidon/webserver/http2/Http2ServerStream.java
  webserver/observe/tracing/pom.xml
  webserver/observe/tracing/src/main/java/io/helidon/webserver/observe/tracing/TracingObserver.java
  webserver/observe/tracing/src/main/java/io/helidon/webserver/observe/tracing/TracingObserverConfigBlueprint.java
  webserver/observe/tracing/src/main/java/module-info.java
  webserver/tests/resource-limits/pom.xml
  webserver/tests/resource-limits/src/test/java/io/helidon/webserver/tests/resourcelimit/LimitSpanTest.java
  webserver/tests/resource-limits/src/test/java/io/helidon/webserver/tests/resourcelimit/TestSpanExporter.java
  webserver/tests/resource-limits/src/test/java/io/helidon/webserver/tests/resourcelimit/TestSpanExporterProvider.java
  webserver/tests/resource-limits/src/test/resources/META-INF/services/io.opentelemetry.sdk.autoconfigure.spi.traces.ConfigurableSpanExporterProvider
  webserver/webserver/src/main/java/io/helidon/webserver/http1/Http1Connection.java
  webserver/webserver/src/main/java/io/helidon/webserver/http1/Http1ServerRequest.java
  webserver/webserver/src/main/java/io/helidon/webserver/http1/Http1ServerRequestNoEntity.java
  webserver/webserver/src/main/java/io/helidon/webserver/http1/Http1ServerRequestWithEntity.java
Labels: OCA Verified

#10585 Add missing assignment of value from config to OTel class for Zipkin exporter
  telemetry/opentelemetry-config/src/main/java/io/helidon/telemetry/otelconfig/OtlpExporterConfigSupport.java
Labels: OCA Verified

#10587 Doc for Helidon config of OpenTelemetry
  docs/src/main/asciidoc/includes/attributes.adoc
  docs/src/main/asciidoc/se/open-telemetry.adoc
  docs/src/main/asciidoc/sitegen.yaml
  docs/src/main/java/io/helidon/docs/se/TelemetrySnippets.java
  telemetry/opentelemetry-config/src/main/java/io/helidon/telemetry/otelconfig/OpenTelemetryConfigBlueprint.java
  telemetry/opentelemetry-config/src/main/java/io/helidon/telemetry/otelconfig/OpenTelemetryTracingConfigBlueprint.java
Labels: OCA Verified

#10446 Add Observability support around LangChain4J API calls
  docs/src/main/asciidoc/se/integrations/langchain4j/langchain4j.adoc
  integrations/langchain4j/langchain4j/pom.xml
  integrations/langchain4j/langchain4j/src/main/java/io/helidon/integrations/langchain4j/MetricsChatModelListener.java
  integrations/langchain4j/langchain4j/src/main/java/module-info.java
Labels: OCA Verified

#10591 4.x: Remove unused class io.helidon.microprofile.metrics.ExemplarServiceManager
  microprofile/metrics/src/main/java/io/helidon/microprofile/metrics/ExemplarServiceManager.java
Labels: OCA Verified

#10600 4.x: Update Helidon SE WebClient Guide to match Helidon quickstart
  docs/src/main/asciidoc/se/guides/webclient.adoc
Labels: docs, webclient, 4.x, OCA Verified

#10597 4.x: Uptake build-tools 4.0.22
  .github/workflows/validate.yml
  applications/parent/pom.xml
  archetypes/archetypes/etc/projects-diff.sh
  archetypes/archetypes/filters.properties
  archetypes/archetypes/pom.xml
  archetypes/archetypes/src/main/archetype/common/docker.xml
  archetypes/archetypes/src/main/archetype/common/observability.xml
  archetypes/archetypes/src/main/archetype/mp/oci/oci-mp.xml
  archetypes/archetypes/src/main/cli/metadata.properties.hbs
  archetypes/archetypes/src/main/cli/versions.xml.hbs
  archetypes/archetypes/src/test/archetype/rules.xml
  archetypes/legacy/pom.xml
  parent/pom.xml
  pom.xml
Labels: archetypes, 4.x, OCA Verified

#10603 3.x Upgrade jgit to 7.3.0
  dependencies/pom.xml
Labels: dependencies, 3.x, OCA Verified

#10605 4.x Adds requested cross references in Discovery documentation
  docs/src/main/asciidoc/se/discovery.adoc
  docs/src/main/asciidoc/se/integrations/eureka/eureka-registration.adoc
Labels: docs, OCA Verified

#10609 4.x: Fix empty collection set on lc4j builders #10601
  integrations/langchain4j/codegen/src/main/java/io/helidon/integrations/langchain4j/codegen/ConfigureMethodBuilder.java
  integrations/langchain4j/providers/oracle-genai/src/main/java/io/helidon/integrations/langchain4j/providers/oci/genai/OciGenAiLc4jProvider.java
Labels: OCA Verified

#10611 Remove duplicate assignment of OTel global instance
  telemetry/opentelemetry-config/src/main/java/io/helidon/telemetry/otelconfig/HelidonOpenTelemetryServiceFactory.java
Labels: OCA Verified

#10619 Allow a JsonRpcResponse to obtain an SSE sink
  webserver/jsonrpc/src/main/java/io/helidon/webserver/jsonrpc/JsonRpcResponseImpl.java
  webserver/jsonrpc/src/main/java/io/helidon/webserver/jsonrpc/JsonRpcRouting.java
  webserver/tests/jsonrpc/pom.xml
  webserver/tests/jsonrpc/src/test/java/io/helidon/webserver/tests/jsonrpc/JsonRpcBaseTest.java
  webserver/tests/jsonrpc/src/test/java/io/helidon/webserver/tests/jsonrpc/JsonRpcSseTest.java
Labels: 4.x, OCA Verified, jsonrpc

#10606 4.x: Small fix for grpc deprecation
  webclient/grpc-tracing/src/main/java/io/helidon/webclient/grpc/tracing/GrpcClientTracing.java
Labels: 4.x, OCA Verified
